<div id="map" class="map"></div>

{% include '@heading' with {
  'type': 'h2',
  'heading_text': 'Map example'
} %}

{% include '@image' with {
  src: '/styleguide/img/stock/map1.png' | path,
  modifier: 'gentinfo-logo',
  alt_text: 'Gent info',
  ratio: null
} %}

{% include '@heading' with {
  'type': 'h2',
  'heading_text': 'Map example with popup'
} %}

{% include '@image' with {
  src: '/styleguide/img/stock/map2.png' | path,
  modifier: 'gentinfo-logo',
  alt_text: 'Gent info',
  ratio: null
} %}
