{# --- MESSAGES --- #}
<h3 id="styleguide-messages" class="styleguide-title">Messages</h3>
<div class="preview-inner-container">
  <h4 class="styleguide-title">Success message</h4>
  {% include '@status-message' with { 'icon': 'icon-checkmark', 'modifier': 'messages--status', 'text': 'Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.' } %}

  <h4 class="styleguide-title">Error message</h4>
  {% include '@status-message' with { 'icon': 'icon-cross', 'modifier': 'messages--error', 'text': 'Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.' } %}

  <h4 class="styleguide-title">Warning message</h4>
  {% include '@status-message' with { 'icon': 'icon-exclamation', 'modifier': 'messages--warning', 'text': 'Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.' } %}
</div>

{# --- FORM ITEMS --- #}
<h3 id="styleguide-form-items" class="styleguide-title">Form items</h3>
<div class="preview-inner-container">
  <form class="{{ modifier }}">
    {% include '@paragraph' with {
      'text' : 'Fill in all fields unless otherwise stated',
      'modifier': 'required-fields-indicator'
    } %}
    <fieldset>
    <legend>
      This is a fieldset title.
    </legend>
    <div class="fieldset-wrapper">
        {% include '@textfield' with {
          "label": "Label textfield",
          "for": "textfield_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description textfield.",

          "textfield_id": "textfield_id",
          "textfield_name": "textfield_name"
        }%}
        {% include '@telephone-field'
        with {
          "label": "Label telephone field",
          "for": "tel_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description telephone field.",

          "tel_id": "tel_id",
          "tel_name": "tel_name"
        }
        %}
        {% include '@password' with {
          "label": "Label password",
          "for": "password_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description textfield.",

          "password_id": "password_id",
          "password_name": "password_name"
        } %}
        {% include '@number'
        with {
          "label": "Label number",
          "for": "number_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description number.",

          "number_id": "number_id",
          "number_name": "number_name"
        }
        %}
        {% include '@date'
        with {
          "label": "Label date",
          "for": "date_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description date field.",

          "date_id": "date_id",
          "date_name": "date_name"
        }
        %}
        {% include '@website'
        with {
          "label": "Label website",
          "for": "url_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description website field.",

          "url_id": "url_id",
          "url_name": "url_name"
        }
        %}
        {% include '@email'
        with {
          "label": "Label email",
          "for": "email_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description email.",

          "email_id": "email_id",
          "email_name": "email_name"
        }
        %}
        {% include '@file'
        with {
          "label": "Label file",
          "for": "file_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description file.",

          "file_id": "file_id",
          "file_name": "file_name"
        }
        %}
        {% include '@textarea'
        with {
          "label": "Label textarea",
          "for": "textarea_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description textarea.",

          "textarea_id": "textarea_id",
          "textarea_name": "textarea_name"
        }
        %}
        {% include '@checkbox'
        with {
          "label": "Date",
          "options": [
            {
              "label_checkbox": "Wednesday 6 june 2018",
              "checkbox_name": "checkboxgroup",
              "checkbox_id": "checkbox-1"
            },
            {
              "label_checkbox": "Thursday 7 june 2018",
              "checkbox_name": "checkboxgroup",
              "checkbox_id": "checkbox-2"
            },
            {
              "label_checkbox": "Friday 8 june 2018",
              "checkbox_name": "checkboxgroup",
              "checkbox_id": "checkbox-3"
            }
          ],
          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
        }
        %}
        {% include '@radio'
        with {
          "label": "Date",
          "options": [
            {
              "label_radio": "Wednesday 6 june 2018",
              "radio_name": "radiogroup",
              "radio_id": "radio-1"
            },
            {
              "label_radio": "Thursday 7 june 2018",
              "radio_name": "radiogroup",
              "radio_id": "radio-2"
            },
            {
              "label_radio": "Friday 8 june 2018",
              "radio_name": "radiogroup",
              "radio_id": "radio-3"
            }
          ],
          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
        }
        %}
        {% include '@select'
        with {
          "label": "Label select",
          "for": "select_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description select.",

          "select_id": "select_id",
          "select_name": "select_name",
          "options": [
            {
            "label": "Option 1"
            },
            {
            "label": "Option 2"
            },
            {
            "optgroup": true,
            "label": "Option group",
            "optgroupoptions": [
              {
              "label": "Option 3"
              },
              {
              "label": "Option 4"
              }
              ]
            }
          ]
        }
        %}
        {% include '@multiselect'
        with {
          "label": "Label multiselect",
          "for": "multiselect_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description multiselect.",

          "multiselect_id": "multiselect_id",
          "multiselect_name": "multiselect_name",
          "options": [
            {
            "label": "Option 1"
            },
            {
            "label": "Option 2"
            },
            {
            "label": "Option 3"
            },
            {
            "label": "Option 4"
            }
          ]
        }
        %}
      </div>
    </fieldset>

    {% include '@address' %}

    {% include '@form-actions--editor' %}
  </form>
</div>


{# --- COLLECTIONS --- #}
<h3 id="styleguide-collections" class="styleguide-title">Collections</h3>
<div class="preview-inner-container">
  {% include '@collection' with {
      "paragraph_text": "Teaser text, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, suscipit.",
      "title": "Title text ",
      "teaser_uid": "uid",
      "link_text": "read more",
      "link" : "javascript:void(0);"
  } %}
</div>


{# --- BUILDING BLOCKS OVERVIEW--- #}
<h3 class="styleguide-title">Building blocks overview</h3>
<div class="preview-inner-inner-container">
  <h4 id="styleguide-quote" class="styleguide-title">{{ 'Quote' }}</h4>
  {% include '@quote' %}
</div>
<div class="preview-inner-inner-container">
  <h4 id="styleguide-breadcrumbs" class="styleguide-title">Breadcrumbs</h4>
  {% include '@breadcrumbs' with {
    "items": [
      "<a href='#'>Stad.gent</a>",
      "<a href='#'>Overview</a>",
      "<span>Overview</span>",
      "<span>Overview</span>",
      "<span>Page title</span>"
    ]
  }%}
</div>
<div class="preview-inner-inner-container">
  <h4 id="styleguide-video" class="styleguide-title">Video</h4>
  {% include '@video' with {
    'title': 'Promofilm stad Gent.',
    'src': 'https://www.youtube.com/embed/S0vLmTWUmok',
    'audio_description_src': 'https://www.youtube.com/embed/S0vLmTWUmok'
  } %}
</div>

{# --- BLOCKS OVERVIEW--- #}
<h2 class="styleguide-title">Blocks overview</h2>
<div class="preview-inner-inner-container">
  <h3 class="styleguide-title">Disclaimer block</h3>
  {% include '@disclaimer-block' %}
</div>
<div class="preview-inner-inner-container">
  <h3 class="styleguide-title">Post address block</h3>
  {% include '@post-address-block' %}
</div>
<div class="preview-inner-inner-container">
  <h3 class="styleguide-title">Social media block</h3>
  {% include '@social-media-block' %}
</div>
