<h3 id="styleguide-messages" class="styleguide-title">Messages</h3>
<div class="preview-inner-container">
  <h3 class="styleguide">Success message</h3>
  <p>{% include '@status-message' with { 'icon': 'icon-checkmark', 'modifier': 'messages--status', 'text': 'Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.' } %}</p>

  <h3 class="styleguide">Error message</h3>
  <p>{% include '@status-message' with { 'icon': 'icon-cross', 'modifier': 'messages--error', 'text': 'Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.' } %}</p>

  <h3 class="styleguide">Warning message</h3>
  <p>{% include '@status-message' with { 'icon': 'icon-exclamation', 'modifier': 'messages--warning', 'text': 'Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.' } %}</p>
</div>

<h3 id="styleguide-form-items" class="styleguide-title">Form items</h3>
<div class="preview-inner-container">
  <form class="{{ modifier }}">
    {% include '@paragraph' with {
      'text' : 'Fill in all fields unless otherwise stated',
      'modifier': 'required-fields-indicator'
    } %}
    <fieldset>
    <legend>
      This is a fieldset title.
    </legend>
    <div class="fieldset-wrapper">
        {% include '@textfield' with {
          "label": "Label textfield",
          "for": "textfield_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description textfield.",

          "textfield_id": "textfield_id",
          "textfield_name": "textfield_name"
        }%}
        {% include '@telephone-field'
        with {
          "label": "Label telephone field",
          "for": "tel_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description telephone field.",

          "tel_id": "tel_id",
          "tel_name": "tel_name"
        }
        %}
        {% include '@password' with {
          "label": "Label password",
          "for": "password_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description textfield.",

          "password_id": "password_id",
          "password_name": "password_name"
        } %}
        {% include '@number'
        with {
          "label": "Label number",
          "for": "number_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description number.",

          "number_id": "number_id",
          "number_name": "number_name"
        }
        %}
        {% include '@date'
        with {
          "label": "Label date",
          "for": "date_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description date field.",

          "date_id": "date_id",
          "date_name": "date_name"
        }
        %}
        {% include '@website'
        with {
          "label": "Label website",
          "for": "url_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description website field.",

          "url_id": "url_id",
          "url_name": "url_name"
        }
        %}
        {% include '@email'
        with {
          "label": "Label email",
          "for": "email_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description email.",

          "email_id": "email_id",
          "email_name": "email_name"
        }
        %}
        {% include '@file'
        with {
          "label": "Label file",
          "for": "file_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description file.",

          "file_id": "file_id",
          "file_name": "file_name"
        }
        %}
        {% include '@textarea'
        with {
          "label": "Label textarea",
          "for": "textarea_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description textarea.",

          "textarea_id": "textarea_id",
          "textarea_name": "textarea_name"
        }
        %}
        {% include '@checkbox'
        with {
          "checkbox_label": "Label checkbox",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description checkboxes.",

          "label_checkbox1": "Checkbox option 1",
          "checkbox1_name": "checkbox-1",
          "checkbox1_id": "checkbox-1",

          "checkbox1_label": "Label checkbox 1",
          "checkbox1_label_for": "checkbox-1",
          "checkbox1_label_optional": "",


          "label_checkbox2": "Checkbox option 2",
          "checkbox2_name": "checkbox-2",
          "checkbox2_id": "checkbox-2",

          "checkbox2_label": "Label checkbox 2",
          "checkbox2_label_for": "checkbox-2",
          "checkbox2_label_optional": ""
        }
        %}
        {% include '@radio'
        with {
          "radio_label": "Label radiobuttons",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description radiobuttons.",

          "label_radio1": "Radio option 1",
          "radio1_name": "radiogroup",
          "radio1_id": "radio-1",

          "radio1_label": "Label radio 1",
          "radio1_label_for": "radio-1",
          "radio1_label_optional": "",


          "label_radio2": "Radio option 2",
          "radio2_name": "radiogroup",
          "radio2_id": "radio-2",

          "radio2_label": "Label radio 2",
          "radio2_label_for": "radio-2",
          "radio2_label_optional": ""
        }
        %}
        {% include '@select'
        with {
          "label": "Label select",
          "for": "select_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description select.",

          "select_id": "select_id",
          "select_name": "select_name",
          "options": [
            {
            "label": "Option 1"
            },
            {
            "label": "Option 2"
            },
            {
            "optgroup": true,
            "label": "Option group",
            "optgroupoptions": [
              {
              "label": "Option 3"
              },
              {
              "label": "Option 4"
              }
              ]
            }
          ]
        }
        %}
        {% include '@multiselect'
        with {
          "label": "Label multiselect",
          "for": "multiselect_id",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description multiselect.",

          "multiselect_id": "multiselect_id",
          "multiselect_name": "multiselect_name",
          "options": [
            {
            "label": "Option 1"
            },
            {
            "label": "Option 2"
            },
            {
            "label": "Option 3"
            },
            {
            "label": "Option 4"
            }
          ]
        }
        %}

{#
        {% include '@multiselect-chosen'
        with {
          "label": "Label multiselect with chosen",
          "for": "multiselect_chosen_id_field",
          "label_optional": "Optional",

          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium. Vivamus tellus metus, pretium eu nibh vitae, eleifend luctus dolor. Morbi feugiat tristique ante eu egestas. Nunc ligula magna, fringilla sed consequat id, pellentesque at risus. Nunc ex elit, tincidunt at lorem vel, mattis gravida nisl. Praesent sodales nibh massa, id ultrices metus viverra id.",
          "field_error": "",
          "description": "Description multiselect with chosen.",

          "multiselect_id": "multiselect_chosen_id_field",
          "multiselect_name": "multiselect_name",
          "options": [
            {
            "label": "Option 1"
            },
            {
            "label": "Option 2"
            },
            {
            "label": "Option 3"
            },
            {
            "label": "Option 4"
            }
          ]
        }
        %}
#}

      </div>
    </fieldset>

    {% include '@address' %}

    {% include '@form-actions--editor' %}

  </form>
</div>

<h3 id="styleguide-collections" class="styleguide-title">Collections</h3>
<div class="preview-inner-container">
  {% include '@teaser-topic-collection' with {
      "teaser_paragraph_text": "Teaser text, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, suscipit.",
      "teaser_h3_title": "Title text ",
      "teaser_uid": "uid",
      "teaser_link_text": "read more",
      "teaser_link_link" : "javascript:void(0);"
  } %}
</div>

<h3 class="styleguide-title">Building blocks overview</h3>

<div class="preview-inner-inner-container">
  <h3 id="styleguide-quote" class="styleguide">{{ 'Quote' }}</h3>
  {% include '@quote' %}
</div>

<div class="preview-inner-inner-container">
  <h3 id="styleguide-breadcrumbs" class="styleguide">Breadcrumbs</h3>
  {% include '@breadcrumbs' with {
    "items": [
      "<a href='#'>Stad.gent</a>",
      "<a href='#'>Overview</a>",
      "<span>Overview</span>",
      "<span>Overview</span>",
      "<span>Page title</span>"
    ]
  }%}
</div>

<div class="preview-inner-inner-container">
  <h3 id="styleguide-image-gallery" class="styleguide">Galleries</h3>
  <h4>Gallery: double</h4>
  {% include '@image-gallery' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}

  <h4>Gallery: triple</h4>
  {% include '@image-gallery--triple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}

  <h4>Gallery: quadruple</h4>
  {% include '@image-gallery--quadruple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}

  <h4>Gallery: quintuple</h4>
  {% include '@image-gallery--quintuple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}


  <h4>Gallery: quintuple et plus</h4>
  {% include '@image-gallery--quintuple-et-plus' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text"
      }
    ]
  } %}
</div>

{#
<div class="preview-inner-inner-container">
  <h3 class="styleguide">Header</h3>
  {% include '@header' %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Newsletter block</h3>
  {% include '@newsletter-block' %}
</div>


<div class="preview-inner-inner-container">
  <h3 class="styleguide">Pagination</h3>
  {% include '@pagination' %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Search</h3>
  {% include '@search' with {
  "label": "What are you looking for?",
  "for": "",
  "label_optional": "",
  "search_id": "header-search",
  "search_name": "header-search",
  "placeholder": "What are you looking for?",
  "modifier_search": "inline",
  "text": "Search",
  "modifier_submit": "btn--inline"
  } %}
</div>


<div class="preview-inner-inner-container">
  <h3 class="styleguide">CTA link</h3>
  {% include '@cta-link--website' with {
    'title': 'Want more info?',
    'link_text': 'Visit our website',
    'modifier': 'link'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">CTA document</h3>
  {% include '@cta-link--document' with {
    'title': 'Want more info?',
    'link_text': 'Download',
    'modifier': 'clip'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">CTA form fill</h3>
  {% include '@cta-link--form-fill' with {
    'title': 'Fill in the form',
    'link_text': 'Fill in',
    'modifier': 'form-fill'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">CTA email</h3>
  {% include '@cta-link--email' with {
    'title': 'Contact us by email',
    'link_text': 'Mail',
    'modifier': 'email'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">CTA phone</h3>
  {% include '@cta-link--phone' with {
    'title': 'Contact us by phone',
    'link_text': 'Call us',
    'modifier': 'phone'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">CTA location</h3>
  {% include '@cta-link--location' with {
    'title': 'Location',
    'link_text': 'Location',
    'modifier': 'loc'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Form steps</h3>
  {% include '@form-steps' with {
    "step1_title": "Step 1 title",
    "step2_title": "Step 2 title",
    "step3_title": "Step 3 title",
    "step4_title": "Step 4 title",
    "step5_title": "Step 5 title",
    "step6_title": "Step 6 title",
    "step7_title": "Step 7 title"
  } %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Page wide image</h3>
  {% include '@page-wide-image' with {
    "src": "https://via.placeholder.com/1600x420",
    "alt_text": "Page wide image",
    "modifier": "no-style",
    "description": "Caption text comes here.",
    "h2_text": "Page wide title"
  } %}
</div>

#}

<h2 class="styleguide-title">Blocks overview</h2>
<div class="preview-inner-inner-container">
  <h3 class="styleguide">Disclaimer block</h3>
  {% include '@disclaimer-block' %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Post address block</h3>
  {% include '@post-address-block' %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Social media block</h3>
  {% include '@social-media-block' %}
</div>
