///
///  Applies a hover animation using the background.
///  Typically applied to elements containing text.
///
/// @since 3.0.0
/// @group tools
/// @access public
/// @author Helena Standaert
///
/// @param {string} $underline
///   Underline color for the link.
///
/// @param {string} $hover [null]
///   Background color for the link on hover.
///
/// @param {string} $underline-exception [null]
///   The exception value for the underline color.
///   This is the exception optionally used in subthemes.
///
/// @param {string} $hover-exception [null]
///   The exception value for the background color.
///   This is the exception optionally used in subthemes.
///
@mixin link-background($underline, $hover: null, $underline-exception: null, $hover-exception: null) {
  @include theme('border-color', $underline, $underline-exception);
  transition: background-image 1s;
  border-bottom: 2px solid;
  background-repeat: repeat-y;
  background-position: 0 100%;

  @if $hover {
    @include theme-content($hover, $hover-exception) {
      background-image: linear-gradient(to bottom,
        $theme-color 0,
        $theme-color 100%);
    }
    transition: background-size .2s;
    background-size: 0 100%;

    &:hover,
    &:focus {
      background-size: 100% 100%;
    }
  }
}

///
/// Undo default link styling.
///
/// @since 3.0.0-beta9
/// @group tools
/// @access public
/// @author Helena Standaert
///
@mixin reset-link-background() {
  border-bottom: 0;
}

///
/// Link styling with an underline on-hover
///
/// @since 3.0.0-beta9
/// @group tools
/// @access public
/// @author Helena Standaert
///
/// @param {string} $active-selector [null]
///   Selector for active elements.
///   The 'active' state styling is applied to this selector.
///
@mixin link-underlined($active-selector: '.active') {
  @include theme('color', 'color-tertiary', 'default-text-color');
  display: inline-block;
  font-weight: 400;
  text-decoration: none;

  &::after {
    @include theme('color', 'color-primary', 'link-underlined-hover-color');
    display: block;
    position: static;
    width: 0;
    margin: 0 auto;
    transition: width 100ms;
    border-bottom: 2px solid;
    content: '';
    overflow: visible;
  }

  &#{$active-selector},
  &:hover,
  &:focus {
    background: transparent;

    &::after {
      width: 70%;
    }
  }
}
