///
///  Applies a hover animation using the background.
///  Typically applied to elements containing text.
///
/// @since 3.0.0
/// @group tools
/// @access public
/// @author Helena Standaert
///
/// @param {string} $default [null]
///   The default value for the themified property.
///
/// @param {string} $exception [null]
///   The exception value for the themified property.
///   This is the exception optionally used in subthemes.
///
@mixin link-background($default: null, $exception: null, $animate: true) {
  // Support color schemes
  @each $theme, $colors in $themes {
    $link-hover-color: set-themified-property($colors, $default, $exception);

    .cs--#{$theme} & {
      background: linear-gradient(
        to bottom, $link-hover-color 0%,
        $link-hover-color 100%
      ) repeat-x 0 100%;

      background-size: 1px 1px;
    }
  }

  @if $animate {
    transition: background-size .2s;

    &:focus,
    &:hover {
      background-size: 1px 100%;
    }
  }
}
