nav.menu {
  margin: 0;

  button {
    @include button-icon;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: .8rem;

    @include tablet {
      display: none;
    }

    &::before {
      order: 0;
      margin-right: 10px;
      margin-left: 0;
    }

    &.toggle {
      @include icon(hamburger);
    }

    &.close {
      @include icon(cross);
    }
  }

  ul {
    @extend %list-no-style;
    @include tablet-and-below {
      display: none;
    }

    margin: 0;

    li {
      display: inline-block;
      margin-right: 20px;

      a,
      a[href^="mailto:"],
      a[download],
      a[href^="http://"]:not([href*="gent.be"]),
      a[href^="https://"]:not([href*="gent.be"]) {
        @include reset-link-background;
        @include link-underlined;

        margin-bottom: 0;
        padding: 10px 0;
      }

      a.active {
        @include bold-text;
      }
    }
  }
}

.modal.menu {
  @include tablet {
    display: none;
  }

  .modal-inner {
    .modal-header {
      position: absolute;
      right: 0;
      margin-top: 20px;
      margin-right: 10px;
      z-index: 7;
    }
  }

  .modal-content {
    flex: 1;
    padding: 0;

    .header {
      position: relative;
      margin: 12px $gutter-width;

      &::before {
        @include theme('border-color', 'color-primary--lighten-4', 'header-border-bottom');

        position: absolute;
        top: 100%;
        left: -30px;
        width: 100vw;
        height: 20px;
        margin-top: 12px;
        border-top: 2px solid;
        content: '';
      }

      button {
        position: absolute;
        right: 0;
        margin-top: 5px;
      }
    }

    .menu-links {
      ul {
        @extend %list-no-style;
        margin: 0;

        li {
          @include tablet {
            display: inline-block;
            margin-right: 20px;
          }

          @include theme('border-color', 'color-primary-light');
          margin-bottom: 0;
          border-bottom: 1px solid;

          a,
          a[href^="mailto:"],
          a[download],
          a[href^="http://"],
          a[href^="https://"] {
            @include reset-link-background;
            @include icon('chevron-right', 'after');

            display: block;
            padding: 10px 20px;
            line-height: 1.4rem;

            &:hover {
              @include theme('background-color', 'color-primary-light');
            }

            &::after {
              position: absolute;
              top: 50%;
              right: 30px;
              margin-top: -13px;
            }
          }

          a.active {
            @include bold-text;
          }
        }
      }
    }

    .language-switcher {
      display: block;
      margin: 0 24px;

      &:not(:last-child) {
        @include theme('border-color', 'color-primary--lighten-4');
        border-bottom: 2px solid;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 12px 0;

        li {
          padding: 12px;
        }
      }
    }
  }
}
