{% set modalContent %}
  <div class="header">
    {% include '@logo' %}
  </div>
  {% if items and items.length > 0 %}
    <div class="menu-links">
      {% include '@list' with {
        type: 'links',
        items: items
      } %}
    </div>
  {% endif %}
  {{ translate }}
{% endset %}

<nav class="menu">
  <button type="button"
          class="modal-trigger toggle"
          aria-expanded="false"
          aria-controls="{{ id }}">menu
  </button>
  {% if items and items.length > 0 %}
    {% include '@list' with {
      type: 'links',
      items: items
    } %}
  {% endif %}

  {% include "@modal" with {
    title_heading_level: 'span',
    id: id,
    classes: 'has-custom-binding menu',
    content: modalContent
  } %}
</nav>
