.display-switcher {
  @include medium-text();
  align-items: center;
  margin-bottom: 60px;

  @include phablet {
    display: flex;
  }

  ul {
    margin-bottom: 0;

    &.icon-list.inline {
      li {
        @include medium-text();
        margin-right: 20px;
      }
    }
  }

  > span {
    display: block;
    margin-right: 20px;
  }
}
