$grid-gutter-width: $gutter-width;

.form--multistep {
  display: flex;
  flex-direction: column;
  gap: $grid-gutter-width;

  @include desktop {
    display: flex;
    flex-direction: row;

    >.form-content {
      @include col(9);
    }

    >.form-steps {
      @include col(3);
    }
  }
}
