@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;
@use '../../11-base/grid/flexbox-grid/mixins/grid-mixins' as *;

$grid-gutter-width: $gutter-width;

.form--multistep {
  display: flex;
  flex-direction: column;
  gap: $grid-gutter-width;

  @include desktop {
    display: flex;
    flex-direction: row;

    >.form-content {
      @include col(9);
    }

    >.form-steps {
      @include col(3);
    }
  }
}
