.file {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  margin: .25rem 0 0;

  .file__button {
    @extend %button-secondary;
    @include button;
    @include button-small;
    @include button-hover;

    max-width: 100%;
    margin: 0 .75rem 0 0;
    padding: .4rem .75rem;
    content: attr(data-text);
  }

  &::after {
    @include theme('color', 'default-text-color', 'no-file-selected-text-color');

    max-width: 100%;
    margin: .5rem .5rem 0;
    font-size: .7rem;
    font-style: italic;
    text-overflow: ellipsis;
    content: attr(data-file);
    overflow: hidden;

    @include phablet {
      margin: 0;
    }
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.4rem;
    cursor: pointer;
    opacity: 0;

    &:disabled {
      pointer-events: none;

      + .file__button {
        @include button-disabled;
      }
    }

    &:hover + .file__button,
    &:focus + .file__button,
    &:focus-within + .file__button {
      @include theme('color', 'color-quaternary', 'button-secondary-hover-color');
      background-size: 100% 100%;
    }

    &:active + .file__button {
      @include theme('background-color', 'color-tertiary-pastel', 'button-secondary-active-background');
      @include theme('color', 'color-primary', 'button-secondary-active-color');
      background-image: none;
      box-shadow: none;
    }

    &:focus + .file__button {
      @include focus-bare;
    }
  }

  +.help-text {
    @include theme('color', 'help-text-color', 'help-text-color');
    display: block;
    margin-top: .5rem;
    font-size: .7rem;
    line-height: 1.2rem;
  }
}
