h1,
.h1,
%h1,
h2,
.h2,
%h2,
h3,
.h3,
%h3,
h4,
.h4,
%h4,
h5,
.h5,
%h5,
h6,
.h6,
%h6 {
  margin: 0;
  font-style: normal;
  font-weight: 700;

  // Bypass the FOUT of typekit while loading asynchronously.
  .wf-loading & {
    visibility: hidden;
  }
}
