<form class="form search">
  {% if label %}
    {% include '@form-label' with {
    "label": label,
    "for": search_id,
    "label_optional": label_optional
    } %}
  {% endif %}
  {% include '@input' with {
  'type': 'search',
  'placeholder': placeholder,
  'modifier': modifier_search,
  'id': search_id,
  'name': search_id,
  'required': true
  } %}
  {% include '@input-submit' with {
  'value': text,
  'modifier': modifier_submit
  } %}
</form>
