.sidebar-layout {
  @extend %content-container;

  display: flex;
  flex-wrap: wrap;
  margin: 70px auto 80px;

  .sidebar {
    width: 100%;

    @include desktop {
      width: span(4 of 12);
      padding-right: gutter() * 2;
    }

    &.modal {
      max-height: none;
    }
  }

  .content {
    width: 100%;

    @include desktop {
      width: span(8 wide of 12);
    }
  }
}
