@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;
@use '../../11-base/grid/flexbox-grid/mixins/grid-mixins' as *;

$grid-gutter-width: 65px;

.sidebar-layout {
  @extend %content-container;

  display: flex;
  flex-wrap: wrap;
  margin: 70px auto 80px;
  gap: $grid-gutter-width;

  .sidebar {
    @include desktop {
      @include col(4);
    }

    &.modal {
      max-height: none;
    }
  }

  .content {
    @include desktop {
      @include col(8);
    }
  }
}
