{% include '@header' with {
  "site_name": "Stad Gent",
  "search": true,
  "header_search_id": "header-search",
  "header_search_label": "Search",
  "header_search_placeholder": "Search",
  "header_search_text": "Search",
  "breadcrumbs_items": [
    "<a href='#'>Home</a>",
    "<a href='#'>Overview</a>",
    "<a href='#'>Theme</a>",
    "<a href='#'>Subpage</a>",
    "<span>Page title</span>"
  ]
} %}

<main class="filter-page">
  {% include '@filter' with {
    'checkboxes': checkboxes,
    'results': teasers
  }%}
</main>

<footer>
  {% include '@footer' with footerConfig %}
</footer>
