<h2 class="styleguide-title">Blocks overview</h2>
<div class="preview-inner-inner-container">
  <h3 class="styleguide">Disclaimer block</h3>
  {% include '@disclaimer-block' %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Post address block</h3>
  {% include '@post-address-block' %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Social media block</h3>
  {% include '@social-media-block' %}
</div>
