<h4 class="styleguide-title">Blocks overview</h4>
<div class="preview-inner-inner-container">
  <h4 class="styleguide">Disclaimer block</h4>
  {% include '@disclaimer-block' %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Post address block</h4>
  {% include '@post-address-block' %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Social media block</h4>
  {% include '@social-media-block' %}
</div>
