<div class="opening-hours-wrapper" data-type="day">
  <div class="openinghours openinghours--details {{ open ? 'openinghours--day-open' : 'openinghours--day-closed' }}" property="openingHoursSpecification"
       typeof="OpeningHoursSpecification">
    <div class="openinghours--date openinghours--special-day" property="validFrom validThrough" datetime="2018-11-29">
      <span class="openinghours--date-special-day">Today</span>
      <span class="openinghours--date-between">, </span>
      <span class="openinghours--date-day-of-week">
            <link property="dayOfWeek" href="http://schema.org/Thursday">Thursday
        </span>
      <span class="openinghours--date-day">29</span>
      <span class="openinghours--date-month">November</span>
    </div>
    <div class="openinghours--content">
      <div class="openinghours--times">
        <span class="openinghours--status">
          {{ open ? 'open' : 'closed' }}
        </span>
        {% if open %}
        <div class="openinghours--time">
          <span class="openinghours--time-prefix">from</span>
          <time property="opens" datetime="09:00" aria-label="09:00">
            09:00 h
          </time>
          <span class="openinghours--time-separator">to</span>
          <time property="closes" datetime="17:00" aria-label="17:00">
            17:00 h
          </time>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% if channels > 1 %}
    <div class="openinghours openinghours--details openinghours--day-open" property="openingHoursSpecification"
         typeof="OpeningHoursSpecification">
      <div class="openinghours--date openinghours--special-day" property="validFrom validThrough" datetime="2018-11-29">
        <span class="openinghours--date-special-day">Today</span>
        <span class="openinghours--date-between">, </span>
        <span class="openinghours--date-day-of-week">
              <link property="dayOfWeek" href="http://schema.org/Thursday">Thursday
          </span>
        <span class="openinghours--date-day">29</span>
        <span class="openinghours--date-month">November</span>
      </div>
      <div class="openinghours--content">
        <div class="openinghours--times">
          <span class="openinghours--status">by appointment</span>
          <div class="openinghours--time">
            <span class="openinghours--time-prefix">from</span>
            <time property="opens" datetime="09:00" aria-label="09:00">
              09:00 h
            </time>
            <span class="openinghours--time-separator">to</span>
            <time property="closes" datetime="17:00" aria-label="17:00">
              17:00 h
            </time>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
