<h2 class="styleguide-title">{{ 'Logo' }}</h2>
<div class="preview-inner-container">
  <p>
    {% include '@logo' %}
  </p>
</div>

<h2 class="styleguide-title">{{ 'Favicon' }}</h2>
<div class="preview-inner-container">
  <p>
    {% include '@favicon' %}
  </p>
</div>
