<h4 class="styleguide-title">{{ 'Logo' }}</h4>
<div class="preview-inner-container">
  <p>
    {% include '@logo' %}
  </p>
</div>

<h4 class="styleguide-title">{{ 'Favicon' }}</h4>
<div class="preview-inner-container">
  <p>
    {% include '@favicon' %}
  </p>
</div>
