<h3 id="styleguide-logos" class="styleguide-title">{{ 'Logo' }}</h3>
<div class="preview-inner-container">
  <p>
    {% include '@logo' %}
  </p>
</div>

<h3 class="styleguide-title">{{ 'Favicon' }}</h3>
<div class="preview-inner-container">
  <p>
    {% include '@favicon' %}
  </p>
</div>
