p {
  @include large-text();

  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 177.778%;

  &:first-child {
    margin-top: 0;
  }

  .dark-background & {
    @include theme('color', 'color-none', 'default-text-color-inverse');
  }
}

///
/// Helper class to align text right.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
///
.text-right {
  text-align: right;
}

///
/// Helper class to align text left.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
///
.text-left {
  text-align: left;
}
