<div class="gentinfo-block">
  <div class="gentinfo-block-content">
    <h2 class="visually-hidden">Gentinfo</h2>

    {% render '@image' with {
      src: '/styleguide/img/svg/gentinfo-logo.svg',
      modifier: 'gentinfo-logo',
      alt_text: 'Gentinfo',
      ratio: false
    } %}

    {% render '@paragraph'
      with {
        'text': 'Gentinfo is available from Monday till Saturday from 08:00 till 19:00'
      }
    %}
    {% render '@list'
      with {
        'type': 'icon-list',
        'icon_items': [
          '<i class="icon-phone" aria-hidden="true"></i><a href="tel:+32 9 210 10 10" alt="Gentinfo tel link">09 210 10 10</a>',
          '<i class="icon-envelope" aria-hidden="true"></i><a href="mailto:gentinfo@stad.gent" alt="Gentinfo mail link">Gentinfo@stad.gent</a>',
          '<i class="icon-document" aria-hidden="true"></i><a href="#">Contactformulier</a>'
        ]
      }
    %}
  </div>
  {% render '@button' with { 'text': 'Chat with Gentinfo', 'type': 'primary', 'modifier': 'gentinfo-chat-button button icon-chat-round' } %}
</div>
