{# Variables #}
{% if paragraphs is not defined %}
  {% set paragraphs = [
    'Do you have any questions, complaints, suggestions, notifications etc. concerning the City of Ghent? If this is the case, please contact Gentinfo.',
    'We can be reached from Monday to Saturday, from 8.00 am to 7.00 pm.'
  ] %}
{% endif %}

{% if listItems is not defined %}
  {% set listItems = [
    '<i aria-hidden="true" class="icon-phone"></i><a href="tel:092101010">09 210 10 10</a>',
    '<i aria-hidden="true" class="icon-envelope"></i><a href="mailto:gentinfo@stad.gent">Gentinfo@stad.gent</a>',
    '<i aria-hidden="true" class="icon-document"></i><a href="#">Contact form</a>'
  ] %}
{% endif %}

{# Component #}
<div class="gentinfo {{ modifier }}">
  <div class="gentinfo-content">
    <h2 class="visually-hidden">Gent info</h2>

    {% include '@paragraph' with {
      text: paragraphs[0]
    } %}

    {% include '@paragraph' with {
      text: paragraphs[1]
    } %}

    {% include '@list' with {
      'type': 'icon-list',
      'modifier': 'inline',
      'icon_items': listItems
    }
    %}

  </div>
</div>
