.tabs {

  [role='tabpanel'] {
    @include theme('background-color', 'color-secondary-pastel', 'tab-background-color');

    &:target {
      display: block;
    }

    &[aria-hidden] {
      &[aria-hidden='true'] {
        display: none;
      }

      &[aria-hidden='false'] {
        display: block;
      }
    }
  }

  [role='tablist'] {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;

    @include desktop {
      flex-direction: row;
    }

    > li[role='presentation'] {
      flex: 0 0 auto;
      margin: 0;

      a,
      a[href^="mailto:"],
      a[download],
      a[href^="http://"],
      a[href^="https://"] {
        @include reset-link-background;
        @include theme('color', 'color-tertiary', 'default-text-color');
        display: inline-block;
        width: 100%;
        padding: 20px;
        line-height: 128%;
        font-weight: 600;
        text-align: center;
        text-decoration: none;


        @include desktop {
          width: auto;
          text-align: left;
          font-size: 1rem;
          line-height: 130%;
        }

        &::after {
          @include theme('color', 'color-zero');
          display: block;
          bottom: 0;
          left: 0;
          width: 0;
          margin: 0 auto;
          transition: width 100ms;
          border-bottom: 3px solid;
          content: '';
          overflow: visible;
        }

        &[role='tab'][aria-selected='true'],
        &:hover,
        &:focus {
          background: transparent;

          &::after {
            width: 100%;
          }
        }
      }

      [role='tab'][aria-selected='true'] {
        @include theme('background-color', 'color-secondary-pastel', 'tab-background-color');

        border-bottom: 0;
      }
    }
  }

  &.light {
    [role='tabpanel'] {
      background-color: transparent;
    }

    [role='tablist'] {
      @include theme('border-color', 'color-secondary-pastel', 'tab-background-color');
    }
  }
}
