////
///
/// This file defines all general style guide settings.
///
/// @group settings
/// @author Gert-Jan Meire
///
////

///
/// Defines the style guide directory. This is used for things such as
/// images for backgrounds in SASS.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @type map
/// @author Gert-Jan Meire
///
$styleguide-dir: '../styleguide' !default;

///
/// Generates a unique ID..
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @type map
/// @author Gert-Jan Meire
///
$uuid: unique-id();

///
/// Defines the border radius values components can use.
/// These values have been chosen by the design team.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @type map
/// @author Gert-Jan Meire
///
$border-radius: (
  'radius-0': 0,
  'radius-1': .5rem,
  'radius-2': .625rem,
  'radius-3': 1.125rem,
  'radius-4': 1.875rem
) !default;

// Breakpoints for fonts.
$bp-tablet-fonts: 640px !default;
$bp-desktop-fonts: 1360px !default;

///
/// Defines the min-width breakpoint for mobile screens.
///
/// @since 3.0.0
/// @group settings
/// @access private
/// @author Gert-Jan Meire
///
$bp-mobile: 320px !default;

///
/// Defines the min-width breakpoint for tablet screens.
///
/// @since 3.0.0
/// @group settings
/// @access private
/// @author Gert-Jan Meire
///
$bp-tablet: 768px !default;

///
/// Defines the min-width breakpoint for desktop screens.
///
/// @since 3.0.0
/// @group settings
/// @access private
/// @author Gert-Jan Meire
///
$bp-desktop: 960px !default;

///
/// Defines the min-width breakpoint for extra large desktop screens.
///
/// @since 3.0.0
/// @group settings
/// @access private
/// @author Gert-Jan Meire
///
$bp-desktop-xl: 1680px !default;

// Max content width.
$bp-max-content: 1440px !default;

// Max viewport.
$bp-container: 1600px !default;

// Grid settings
$grid-columns: 12 !default;
$gutter-width: 1rem !default;

// Font settings.
$default-font-family: 'Fira Sans', sans-serif !default;
$default-font-weight: 400 !default;
$default-font-size: 16px !default; //px
$default-line-height: 1.4em !default; //em
$primary-font-family: $default-font-family !default;
$primary-font-weight: $default-font-weight !default;
$primary-font-size: $default-font-size !default; //px
$primary-line-height: $default-line-height !default; //em

$bg-outside-container: color('white') !default;
$border-outside-container: 1px solid color('dark-gray', 2) !default;

// Breadcrumb settings.
$bg-hover-breadcrumb: color('blue') !default;

//
// Section dependent variables!
//
// These variables can and must be set, but might get overridden when used by a
// component that is within a section!
//

// Mobile menu
$hamburger-menu-width: 320px;
$hamburger-menu-shadow: 0 1px 16.5px 0 rgba(0, 0, 0, .5);

// Map settings.
$map-border-radius: border-radius('radius-1') !default;
