// Styleguide general settings.
$styleguide-dir: '../styleguide' !default;
$uuid: unique-id();

// Border radius.
$radius-0: 0 !default;
$radius-1: .5rem !default;
$radius-2: .625rem !default;
$radius-3: 1.125rem !default;
$radius-4: 1.875rem !default;

// Breakpoints for fonts.
$bp-tablet-fonts: 640px !default;
$bp-desktop-fonts: 1360px !default;

// Visual breakpoints.
$bp-mobile: 320px !default;
$bp-tablet: 768px !default;
$bp-desktop: 960px !default;
$bp-desktop-xl: 1680px !default;

// Max content width.
$bp-max-content: 1440px !default;

// Max viewport.
$bp-container: 1600px !default;

// Grid settings
$grid-columns: 12 !default;
$gutter-width: 1rem !default;

// Font settings.
$default-font-family: 'Fira Sans', sans-serif !default;
$default-font-weight: 400 !default;
$default-font-size: 16px !default; //px
$default-line-height: 1.4em !default; //em
$primary-font-family: $default-font-family !default;
$primary-font-weight: $default-font-weight !default;
$primary-font-size: $default-font-size !default; //px
$primary-line-height: $default-line-height !default; //em

$bg-outside-container: color('white') !default;
$border-outside-container: 1px solid color('dark-gray', 2) !default;

// Breadcrumb settings.
$bg-hover-breadcrumb: color('blue') !default;

//
// Section dependent variables!
//
// These variables can and must be set, but might get overridden when used by a
// component that is within a section!
//

// Mobile menu
$hamburger-menu-width: 320px;
$hamburger-menu-shadow: 0 1px 16.5px 0 rgba(0, 0, 0, .5);

// Map settings.
$map-border-radius: $radius-1 !default;
