////
///
/// This file defines all general style guide settings.
///
/// @group settings
/// @author Gert-Jan Meire
///
////

@import 'susy';

///
/// Defines the style guide directory. This is used for things such as
/// images for backgrounds in SASS.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @type map
/// @author Gert-Jan Meire
///
$styleguide-dir: '../styleguide' !default;

///
/// Generates a unique ID..
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @type map
/// @author Gert-Jan Meire
///
$uuid: unique-id();

///
/// Defines the border radius values components can use.
/// These values have been chosen by the design team.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @type map
/// @author Gert-Jan Meire
///
$border-radius: (
  'radius-0': 0,
  'radius-1': .2rem,
  'radius-2': .3rem,
  'radius-3': 1rem,
  'radius-4': 1.2rem,
  'radius-5': 1.6rem,
) !default;

///
/// Defines the breakpoint for fonts on desktop.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @type string
/// @author Gert-Jan Meire
///
$bp-desktop-xl-fonts: 1920px !default;

///
/// Defines the min-width breakpoint for mobile screens.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$bp-mobile: 320px !default;

///
/// Defines the min-width breakpoint for phablet screens.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Bart Delrue
///
$bp-phablet: 576px !default;

///
/// Defines the min-width breakpoint for tablet screens.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$bp-tablet: 769px !default;

///
/// Defines the min-width breakpoint for desktop screens.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$bp-desktop: 960px !default;

///
/// Defines the min-width breakpoint for extra large desktop screens.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$bp-desktop-xl: 1680px !default;

///
/// Defines the max width of content in a content container.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$bp-max-content: 1280px !default;

///
/// Defines the max width of a grid container.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$bp-container: 1680px !default;

///
/// Defines the width of six columns on container max-width.
/// Used to limit with of block content.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Bart Delrue
///
$six-of-bp-container: 32rem !default;

///
/// Defines the number of grid columns for a given grid container.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$grid-columns: 12 !default;

///
/// Defines the width of grid gutters.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$gutter-width: 1.2rem !default;

///
/// Defines the default paragraph bottom margin.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Bart Delrue
///
$default-paragraph-margin: 1.6rem !default;

///
/// Defines the default font family Fira Sans.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$default-font-family: 'Fira Sans', sans-serif !default;

///
/// Defines the default font weight.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$default-font-weight: 400 !default;

///
/// Defines the default font size.
/// For better readable SASS code we opted for a default font size of 20px.
/// Therefor the body element and all elements inside it get a font-size of
/// .8rem (which is a computed value of 16px).
/// This allows us to calculate REM values by dividing by 20 instead of 16,
/// which in turn gives us more readable REM values.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$default-font-size: 20px !default; //px

///
/// Defines the default line height.
///
/// @since 3.0.0
/// @group settings
/// @access public
/// @author Gert-Jan Meire
///
$default-line-height: 1.75 !default;

///
/// This map describes the susy grid system settings.
///
/// @since 3.0.0
/// @group grid
/// @access private
/// @type map
/// @author Gert-Jan Meire
///
$susy: (
  'columns': susy-repeat(12),
  'gutters': $gutter-width,
  'spread': 'narrow',
);
