h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &[class^="bg-"] {
    span {
      padding: .1rem .5rem;
      box-decoration-break: clone;
    }
  }

  &.bg-primary {
    span {
      @include theme('color', 'color-none', 'heading-with-bg-color');
      @include theme('background-color', 'color-primary', 'heading-with-bg-background-color');
    }
  }

  &.bg-none {
    span {
      @include theme('background-color', 'color-none', 'heading-with-white-bg-background-color');
    }
  }
}

h1,
.h1 {
  &[class^="bg-"] {
    span {
      padding: .125rem .75rem;
    }
  }
}
