h4,
.h4,
%h4 {
  @include theme('color', 'color-zero', 'heading-4-color');
  @include semi-bold-text;

  font-size: .9rem;
  line-height: 1.15rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .dark-background & {
    @include theme('color', 'color-none', 'heading-4-color-inverse');
  }
}
