h1,
.h1,
%h1 {
  @include theme('color', 'color-zero', 'heading-1-color');
  @include extra-bold-text();

  font-size: 2rem;
  line-height: 2.6rem;

  @include tablet {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .dark-background & {
    @include theme('color', 'color-none', 'heading-1-color-inverse');
  }
}
