h2,
.h2,
%h2 {
  @include theme('color', 'color-primary', 'heading-2-color');
  @include bold-text();

  font-size: 1.6rem;
  line-height: 2.1rem;

  @include tablet {
    font-size: 1.9rem;
    line-height: 136.842%;
  }

  .dark-background & {
    @include theme('color', 'color-none', 'heading-2-color-inverse');
  }
}
