h3,
.h3,
%h3 {
  @include theme('color', 'color-zero', 'heading-3-color');

  font-size: 1.2rem;
  line-height: 1.55rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 1.95rem;
  }

  .dark-background & {
    @include theme('color', 'color-none', 'heading-3-color-inverse');
  }
}
