h2,
.h2,
%h2 {
  @include theme('color', 'color-primary', 'heading-2-color');

  font-size: 1.6rem;
  line-height: 2.6rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .dark-background & {
    @include theme('color', 'color-none', 'heading-2-color-inverse');
  }
}
