.overview-title {
  @extend %h1;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 3.5rem; !important; // sass-lint:disable-line no-important

  span {
    position: relative;
    padding: inherit;
    font-size: inherit;

    &::after {
      display: block;
      position: absolute;
      right: 0;
      bottom: -.1em;
      left: 0;
      width: 70%;
      margin: auto;
      border-bottom: 2px solid;
      content: '';
    }
  }
}
