<main class="content-container">
  {% include '@heading' with {
    'type': 'h1',
    'heading_text': 'Form page'
  } %}

  <form action="#" method="#">
    {% include '@heading' with {
      'type': 'h2',
      'heading_text': 'Some title'
    } %}

    {% include '@paragraph' with {
      "text": "De verkiezingsshow 'Stem wijs' vindt plaats op woensdag 6 juni 2018 in Muziekcentrum De Bijloke (Bijlokekaai 7, 9000 Gent). Niet alleen de jury, maar ook het publiek kan die avond stemmen voor de beste spreker, die Gent zal vertegenwoordigen in Edinburgh."
    } %}

    {% include '@heading' with {
      'type': 'h3',
      'heading_text': 'Subscribe for the election show'
    } %}

    <fieldset>
      <legend>Contact details</legend>
      {% include '@form-item' with {
        "label": "Name",
        "id": "name_id",
        "input_component": "input-text",
        "modifier": "error",
        "field_message": "Please fill in your name",
        "name": "name_name"
      } %}
      {% include '@form-item' with {
        "label": "First name",
        "input_component": "input-text",
        "modifier": "error",
        "field_message": "Please fill in your first name",
        "id": "firstname_id",
        "name": "firstname_name"
      } %}
      {% include '@form-item'
        with {
        "label": "E-mail address",
        "for": "email_id",
        "input_component": "input-email",
        "modifier": "error",
        "field_message": "Please fill in your email",
        "id": "email_id",
        "name": "email_name"
      } %}
      {% include '@form-item'
        with {
        "label": "Phone number",
        "for": "tel_id",
        "input_component": "input-tel",
        "modifier": "error",
        "field_message": "Please fill in a valid telephone number",
        "id": "tel_id",
        "name": "tel_name"
      } %}
    </fieldset>

    {% include '@form-item--radio'
      with {
      "input_component": "input-radio",
      "label": "Date",
      "options": [
        {
          "label": "Wednesday 6 june 2018",
          "name": "radiogroup",
          "id": "radio-1"
        },
        {
          "label": "Thursday 7 june 2018",
          "name": "radiogroup",
          "id": "radio-2"
        },
        {
          "label": "Friday 8 june 2018",
          "name": "radiogroup",
          "id": "radio-3"
        }
      ],
      "modifier": "error",
      "field_message": "Please pick a date."
    } %}

    <fieldset>
      <legend>Contact details</legend>
      {% include '@form-item' with {
        "label": "Label textfield",
        "for": "textfield_id",
        "label_optional": "Optional",
        "input_component": "input-text",
        "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium.",
        "field_error": "",
        "description": "Description textfield.",

        "modifier": "error",
        "field_message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium.",

        "id": "textfield_id",
        "name": "textfield_name"
      } %}
      {% include '@form-item' with {
        "label": "Label textfield",
        "for": "textfield_id--1",
        "input_component": "input-text",
        "id": "textfield_id--1",
        "name": "textfield_name--1"
      } %}

      <fieldset>
        <legend>Nested fieldset</legend>
        {% include '@form-item' with {
          "label": "Label textfield",
          "for": "textfield_id--2",
          "input_component": "input-text",
          "id": "textfield_id--2",
          "name": "textfield_name--2"
        } %}
        {% include '@form-item' with {
          "label": "Label textfield",
          "for": "textfield_id--3",
          "input_component": "input-text",
          "id": "textfield_id--3",
          "name": "textfield_name--3"
        } %}
      </fieldset>
    </fieldset>

    {% include '@form-item--checkbox'
      with {
      "input_component": "input-checkbox",
      "label": "Newsletter",
      "id": "newsletter_id",
      "options": [
        {
          "label": "Subscribe to the newsletter",
          "name": "checkboxgroup",
          "id": "checkbox-1"
        }
      ],
      "modifier": "error",
      "field_message": "Lorem ipsum dolor set"
    } %}

    {% include '@form-actions' %}

  </form>
</main>

<footer>
  {% include '@footer' %}
</footer>
