<nav class="breadcrumb section--default" aria-labelledby="{{ id|default('system-breadcrumb') }}">
  <div class="content-container">
    <h2 id="{{ id|default('system-breadcrumb') }}" class="visually-hidden">{{ 'Breadcrumb' }}</h2>
    <ol class="no-style">
      {% spaceless %}
        {% for item in items %}
          <li>{{ item }}</li>
        {% endfor %}
      {% endspaceless %}
    </ol>
  </div>
</nav>
