<nav class="breadcrumb section--default" aria-labelledby="{{ id|default('system-breadcrumb--' ~ _self.name) }}">
  <div class="content-container">
    <h2 id="{{ id|default('system-breadcrumb--' ~ _self.name) }}" class="visually-hidden">{{ 'Breadcrumb' }}</h2>
    <ol class="no-style">
      {% apply spaceless %}
        {% for item in items %}
          <li>{{ item }}</li>
        {% endfor %}
      {% endapply %}
    </ol>
  </div>
</nav>
