.tag-list-wrapper {
  .tag-list {
    @include small-text();

    display: flex;
    flex-wrap: wrap;
    margin: -.2rem;
    list-style: none;

    li {
      margin: .25rem;
    }

    a {
      white-space: nowrap;
    }
  }
}
