@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;

.tag-list-wrapper {
  .tag-list {
    @include small-text;

    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    list-style: none;

    li,
    a,
    span {
      width: 100%;

      @include phablet {
        width: auto;
      }
    }

    li {
      margin: 5px;
    }
  }
}
