<div class="tag-list-wrapper">
    <ul class="tag-list">
        {% for tag in tags %}
            <li>
                {% include '@tag' with {
                    tag_text: tag.tag_text,
                    type: tag.type
                } %}
            </li>
        {% endfor %}
    </ul>
</div>

