.db-block-partnership {
  padding-top: 6.25rem;
  background-image: url('#{$styleguide-dir}/img/svg/stad-gent.svg') ;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 8.75rem;
  color: color('color-dark-gray');
  text-align: right;
}
