.db-block-partnership {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding-top: 6.25rem;
  background-image: url('#{$styleguide-dir}/img/svg/stad-gent.svg') ;
  background-repeat: no-repeat;
  background-position: bottom 2.5rem right;
  background-size: 8.75rem;
  color: $color-gray;
  text-align: right;
}
