<h4 class="styleguide-title">Headings</h4>
<div class="preview-inner-container">
  {% include '@h1' with { 'h1_text': 'Heading 1' } %}
  {% include '@h2' with { 'h2_text': 'Heading 2' } %}
  {% include '@h3' with { 'h3_text': 'Heading 3' } %}
  {% include '@h4' with { 'h4_text': 'Heading 4' } %}
  {% include '@h5' with { 'h5_text': 'Heading 5' } %}
</div>
