.summary-box {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.5rem;

  h2 {
    @extend %h4;
  }

  ul.icon-list {
    margin: 0;
  }

  &-content {
    @include theme('background-color', 'color-primary--lighten-5', 'info-box-background');

    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    margin: 3.5rem 0 2rem;
    padding: 0 calc(#{$gutter-width} / 2) 2.6rem;

    @include tablet {
      margin: 0 0 2rem;
      padding: 2rem 2rem 3rem;
    }

    &::before {
      @include spot-image('whistle-light', 7rem);

      z-index: 10;

      @include tablet {
        position:  absolute;
        top: -3.5rem;
        right: 2rem;
        width: 7rem;
        height: 7rem;
      }
    }
  }
}
