.summary-box {
  h2 {
    @extend %h4;
  }

  ul.icon-list {
    width: 100%;
    margin: 0;

    time {
      display: block;
      font-weight: 600;
    }
  }

  .button {
    @include button-large;
  }
}
