.summary-box {
  h2 {
    @extend %h4;
  }

  ul.icon-list {
    width: 100%;
    margin: 0;

    time {
      @include bold-text;
      display: block;
    }
  }

  // Save room for the accolade
  .inner-box {
    margin-bottom: 1.5rem;
  }

  .button {
    @include button-large;
  }
}
