<aside class="summary-box highlight highlight--top">
  <div class="highlight__inner">
    {% include '@list' with {
    'type': 'icon-list',
    'icon_items': [
    '<i class="icon-calendar" aria-hidden="true"></i><span><time datetime="2018-11-18T18:00:00+02:00">Saturday 18 november 2018 between 18:00 and 22:00</time>Saturday 18 november with continuous activities</span>',
    '<i class="icon-marker" aria-hidden="true"></i>Inner city',
    ]
    } %}

    {% include '@accolade' %}
  </div>

  {% include '@button' with {
    'text': 'Register for this event',
    'type': 'primary',
    'modifier': 'icon-arrow-right'
  } %}
</aside>
