<div class="image-gallery js-lightbox">
  <a href="{{ src }}"
    {% if caption %}
      aria-label="{{ caption }}"
    {% endif %}
     aria-describedby="image-gallery__open-gallery"
     class="gallery-link">
    {% include '@figure' with {
    "figure_figcaption": caption,
    "figure_image_src": src,
    "figure_image_alt_text": alt
    } %}
  </a>
</div>

<!-- Add this to the bottom of your page template, above scripts -->
<!-- <span hidden id="image-gallery__open-gallery">open gallery</span> -->
