$avatar-width: 14rem;

.contact-details {
  .inner-box {
    display: flex;
    flex-wrap: wrap;

    > h2 {
      width: 100%;
    }

    &::before {
      @include spot-image('book-light', 7rem);
    }
  }

  &-column {
    width: 100%;

    @include tablet {
      width: span(6 of 12);
      margin-right: $gutter-width;

      &:last-of-type {
        max-width: $avatar-width;
        margin-right: 0;
      }
    }

    .image-wrapper {
      img {
        @include tablet {
          max-width: $avatar-width;
        }
      }
    }
  }
}
