.filter {
  .filter-section {
    display: none;
    padding-top: .7rem;

    @include tablet {
      display: block;
    }

    &.visible {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 0 1rem 1rem;
      background-color: color('white');
      z-index: 200;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes

      .modal-actions {
        display: block;
      }
    }

    .modal-actions {
      display: none;
      padding-top: .2rem;
      text-align: right;
    }

    form {
      margin-bottom: 2rem;

      // style first level labels as headings
      > .form-item > label,
      > fieldset.form-item > legend {
        @extend %h3;
      }

      > fieldset {
        padding: 0;
        border: 0;
      }
    }

    .label-optional {
      display: none;
    }

    .filter__submit {
      margin-top: .6rem;
    }
  }

  .result-section {

    h2 {
      font-size: .8rem;
    }

    .result__show-filters {
      margin-bottom: 2rem;

      @include tablet {
        display: none;
      }
    }

    .selected-filters {
      margin-bottom: 1rem;

      .tag {
        margin: 0 .5rem .5rem 0;
      }

      a {
        white-space: nowrap;
      }
    }

    ul.filter__results {
      @extend %list-no-style;
    }

    .pager {
      @include tablet {
        li.previous,
        li.next {
          display: none;
        }
      }

      @include desktop {
        li.previous,
        li.next {
          display: block;
        }
      }
    }
  }
}
