<div class="sidebar-layout filter">
  {% set modalContent %}
    <h2>Filter the results</h2>
    <form action="#result">
      <div class="form-item">
        {% include '@label' with {
          "label": "Name",
          "for": "id_name",
          "label_optional": "Optional"
        } %}
        {% include '@input-text'
          with {
          "textfield_id": "id_name",
          "textfield_name": "name"
        } %}
      </div>
      <div class="form-item">
        {% include '@label' with {
          "label": "Category",
          "for": "id_category",
          "label_optional": "Optional"
        } %}
        {% include '@input-text'
          with {
          "textfield_id": "id_category",
          "textfield_name": "category"
        } %}
      </div>
      {% include '@checkbox-with-filter'
        with {
        "label": "Activities",
        "label_optional": "Optional",
        "label_count": "activity(ies)",
        "options": checkboxes
      } %}
      <div class="form-item">
        {% include '@label' with {
          "label": "Type",
          "for": "id_type",
          "label_optional": "Optional"
        } %}
        {% include '@input-text'
          with {
          "textfield_id": "id_type",
          "textfield_name": "type"
        } %}
      </div>
      <button type="submit" class="button button-primary filter__submit">Show result</button>

    </form>
  {% endset %}
  {% include "@modal" with {
    id: 'filter',
    classes: 'sidebar filter-section has-custom-binding',
    content: modalContent
  } %}

  <section class="content result-section" id="result">
    {% include '@heading' with {
      "type": "overview-title",
      "heading_text": "Filtercomponent"
    } %}

    {% include '@readspeaker-button' %}

    <div class="selected-filters">
      <h2>You have selected:</h2>
      <span :key="filter.key" class="tag filter">
        Filter one
        <button><span class="visually-hidden">Remove this filter</span></button>
      </span>
      <span :key="filter.key" class="tag filter">
        Filter two
        <button><span class="visually-hidden">Remove this filter</span></button>
      </span>
      <a href="#">Remove all filters</a>
    </div>

    <div class="filter__result-count">
      <h2>We have found 666 results</h2>
      <button type="button"
              class="button button-secondary icon-filter result__show-filters modal-trigger"
              aria-expanded="false"
              aria-controls="filter">Filters</button>
    </div>

    <ul class="filter__results">
      {% for key, result in results %}
        {% include '@teaser' with {
          "type": 'teaser-search',
          "teaser_uid": result.teaser_uid,
          "paragraph_text": result.paragraph_text,
          "title": result.title,
          "link_text": result.link_text,
          "link": result.link,
          "tag": result.tag
        } %}
      {% endfor %}
    </ul>

    {% include '@pagination' with {
      total: 20,
      active: 17
    }%}

  </section>

</div>
