<div class="sidebar-layout filter">
  {% set modalContent %}
      {% include '@form-item' with {
        label: "Name",
        id: _self.name ~ "-name_id",
        input_component: "input",
        type: "text",
        name: _self.name ~ "-name_name",
        field_description: null,
        stacked: true
      } %}

      {% include '@checkboxes' with {
        input_component: "input",
        type: "checkbox",
        label: "Price",
        id: _self.name ~ "-price",
        modifier: 'stacked',
        options: [
          {
            "label": "Less than €100",
            "name": _self.name ~ "-price",
            "id": _self.name ~ "-price-1"
          },
          {
            "label": "€100 - €249",
            "name": _self.name ~ "-price",
            "id": _self.name ~ "-price-2"
          },
          {
            "label": "€250 - €499",
            "name": _self.name ~ "-price",
            "id": _self.name ~ "-price-3"
          },
          {
            "label": "€500 - €1000",
            "name": _self.name ~ "-price",
            "id": _self.name ~ "-price-4"
          },
          {
            "label": "More than €1000",
            "name": _self.name ~ "-price",
            "id": _self.name ~ "-price-5"
          }
        ]
      } %}

      {% include '@checkboxes' with {
        input_component: "input",
        type: "checkbox",
        label: "Category",
        id: _self.name ~ "-category",
        modifier: 'stacked',
        options: [
          {
            "label": "Games",
            "name": _self.name ~ "-checkboxgroup",
            "id": _self.name ~ "-checkbox-1"
          },
          {
            "label": "Movies",
            "name": _self.name ~ "-checkboxgroup",
            "id": _self.name ~ "-checkbox-2"
          },
          {
            "label": "Series",
            "name": _self.name ~ "-checkboxgroup",
            "id": _self.name ~ "-checkbox-3"
          },
          {
            "label": "Books",
            "name": _self.name ~ "-checkboxgroup",
            "id": _self.name ~ "-checkbox-4"
          }
        ]
      } %}

      {% include '@checkboxes-with-filter' with {
        label: "Activities",
        label_optional: "Optional",
        label_count: "activity(ies)",
        options: checkboxes,
        field_description: null,
        stacked: true
      } %}

      {% include '@select' with {
        id: 'select',
        label: 'Store',
        field_description: null,
        stacked: true,
        input_component: 'input-select',
        options: [
          {
            label: 'Option 1'
          },
          {
            label: 'Option 2'
          },
          {
            optgroup: true,
            label: 'Option group',
            optgroupoptions: [
              {
                label: 'Option 3'
              },
              {
                label: 'Option 4'
              }
            ]
          }
        ]
      } %}
  {% endset %}
  {% include "@modal" with {
    id: 'filter',
    title: 'Filter the results',
    title_heading_level: 'h2',
    classes: 'sidebar filter-section has-custom-binding modal--fixed-height',
    content: modalContent,
    actions: '<button type="submit" class="button button-primary filter__submit">Show result</button>',
    modal_inner_tag: 'form',
    modal_inner_action: '#result'
  } %}

  <section class="content result-section" id="result">
    {% include '@heading' with {
      "type": "overview-title",
      "heading_text": "Filtercomponent"
    } %}

    {% include '@text-to-speech-button' %}

    <div class="selected-filters">
      <h2>You have selected:</h2>
      {% include '@tag-list' with {
        tags: [
          { text: 'Filter one', type: 'filter-tag' },
          { text: 'Filter two', type: 'filter-tag' },
          { text: 'Filter three', type: 'filter-tag' }
        ],
        link: { text: 'Remove all filters', link: '#' }
      } %}
    </div>

    <div class="filter__result-count">
      <h2>We have found 666 results</h2>
      <button type="button"
              class="button button-secondary icon-filter result__show-filters modal-trigger"
              aria-expanded="false"
              aria-controls="filter">Filters</button>
    </div>

    <ul class="filter__results">
      {% for key, result in results %}
        {% include '@teaser--teaser--wide' with {
          "image_ratio": result.image_ratio,
          "image_src": result.image_src,
          "image_alt_text": result.image_alt_text,
          "type": result.type,
          "teaser_uid": result.teaser_uid,
          "paragraph_text": result.paragraph_text,
          "title": result.title,
          "link_text": result.link_text,
          "link": result.link,
          "tags": result.tags,
          "address_location": null,
          "address": null,
          "list": null
        } %}
      {% endfor %}
    </ul>

    {% include '@pagination' with {
      total: 20,
      active: 17
    }%}

  </section>

</div>
