fieldset  {
  @include theme('border-color', 'color-primary--lighten-4', 'fieldset-border-color');

  padding-top: .8rem;
  border-top: 1px solid;

  legend {
    padding: 0 .2rem 0 0;
    font-weight: 600;
    line-height: 2;
  }

  fieldset legend {
    margin-left: 1.8rem;
    padding: 0 .2rem;
  }
}
