.fieldset-wrapper fieldset,
fieldset  {
  @include theme('border-color', 'color-zero--lighten-1', 'fieldset-border-color');

  max-width: 41rem;
  margin-bottom: 1.2rem;
  padding: .8rem .8rem .4rem;
  border: 1px solid;

  @include tablet {
    padding: .8rem 1.2rem .4rem;
  }

  .form-item {
    margin-bottom: .8rem;
  }

  legend {
    @include semi-bold-text;
    @include medium-text;
    @include theme('color', 'color-none', 'fieldset-legend-color');
    @include theme('background-color', 'color-primary', 'fieldset-legend-background-color');

    margin-bottom: .2rem;
    padding: .1rem .4rem;

    + .field-message,
    + .form-item > .field-message:first-child {
      margin-top: -1rem;
      margin-bottom: 1rem;
    }
  }

  fieldset {
    legend {
      margin-left: 1.8rem;
      padding: 0 .4rem;
    }
  }
}
