.highlight {
  position: relative;
  z-index: 0;

  .highlight__inner {
    @include theme('background-color', 'color-tertiary-light', 'highlight-background');
    @include theme-content('color-tertiary-pastel', 'highlight-shadow-color') {
      @include abstract-shadow('bottom', 'right', $theme-color, null, 9.5rem, 9.5rem);

      @include phablet {
        @include abstract-shadow('bottom', 'right', $theme-color, null, 11rem, 11rem);
      }
    }

    padding: 1.5rem;

    @include tablet {
      padding: 3rem;
    }

    > i {
      @include theme('color', 'color-tertiary', 'highlight-icon-color');

      &::before {
        position: relative;
        top: .5rem;
        margin: 0 .4rem 0 0;
        font-size: 2rem;
      }
    }

    h3 {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
