@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;
@use '../../11-base/grid/flexbox-grid/mixins/grid-mixins' as *;

.image-wall {
  width: 100%;

  @include phablet {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  > li {
    margin-bottom: $gutter-width;

    @include phablet {
      @include col(6);
    }

    @include tablet {
      @include col(4);
    }

    @include desktop {
      @include col(3);
    }

    &.hidden {
      margin: 0;
    }
  }
}
