<div class="document-box accordion">
  {% render '@heading' with {
    'type': 'h2',
    'heading_text': 'Documents'
  } %}
  <ul class="links">
    {% for document in documents %}
      <li>
        {% block link %}
          {% render '@file-download' with {
            link: 'javascript:(void);',
            text: document.text,
            file: {
              type: document.type,
              size: document.size
            }
          } %}
        {% endblock %}
      </li>
    {% endfor %}
  </ul>

  <h3>
    <button class="accordion--button"
            aria-expanded="false"
            aria-controls="documents--content--documentbox-{{ unique_id }}">
      {{ 'There are %s other documents available'|format(other_documents|length) }}
    </button>
  </h3>

  <div class="accordion--content"
    id="documents--content--documentbox-{{ unique_id }}">
    <ul class="links">
      {% for document in other_documents %}
        <li>
          {% render '@file-download' with {
            link: 'javascript:(void);',
            text: document.text,
            file: {
              type: document.type,
              size: document.size
            }
          } %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
