@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;
@use '../../11-base/grid/flexbox-grid/mixins/grid-mixins' as *;

.sidebar-right-layout {
  @extend %content-container;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  gap: $grid-gutter-width;

  .sidebar {
    width: 100%;

    @include desktop {
      @include col(4);
    }
  }

  .content {
    width: 100%;

    @include desktop {
      @include col(8);
    }
  }
}
