.sidebar-right-layout {
  @extend %content-container;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  gap: $grid-gutter-width;

  .sidebar {
    width: 100%;

    @include desktop {
      @include col(4);
    }
  }

  .content {
    width: 100%;

    @include desktop {
      @include col(8);
    }
  }
}
