{% set weekTab %}
  <div
      class="calendar"
      data-service="{{ serviceId }}"
      data-channel="{{ channelId }}"
      data-type="week-from-now"
  ></div>
{% endset %}

{% set monthTab %}
  <div
      class="calendar"
      data-service="{{ serviceId }}"
      data-channel="{{ channelId }}"
      data-type="month"
  ></div>
{% endset %}

<div class="calendar-wrapper">
  {% include '@tabs' with {
    tabs: [
      {
        label: 'This week',
        target: 'week',
        content: weekTab
      },
      {
        label: 'This month',
        target: 'month',
        content: monthTab
      }
    ]
  } %}
</div>
