<h4 class="styleguide-title">Image styles</h4>
<div class="preview-inner-inner-container">
  <h3 class="styleguide">Default image</h3>
  {% include '@image' with { 'src': 'https://via.placeholder.com/800x532' } %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Image without styling</h3>
  {% include '@image' with { 'src': 'https://via.placeholder.com/800x532', 'modifier': 'no-style' } %}
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Image as a circle (only usable with square images)</h3>
  {% include '@image' with { 'src': 'https://via.placeholder.com/400x400', 'modifier': 'circle' } %}
</div>
