<h2 class="styleguide-title">Collections</h2>
<div class="preview-inner-container">
  {% include '@teaser-topic-collection' with {
      "teaser_paragraph_text": "Teaser text, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, suscipit.",
      "teaser_h3_title": "Title text ",
      "teaser_uid": "uid",
      "teaser_link_text": "read more",
      "teaser_link_link" : "javascript:void(0);"
  } %}
</div>
