<h2 class="styleguide-title">Collections</h2>
<div class="preview-inner-container">
  <h2 class="styleguide">Teaser collection</h2>
  {% include '@teaser-collection' %}
</div>

<div class="preview-inner-container">
  <h2 class="styleguide">Topic collection</h2>
  {% include '@teaser-collection--topics' %}
</div>
