{#
{% include '@header' with {
  "mijn_gent_block_items": [
    "<a href='javascript:(void);'>Mijn profiel</a>",
    "<a href='javascript:(void);'>Nieuwsbrieven</a>",
    "<a href='javascript:(void);'>Historiek</a>"
  ],
  "header_search_mobile_id": "header-search-mobile",
  "header_search_mobile_name": "header-search-mobile",
  "header_search_mobile_placeholder": "What are you looking for?",
  "header_search_mobile_modifier_search": "inline",
  "header_search_mobile_text": "Search",
  "header_search_mobile_modifier_submit": "btn--inline",
  "header_search_id": "header-search",
  "header_search_name": "header-search",
  "header_search_placeholder": "What are you looking for?",
  "header_search_modifier_search": "inline",
  "header_search_text": "Search",
  "header_search_modifier_submit": "btn--inline",
  "main_menu_modifier": "no-style",
  "main_menu_items": [
    "<a href='javascript:void(0);'>Menu item 1</a>",
    "<a href='javascript:void(0);' class='active'>Menu item 2</a>",
    "<a href='javascript:void(0);'>Menu item 3</a>",
    "<a href='javascript:void(0);'>Menu item 4</a>"
  ],
  "breadcrumbs_section": "section--default",
  "breadcrumbs_items": [
    "<a href='#'>Stad.gent</a>",
    "<a href='#'>Overview</a>",
    "<span>Overview</span>",
    "<span>Overview</span>",
    "<span>Page title</span>"
  ]
} %}
#}

<main class="detail-layout">
  <div class="content">

    {% include '@h1' with { 'h1_text': 'No access to this page' } %}

		{% include 'paragraph' with { 'text': 'Fusce malesuada enim a sagittis ornare. Proin placerat lacinia quam ut pulvinar. Morbi nec leo ante. Donec rhoncus enim velit, eu imperdiet mauris pulvinar eget. Suspendisse vitae gravida ex. Mauris convallis aliquam mi vitae commodo. Aenean at velit ornare, feugiat ligula eget, ultricies erat.' } %}

  </div>
</main>

{% include '@footer' %}
