.checkbox-filter {

  .tag {
    margin: 0 .5rem .5rem 0;
  }

  .checkbox-filter__count-wrapper {
    &.hidden {
      @extend %visually-hidden
    }
  }

  .checkbox-filter__result-placeholder,
  .checkbox-filter__result-wrapper {
    &.hidden {
      display: none;
    }
  }

  .checkbox-filter__modal {
    .checkbox-filter__filter {
      margin-bottom: 1rem;
    }

    .checkbox-filter__checkboxes {
      flex: 1;
      columns: auto 320px;

      > * {
        display: inline-block;
        width: 100%;
        padding-right: 1rem;
      }

      > [hidden] {
        display: none;
      }
    }
  }
}
