.checkbox-filter {

  .tag {
    margin: 0 .5rem .5rem 0;
  }

  .checkbox-filter__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: .5rem 1rem 1rem;
    background-color: color('white');
    box-shadow: $box-shadow-primary color('dark-gray', -4);
    z-index: 999;
    overflow-y: scroll;

    @include tablet {
      top: 10vh;
      left: 10vw;
      width: 80vw;
      height: 80vh;
      padding: .5rem 2rem 2rem;
    }

    &.visible {
      display: block;

      + .overlay {
        display: block;
      }

      .modal-actions {
        display: block;
      }
    }

    header {
      margin-top: 2rem;

      @include tablet {
        margin-top: 0;
      }
    }

    .checkbox-filter__filter {
      margin-bottom: 1rem;
    }

    .checkbox-filter__checkboxes {
      padding-bottom: 4rem;
      columns: auto 320px;

      > * {
        display: inline-block;
        width: 100%;
        padding-right: 1rem;
      }

      > [hidden] {
        display: none;
      }
    }

    .checkbox-filter__actions {
      @include theme('border-color', 'color-primary--lighten-4', 'checkbox-with-filter-action-border-bottom');

      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      align-items: center;
      width: 100vw;
      height: 3rem;
      padding-left: 1rem;
      border-top: 2px solid;
      background-color: color('white');

      @include tablet {
        bottom: 10vh;
        left: 10vw;
        width: 80vw;
        height: 3rem;
        padding-left: 2rem;
      }
    }
  }

  .overlay {
    @include theme('background-color', 'color-primary--darken-3', 'checkbox-with-filter-overlay-background-color');

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    z-index: 998;
  }
}
