.tag {
  @include theme('background', 'color-primary--lighten-4', 'tag-background');
  @include theme('color', 'color-tertiary', 'tag-color');

  display: inline-block;
  min-height: 1.5rem;
  padding: .2rem .5rem;
  border-radius: border-radius('radius-1');
  font-size: .7rem;
}
