<div class="display-switcher">
  <span>{{ 'View the results' }}</span>
  {% include '@list' with {
    'type': 'icon-list',
    'icon_items': [
      '<i class="icon-document" aria-hidden="true"></i><strong>As list</strong>',
      '<i class="icon-marker" aria-hidden="true"></i><span><a href="javascript:(void);" alt="On map">On map</a></span>',
    ],
    'modifier': 'inline'
  } %}
</div>
