.contact-box {
  @include theme('border-color', 'color-primary--lighten-4', 'more-info-block-border-color');

  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-top: 2px solid;

  @include tablet {
    padding-top: 2rem;
  }

  h2 {
    min-width: 100%;
  }

  p {
    margin: 0;
  }

  address.contact-fiche {
    margin-top: .8rem;

    ul.links a {
      font-weight: normal;
    }

    .contact-email {
      margin-top: 0;
    }
  }

  &-column {
    width: 100%;

    @include tablet {
      width: span(6 of 12);
    }

    @include desktop {
      &:first-of-type {
        width: span(4 of 12);
      }

      &:last-of-type {
        width: span(8 of 12);
      }
    }

    .map {
      margin-bottom: gutter();
    }
  }

  .main-contacts {
    @extend %list-no-style;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: gutter();

    li {
      width: 100%;

      @include desktop {
        width: 50%;
        min-width: 20rem;
      }

      &:first-of-type .contact-fiche {
        margin-top: 0;
      }

    }
  }

  .opening-hours {
    @include icon(clock);

    display: inline-block;
    padding: 0 .5rem;
    font-weight: 700;
    line-height: 1.8;

    &::before {
      font-size: 1.5em;
      vertical-align: -13%;
    }

    time {
      font-weight: normal;
    }

    &.open {
      background-color: color('green', -4);
    }

    &.closed {
      background-color: color('red', -4);
    }
  }

  h3 {
    @extend %h4;
  }

  button {
    margin-top: 2.3rem;
  }
}
