.contact-box {
  @include theme('border-color', 'color-primary--lighten-4', 'more-info-block-border-color');

  position: relative;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-top: 2px solid;

  @include tablet {
    padding-top: 2rem;
  }

  &--header {
    display: flex;
    flex-wrap: wrap;
  }

  &-column {
    width: span(6 of 12);
  }

  h3 {
    @extend %h4;
  }

  button {
    margin-top: 2.3rem;
  }
}
