.contact-box {
  @include theme('border-color', 'color-primary--lighten-4', 'more-info-block-border-color');

  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-top: 2px solid;

  @include tablet {
    padding-top: 2rem;
  }

  h2 {
    min-width: 100%;
  }

  p {
    margin: 0;
  }

  &-column {
    width: 100%;

    @include tablet {
      width: span(6 of 12);
      padding: gutter() / 2;

      &:first-of-type {
        width: calc(#{span(6 of 12)} + #{gutter() / 2});
        margin-left: -#{gutter() / 2};
      }
    }

    @include desktop {
      &:first-of-type {
        width: span(4 of 12);
      }

      &:last-of-type {
        width: span(8 of 12);
      }
    }

    .map {
      margin-bottom: gutter();
    }
  }

  .main-contacts {
    @extend %list-no-style;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: gutter();

    li {
      width: 100%;

      &:first-of-type .contact-fiche {
        margin-top: 0;
      }

    }
  }

  h3 {
    @extend %h4;
  }

  button {
    margin-top: 2.3rem;
  }

  .teaser-contact:last-of-type {
    border-bottom: 0;
  }
}
