<div class="contact-box">
  {% include '@heading' with {
    'type': 'h2',
    'heading_text': 'Additional information'
  } %}

  <div class="contact-box-column">
      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'Contacts'
      } %}

      <ul class="main-contacts">
        {% set itemCount = contact_categories|length + contacts|length %}

        {% if itemCount > 3 %}
          {# Categories #}
          {% for contact_category in contact_categories %}
            <li>
              {% include '@link' with {
                link: contact_category.link,
                text: contact_category.name,
                modifier: 'standalone-link'
              } %}
            </li>
          {% endfor %}

          {# Contacts #}
          {% for contact in contacts %}
            <li>
              {% include '@link' with {
                link: contact.link,
                text: contact.link_text,
                modifier: 'standalone-link'
              } %}
            </li>
          {% endfor %}

        {% else %}
          {# Categories #}
          {% for contact_category in contact_categories %}
            {% include '@teaser' with {
              type: 'teaser-contact',
              teaser_uid: contact_category.name,
              title: contact_category.name,
              title_link: contact_category.link
            } %}
          {% endfor %}

          {# Contacts #}
          {% for contact in contacts %}
            {% include '@teaser' with {
              type: 'teaser-contact',
              teaser_uid: contact.email,
              title: contact.link_text,
              title_link: contact.link,
              paragraph_text: contact.address,
              telephone: contact.phone,
              teaser_email: contact.email
            } %}
          {% endfor %}
        {% endif %}
      </ul>
  </div>
  <div class="contact-box-column">
    {% if map %}
      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'Location'
      } %}

      {% include '@map' %}
    {% endif %}

    {% if authorized_persons|length > 0 %}
      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'Authorized persons'
      } %}

      <ul class="links">
        {% for person in authorized_persons %}
          <li>
            {% include '@link' with {
              'link': person.link,
              'text': person.link_text,
              'modifier': 'standalone-link'
            } %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
