////
///
/// This file defines the bulk of all button styling.
///
/// @group buttons
/// @author Gert-Jan Meire
///
////

///
/// Button - small variant.
///
/// @since 3.0.0
/// @group buttons
/// @access public
/// @author Gert-Jan Meire
///
@mixin button-small {
  @include medium-text();
  padding: 4px 10px;
  line-height: 175%;
}

///
/// Button - medium variant.
///
/// @since 3.0.0
/// @group buttons
/// @access public
/// @author Gert-Jan Meire
///
@mixin button-medium {
  @include medium-text();
  line-height: 175%;
}

///
/// Button - large variant.
///
/// @since 3.0.0
/// @group buttons
/// @access public
/// @author Gert-Jan Meire
///
@mixin button-large {
  @include large-text();
  padding: 10px 20px;
  line-height: 177.778%;

  &::before {
    font-size: 1.5rem;
  }
}


///
/// Button - extra large variant.
///
/// @since 5.0.20
/// @group buttons
/// @access public
/// @author Thomas De Vriese
///
@mixin button-extra-large {
  @include large-text();

  padding: 25px 26px;
  line-height: 177.778%;

  &::before {
    font-size: 1.5rem;
  }
}

///
/// Button - disabled variant.
///
/// @since 3.0.0
/// @group buttons
/// @access public
/// @author Gert-Jan Meire
/// @require color
///
@mixin button-disabled {
  [class*='cs--'] & {
    border: 0;
    background-color: color('gray', -5);
    background-image: none;
    color: color('gray', -2);

    &:hover {
      background-color: color('gray', -5);
      color: color('gray', -2);
      cursor: not-allowed;
    }
  }
}

///
/// General button styling.
///
/// @since 3.0.0
/// @group buttons
/// @access public
/// @author Gert-Jan Meire
///
@mixin button {
  @include button-medium; // Default.
  @include semi-bold-text;

  padding: 8px 15px;
  font-family: $default-font-family;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &:not(.button-secondary):not(.button-alert):not(.button-success):not(.button-secondary-alert) {
    @extend %button-primary;
  }

  &:disabled {
    @include button-disabled;
  }

  &.button-small {
    @include button-small;
  }

  &.button-medium {
    @include button-medium;
  }

  &.button-large {
    @include button-large;
  }

  &.button-extra-large {
    @include button-extra-large;
  }

  &.button-block {
    @include button-block;
  }

  &[class*="icon-"] {
    @include button-icon;

    &.icon-left {
      @include button-icon-left;
    }
  }
}

///
/// Defines hover behavior for a button.
///
/// @since 6.0.0
/// @group buttons
/// @access public
/// @author Lennart Van Vaerenbergh
///
@mixin button-hover {
  transition: .3s;
  background-repeat: no-repeat;
  background-size: 0 100%;

  &:hover {
    background-size: 100% 100%;
  }
}

///
/// Makes a button display block instead of inline.
///
/// @since 3.0.0
/// @group buttons
/// @access public
/// @author Gert-Jan Meire
///
@mixin button-block {
  display: inline-block;
  width: 100%;
}

///
/// Define a button with an icon.
///
/// @since 3.0.0
/// @group buttons
/// @access public
/// @author Gert-Jan Meire
///
@mixin button-icon {
  text-align: left;

  // Padding fix specificly for IE11.
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { // sass-lint:disable-line no-vendor-prefixes
    padding: .3em .8em 0 1.2em;
  }

  &::before {
    order: 1;
    margin-left: 8px;
    float: right; // Fix for IE11 flex order property.
    font-size: 1.2rem;
  }
}

///
/// Define a button with an icon on the left side.
///

@mixin button-icon-left {
  &::before {
    order: unset;
    margin-right: 8px;
    margin-left: 0;
    // Fix for IE11 flex order property.
    float: left;
  }
}

button,
.button:not(input) {
  @include button;
  @include button-hover;
}

%input-button,
input[type="button"] {
  @include button;

  transition: .3s;

  &::before {
    display: none;
  }

  &[class*=icon-] {
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-size: auto 24px;

    &.button-small {
      background-size: auto 19px;
    }

    &.button-large {
      background-size: auto 26px;
    }

    &.button-extra-large {
      background-size: auto 28px;
    }

    &:not(.icon-left) {
      padding-right: 47px;

      &.button-small {
        padding-right: 42px;
      }

      &.button-large {
        padding-right: 52px;
      }

      &.button-extra-large {
        padding-right: 57px;
      }

      &:not([value]) {
        padding-right: 29px;
        background-position: center center;
        line-height: 28px;
        text-indent: -999999px;

        &.button-small {
          padding-right: 26px;
        }

        &.button-large {
          padding-right: 28px;
          line-height: 25px;
        }

        &.button-extra-large {
          padding-right: 33px;
          line-height: 25px;
        }
      }
    }
  }

  &.icon-left {
    padding-left: 47px;
    background-position: center left 15px;

    &.button-small {
      padding-left: 42px;
    }

    &.button-large {
      padding-left: 52px;
    }

    &.button-extra-large {
      padding-left: 57px;
    }

    &:not([value]) {
      padding-left: 29px;
      background-position: center center;
      text-indent: -999999px;

      &.button-small {
        padding-left: 26px;
      }

      &.button-large {
        padding-left: 28px;
      }

      &.button-extra-large {
        padding-left: 33px;
      }
    }
  }
}
