ul,
ol {
  position: relative;
  margin-left: 1rem;

  &.links {
    @extend %list-no-style;
  }

  a {
    font-size: 1rem;
    font-weight: normal;
  }
}

%list-no-style {
  padding-left: 0;
  list-style: none;
}
