<nav class="hamburger-menu visible-mobile header-component">
  <button class="hamburger-menu__toggle">{{ 'Menu' }}</button>
  <div class="hamburger-menu__overlay"></div>
  <div class="hamburger-menu__drawer" tabindex="-1">
    <a href="javascript:void(0);" class="close">{{ 'Sluit menu'}} <i class="icon-cross"></i></a>
    {% include '@list' with {'modifier': 'no-style'} %}
  </div>
</nav>