figure {
  img {
    display: block;
    width: 100%;
  }

  // Hero image, overlaps and hides breadcrumb accolade.
  &.hero {
    $span: percentage(2/12);

    @include tablet {
      position: relative;
      min-height: 1.6rem;
      margin: (-1.3rem) (-$gutter-width) .3rem;
    }

    h1 {
      @include theme('color', 'color-tertiary', 'default-text-color');
      font-size: .9rem;

      @include tablet {
        @include theme('color', 'color-secondary', 'hero-text-color');
        display: inline-flex;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: span(4 wide of 12);
        max-width: 23rem;
        height: calc(100% - 1.6rem);
        margin: 0;
        padding: $gutter-width;
        font-size: 3rem;
        z-index: 0;
      }

      @media (min-width: $bp-max-content) {
        right: calc((100% - #{$bp-max-content}) / 2);
      }

      &::before,
      &::after {
        @include theme('background-color', 'color-primary', 'hero-background-color');
        @include tablet {
          position: absolute;
          width: 100%;
          content: '';
          opacity: .94;
          z-index: -1;
        }
      }

      &::before {
        @include tablet {
          top: 0;
          height: 50%;
          border-bottom-left-radius: border-radius('radius-5');
        }
      }

      &::after {
        @include tablet {
          bottom: 0;
          height: 50%;
          border-top-left-radius: border-radius('radius-5');
        }
      }

      span {
        font-size: inherit;

        @include tablet {
          font-size: 1.5rem;
        }
      }

      ~ figcaption {
        width: 100%;
        background-color: color('white');
      }
    }

    img {
      display: none;

      @include tablet {
        display: block;
      }
    }

    figcaption {
      @extend %content-container;
      display: none;

      @include tablet {
        display: block;
        position: absolute;
        top: calc(100% - 1.6rem);
        right: 0;
        width: calc(100% - 3rem + 2px - #{$gutter-width});
        margin: 0;
        padding: .4rem $gutter-width 0;
        z-index: 1;

        @include desktop {
          width: calc(100% - #{$span} - 2rem);
        }

        @media (min-width: $bp-max-content) {
          right: calc((100% - #{$bp-max-content}) / 2);
          width: calc(100% - #{$span} - 2rem -  (100% - #{$bp-max-content}));
        }
      }
    }

    &::before,
    &::after {
      @include tablet {
        position: absolute;
        bottom: -.1rem;
        height: 1.7rem;
        background-color: color('white');
        content: '';
      }
    }

    &::before {
      @include tablet {
        left: 0;
        width: 3rem + $gutter-width;
        border-top-right-radius: border-radius('radius-5');
      }

      @include desktop {
        width: calc(#{$span} + 2rem);
      }

      @media (min-width: $bp-max-content) {
        width: calc(#{$span} + 2rem + ((100% - #{$bp-max-content}) / 2));
      }
    }

    &::after {
      @include tablet {
        right: 0;
        width: calc(100% - 3rem + 2px - #{$gutter-width});
        border-top-left-radius: border-radius('radius-5');
      }

      @include desktop {
        width: calc(100% - #{$span} - 2rem);
      }

      @media (min-width: $bp-max-content) {
        width: calc(100% - #{$span} - 2rem - ((100% - #{$bp-max-content}) / 2));
      }
    }
  }
}

