figure {

  img {
    display: block;
    width: 100%;
  }

  &.page-wide-image {
    img {
      max-height: 26.25rem;
      overflow: hidden;
    }

    figcaption {
      @extend %content-container;
      margin: .4rem 0;
    }
  }
}

