.page-wide-image-wrapper {
  position: relative;

  .description {
    @include tablet {
      display: block;
      margin-top: .25rem;
      margin-right: .5rem;
      float: right;
    }

    display: none;
  }

  h1,
  h2 {
    @include themify {
      color: $heading-2-color;
    }

    @include tablet {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      margin-bottom: 0;
      padding: 0;
      color: color('white');
    }

    padding: 1rem .5rem 0;
    text-shadow: 1px 1px 1px color('dark-gray');
  }

  h2 {
    @extend %h1;
  }
}

.page-wide-image {
  img {
    @include tablet {
      display: block;
      width: 100%;
      max-height: 26.25rem;
      overflow: hidden;
    }

    display: none;
  }
}

