<main class="content-container">
  {% include '@h1' with {
    "h1_text": "Form page"
  } %}

  <form action="#" method="#">
    {% include '@h2' with {
      "h2_text": "Some title"
    } %}
    {% include '@paragraph' with {
      "text": "De verkiezingsshow 'Stem wijs' vindt plaats op woensdag 6 juni 2018 in Muziekcentrum De Bijloke (Bijlokekaai 7, 9000 Gent). Niet alleen de jury, maar ook het publiek kan die avond stemmen voor de beste spreker, die Gent zal vertegenwoordigen in Edinburgh."
    } %}

    {% include '@h3' with {
      "h3_text": "Subscribe for the election show"
    } %}

    <fieldset>
      <legend>Contact details</legend>
      {% include '@textfield' with {
        "label": "Name",
        "for": "name_id",

        "textfield_id": "name_id",
        "textfield_name": "name_name"
      }%}
      {% include '@textfield' with {
        "label": "Name",
        "for": "name_id",

        "textfield_id": "name_id",
        "textfield_name": "name_name"
      }%}
      {% include '@email'
      with {
        "label": "E-mail address",
        "for": "email_id",

        "email_id": "email_id",
        "email_name": "email_name"
      }
      %}
      {% include '@telephone-field'
      with {
        "label": "Phone number",
        "for": "tel_id",

        "tel_id": "tel_id",
        "tel_name": "tel_name"
      }
      %}
    </fieldset>

    <fieldset>
      <legend>Contact details</legend>
      {% include '@radio'
      with {
        "label": "Date",
        "options": [
          {
            "label_radio": "Wednesday 6 june 2018",
            "radio_name": "radiogroup",
            "radio_id": "radio-1"
          },
          {
            "label_radio": "Thursday 7 june 2018",
            "radio_name": "radiogroup",
            "radio_id": "radio-2"
          },
          {
            "label_radio": "Friday 8 june 2018",
            "radio_name": "radiogroup",
            "radio_id": "radio-3"
          }
        ]
      }
      %}
    </fieldset>

    <fieldset>
      <legend>Contact details</legend>
      {% include '@textfield' with {
        "label": "Label textfield",
        "for": "textfield_id",
        "label_optional": "Optional",

        "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium.",
        "field_error": "",
        "description": "Description textfield.",

        "textfield_id": "textfield_id",
        "textfield_name": "textfield_name"
      }%}
      {% include '@textfield' with {
        "label": "Label textfield",
        "for": "textfield_id",

        "textfield_id": "textfield_id",
        "textfield_name": "textfield_name"
      }%}

      <fieldset>
        <legend>Nested fieldset</legend>
        {% include '@textfield' with {
          "label": "Label textfield",
          "for": "textfield_id",

          "textfield_id": "textfield_id",
          "textfield_name": "textfield_name"
        }%}
        {% include '@textfield' with {
          "label": "Label textfield",
          "for": "textfield_id",

          "textfield_id": "textfield_id",
          "textfield_name": "textfield_name"
        }%}
      </fieldset>
    </fieldset>

    {% include '@checkbox'
    with {
      "label": "",
      "options": [
        {
          "label_checkbox": "Subscribe to the newsletter",
          "checkbox_name": "checkboxgroup",
          "checkbox_id": "checkbox-1"
        },
      ]
    }
    %}

    {% include '@form-actions' %}

  </form>
</main>


{% include '@footer' %}
