// General footer styling.
footer.footer {
  .footer-top {
    @include theme('border-color', 'color-primary--lighten-4', 'footer-border-color');

    display: grid;

    margin-bottom: 1rem;
    padding: 2rem 0;
    grid-template-columns: 7fr 2fr 3fr;
    border-top: 2px solid;
    border-bottom: 2px solid;
    grid-column-gap: 6rem;
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: 6fr 6fr;

    > .footer--column:nth-of-type(2n) {
      text-align: right;
    }
  }

  .dg-block-post-address,
  .dg-block-disclaimer {
    margin-top: 2.5rem;
  }
}
