// General footer styling.
footer.footer {
  padding: 1.5rem 0;

  h3 {
    margin-top: 0;
  }

  p {
    color: $color-gray;
  }

  .db-block-partnership {
    @include tablet {
      margin-top: 6rem;
    }
  }

  .footer--column .island {
    border: 0;
  }
}

// Footer 2 column layout.
footer[data-columns="2"] {
  .footer--column {
    @include make-mobile-column(12);
    @include make-tablet-column(6);
    @include make-desktop-column(6);
  }
}

// Footer 3 column layout.
footer[data-columns="3"] {
  .footer--column {
    @include make-mobile-column(12);
    @include make-tablet-column(6);
    @include make-desktop-column(4);
  }
}

// Footer 4 column layout.
footer[data-columns="4"] {
  .footer--column {
    @include make-mobile-column(12);
    @include make-tablet-column(6);
    @include make-desktop-column(3);
  }

  .db-block-partnership {
    @include desktop {
      margin-top: 12.5rem;
    }
  }
}
