.footer {
  margin: 60px -20px 0;

  @include desktop() {
    margin-top: 280px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .content-container {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(#{$bp-max-content} + 54px);

    @media (min-width: $bp-max-content + 54px) {
      max-width: $bp-max-content;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .footer-top {
    margin-bottom: 24px;
    background-color: transparent;

    @include desktop {
      @include theme('background-color', 'color-tertiary-light', 'footer-background-color');
    }

    .content-container {
      padding-top: 0;

      @include desktop {
        padding-bottom: 70px;
      }
    }

    .footer--column {
      @include theme('background-color', 'color-tertiary-light', 'footer-background-color');
      flex: 0 0 auto;
      width: span(12 of 12);
      padding: 20px 20px 60px;

      // Gentinfo column.
      &:first-of-type {
        padding-bottom: 20px;
        background-color: transparent;
      }

      &:nth-of-type(2) {
        margin-top: -74px;
        padding-top: 90px;
        padding-bottom: 20px;
      }

      @include tablet {
        width: 50%;
        margin-top: -74px;
        padding-top: 90px;

        // Gentinfo column.
        &:first-of-type {
          width: span(12 of 12);
          margin-top: 0;
          padding-top: 0;
          background-color: transparent;
        }
      }

      @include breakpoint(1223px) {
        // Gentinfo column.
        &:first-of-type {
          padding-right: 20px;
        }
      }

      @include desktop {
        width: span(3 of 12);
        margin-top: 58px;
        margin-bottom: 0;
        padding-bottom: 20px;

        &:nth-of-type(2),
        &:nth-of-type(3) {
          margin-top: 0;
          margin-right: $gutter-width;
        }

        // Gentinfo column.
        &:first-of-type {
          order: 1;
          width: span(6 of 12);
          margin-top: 0;
        }
      }

      @include breakpoint(1224px) {
        // Gentinfo column.
        &:first-of-type {
          padding-right: 0;
          padding-left: 0;
        }
      }

      a {
        @include medium-text;
      }
    }

    ul {
      margin: 0;
      list-style: none;
    }

    .social-list ul {
      margin: 0 -5px;
    }
  }

  .footer-bottom {
    @include small-text;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 20px;

    ul {
      @include small-text();
      margin: 0;
      list-style: none;
    }

    li {
      margin-bottom: 4px;

      @include tablet {
        display: inline-block;
        padding: 0 8px;

        &:first-of-type {
          padding-left: 0;
        }
      }
    }

    .partnership {
      @include small-text();
      line-height: 150%;

      i.icon-district09 {
        margin-left: 10px;
        font-size: 1.4rem;
        vertical-align: middle;
      }
    }

    .footer--column {
      order: 2;
      width: 100%;
      margin-bottom: 1.2rem;

      &.partnership {
        order: 1;
      }

      @include desktop {
        width: auto;

        &.partnership {
          margin-right: $gutter-width;
        }
      }
    }
  }

  ///
  /// Links in the footer should never have icons.
  ///
  [class*="cs--"] & a {
    &[href^="https://"]:not(.no-icon):not(.tag) {
      margin-right: inherit;

      &::after {
        content: none;
      }
    }
  }
}
