<footer class="footer section--wrapper" role="contentinfo" data-columns="3">
  <h2 class="visually-hidden">Footer</h2>
  <div class="content-container">
    <div class="footer--column">
      {% include '@post-address-block' %}
      {% include '@disclaimer-block' %}
    </div>
    <div class="footer--column">
      {% include '@social-media-block' %}
    </div>
    <div class="footer--column">
      {% include '@partnership-block' %}
    </div>
  </div>
</footer>
