<footer class="footer section--wrapper" role="contentinfo" data-columns="2">
  <div class="content-container">
    <div class="row">
      <div class="footer--column">
        {% include '@post-address-block' %}
        {% include '@disclaimer-block' %}
      </div>
      <div class="footer--column">
        {% include '@partnership-block' %}
      </div>
    </div>
  </div>
</footer>
