<section class="footer">
  <h2 class="visually-hidden">{{ 'Footer' }}</h2>
  <div class="footer-top">
    <div class="content-container">
      <div class="footer--column">
        {% render '@gentinfo-island' %}
      </div>
      <div class="footer--column">
        {% render '@disclaimer-block' %}
      </div>
      <div class="footer--column">
        {% render '@post-address-block' %}
      </div>
    </div>
  </div>
  <div class="footer-bottom content-container">
    <div class="footer--column">
      {% render '@partnership-block' %}
    </div>
    <div class="footer--column">
      {% render '@social-media-block' %}
    </div>
  </div>
</section>
