<section class="footer">
  <h2 class="visually-hidden">{{ 'Footer' }}</h2>
  <div class="footer-top">
    <div class="content-container">
      {# Gentinfo #}
      <div class="footer--column">
        <div class="gentinfo-block">
          <div class="gentinfo-block-content">
            <h3 class="visually-hidden">Gentinfo</h3>
            {% include '@image' with {
              src: '/styleguide/img/svg/gentinfo-logo.svg' | path,
              modifier: 'gentinfo-logo',
              alt_text: 'Gentinfo',
              ratio: null
            } %}

            {% include '@paragraph' with {
              'text': gentinfo.description
            } %}
            {% include '@list' with {
              'type': 'icon-list',
              'icon_items': [
                '<i class="icon-phone" aria-hidden="true"></i><a href="tel:' ~ gentinfo.phone.machine ~ '">' ~ gentinfo.phone.label ~ '</a>',
                '<i class="icon-envelope" aria-hidden="true"></i><a href="mailto:' ~ gentinfo.email ~ '">' ~ gentinfo.email ~ '</a>',
                '<i class="icon-document" aria-hidden="true"></i><a href="https://stad.gent/contact">' ~ gentinfo.form ~ '</a>'
              ]
            } %}
          </div>

          {% include '@button' with { 'text': gentinfo.chat, 'type': 'primary', 'modifier': 'gentinfo-chat-button button icon-chat-round' } %}
        </div>
      </div>

      {# Useful links #}
      <div class="footer--column">
        {% include '@heading' with {
          'type': 'h3',
          'heading_text': disclaimer.title
        } %}

        {% include "@list" with
          {
            "type": 'unordered',
            "items": [
            '<a href="https://jobs.gent.be/">' ~ disclaimer.links[0] ~ '</a>',
            '<a href="https://stad.gent/over-gent-en-het-stadsbestuur/over-gent/kaarten-cijfers-en-data/gent-kaart/stadsplan">' ~ disclaimer.links[1] ~ '</a>',
            '<a href="https://persruimte.stad.gent/nl">' ~ disclaimer.links[2] ~ '</a>'
          ]
          } %}
      </div>

      {# Social #}
      <div class="footer--column">
        {% include '@heading' with {
          'type': 'h3',
          'heading_text': social.title
        } %}
        <div class="social-list">
          {% include "@list" with
            {
              "type": "unordered",
              "items": [
              '<a href="https://www.facebook.com/stadsbestuurgent"><i aria-hidden="true" class="icon-facebook"></i><span class="visually-hidden">Facebook</span></a>',
              '<a href="https://www.twitter.com/stadgent"><i aria-hidden="true" class="icon-twitter"></i><span class="visually-hidden">Twitter</span></a>',
              '<a href="https://www.linkedin.com/company/stad-gent"><i aria-hidden="true" class="icon-linkedin"></i><span class="visually-hidden">LinkedIn</span></a>',
              '<a href="https://www.youtube.com/channel/UCmJLf8SFG0D0GTd6LSSTQLw"><i aria-hidden="true" class="icon-youtube"></i><span class="visually-hidden">Youtube</span></a>',
              '<a href="https://www.instagram.com/stadgent/"><i aria-hidden="true" class="icon-instagram"></i><span class="visually-hidden">Instagram</span></a>'
            ]
            } %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom content-container">

    <div class="footer--column">
      {% include "@list" with
        {
          "type": 'unordered',
          "items": [
          '<a href="https://stad.gent/nl/over-gent-en-het-stadsbestuur/juridische-info/gebruiksvoorwaarden-website-stad-gent">' ~ bottom.links[0] ~ '</a>',
          '<a href="https://stad.gent/nl/over-gent-en-het-stadsbestuur/juridische-info/met-respect-voor-uw-privacy">' ~ bottom.links[1] ~ '</a>',
          '<a href="https://stad.gent/nl/responsible-disclosure">' ~ bottom.links[2] ~ '</a>',
          '<a href="https://stad.gent/nl/over-gent-en-het-stadsbestuur/juridische-info/toegankelijkheidsverklaring-stad-gent">' ~ bottom.links[3] ~ '</a>',
          '<a href="#">' ~ bottom.links[4] ~ '</a>',
        ]
        } %}
    </div>

    {# Partnership #}
    <div class="footer--column partnership">
      <span>{{ bottom.partnership }}</span><i aria-hidden="true" class="icon-district09"></i>
    </div>
  </div>
</section>
