///
/// Alert button type.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
/// @require color
///
%button-alert,
.button-secondary-alert {
  @include button-icon;
  @include theme-content('color-tertiary', 'button-secondary-hover-background') {
    background-image: linear-gradient(0, color('red', -5), color('red', -5));
  };

  border: 2px solid color('red', -2);
  background-color: color('white');
  color: color('red', 1);

  &.button-block {
    @include button-icon;
 }

  &:hover,
  &:focus {
    border-color: color('red', -1);
    color: color('red', 2);
  }

  &:active {
    border-color: color('red', -1);
    background-color: color('red', -4);
    background-image: none;
    color: color('red', 3);
  }
}
