///
/// Alert button type.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
/// @require color
///
%button-alert,
.button-alert {
  @include button-icon;
  @include theme-content('color-tertiary', 'button-secondary-hover-background') {
    background-image: linear-gradient(0, color('red', 2), color('red', 2));
  };

  border: 0;
  background-color: color('red', 1);
  color: color('white');

  &:not([class*="icon-"]) {
    @include icon(lightning);
  }

  &.button-block {
    @include button-icon;
 }

  &:focus {
    border-color: color('red', 2);
    background-color: color('red', 2);
    color: color('white');
  }

  &:active {
    border-color: color('red', 3);
    background-color: color('red', 3);
    color: color('white');
  }
}
