///
/// Success button type.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
/// @require color
///
%button-success,
.button-success {
  @include theme-content('color-tertiary', 'button-secondary-hover-background') {
    background-image: linear-gradient(0, color('green', -5), color('green', -5));
  };

  border: 2px solid color('green');
  background-color: color('white');
  color: color('green', 2);

  &:hover {
    border-color: color('green');
    color: color('green', 2);
  }

  &:active,
  &:focus {
    border-color: color('green');
    background-color: color('green', -4);
    background-image: none;
    color: color('green', 2);
  }
}
