@use '../button-styling' as *;
@use '../../../00-mixins/mixins' as *;
@use '../../../00-settings/colors' as *;
@use '../../../11-base/base' as *;

///
/// Success button type.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
/// @require color
///
%button-success,
.button-success {
  @include theme-content('color-tertiary', 'button-secondary-hover-background') {
    $theme-color: coloring('green', -5);

    background-image: linear-gradient(0deg, $theme-color, $theme-color);
  };

  & {
    border: 2px solid coloring('green');
    background-color: coloring('white');
    color: coloring('green', 2);
  }

  &:hover {
    border-color: coloring('green');
    color: coloring('green', 2);
  }

  &:active,
  &:focus {
    border-color: coloring('green');
    background-color: coloring('green', -4);
    background-image: none;
    color: coloring('green', 2);
  }
}
