@use '../button-styling' as *;
@use '../../../00-mixins/mixins' as *;

///
/// Alert button type.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
/// @require color
///
%button-alert,
.button-secondary-alert {
  @include button-icon;
  @include theme-content('color-tertiary', 'button-secondary-hover-background') {
    background-image: linear-gradient(0, coloring('red', -5), coloring('red', -5));
  };

  & {
    border: 2px solid coloring('red', -2);
    background-color: coloring('white');
    color: coloring('red', 1);
  }

  &.button-block {
    @include button-icon;
 }

  &:hover,
  &:focus {
    border-color: coloring('red', -1);
    color: coloring('red', 2);
  }

  &:active {
    border-color: coloring('red', -1);
    background-color: coloring('red', -4);
    background-image: none;
    color: coloring('red', 3);
  }
}
