///
/// Alert button type.
///
/// @since 3.0.0
/// @access public
/// @author Gert-Jan Meire
/// @require color
///
%button-alert,
.button-alert {
  @include button-icon;

  border: 0;
  background-color: color('red', 1);
  color: color('white');

  &:not([class*="icon-"]) {
    @include icon(lightning);
  }

  &.button-block {
    @include button-icon;
 }

  &:focus {
    border-color: color('red', 2);
    background-color: color('red', 2);
    color: color('white');
  }

  &:active {
    border-color: color('red', 3);
    background-color: color('red', 3);
    color: color('white');

    &::after {
      background-color: color('red', 3);
    }
  }

  &::after {
    background-color: color('red', 2);
  }
}
