.feedback-form {
  @include box-no-icon;

  > * {
    max-width: $six-of-bp-container;
  }

  h2 {
    @extend %h3;

    margin-bottom: 0;
  }

  .accordion--content {
    margin-top: 1rem;
  }

  form {
    label {
      display: none;
    }

    textarea {
      @include theme('background-color', 'color-secondary', 'feedback-form-textarea-background');
      @include theme('border-color', 'color-primary--darken-2', 'feedback-form-textarea-border');

      min-height: 5.5rem;
    }
  }
}
