.feedback-form {
  > * {
    max-width: $six-of-bp-container;
  }

  h2 {
    @extend %h3;

    margin-bottom: 0;
  }

  .accordion--content {
    margin-top: 1rem;
  }

  form {
    label {
      @extend %visually-hidden;
    }

    textarea {
      min-height: 5.5rem;
    }
  }
}
