.feedback-form {
  @include theme('background-color', 'color-primary--lighten-4', 'feedback-form-background');

  padding: 1.2rem $gutter-width 2rem $gutter-width;
  border-radius: border-radius('radius-1');

  @include tablet {
    padding: 1.2rem 10rem 2rem 5.5rem;
  }

  h2 {
    @extend %h3;
  }

  h3 {
    @extend %h4;
  }

  a {
    @include theme('color', 'color-primary--darken-1', 'feedback-form-link-color');
  }

  .info-box {
    @include theme('background-color', 'color-primary--lighten-5', 'feedback-form-info-background');

    display: flex;
    padding: 2rem 3.7rem;

    &-icon {
      width: span(3 of 9);
      max-width: 7.8rem;
      margin-right: 3.6rem;
    }

    &-text {
      width: span(6 of 9);
    }
  }

  form {
    textarea {
      @include theme('background-color', 'color-secondary', 'feedback-form-textarea-background');

      min-height: 5.5rem;
    }
  }
}
