<div class="feedback-form box-no-icon accordion {{ modifier }}">
  <h2><button class="accordion--button" aria-expanded="false" aria-controls="feedback-form-content">{{ 'Can we improve something about this page?' }}</button></h2>
  <div id="feedback-form-content" class="accordion--content">
        {% render '@heading' with {
          'type': 'h3',
          'heading_text': 'You can contact Gentinfo for personal questions or complaints.'
        } %}

        {% render '@paragraph' with {
          'text': 'How to reach?'
        } %}

        {% render '@list' with {
          'type': 'icon-list',
          'icon_items': [
            '<i class="icon-phone"></i><span>By phone: <a href="tel: 09 210 10 10">09 210 10 10</a> (from monday till saturday from 08:00 till 19:00)</span>',
            '<i class="icon-envelope"></i><span>Send us an <a href="mailto: info@stad.gent">email</a></span>',
            '<i class="icon-twitter-outline"></i><span>Through the <a href="https://twitter.com/stadgent">Twitter account</a> of the City of Gent (<a href="https://twitter.com/stadgent">@StadGent</a>)</span>',
            '<i class="icon-document"></i><span>Through the <a href="#">contact form</a></span>',
            '<i class="icon-chat-round"></i><span>Through the <a href="#">chat</a></span>',
          ]
        } %}

    <form action="#" class="no-style">
      {% render '@heading' with {
        'type': 'h3',
        'heading_text': 'Do you have suggestions or comments concerning this page?'
      } %}

      {% render '@form-item' with {
        input_component: "textarea",
        textarea_id: "textarea_id",
        id: "textarea_id",
        name: "textarea_name",
        label: 'Message',
        field_description: null
      } %}

      {% render '@button' with {
        'text': 'Send suggestion',
        'type': 'primary',
        'modifier': 'button-large'
      } %}
    </form>
  </div>
</div>
