<form class="form form-search">
  {% include '@label' with {
  "label": label,
  "for": search_id,
  "label_optional": label_optional
  } %}
  {% include '@input-search' with {
  'placeholder': placeholder,
  'modifier': modifier_search,
  'search_id': search_id,
  'search_name': search_id,
  'required': true
  } %}
  {% include '@input-submit' with {
  'value': text,
  'modifier': modifier_submit
  } %}
</form>
