<div class="opening-hours-accordion">
  <div class="opening-hours-accordion__item">
    <h3 class="h4">Appointments</h3>
    {% include '@open-today' with {
      open: true
    } %}

    {% set openingHoursMonth %}
      {% include '@opening-hours' %}
    {% endset %}

    {% include '@accordion' with {
      headingLevel: 'h4',
      buttonText: 'All opening hours',
      content: openingHoursMonth
    } %}
  </div>
</div>
