<div class="opening-hours-accordion">
  <div class="opening-hours-accordion__item">
    <h3>Appointments</h3>
    {% render '@day-widget' with {
      open: true
    } %}

    {% set openingHoursMonth %}
      {% render '@week-month-widget' %}
    {% endset %}

    {% render '@accordion' with {
      buttonText: 'All opening hours',
      content: openingHoursMonth
    } %}
  </div>
</div>
