{% include '@header' with {
"mijn_gent_block_items": [
"<a href='javascript:(void);'>Mijn profiel</a>",
"<a href='javascript:(void);'>Nieuwsbrieven</a>",
"<a href='javascript:(void);'>Historiek</a>"
],
"mijn_gent_block_auth": "true",
"header_search_id": "header-search",
"header_search_label": "Search",
"header_search_placeholder": "Search",
"header_search_text": "Search",
"breadcrumbs_items": [
"<a href='https://stad.gent'>Stad.gent</a>",
"<a href='#'>Overview</a>",
"<a href='#'>Theme</a>",
"<a href='#'>Subpage</a>",
"<span>Page title</span>"
]
} %}

<main class="event-page">
  <article class="detail-layout">
    {% block info_page_article_content %}
      {% include '@h1' with {
      "h1_text": "Event page title"
      } %}
      
      {% include '@paragraph' with {
      "text": "Some introtext. Gestas ad vestibulum eu adipiscing a a dapibus sed a orci aenean sit ac parturient class vestibulum a scelerisque.Lobortis nibh adipiscing eget dui torquent consectetur vulputate orci pulvinar ",
      "modifier": "summary-text"
      } %}
      
      {% include '@h2' with {
      "h2_text": "This is a paragraph title"
      } %}
      
      {% include '@paragraph' with {
      "text": "This is bodytext. Egestas ad vestibulum eu adipiscing a a dapibus sed a orci aenean sit ac parturient class vestibulum a scelerisque.Lobortis nibh adipiscing eget dui torquent consectetur vulputate orci pulvinar adipiscing per auctor cursus a. Commodo nibh a quam felis condimentum aliquam sit enim in maecenas parturient vehicula euismod ad neque. Dapibus sed a orci aenean sit ac parturient class vestibulum a scelerisque.Lobortis nibh adipiscing eget dui torquent consectetur vulputate orci pulvinar adipiscing per auctor cursus a.Commodo nibh a quam felis condimentum aliquam sit enim in maecenas parturient vehicula euismod ad neque. Egestas ad vestibulum eu adipiscing a a dapibus sed a orci aenean sit ac parturient class vestibulum a scelerisque.Lobortis nibh adipiscing eget dui torquent consectetur vulputate orci pulvinar adipiscing per auctor cursus a. Commodo nibh a quam felis condimentum aliquam sit enim in maecenas parturient vehicula."
      } %}
  
      {% include '@timeline' %}
    {% endblock %}
  </article>
  
  <aside>
    {% include '@related-box' with {
    tags: [
    'Inner city',
    'Another tag'
    ]
    } %}
    {% include '@extra-articles' %}
    {% include '@feedback-form' %}
    {% include '@paragraph' with {
    "text": "Last changed on 1th of june 2018 - 17:45",
    "modifier": "info-page--edit-date"
    } %}
  </aside>
</main>

{% include '@footer' %}
