<ul class="image-gallery">
  {% for item in items %}
    <li>
      <a href="{{ item.src }}"
        {% if item.caption %}
          data-caption="{{ item.caption }}"
        {% endif %}
         aria-label="{{ item.label }}"
         aria-describedby="image-gallery__open-gallery">
        {% include '@image' with { 'src': item.src, 'alt_text' : item.alt } %}
      </a>
    </li>
  {% endfor %}
  <li class="image-gallery__show-more" aria-hidden="true">
    <div class="show-more__content">
      <span>Show all photos</span>
    </div>
  </li>
</ul>
<span hidden id="image-gallery__open-gallery">open gallery</span>