<a href="{{ src }}"
  {% if caption %}
    aria-label="{{ caption }}"
  {% endif %}
   aria-describedby="image-gallery__open-gallery">
  {% include '@figure' with {
  "figure_figcaption": caption,
  "figure_image_src": src,
  "figure_image_alt_text": alt
  } %}
</a>