<div class="image-gallery--wrapper multiple{% if type %} image-gallery--{{ type }}{% endif %}">
  <ul class="image-gallery js-lightbox">
    {% for item in items %}
      <li>
        <a href="{{ item.src }}" class="gallery-link"
          {% if item.caption %}
            aria-label="{{ item.caption }}"
            aria-describedby="image-gallery__open-gallery"
          {% else %}
            aria-labelledby="image-gallery__open-gallery"
          {% endif %}
          >
          {% include '@image' with {
            "caption": item.caption,
            "src": item.src,
            "alt_text": item.alt,
            "ratio": '8:5'
          } %}
        </a>
      </li>
    {% endfor %}
    <li class="image-gallery__show-more">
      <div class="show-more__content">
        <span class="show-more__total">{{ items.length }}</span>
        <span>Show all photos <i class="icon-arrow-right" aria-hidden="true"></i></span>
      </div>
    </li>
  </ul>
</div>

<!-- Add this to the bottom of your page template, above scripts -->
<!-- <span hidden id="image-gallery__open-gallery">open gallery</span> -->
