<div class="image-gallery--wrapper single{% if type %} image-gallery--{{ type }}{% endif %}">
  <div class="image-gallery js-lightbox">
    <a href="{{ src }}"
      {% if item.caption %}
        aria-label="{{ item.caption }}"
        aria-describedby="image-gallery__open-gallery"
      {% else %}
        aria-labelledby="image-gallery__open-gallery"
      {% endif %}
       class="gallery-link">
      {% include '@image' with {
        "caption": caption,
        "src": src,
        "alt_text": alt,
        "ratio": '8:5',
      } %}
    </a>
  </div>
</div>
<!-- Add this to the bottom of your page template, above scripts -->
<!-- <span hidden id="image-gallery__open-gallery">open gallery</span> -->
