<button
  type="button"
  class="button button-dark {{ modifier }} {% if icon %} button-icon {% endif %}"
  {% if disabled %}
    disabled
  {% endif %}
>
  {{ text }}
  {% if icon %}
    <i class="{{ icon }}"></i>
  {% endif %}
</button>
