<div class="section--default">
 <div id="map-island" class="map-island--map"></div>
 <script type="text/javascript">
   var map = new ol.Map({
     target: 'map-island--map',
     layers: [
       new ol.layer.Tile({
         source: new ol.source.OSM()
       })
     ],
     view: new ol.View({
       center: ol.proj.fromLonLat([37.41, 8.82]),
       zoom: 4
     })
   });
 </script>
</div>
