<div class="language-switcher accordion">
  <button aria-controls="language_switcher_content"
          aria-expanded="false"
          class="toggle accordion--button">
    NL
  </button>
  <div id="language_switcher_content" class="accordion--content"
       aria-hidden="true">
    <article class="content">
      <section>
        <ul class="links">
          <li>
            <strong>NL</strong>
          </li>
          <li>
            <a href="#" hreflang="en" title="Continue in English" lang="en">
              EN </a>
          </li>
          <li>
            <a href="#" hreflang="fr" title="Poursuivez en français" lang="fr">
              FR </a>
          </li>
          <li>
            <a href="#" hreflang="de" title="Weiter auf Deutsch" lang="de">
              DE </a>
          </li>
        </ul>
      </section>
    </article>
  </div>
</div>
