.summary-box {
  @include theme('background-color', 'color-secondary--lighten-4', 'summary-box-background-color');
  padding: 1.5rem;

  ul.icon-list {
    width: 100%;
    margin: 0 0 1rem;

    time {
      @include bold-text;
      display: block;
    }
  }

  .button {
    @include button-large;
  }
}
