{% block content %}
  <form action="#" method="#">

    {% include '@paragraph' with {
      'text': 'All fields are required, unless they are marked as optional.',
      'modifier': 'form-disclaimer'
    } %}

    {% include '@form-item' with {
      "label": "Some input field",
      "id": _self.name ~ "-input1_id",
      "input_component": "input",
      "type": "text",
      "name": _self.name ~ "-input1_name",
      "field_description": null
    } %}
    {% include '@form-item' with {
      "label": "Some more input",
      "input_component": "input",
      "type": "text",
      "id": _self.name ~ "-input2_id",
      "name": _self.name ~ "-input2_name",
      "field_description": null
    } %}
    {% include '@form-item' with {
      "label": "How do you feel about fieldsets?",
      "input_component": "input",
      "type": "text",
      "id": _self.name ~ "-input3_id",
      "name": _self.name ~ "-input3_name",
      "field_description": null
    } %}

    <fieldset>
      <legend>Contact details</legend>
      {% include '@form-item' with {
        "label": "Name",
        "id": _self.name ~ "-name_id",
        "input_component": "input",
        "type": "text",
        "name": _self.name ~ "-name_name",
        "field_description": null
      } %}
      {% include '@form-item' with {
        "label": "First name",
        "input_component": "input",
        "type": "text",
        "id": _self.name ~ "-firstname_id",
        "name": _self.name ~ "-firstname_name",
        "field_description": null
      } %}
      {% include '@form-item' with {
        "label": "E-mail address",
        "for": "email_id",
        "input_component": "input",
        "type": "email",
        "id": _self.name ~ "-email_id",
        "name": _self.name ~ "-email_name",
        "field_description": null
      } %}
      {% include '@form-item' with {
        "label": "Phone number",
        "for": "tel_id",
        "input_component": "input",
        "type": "tel",
        "id": _self.name ~ "-tel_id",
        "name": _self.name ~ "-tel_name",
        "field_description": null
      } %}
    </fieldset>

    {% include '@radios' with {
      "input_component": "input",
      "type": "radio",
      "label": "Date",
      "modifier": "error",
      "field_description": "You can add an optional field description here.",
      "field_message": "Lorem ipsum dolor sit amet.",
      "options": [
        {
          "label": "Wednesday 6 june 2018",
          "name": _self.name ~ "-radiogroup",
          "id": _self.name ~ "-radio-1"
        },
        {
          "label": "Thursday 7 june 2018",
          "name": _self.name ~ "-radiogroup",
          "id": _self.name ~ "-radio-2"
        },
        {
          "label": "Friday 8 june 2018",
          "name": _self.name ~ "-radiogroup",
          "id": _self.name ~ "-radio-3"
        }
      ]
    } %}

    {% include '@address' with {
      id: _self.name
    } %}

    <fieldset>
      <legend>Another fieldset</legend>
      <fieldset>
        <legend>Nested fieldset</legend>
        {% include '@form-item' with {
          "label": "Label textfield",
          "for": "textfield_id--2",
          "input_component": "input",
          "type": "text",
          "id": _self.name ~ "-textfield_id--2",
          "name": _self.name ~ "-textfield_name--2",
          "field_description": null
        } %}
        {% include '@form-item' with {
          "label": "Label textfield",
          "for": "textfield_id--3",
          "input_component": "input",
          "type": "text",
          "id": _self.name ~ "-textfield_id--3",
          "name": _self.name ~ "-textfield_name--3",
          "field_description": null
        } %}
      </fieldset>
      <fieldset>
        <legend>And another one</legend>
        {% include '@form-item' with {
          "label": "Label textfield",
          "for": "textfield_id",
          "label_optional": "Optional",
          "input_component": "input",
          "type": "text",
          "field_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam. Nam pellentesque velit pharetra, accumsan ante at, gravida turpis. Cras venenatis velit ut ipsum molestie pretium.",
          "field_error": "",
          "description": "Description textfield.",
          "id": _self.name ~ "-textfield_id",
          "name": _self.name ~ "-textfield_name",
          "modifier": "error",
          "field_message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet, urna sit amet convallis rhoncus, felis ex pellentesque neque, nec ultrices dui enim ut diam."
        } %}
        {% include '@form-item' with {
          "label": "Label textfield",
          "for": "textfield_id--1",
          "input_component": "input",
          "type": "text",
          "id": _self.name ~ "-textfield_id--1",
          "name": _self.name ~ "-textfield_name--1",
          "field_description": null
        } %}
      </fieldset>
    </fieldset>

    {% include '@checkboxes' with {
      "input_component": "input",
      "type": "checkbox",
      "label": "Newsletter",
      "id": _self.name ~ "-newsletter_id",
      "options": [
        {
          "label": "Subscribe to the newsletter",
          "name": _self.name ~ "-checkboxgroup",
          "id": _self.name ~ "-checkbox-1"
        }
      ]
    } %}

    {% render "@file-upload" with {
      id: _self.name ~ "-file"
    } %}

    {% include '@form-actions' with {
      primary_button: 'Submit',
      secondary_button: 'Save for later',
      link: 'Cancel'
    } %}
  </form>
{% endblock %}
