.form-progress {
  ul {
    display: flex;
    position: relative;

    @include tablet {
      display: block;
    }

    &::before {
      @include theme('background', 'color-secondary', 'form-steps-timeline-background');

      display: block;
      position: absolute;
      top: .75rem;
      right: 8%;
      left: 8%;
      height: .125rem;
      margin: auto;
      content: '';

      @include tablet {
        display: none;
      }
    }
  }

  li {
    @include no-link-style;

    @include tablet {
      display: block;
    }

    display: inline-block;
    position: relative;
    flex: 1;
    margin-bottom: 1em;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .progress {
    @include theme('color', 'color-secondary', '$form-steps-inactive-step-label');

    width: 1.8rem;
    height: 1.8rem;
    padding-left: 0;
    font-weight: bold;

    @include tablet {
      width: 100%;
      height: auto;
      padding-left: 3rem;
    }

    .label {
      display: none;

      @include tablet {
        display: block;
      }
    }

    &::before {
      @include theme('border', 'color-primary', 'form-steps-prefix-border');
      @include theme('background', 'color-primary--lighten-1', 'form-steps-prefix-background');
      @include theme('color', 'color-secondary', 'form-steps-prefix-color');

      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 1.875rem;
      height: 1.875rem;
      margin: auto;
      border: 1px solid;
      border-radius: 1.875rem;
      content: '';

      @include tablet {
        right: auto;
        margin: 0;
      }
    }

    &.progress-previous {
      &.progress-active .count {
        @include theme('border-color', 'color-secondary', 'form-steps-active-prefix-border-color');
        @include theme('background', 'color-secondary', 'form-steps-active-prefix-background');
      }

      &.progress-active a.indicator {
        @include theme('color', 'color-secondary', 'form-steps-active-step-label');
      }

      .count {
        @include theme('background-color', 'color-secondary', 'form-steps-previous-step-background');

        border-radius: 100%;
        text-align: center;
        text-indent: 0;

        i {
          margin-right: 0;
          font-size: .8rem;
          line-height: 1.6rem;
        }
      }

      a.indicator {
        @include theme('color', 'color-secondary', 'form-steps-previous-step-label');

        display: block;
      }
    }
  }

  .indicator {
    display: block;
    position: relative;
    line-height: 1.8rem;
    text-indent: -9999px;
    z-index: 10;

    @include tablet {
      width: auto;
      text-indent: 0;
    }

    .count {
      left: 0;
      text-indent: 0;

      @include tablet {
        left: -3rem;
      }
    }

    .label {
      display: inline-block;
      text-indent: -9999px;

      @include tablet {
        display: block;
        text-indent: 0;
      }
    }
  }

  .count {
    @include theme('color', 'color-secondary', 'form-steps-prefix-color');

    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 1.875rem;
    height: 1.875rem;
    margin: auto;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: center;
    z-index: 10;

    @include tablet {
      top: 0;
      right: auto;
      left: 0;
    }
  }
}
