////
/// This file defines fonts.
/// Loading only Latin and Latin Extended
/// This is enough to support all European languages when using the translate function in the browser
////

// 03-06-2022 : switching to locally hosted fonts in favor of GDPR - see : https://district09.atlassian.net/browse/DTGB-874
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700&display=swap'); // sass-lint:disable-line no-url-protocols

// fira-sans-regular - latin-ext_latin //
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.eot'),
  local('Fira Sans'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.woff2') format('woff2'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.woff') format('woff'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.ttf') format('truetype'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.svg#FiraSans') format('svg');
  font-display: swap;
}

// fira-sans-600 - latin-ext_latin //
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.eot'),
  local('Fira Sans'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.woff2') format('woff2'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.woff') format('woff'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.ttf') format('truetype'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.svg#FiraSans') format('svg');
  font-display: swap;
}

// fira-sans-700 - latin-ext_latin //
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.eot'),
  local('Fira Sans'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.woff2') format('woff2'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.woff') format('woff'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.ttf') format('truetype'),
  url('#{$styleguide-dir}/googlefonts/fira-sans-v16-latin-ext_latin-regular.svg#FiraSans') format('svg');
  font-display: swap;
}


// WebfontLoader
// Bypass the FOUT.
// Placed on the container to enable loading bars etc.
html.wf-loading {
  .container {
    opacity: 0;
  }
}

html:not(.wf-loading) {
  .container {
    transition: .1s opacity ease-in;
    opacity: 1;
  }
}
