<p>Base font-size (mobile, until 680px): 16px</p>
<p>Base font-size (tablet, small desktop, until 1360px): 18px</p>
<p>Base font-size (large desktop, starting from 1360px): 20px</p>

<p>Elements that deviate from these values are to be scaled with rems.</p>

