  <p>Actual base font-size is 16px.</p>
  <p>
    The HTML element is assigned a font-size of 20px. This allows us to calculate REM values by dividing by 20 instead
    of 16, which in turn gives us more readable REM values. The body element and containing elements are assigned a
    value of font-size .8rem (which matches a computed value of 16px).
  </p>

  <p><strong>Note:</strong> Elements that deviate from the predetermined font-size values are to be scaled with rems.</p>
