<h4 class="styleguide-title">{{ 'Fonts' }}</h4>
<div class="preview-inner-container styleguide-secondary-colors">
  <p>{{ 'Base font-size (mobile, until 1920px): 16px'}}</p>
  <p>{{ 'Base font-size (large desktop, starting from 1920px): 20px'}}</p>

  <p>{{ 'Elements that deviate from these values are to be scaled with rems.'}}</p>
</div>
