<h2 class="styleguide-title">Input types</h2>
<div class="preview-inner-container">
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: date</h3>
    {% include '@label' with { 'for': 'input-date-id', 'label': 'Date label' } %}
    {% include '@input-date' with { 'date_id': 'input-date-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: checkbox</h3>
    {% include '@input-checkbox' with { 'checkbox_id': 'checkbox-id', 'checkbox_label': 'Checkbox option' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: radio</h3>
    {% include '@input-radio' with { 'radio_id': 'radio-id', 'radio_label': 'Radio option' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: email</h3>
    {% include '@label' with { 'for': 'email-id', 'label': 'Email label' } %}
    {% include '@input-email' with { 'email_id': 'email-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: file</h3>
    {% include '@label' with { 'for': 'file-id', 'label': 'File label' } %}
    {% include '@input-file' with { 'file_id': 'file-id'} %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: select</h3>
    {% include '@label' with { 'for': 'select-id', 'label': 'Select label' } %}
    {% include '@input-select' with {
      'select_id': 'select-id',
      "options": [
      {
        "label": "Option 1"
      },
      {
        "label": "Option 2"
      },
      {
        "optgroup": true,
        "label": "Option group",
        "optgroupoptions": [
          {
            "label": "Option 3"
          },
          {
            "label": "Option 4"
          }
        ]
      }
    ]
  } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: multiselect</h3>
    {% include '@label' with { 'for': 'multiselect-id', 'label': 'Multiselect label' } %}
    {% include '@input-multiselect' with {
      'multiselect_id': 'multiselect-id',
      "options": [
      {
        "label": "Option 1"
      },
      {
        "label": "Option 2"
      },
      {
        "label": "Option 3"
      },
      {
        "label": "Option 4"
      }
    ]
    } %}
  </div>
{#
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: multiselect-chosen</h3>
    {% include '@label' with { 'for': 'multiselect-chosen-id', 'label': 'Multiselect chosen label' } %}
    {% include '@input-multiselect-chosen' with {
      'multiselect_id': 'multiselect-chosen-id',
      "options": [
        {
          "label": "Option 1"
        },
        {
          "label": "Option 2"
        },
        {
          "label": "Option 3"
        },
        {
          "label": "Option 4"
        }
      ]
    } %}
  </div>
#}
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: number</h3>
    {% include '@label' with { 'for': 'number-id', 'label': 'Number label' } %}
    {% include '@input-number' with { 'number_id': 'number-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: password</h3>
    {% include '@label' with { 'for': 'password-id', 'label': 'Password label' } %}
    {% include '@input-password' with { 'password_id': 'password-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: search</h3>
    {% include '@label' with { 'for': 'search-id', 'label': 'Search label' } %}
    {% include '@input-search' with { 'search_id': 'search-id'} %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: tel</h3>
    {% include '@label' with { 'for': 'tel-id', 'label': 'Tel label' } %}
    {% include '@input-tel' with { 'tel_id': 'tel-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: text</h3>
    {% include '@label' with { 'for': 'text-id', 'label': 'Text label' } %}
    {% include '@input-text' with { 'textfield_id': 'text-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: url</h3>
    {% include '@label' with { 'for': 'url-id', 'label': 'Url label' } %}
    {% include '@input-url' with { 'url_id': 'url-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: textarea</h3>
    {% include '@label' with { 'for': 'textarea-id', 'label': 'Textarea label' } %}
    {% include '@input-textarea' with { 'textarea_id': 'textarea-id' } %}
  </div>
  <div class="preview-inner-inner-container">
    <h3 class="styleguide-title">Input type: submit</h3>
    {% include '@input-submit' with {
      "value": "Submit"
    } %}
  </div>
</div>
