.frequently-visited {
  font-size: .8rem;

  .inner-box {
    &::before {
      @include spot-image('loupe-light', 7rem);
    }

    @include tablet {
      padding-top: 2rem;
    }
  }

  .inline {
    max-width: 40rem;

    > li {
      margin-right: .8rem;
      margin-bottom: .4rem;
    }
  }
}
