.frequently-visited {
  font-size: .8rem;

  .inner-box {
    padding-top: 2rem;

    &::before {
      @include spot-image('loupe-light', 7rem);
    }
  }

  .inline {
    max-width: 40rem;

    > li {
      margin-right: .8rem;
      margin-bottom: .4rem;
    }
  }
}
