<div class="frequently-visited box box-top">
  <div class="inner-box">
    <h2>What are you looking for?</h2>
    <p>Enter one or more search terms in the search field above.</p>

    <h3>Frequently visited</h3>
    <ul class="inline">
    {% for tag in tags %}
      <li>
        <a href="#" class="tag">{{ tag }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
