select {
  @include field-base;


  [class*="cs--"] & {
    &,
    &:focus {
      $fill-color: color('cyan-wcag');
      $svg-shevron-down: svg-icon('shevron-down', $fill-color, 24, 24);

      padding-right: $field-icon-padding;
      background-image: svg-url($svg-shevron-down), url('#{$styleguide-dir}/img/svg/separator.svg');
      background-repeat: no-repeat;
      background-position: right .75rem center, right 2.8rem center;
    }
  }

  &::-ms-expand {
    display: none;
  }
}
