header.header {
  position: relative;
  margin-bottom: .3rem;
  padding: .3rem 0;

  // first row
  > .content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .site-logo {
      margin-right: auto;
      padding: 0 0 0 .2rem;

      &.subsite {
        flex: 1;
        margin-right: .7rem;
      }
    }

    .search {
      display: none;
      flex: 1;
      flex-wrap: nowrap;
      justify-content: flex-end;
      overflow: hidden;

      label {
        @extend %visually-hidden;
        font-weight: bold;
      }

      input {
        margin-bottom: 0;
      }

      input[type=submit] {
        max-width: 0;
        padding: 0;
        transition: opacity .2s ease-in-out, max-width .2s ease-in-out, padding .2s ease-in-out;
        box-shadow: none;
        opacity: 0;

        &:focus {
          max-width: 9999px;
          margin-left: .4rem;
          padding: 0 1rem;
          opacity: 1;
        }
      }

      input[type=search],
      input[type=text] {
        @include theme('background-color', 'color-primary--lighten-5', 'header-search-background-color');

        flex: 0 1 auto;
        width: 100%;
        min-width: 0;
        max-width: 210px;
        margin-right: 0;
        transition: max-width .2s ease-in-out;

        &:invalid {
          box-shadow: none;
        }

        &:not(:focus) {
          border-color: transparent;
        }

        &:focus,
        &:valid {
          max-width: 440px;
          margin: 0 0 0 .4rem;

          ~ input[type=submit] {
            max-width: 9999px;
            margin-left: .4rem;
            padding: 0 1rem;
            opacity: 1;
          }

        }
      }

      @include tablet {
        display: flex;
      }
    }

    .search--link {
      @include theme('background-color', 'color-primary--lighten-5', 'header-search-background-color');

      min-width: 2.4rem;
      max-width: calc(.8rem + 32px);
      height: 2.4rem;
      border-radius: border-radius('radius-1');
      background: svg-as-background('search', color('dark-gray'), 32, 32) no-repeat left .4rem center;
      text-indent: 200%;
      overflow: hidden;

      @include tablet {
        display: none;
      }
    }

    .mijn-gent-block {
      max-width: 10rem;
      margin-left: 1.2rem;
    }

    // Align main menu with site logo and breadcrumb.
    nav.menu {
      margin-left: 1.2rem;

      @include tablet {
        margin-left: 0;
        padding-left: .2rem;
      }
    }
  }

  hr {
    $span: percentage(2 / 12);

    position: relative;
    max-width: $bp-max-content;
    margin-bottom: 2.3rem;
    border: 0;
    overflow: visible;

    &::before,
    &::after {
      @include theme('border-color', 'color-primary--lighten-4', 'header-border-bottom');

      position: absolute;
      top: 100%;
      width: 100%;
      height: 1rem;
      margin-top: .3rem;
      border-top: 2px solid;
      content: '';
    }

    &::before {
      left: -$gutter-width;
      width: 3rem + $gutter-width;
      border-right: 2px solid;
      border-top-right-radius: border-radius('radius-4');

      @include desktop {
        left: 0;
        width: calc(#{$span} + 2rem);
      }
    }

    &::after {
      right: -$gutter-width;
      width: calc(100% - 3rem + 2px + #{$gutter-width});
      border-left: 2px solid;
      border-top-left-radius: border-radius('radius-4');

      @include desktop {
        right: 0;
        width: calc(100% - #{$span} - 2rem + 2px);
      }
    }
  }
}
