@use "sass:math";

header.header {
  position: relative;

  // first row
  > .content-container {
    display: flex;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
    }

    > :not(:first-child) {
      margin-left: gutter();
    }

    .site-logo {
      margin-right: auto;
      padding: 20px 0;

      .is-frontpage & {
        align-items: flex-start;
        padding: 20px 0;

        @include tablet {
          padding: 20px 0 0;
        }
      }

      &.subsite {
        flex: 1;
      }
    }

    .search {
      display: none;
      flex: 1;
      flex-wrap: nowrap;
      justify-content: flex-end;

      label {
        @extend %visually-hidden;
        @include bold-text;
      }

      input {
        margin-bottom: 0;
      }

      input[type=submit] {
        max-width: 0;
        padding-right: 0;
        padding-left: 0;
        transition: opacity .2s ease-in-out, max-width .2s ease-in-out, padding .2s ease-in-out, background-size .3s;
        box-shadow: none;
        opacity: 0;

        &:focus {
          max-width: 9999px;
          padding: 0 1rem;
          opacity: 1;
        }
      }

      input[type=search],
      input[type=text] {
        flex: 0 1 auto;
        width: 100%;
        min-width: 0;
        max-width: 210px;
        margin-right: 0;
        transition: max-width .2s ease-in-out;

        &:invalid {
          box-shadow: none;
        }

        &:focus,
        &:valid {
          max-width: 440px;
          margin: 0 0 0 .4rem;

          ~ input[type=submit] {
            max-width: 9999px;
            padding-right: 15px;
            padding-left: 15px;
            opacity: 1;
          }

        }
      }

      @include tablet {
        display: flex;
      }
    }

    .search--link {
      @include theme('background-color', 'color-zero', 'header-search-background-color');

      display: block;
      min-width: 44px;
      max-width: calc(16px + 32px);
      height: 44px;
      border-bottom: 0;
      background: svg-as-background('search', color('white'), 24, 24) no-repeat left 10px center;
      text-indent: -9999px;
      overflow: hidden;

      @include tablet {
        display: none;
      }
    }

    .authentication {
      align-items: center;
      margin-left: .8rem;

      @include tablet {
        margin-left: gutter();
      }
    }

    .authentication,
    .language-switcher {
      align-self: stretch;
    }

    // Align main menu with site logo and breadcrumb.
    nav.menu {
      @include tablet {
        flex-basis: 100%;
        flex-grow: 1;
        order: 9999;
        margin-left: 0;
      }

      line-height: 1;
    }
  }

  .site-name {
    @include theme('color', 'color-tertiary', 'default-text-color');
    @include bold-text;

    @include tablet {
      display: none;
    }

    margin: .8rem 0 .4rem;
    font-size: .9rem;
  }

  &--menu > .content-container {
    > .language-switcher {
      @include tablet-and-below {
        display: none;
      }
    }
  }
}
