{% set hasMenu = menu or (search and auth and translate) %}

<header class="header{{ hasMenu ? ' header--menu' : '' }}">
  <div class="content-container">
    {% include '@logo' with {
      site_name: site_name,
      type: subsite ? 'subsite'  : ''
    } %}

    {% if search %}
      {% include '@link' with {
        link: "#",
        text: "search",
        modifier: "search--link",
        title: "search"
      } %}

      {% include '@search' with {
        label: header_search_label,
        search_id: _self.name ~ '-header-search',
        placeholder: header_search_placeholder,
        modifier_search: header_search_modifier_search,
        text: header_search_text,
        modifier_submit: header_search_modifier_submit
      } %}
    {% endif %}

    {% if auth %}
      {% include '@authentication' with {
        id: _self.name ~ '-authentication',
        items: mijn_gent_block_items,
        auth: mijn_gent_block_auth,
        image: mijn_gent_block_image,
        accordion: true
      } %}
    {% endif %}

    {% if translate %}
      {% include '@language-switcher' with {
        accordion: true,
        id: _self.name ~ '-translate'
      } %}
    {% endif %}

    {% if hasMenu %}

      {% set Auth %}
        {% if auth %}
          {% include '@authentication' with {
            id: _self.name ~ '-authentication-mobile',
            items: mijn_gent_block_items,
            auth: mijn_gent_block_auth,
            image: mijn_gent_block_image,
            accordion: false
          } %}
        {% endif %}
      {% endset %}

      {% set Translate %}
        {% if translate %}
          {% include '@language-switcher' with {
            accordion: false,
            id: _self.name ~ '-translate-mobile'
          } %}
        {% endif %}
      {% endset %}

      {% include '@menu' with {
        items: menu_items,
        auth: Auth,
        translate: Translate,
        id: _self.name ~ '-menu',
      } %}

    {% endif %}
  </div>

  {% if subsite %}
    <div class="site-name">
      <span>{{ site_name }}</span>
    </div>
  {% endif %}

  {% include '@breadcrumbs' with {
    items: breadcrumbs_items,
    id: _self.name ~ '-header-crumbs'
  } %}

  <hr/>
  {% if hero_image_src %}
    <figure class="hero{{ mobile_hero ? ' hero--mobile' : '' }}">
      {% if theme %}
        <div class="theme">
          <div class="theme-title">
            {% include '@image' with {
              'src': figure_logo_src_light | path,
              'alt_text': figure_logo_alt_text,
              'modifier': null,
              'ratio': null
            } %}
            {% include '@heading' with {
              'type': 'h1',
              'heading_text': hero_title
            } %}
          </div>
        </div>
      {% endif %}
      {% include '@image' with {
        'src': hero_image_src,
        'alt_text': '',
        'ratio': '4:1'
      } %}
      {% if hero_image_description %}
        {% include '@figcaption' with {
          'figcaption': hero_image_description
        } %}
      {% endif %}
    </figure>
  {% endif %}
</header>
