<header class="header">
  <div class="content-container">
    {% render '@logo' %}


    {% render '@link' with {
      link: "#",
      text: "search",
      modifier: "search--link",
      title: "search"
    } %}

    {% render '@search' with {
      label: header_search_label,
      search_id: header_search_id,
      placeholder: header_search_placeholder,
      modifier_search: header_search_modifier_search,
      text: header_search_text,
      modifier_submit: header_search_modifier_submit
    } %}

    {% render '@mijn-gent-block' with {
      items: mijn_gent_block_items,
      auth: mijn_gent_block_auth
    } %}
  </div>

  {% render '@breadcrumbs' with {
    items: breadcrumbs_items,
    id: breadcrumbs_id
  } %}

  <hr/>

</header>
