<header class="header">
  <div class="content-container">

    <div id="logo" class="header-component">
      {% include '@logo' %}
    </div>

    <div id="profile" class="header-component right">
      {% include '@mijn-gent-block' with {
      "items": mijn_gent_block_items,
      'auth': 'true',
      } %}
    </div>

  </div>
</header>

{% include '@breadcrumbs' with {
  "items": [
    "<a href='#'>Stad.gent</a>",
    "<a href='#'>Overview</a>",
    "<span>Overview</span>",
    "<span>Page title</span>"
  ]
}%}
