<header class="header section--wrapper">
  <div class="content-container">

    {% include '@logo' %}

    {#<div class="header-component header-search-mobile right">#}
      {#{% include '@search' with {#}
      {#"label": header_search_label,#}
      {#"search_id": header_search_mobile_id,#}
      {#"search_name": header_search_mobile_name,#}
      {#"placeholder": header_search_mobile_placeholder,#}
      {#"modifier_search": header_search_mobile_modifier_search,#}
      {#"text": header_search_mobile_text,#}
      {#"modifier_submit": header_search_mobile_modifier_submit#}
      {#} %}#}
      {#<a href="javascript:(void);" class="close">Sluiten</a>#}
    {#</div>#}

    <div class="header-component header-search right">
      {% include '@search' with {
      "label": header_search_label,
      "search_id": header_search_id,
      "search_name": header_search_name,
      "placeholder": header_search_placeholder,
      "modifier_search": header_search_modifier_search,
      "text": header_search_text,
      "modifier_submit": header_search_modifier_submit
      } %}
    </div>

      {% include '@mijn-gent-block' with {
      "items": mijn_gent_block_items,
      'auth': 'true',
      } %}

  </div>
</header>

{% include '@breadcrumbs' with {
"section": breadcrumbs_section,
"items": breadcrumbs_items
} %}

