<header class="header">
  <div class="content-container">
    {% include '@logo' with {
      site_name: site_name,
      type: subsite ? 'subsite'	: ''
    } %}

    {% include '@link' with {
      link: "#",
      text: "search",
      modifier: "search--link",
      title: "search"
    } %}

    {% include '@search' with {
      label: header_search_label,
      search_id: header_search_id,
      placeholder: header_search_placeholder,
      modifier_search: header_search_modifier_search,
      text: header_search_text,
      modifier_submit: header_search_modifier_submit
    } %}

    {% include '@mijn-gent-block' with {
      id: _self.name ~ '-mijn-gent',
      items: mijn_gent_block_items,
      auth: mijn_gent_block_auth,
      image: mijn_gent_block_image
    } %}

    {% if translate %}
      {% include '@language-switcher' %}
    {% endif %}

    {% if menu %}
      {% include '@menu' with {
        items: [
          '<a href="#" class="active">Home</a>',
          '<a href="#">Menu item 1</a>',
          '<a href="#">Menu item 2</a>',
          '<a href="#">Menu item 3</a>',
        ]
      }%}
    {% endif %}
  </div>

  {% if subsite %}
    <div class="site-name">
      <span>{{ site_name }}</span>
    </div>
  {% endif %}

  {% include '@breadcrumbs' with {
    items: breadcrumbs_items,
    id: breadcrumbs_id
  } %}

  <hr/>
  {% if hero_image_src %}
    <figure class="hero">
      {% if theme %}
        <div class="theme">
          <div class="theme-title">
            {% include '@image' with {
              'src': figure_logo_src_light | path,
              'alt_text': figure_logo_alt_text,
              'modifier': null,
              'ratio': null
            } %}
            {% include '@heading' with {
              'type': 'h1',
              'heading_text': hero_title
            } %}
          </div>
        </div>
      {% endif %}
      {% include '@image' with {
        'src': hero_image_src,
        'alt_text': '',
        'ratio': '4:1'
      } %}
      {% if hero_image_description %}
        {% include '@figcaption' with {
          'figcaption': hero_image_description
        } %}
      {% endif %}
    </figure>
  {% endif %}
</header>
