.form-row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + .8rem);
  max-width: 40.8rem;
  margin-right: -.4rem;
  margin-left: -.4rem;


  @include desktop {
    width: calc(#{span(6 of 12)} + .8rem);
  }

  > * {
    flex-basis: calc((30rem - 100%) * 999);
    flex-grow: 1;
    margin-right: .4rem;
    margin-left: .4rem;
  }
}
