.form-actions {
  @include clearfix();

  margin-top: 2rem;
  clear: both;

  > input {
    @include btn-inlineblock();
  }

  > a {
    line-height: 2.4rem;

    &.delete {
      color: color('red');
    }
  }

  > input,
  > a {
    display: inline-block;
    margin: 0 1rem 0 0;

    &.right {
      margin: 0 0 0 1rem;
      float: right;
    }
  }
}
