.teaser.teaser-article {
  .teaser-content {
    div.event,
    time.published {
      display: inline-block;
      margin: 0 0 .4rem;
      line-height: 1.5;
    }

    div.event {
      @include icon('calendar');

      display: flex;
      align-items: center;

      &::before {
        padding-right: .5rem;
        font-size: 1.2rem;
      }
    }

    time.published {
      color: color('dark-gray', -1);
      font-style: italic;
      line-height: 2;
    }
  }
}
