@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;

@mixin status {
  &::before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .4rem;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.status--warning {
  @include status;

  &::before {
    background-color: coloring('yellow');
  }
}

.status--success {
  @include status;

  &::before {
    background-color: coloring('green');
  }
}

.status--error {
  @include status;

  &::before {
    background-color: coloring('red');
  }
}
