.form-steps {
  ol.form-steps-list {
    @include theme('background-color', 'color-tertiary-light');

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 20px 5px;
    counter-reset: item;
    list-style-type: none;

    @include desktop-and-below {
      padding: 20px;
      align-items: center;
    }

    li {
      display: inline-block;

      @include desktop-and-below {
        margin-bottom: 0;
      }

      &:not(:first-child):not(:last-child):not(.active) {
        @include desktop-and-below {
          // clip
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
          overflow: hidden;
          // also hide from screenreaders
          visibility: hidden;
          clip: rect(0 0 0 0);
        }
      }

      span > span,
      a > span {
        @include desktop-and-below {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
          overflow: hidden;
          clip: rect(0 0 0 0);
        }
      }

      a {
        @include reset-link-background;
        @include theme('color', 'color-zero');

        display: inline-block;
        line-height: 175%;
        vertical-align: middle;

        &:hover,
        &:focus {
          background-color: transparent;

          &::before {
            @include theme('border-color', 'color-primary', 'form-step--active-border-color');
          }
        }
      }

      &.active {
        @include bold-text;

        @include desktop-and-below {
          margin-bottom: 0;
        }

        &::before,
        &::after {
          @include desktop-and-below {
            @include theme('border-color', 'color-tertiary-pastel', 'form-step-hellip-background-color');
            @include theme('background-color', 'color-tertiary-pastel', 'form-step-hellip-background-color');
            @include theme('color', 'color-zero', 'form-step-hellip-color');

            display: inline-block;
            line-height: 35px;
            width: 40px;
            height: 40px;
            margin-right: 15px;
            border: 2px solid;
            border-radius: 20px;
            text-align: center;
          }
        }

        &::before {
          @include theme('color', 'color-none', 'form-step--active-color');
          @include theme('border-color', 'color-primary', 'form-step--active-border-color');
          @include theme('background-color', 'color-primary', 'form-step--active-background-color');
        }

        &::after {
          @include desktop-and-below {
            content: '\2026';
          }
        }

        > span::before {
          @include theme('border-color', 'color-primary--darken-1', 'form-step--active-border-color');

          background-color: transparent;
        }
      }

      &.completed:not(.active) {
        @include icon(checkmark, before);

        &::before {
          @include theme('background-color', 'color-success-pastel');

          display: inline-block;
          line-height: 30px;
          vertical-align: middle;
        }

        a:hover,
        a:focus {
          &::before {
            border-color: color('green', 1);
          }
        }
      }

      &:first-child::before,
      &:nth-child(2)::before,
      &:nth-last-child(2)::after,
      &:last-child::after {
        @include desktop-and-below {
          content: none;
        }
      }

    }
  }

  &:not(.vertical) ol.form-steps-list {
    @include desktop {
      li:not(:last-child)::after {
        @include theme('border-color', 'color-tertiary-pastel', 'form-step--active-border-color');

        display: inline-block;
        width: 15px;
        margin: 0 15px;
        border-bottom: 2px solid;
        content: '';
        vertical-align: middle;
      }
    }
  }

  &.vertical {
    ol.form-steps-list {
      @include desktop {
        flex-direction: column;
        padding: 30px 30px 15px;

        li {
          margin-bottom: 15px;

          &:not(:last-child)::after {
            @include theme('border-color', 'color-tertiary-pastel', 'form-step--active-border-color');

            display: block;
            width: 15px;
            height: 20px;
            margin: 15px 0 0;
            border-right: 2px solid;
            content: '';
          }
        }
      }
    }
  }
}
