.banner-image {
  position: relative;
  max-width: calc($bp-container + $container-padding*2);
  margin: 0 auto;
  padding: 0 $container-padding;
  text-align: center;

  figure {
    display: inline-block;
    position: relative;
    max-width: 100%;

    img {
      width: auto;
      margin: 0 auto;
    }
  }

  figcaption {
    display: none;
    max-width: $bp-container;

    @include tablet {
      display: block;
    }
  }
}
