<h2 class="styleguide-title">Icons</h2>
<div class="preview-inner-container">
  {% for unicode, icon in icons %}
      <p><i class="icon-{{ icon }}" aria-hidden="true"></i> .icon-{{ icon }}</p>
  {% endfor %}
</div>
