@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;

figcaption {
  @include accolade();
  @include medium-text;
  @include normal-text;

  margin: -16px 20px 0;
  float: right;
  line-height: 175%;

  .full-image & {
    margin: 0;

    &::before {
      display: none;
    }
  }
}
