.feature-block {
  @include theme('color', 'color-none', 'feature-block-primary-color');
  @include theme('background-color', 'color-primary', 'feature-block-primary-background-color');
  @include large-text();

  padding: 30px;

  @include tablet {
    padding: 60px;
  }

  h2,
  h3 {
    @include theme('color', 'color-none', 'feature-block-primary-color');

    margin-bottom: 20px;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &.secondary {
    @include theme('color', 'color-zero', 'feature-block-secondary-color');
    @include theme('background-color', 'color-secondary', 'feature-block-secondary-background-color');

    h2,
    h3 {
      @include theme('color', 'color-zero', 'feature-block-secondary-color');
    }
  }
}
