{% if heading_type is empty %}
  {% set heading_type = 'h1' %}
{% endif %}

<div class="feature-block {{ modifier }}">
  {% if title %}
    {% include '@heading' with {
      'type': heading_type,
      'heading_text': title
    } %}
  {% endif %}

  {% if content %}
    {% include '@paragraph' with {
      'text': content
    } %}
  {% endif %}
</div>
