<div class="{{ modifier }}">
    <h1>Styleguide</h1>

    <nav aria-labelledby="table-of-contents-section">
      <h2 id="table-of-contents-section">Table of contents</h2>
      <ol>
        <li>
          Base
          <ol>
            <li><a href="#styleguide-colors">Colors</a></li>
            <li><a href="#styleguide-logos">Logos / favicon</a></li>
            <li><a href="#styleguide-fonts">Fonts</a></li>
            <li><a href="#styleguide-iconfont">Iconfont</a></li>
          </ol>
        </li>
        <li>
          Atoms
          <ol>
            <li><a href="#styleguide-headings">Headings</a></li>
            <li><a href="#styleguide-paragraphs">Paragraphs</a></li>
            <li><a href="#styleguide-lists">Lists</a></li>
            <li><a href="#styleguide-inputs">Inputs</a></li>
            <li><a href="#styleguide-buttons">Buttons</a></li>
            <li><a href="#styleguide-links">Links</a></li>
            <li><a href="#styleguide-tags">Tags</a></li>
          </ol>
        </li>
        <li>
          Molecules
          <ol>
            <li><a href="#styleguide-messages">Messsages</a></li>
            <li><a href="#styleguide-form-items">Form items</a></li>
            <li>
              Collections
              <ol>
                <li><a href="#styleguide-collections">Topics</a></li>
              </ol>
            </li>
            <li>
              Building blocks
              <ol>
                <li><a href="#styleguide-quote">Quote</a></li>
                <li><a href="#styleguide-breadcrumbs">Breadcrumbs</a></li>
                <li><a href="#styleguide-footer">Footer</a></li>
                <li><a href="#styleguide-image-gallery">Image Gallery</a></li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Organisms
          <ol>
          </ol>
        </li>
      </ol>
    </nav>

    <h2 class="styleguide-title">1. Base</h2>
    {% include '@colors' %}
    {% include '@logos' %}
    {% include '@fonts' %}
    {% include '@icons-overview' %}

    <h2 class="styleguide-title">2. Atoms</h2>
    {% include '@headings' %}
    {% include '@paragraph-types' with {
      'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin mauris vel nisi condimentum accumsan. Phasellus eget est condimentum erat fringilla congue. Duis malesuada justo ut tincidunt tincidunt. <u>Vestibulum</u> in felis quam. In <strong>varius</strong> ligula vel ultricies consequat. Cras fringilla blandit purus nec <a href="javascript:(void);">fermentum</a>. Vivamus tristique ac mi a <i>pulvinar</i>. Quisque non ipsum tortor. Nunc nec odio non tellus malesuada molestie id sed ipsum. Curabitur risus ex, aliquet sed orci a, sagittis finibus sem. Ut bibendum purus id sodales scelerisque.'
    } %}
    {% include '@lists' %}
    {% include '@input-overview' %}
    {% include '@buttons' with { 'text': 'Button' } %}
    {% include '@links' %}
    <!-- {% include '@image-styles' %} -->
    {% include '@tags-overview' %}

    <h2 class="styleguide-title">3. Molecules</h2>
    {% include '@messages-overview' %}
    {% include '@forms' %}
    {% include '@collections-overview' %}
    {% include '@building-blocks-overview' %}
    <!-- {% include '@blocks-overview' %} -->

  </div>
