<div class="{{ modifier }}">
    <h1>Styleguide</h1>

    {% include '@colors' %}

    {% include '@logos' %}

    {% include '@fonts' %}

    {% include '@headings' %}

    {% include '@paragraph-types' with {
      'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin mauris vel nisi condimentum accumsan. Phasellus eget est condimentum erat fringilla congue. Duis malesuada justo ut tincidunt tincidunt. <u>Vestibulum</u> in felis quam. In <strong>varius</strong> ligula vel ultricies consequat. Cras fringilla blandit purus nec <a href="javascript:(void);">fermentum</a>. Vivamus tristique ac mi a <i>pulvinar</i>. Quisque non ipsum tortor. Nunc nec odio non tellus malesuada molestie id sed ipsum. Curabitur risus ex, aliquet sed orci a, sagittis finibus sem. Ut bibendum purus id sodales scelerisque.'
    } %}

    <!-- {% include '@lists' %} -->

    {% include '@input-overview' %}

    {% include '@buttons' with { 'text': 'Button' }%}

    <!-- {% include '@image-styles' %} -->

    {% include '@messages-overview' %}

    {% include '@icons-overview' %}

    {% include '@forms--with-errors' %}

    <!-- {% include '@collections-overview' %} -->

    <!-- {% include '@building-blocks-overview' %} -->

    <!-- {% include '@blocks-overview' %} -->
  </div>
