.readspeaker-button {
  @include theme('color', 'color-none', 'readspeaker-color');
  @include theme('background-color', 'color-zero', 'readspeaker-background-color');
  @include medium-text;
  @include bold-text;

  display: block;
  min-height: 1.8rem;
  margin-bottom: 1.5rem;
  padding: 0 .75rem 0 .4rem;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  border: 0;
  cursor: pointer;

  &:focus,
  &:hover {
    @include theme('background-color', 'color-primary--lighten-5', 'button-primary-hover-background');
  }

  i {
    @include theme('color', 'color-none', 'button-primary-color');

    display: inline-block;
    margin-right: .3rem;
    padding: .1em .3em;
    font-size: .9rem;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}
