.choices {
  @include theme('border-color', 'color-tertiary--lighten-2', 'fields-border-color');
  @include theme('background', 'color-tertiary--lighten-6', 'fields-background');
  @include theme('color', 'color-tertiary--darken-1', 'fields-color');

  &:focus {
    @include theme('border-color', 'color-primary--lighten-1', 'fields-border-focus-color');
    @include theme('background', 'color-primary--lighten-5', 'fields-focus-background');

    border: 1px solid;
    outline: 0;
  }

  .choices__inner {
    padding: .4rem;

    [class*="cs--"] & {
      input[type="text"] {
        margin: 0;
        border-color: transparent;
        background: transparent;
      }
    }
  }

  .choices__item {
    @include theme('background-color', 'color-primary--lighten-4', 'fields-tagging-tag-background');
    @include theme('color', 'color-tertiary', 'fields-tagging-tag-color');

    border-radius: border-radius('radius-1');
    border-color: transparent;

    button.choices__button {
      border: 0;
      background-image: svg-as-background('cross', color('dark-gray'), 46, 46);
      background-size: .8rem;
      line-height: 1rem;
    }
  }
}
