<select name="{{ multiselect_name }}"
        id="{{ multiselect_id }}"
        multiple="multiple"
        class="multiselect-tagging {% if modifier %}{{ modifier }}{% endif %}">
  {% for option in options %}
    <option>{{ option.label }}</option>
  {% endfor %}
</select>
