.form-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -.6rem;

  > input,
  > button {
    @include button-medium;
  }

  > input,
  > button,
  > a[href] {
    margin: 0 .75rem .75rem;
  }

  > a[href] {
    margin-left: 1.5rem;
  }

  > a.back {
    margin-left: 2.25rem;

    &::after {
      // Correct icon position.
      top: 0;
    }
  }
}
