<div class="form-actions">
  {% include '@input-submit' with {
    'value': 'Submit',
  } %}
  {% include '@link' with {
    'text': 'Cancel',
    'link': 'javascript:(void);',
    'modifier': 'button button-secondary'
  } %}
</div>
