<div class="form-actions">
  {% if primary_button %}
    {% include '@input-submit' with {
      value: primary_button,
    } %}
  {% endif %}

  {% if secondary_button %}
    {% include '@button' with {
      text: secondary_button,
      type: 'secondary'
    } %}
  {% endif %}

  {% if link %}
    {% include '@link' with {
      text: link,
      link: '#',
      modifier: 'standalone-link back'
    } %}
  {% endif %}

</div>
