<div class="form-actions">
  {% if primary_button %}
    {% include '@input-submit' with {
      value: primary_button,
      modifier: 'button button-primary icon-arrow-right'
    } %}
  {% endif %}

  {% if secondary_button %}
    {% include '@button' with {
      text: secondary_button,
      type: 'secondary',
      modifier: 'icon-arrow-left icon-left'
    } %}
  {% endif %}

  {% if link %}
    {% include '@link' with {
      text: link,
      link: '#',
      modifier: 'standalone-link refresh'
    } %}
  {% endif %}

</div>
