<div class="extra-articles">

  <div class="extra-articles-content">
    {% include '@heading' with {
      'type': 'h2',
      'heading_text': title
    } %}

    <ul>
      {% include '@teaser' with {
      "teaser_uid": "uid",
      "type": 'teaser-article',
      "paragraph_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis cumque debitis eligendi harum iste laborum quibusdam ut, vitae voluptate?",
      "title": "Event title text",
      "event_date": {
        "text_1": "From the 7th",
        "datetime_1": "2019-01-07",
        "text_2": "untill the 13th of January 2019",
        "datetime_2": "2019-01-13" },
      "teaser_datetime": "2019-01-07",
      "link_text": "read more",
      "link": "#",
      "image_src": "/styleguide/img/stock/teaser_2.jpg"|path,
      "image_alt_text": "alt text",
      "tag": "Just some tag"
      } %}

      {% include '@teaser' with {
      "teaser_uid": "uid_1",
      "type": 'teaser-article',
      "paragraph_text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nihil quisquam ratione. Ab deserunt omnis quam quisquam quo repudiandae temporibus totam voluptates.",
      "title": "General article title text",
      "event_date": null,
      "published_date": "Published on Saturday 7th of January 2019",
      "teaser_datetime": "2019-01-07",
      "link_text": "read more",
      "link": "javascript:void(0);",
      "image_src": "/styleguide/img/stock/teaser_1.jpg"|path,
      "image_alt_text": "alt text",
      "tag": "I'm another tag"
      } %}

    </ul>
  </div>
</div>
