$link-padding: .3em;

%a,
a {
  @include theme('color', 'color-primary', 'link-color');

  padding: $link-padding;
  font-weight: 600;
  text-decoration: underline;

  &:focus,
  &:hover {
    @include theme('background-color', 'color-primary--lighten-4', 'link-hover-background');
    @include theme('color', 'color-primary--darken-2', 'link-hover-color');
  }

  &:focus {
    outline: thin dotted;
  }

  // Different button link types. These are links styled as a button.
  &.button {
    @include button;
    @include button-icon;
    @include icon(arrow-right, after);

    text-decoration: none;

    &.button-success {
      @extend %button-success;
    }

    &.button-alert {
      @extend %button-alert;
    }

    &.button-dark {
      @extend %button-dark;
    }

    &::after {
      font-size: 1.2rem;
    }
  }

  &::after {
    padding-left: .5rem;
    text-decoration: none;
  }

  ///
  /// Styling of:
  ///   - standalone links
  ///   - links with an icon class on them
  ///   - links that go to an external source
  ///
  &.standalone-link,
  &[download],
  &[class^="icon-"] {
    display: inline-flex;
    align-items: center;
    padding: 0 $link-padding;
  }

  ///
  /// Stand alone links.
  ///
  &.standalone-link {
    @include icon(arrow-right, after);

    text-decoration: none;
  }

  &[download],
  &[href^="http://"],
  &[href^="https://"] {
    display: inline-block;
    padding: 0 $link-padding;

    &::after {
      display: inline-block;
      text-decoration: none;
    }
  }

  ///
  /// Download links.
  ///
  &[download] {
    @include icon(download, after);
  }

  ///
  /// External links get an indicator.
  ///
  &[href^="http://"],
  &[href^="https://"] {
    @include icon(external-link, after);
  }
}
