a {
  @include themify {
    @include element-states($link-color, $link-color-hover);
    @include element-states(underline, none, $property: 'text-decoration');
  }

  transition: color .11s ease-in-out;
  cursor: pointer;

  &:focus {
    outline: thin dotted;
  }

  &.btn {
    text-decoration: none !important; // sass-lint:disable-line no-important
  }

  &.external-link {
    &::before {
      @extend %icon-base-css;
      @extend %icon-newtab;

      display: inline-block;
      margin-right: .25rem;
      text-decoration: none;
    }
  }
}
