.file-upload {
  &.multiple {
    .file {
      &::after {
        display: none;
      }
    }

    .tag-list-wrapper {
      margin-top: .25rem;
    }
  }

  ul.inline, /// @deprecated since 4.0.0
  .tag-list-wrapper {
    margin-top: .8rem;

    li {
      margin-right: .4rem;
      margin-bottom: .4rem;
    }
  }

  .button {
    margin-bottom: .8rem;

    &:focus {
      background-size: 100% 100%;
    }
  }

  label {
    margin-bottom: 0;
  }
}
