<section class="file-upload multiple">
  <div class="form-item">
    {% include '@form-label' with {
      "label": label,
      "for": id ~ '--' ~ _self.name,
    } %}
    <div class="form-columns">
      <div class="form-item-column">
        {% render '@file' with {
          id: id ~ '--' ~ _self.name,
          name: name ~ '--' ~ _self.name|default(id ~ '--' ~ _self.name),
          multiple: true
        } %}

        {% include '@tag-list' with {
          tags: [
            {text: 'my uploaded file.pdf', type: 'filter-tag'},
            {text: 'another_file.pdf', type: 'filter-tag'},
            {text: 'my_image.jpg', type: 'filter-tag'},
            {text: 'super_secret.txt', type: 'filter-tag'}
          ]
        } %}
      </div>
      <div class="form-item-column"></div>
    </div>
  </div>

</section>
