<section class="file-upload">
  <div class="form-item">
    {% include '@form-label' with {
      "label": label,
      "for": id ~ '--' ~ _self.name,
    } %}
    <div class="form-columns">
      <div class="form-item-column">
        {% render '@file' with {
          "id": id ~ '--' ~ _self.name,
          "name": name ~ '--' ~ _self.name|default(id ~ '--' ~ _self.name),
        } %}
      </div>
      <div class="form-item-column"></div>
    </div>
  </div>
</section>
