{% extends '_preview.twig' %}

{% block title %}Hamburger menu preview{% endblock %}

{% block content %}

    <div class="content-container section--default">
        <p>Click the <strong>Menu</strong> button in the header (on a mobile device) to toggle the hamburger menu.</p>
    </div>

{% endblock %}
