{% extends '_preview.twig' %}

{% block title %}Mijn Gent preview{% endblock %}

{% block content %}

  {% include '@header--with-menu' %}

  <div class="content-container section--default">
    <p>Hover over the <strong>profile</strong> icon in the <strong>header</strong> to toggle the mijn-gent block.</p>
  </div>
{% endblock %}

