{% extends '_preview.twig' %}

{% block content %}
  <div class="container">
    <div class="preview-container">
      <div class="content-container">
        <div style="margin-bottom: 2rem;">
          <input type="button" id="description"
                 class="button button-primary button-small"
                 value="show descriptions" aria-pressed="false">
          <input type="button" id="error" aria-pressed="false"
                 class="button button-primary button-small" value="show errors">
          <input type="button" id="success" aria-pressed="false"
                 class="button button-primary button-small"
                 value="show success">

          <script>
            (function () {
              var description = document.querySelector('#description');
              var error = document.querySelector('#error');
              var success = document.querySelector('#success');

              var messages = document.querySelectorAll('.field-message');


              description.addEventListener('click', function (e) {
                var description = document.querySelectorAll('.field-message:not(.error):not(.success)');
                var pressed = this.getAttribute('aria-pressed') === 'true';

                this.classList.toggle('button-secondary');
                this.setAttribute('aria-pressed', '' + !pressed);

                for (var i = description.length; i--;) {
                  if (!pressed) {
                    description[i].removeAttribute('hidden');
                  }
                  else {
                    description[i].setAttribute('hidden', 'true');
                  }
                }

              });

              error.addEventListener('click', function (e) {
                var error = document.querySelectorAll('.field-message.error');
                var pressed = this.getAttribute('aria-pressed') === 'true';

                if (success.getAttribute('aria-pressed') === 'true') {
                  success.click();
                }

                this.classList.toggle('button-secondary');
                this.setAttribute('aria-pressed', '' + !pressed);

                for (var i = error.length; i--;) {
                  if (!pressed) {
                    error[i].removeAttribute('hidden');
                  }
                  else {
                    error[i].setAttribute('hidden', 'true');
                  }
                }

              });

              success.addEventListener('click', function (e) {
                var success = document.querySelectorAll('.field-message.success');
                var pressed = this.getAttribute('aria-pressed') === 'true';

                if (error.getAttribute('aria-pressed') === 'true') {
                  error.click();
                }

                this.classList.toggle('button-secondary');
                this.setAttribute('aria-pressed', '' + !pressed);

                for (var i = success.length; i--;) {
                  if (!pressed) {
                    success[i].removeAttribute('hidden');
                  }
                  else {
                    success[i].setAttribute('hidden', 'true');
                  }
                }

              });

            })();
          </script>
        </div>

        {{ yield | raw }}

      </div>
    </div>
  </div>
{% endblock %}
