{% extends '_preview.twig' %}

{% block title %}Skiplink preview{% endblock %}

{% block content %}
  <div class="content-container section--default">
    <p>The first focusable element of this page is the skiplink. <br>
    It is only visible when it receives focus.</p>
  </div>
{% endblock %}

