{#
Preview template to use when collating multiple variants in one overview file.
Use the fractal collator function to create wrapping dt and dd elements.
#}

{% extends '_preview.twig' %}

{% block content %}
  
  <div class="preview-container">
    <div class="content-container">
      <dl>
        {{ yield | raw }}
      </dl>
    </div>
  </div>

{% endblock %}
