@import '00-settings/vars';
@import '00-settings/colors';
@import '01-mixins/**/*';
@import '61-layouts/**/*';
@import '71-pages/**/*';

//
// This file is a customization of the styleguide application.
// This file is only applicable on stijlgids.stad.gent
//
.color {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 10px 10px 0;
  float: left;
  border: #e1e1e1 1px solid;
  color: rgba(0, 0, 0, .5);
  text-align: center;

  @media all and (min-width: 480px) {
    width: 125px;
    height: 125px;
  }
}

//
// Grid examples
//
// Highlight the grid columns within the docs so folks can see their padding,
// alignment, sizing, etc.
//

.show-grid {
  margin-bottom: 15px;
}

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 125, 179, .2);
  background-color: rgba(0, 125, 179, .15);
}

h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide {
  margin-top: 0;
}

h2.styleguide-title {
  padding: .25rem .5rem;
  border-bottom: 1px dotted tint('cyan', 25);
  background: tint('cyan', 6);

  .section--wrapper &,
  .section--inverse &,
  .section--accent & {
    background: color('white');
    color: color('blue');
  }

  .section--wrapper & {
    color: shade('blue', 50);
  }
}

.preview-container {
  min-height: 100vh;
  padding: 4% 0;
  background-color: #fff;
  overflow: hidden;

  .gallery {
    max-width: 388px;
  }

  .content-container {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      margin-top: 0;
    }
  }
}

.preview-inner-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 4.375rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted tint('cyan', 25);

  .section--wrapper &,
  .section--inverse &,
  .section--accent & {
    border-bottom: 1px dotted color('white');
  }

  .section--highlighted & {
    border-bottom: 1px dotted color('dark-gray');
  }
}

.preview-inner-inner-container {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}
