@import '00-settings/vars';
@import '00-mixins/**/*';
@import '00-settings/colors';

//
//
// This file is a customization of the styleguide application.
// This file is only applicable on stijlgids.stad.gent
//
//

//
// Color classes to show the color swatches in the style guide.
//
.color-wrapper {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: .2rem;

  &.white {
    background-color: color('dark-gray');
    color: color('white');
  }

  p {
    margin: 0;
  }

  code {
    display: block;
    font-size: .6rem;
    white-space: nowrap;
  }

  .color {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    overflow: hidden;
  }

  .color-variants {

    > div {
      display: flex;
      flex: auto;
      flex-wrap: wrap;
    }

    .color-box {
      padding: .5rem;
    }

    .color {
      width: 3rem;
      height: 3rem;
      margin: .5rem;
    }
  }
}

@each $color-key, $color in $colors {
  @each $tint-key, $tint in $tints {
    .color-swatch-#{$color-key}-#{$tint-key} {
      background-color: color($color-key, $tint-key);
    }
  }
}

.styleguide-table-of-contents {
  @include theme('background-color', 'color-primary--lighten-5', 'styleguide-table-of-contents-background');

  margin-bottom: 4rem;
  padding: 2rem;

  .table-of-contents-main {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}

//
// Title styling for the style guide specific parts.
//
h1.styleguide-title,
h2.styleguide-title,
h3.styleguide-title,
h4.styleguide-title,
h5.styleguide-title {
  margin-bottom: 1rem;
  border-bottom: 1px dotted;
}

h2.styleguide-title {
  @include theme('color', 'color-primary--darken-1', 'styleguide-h2-color');
  @include theme('border-color', 'color-primary--lighten-2', 'styleguide-h2-border-bottom');

  border-bottom: 1px solid;
}

h3.styleguide-title {
  @include theme('color', 'color-primary', 'styleguide-h3-color');
  @include theme('border-color', 'color-primary--lighten-1', 'styleguide-h3-border-bottom');

  border-bottom: 1px dotted;
}

//
// Preview containers
//
.preview-container {
  min-height: 100vh;
  padding: 4% 0;
  background-color: #fff;
  overflow: hidden;

  .gallery {
    max-width: 388px;
  }

  .content-container {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5 {
      margin-top: 0;
    }
  }
}

.preview-inner-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 4.375rem;
  padding-bottom: 1rem;

  .cs--wrapper &,
  .cs--inverse &,
  .cs--accent & {
    border-bottom: 1px dotted color('white');
  }

  .cs--highlighted & {
    border-bottom: 1px dotted color('dark-gray');
  }
}

.preview-inner-inner-container {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}

dl.styleguide {
  dt,
  dd {
    max-width: 100%;
  }

  dd {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

.preview-without-padding {
  dl dd {
    padding: 0;
  }

  .content-container {
    margin: 0;
  }
}
