@import '00-settings/vars';
@import '00-settings/colors';
@import '01-mixins/**/*';
@import '61-layouts/**/*';
@import '71-pages/**/*';

//
//
// This file is a customization of the styleguide application.
// This file is only applicable on stijlgids.stad.gent
//
//

//
// Color classes to show the color swatches in the style guide.
//
.color-wrapper {
  display: block;
  width: 100%;
  margin: 0 10px 10px 0;
  float: left;
  border: #e1e1e1 1px solid;
  color: rgba(0, 0, 0, .5);
  text-align: center;

  .color {
    height: 75px;
    padding: 1rem;
    border-bottom: #e1e1e1 1px solid;
  }

  .color-info {
    min-height: 50px;
    padding: .5rem;
    border-bottom: 1px solid color('dark-gray', -3);

    @media all and (min-width: 480px) {
      min-height: 125px;
    }
  }

  .color-variants {
    padding: .5rem;

    .color-variant {
      margin-bottom: 2rem;
    }

    .color-variants-title {
      margin-bottom: 1rem;
    }

    code {
      display: block;
      margin-bottom: .5rem;
      border: 1px dotted color('dark-gray', -4);
      background-color: color('dark-gray', -6);
      font-size: .8rem;
      font-style: italic;
      overflow-x: scroll;
    }
  }

  @media all and (min-width: 480px) {
    width: 250px;
  }
}

//
// Generate style guide specific classes to show the color swatch variants.
//
.color-swatch-variant {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid color('dark-gray', -3);
}

@each $color-key, $color in $colors {
  @each $tint-key, $tint in $tints {
    .color-swatch-#{$color-key}-#{$tint-key} {
      background-color: color($color-key, $tint-key);

      &::after {
        position: absolute;
        top: -1.5rem;
        right: 0;
        left: 0;
        margin: auto;
        font-size: .8rem;

        content: '#{color($color-key, $tint-key)}';
      }
    }
  }
}

//
// Title styling for the style guide specific parts.
//
h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide {
  margin-top: 0;
}

h2.styleguide-title {
  padding: .25rem .5rem;
  border-bottom: 1px dotted color('cyan-wcag', -1);
  background: color('cyan-wcag', -6);

  .cs--wrapper &,
  .cs--inverse &,
  .cs--accent & {
    background: color('white');
    color: color('cyan-wcag');
  }

  .cs--wrapper & {
    color: color('blue', -2);
  }
}

//
// Preview containers
//
.preview-container {
  min-height: 100vh;
  padding: 4% 0;
  background-color: #fff;
  overflow: hidden;

  .gallery {
    max-width: 388px;
  }

  .content-container {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      margin-top: 0;
    }
  }
}

.preview-inner-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 4.375rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted color('cyan', 1);

  .cs--wrapper &,
  .cs--inverse &,
  .cs--accent & {
    border-bottom: 1px dotted color('white');
  }

  .cs--highlighted & {
    border-bottom: 1px dotted color('dark-gray');
  }
}

.preview-inner-inner-container {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}
