.dg-block-links {
  list-style: none;

  a {
    color: color('orange', -2);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: color('orange', -2);
    }

    &:visited {
      color: color('orange', -2);
    }

  }
}
