.dg-block-disclaimer {

  h2 {
    @extend %h3;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  a {
    @include theme('color', 'color-primary--darken-2', 'disclaimer-block-link-color');
    margin-left: -.2em;
  }
}
