<div class="dg-block-disclaimer">
  {% include 'h2' with {
    'h2_text': 'Useful links'
  } %}
  {% include "@list" with
    {
      "type": 'unordered',
      "items": [
        "<a href='https://stad.gent'>Vacancies</a>",
        "<a href='https://stad.gent'>City plan</a>",
        "<a href='https://stad.gent'>Press room City of Ghent</a>",
        "<a href='https://stad.gent'>Legal information and privacy</a>",
        "<a href='https://stad.gent'>Another link</a>",
      ]
    }
  %}
</div>
