<div class="dg-block-disclaimer">
  {% include 'h3'with {
    'h3_text': 'Useful links'
  } %}
  {% include "@list" with
    {
      "type": 'unordered',
      "items": [
        "<a href='https://stad.gent/werken-ondernemen/werken/werken-bij-de-stad-gent/vacatures-en-solliciteren'>Vacancies</a>",
        "<a href='https://stad.gent/over-gent-en-het-stadsbestuur/over-gent/kaarten-cijfers-en-data/gent-kaart/stadsplan;>City plan</a>",
        "<a href='http://persruimte.stad.gent/'>Press room City of Ghent</a>",
        "<a href='https://stad.gent/over-gent-en-het-stadsbestuur/vragen-suggesties-en-meldingen/juridische-info-en-privacy'>Legal info and privacy</a>"
      ]
    }
  %}
</div>
