<div class="dg-block-disclaimer">
  {% include '@heading' with {
    'type': 'h2',
    'heading_text': 'Useful links'
  } %}
  {% include "@list" with
    {
      "type": 'unordered',
      "items": [
        "<a href='javascript:(void);'>Vacancies</a>",
        "<a href='javascript:(void);'>City plan</a>",
        "<a href='https://persruimte.stad.gent'>Press room City of Ghent</a>",
        "<a href='javascript:(void);'>Legal information and privacy</a>",
        "<a href='https://www.example.com'>Another link</a>",
      ]
    }
  %}
</div>
