<div class="dg-block-disclaimer">
  {% include 'h2' with {
    'h2_text': 'Useful links'
  } %}
  {% include "@list" with
    {
      "type": 'unordered',
      "items": [
        "<a href='javascript:(void);'>Vacancies</a>",
        "<a href=javascript:(void);''>City plan</a>",
        "<a href=javascript:(void);''>Press room City of Ghent</a>",
        "<a href=javascript:(void);''>Legal information and privacy</a>",
        "<a href=javascript:(void);''>Another link</a>",
      ]
    }
  %}
</div>
