<div class="card">
  <div>
    <h3>Title</h3>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis est harum magni mollitia quo reiciendis saepe. Minus quam quibusdam rem.
    </div>
  </div>
  <div class="actions">
    <button type="button"
            class="button button-secondary button-small icon-cross">Verwijder</button>
  </div>
</div>
