<fieldset class="form-item {{ modifier }}">
  <legend>
    {{ label }}
    {% if label_optional %}
      <span class="label-optional">({{ label_optional }})</span>
    {% endif %}
  </legend>
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@field-description' with {
        "field_description": field_description
      } %}
    </div>
    <div class="form-item-column">

    {% for option in options %}
      {% include '@input-checkbox' with {
        'checkbox_label': option.label_checkbox,
        'checkbox_name': option.checkbox_name,
        'checkbox_id': option.checkbox_id
      } %}
    {% endfor %}

      {% if modifier == 'error' %}
        {% include '@field-message' with {
          "modifier": "error"
        } %}
      {% endif %}
      {% if modifier == 'success' %}
        {% include '@field-message' with {
          "modifier": "success"
        } %}
      {% endif %}
    </div>
  </div>
</fieldset>
