<fieldset class="form-item">
  <legend>
    {{ label }}
    <span class="label-optional">({{ label_optional }})</span>
  </legend>
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@field-description' with {
        "field_description": field_description
      } %}
    </div>
    <div class="form-item-column">

      {% include '@input-checkbox' with {
        'label': label_checkbox1,
        'checkbox_name': checkbox1_name,
        'checkbox_id': checkbox1_id
      } %}

      {% include '@input-checkbox' with {
        'label': label_checkbox2,
        'checkbox_name': checkbox2_name,
        'checkbox_id': checkbox2_id
      } %}
      {% if modifier == 'error' %}
        {% include '@field-message' with {
          "modifier": "error"
        } %}
      {% endif %}
      {% if modifier == 'success' %}
        {% include '@field-message' with {
          "modifier": "success"
        } %}
      {% endif %}
    </div>
  </div>
</fieldset>
