$timeline-border: 6px;
$timeline-m-left-padding: 35px;
$timeline-m-right-padding: 30px;
$timeline-dd-space-between-mobile: 60px;
$timeline-dd-space-between: 90px;
$timeline-dt-left-padding: 0px; // sass-lint:disable-line zero-unit
$timeline-dt-right-padding: 112px;

.timeline-wrapper {
  max-width: 375px;

  @include desktop {
    max-width: 970px;
    margin: 0 auto;
  }
}

dl.timeline {
  width: 100%;
  padding: 0;

  .timeline-slot {
    // Timeline-slot title styling.
    &-title {
      position: relative;
      width: 100%;
      margin: 0;
      border: 0;
      background: transparent;
      line-height: 36px;

      button {
        width: 100%;
        margin-left: -45px;
        padding-left: 45px;
        color: inherit;
        font-size: inherit;
        line-height: inherit;

        @include desktop {
          margin-left: -55px;
          padding-left: 55px;

          &::after {
            right: 100%;
            width: 60px;
            height: $timeline-border;
            background-color: color(cyan-pastel);
            content: '';
            z-index: -2;
          }
        }

        &::before,
        &::after {
          position: absolute;
        }

        // +/- icon
        &::before {
          display: flex;
          left: 0;
          align-items: center;
          min-width: 36px;
          min-height: 36px;
          font-size: 1.2rem;
          line-height: 1.54rem;
          z-index: -1;
        }
      }
    }

    &-date {
      display: block;
      width: 100%;
      padding-top: 5px;
    }

    &-content,
    &-header {
      width: 100%;
    }

    &-content {

      &__img {
        &:focus,
        &:focus-within {
          overflow: unset; // The overflow is needed for the accordion animation only
        }
      }

      &:not(.timeline-slot-content__img) {
        padding-top: calc($gutter-width/2);
      }

      .content-image {
        padding-bottom: calc($gutter-width/2);

        @include desktop {
          padding-bottom: 0;
        }
      }

      .gallery-link {
        display: block;
      }

      ul,
      ol {
        margin-left: 0;
        list-style-position: inside;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }

    > dt {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: left;

      @include desktop {
        text-align: center;
      }

      .dt-title {
        @include theme('background-color', 'color-secondary', 'timeline-dt-bg-color');

        display: inline-block;
        margin: 0;
        padding: 2px 10px;
      }
    }

    .item {
      display: grid;
      position: relative;
      grid-template-areas:
      "title"
      "left";
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;

      @include desktop {
        grid-template-areas:
        "title title"
        "left  right";
        grid-template-columns: 1fr 1fr;
      }

      & > dd {
        @include theme('border-color', 'color-primary', 'timeline-line-color');

        position: relative;
        width: 100%;
        max-width: none;
        margin: 0;
        padding-right: calc(#{$gutter-width*.5});
        padding-bottom: $timeline-dd-space-between-mobile;
        padding-left: calc(#{$timeline-m-left-padding} + #{$timeline-m-right-padding});
        grid-area: left;

        @include desktop {
          padding-bottom: $timeline-dd-space-between;
        }

        &::after {
          @include theme('border-color', 'color-tertiary-pastel', 'timeline-line-color');

          position: absolute;
          top: 0;
          bottom: 0;
          left: $timeline-m-left-padding;
          border-left: $timeline-border solid;
          content: '';
          z-index: -2;

          @include desktop {
            left: calc(#{$timeline-dt-left-padding} - #{$timeline-border} / 2);
          }
        }

        &.active::before {
          @include theme('background-color', 'color-tertiary-pastel', 'timeline-slot-active-indicator-background');
        }

        .accordion--content {
          margin-left: 0;
        }

        // Video component styling inside a timeline-slot.
        .video-wrapper {
          position: relative;
          width: 100%;
          margin-left: 0;

          // Fix to add whitespace to the video top and bottom areas.
          &::before,
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            z-index: z('timeline', 'video', 'background');
          }

          .video {
            position: relative;
            border: 0;
            z-index: z('timeline', 'video', 'player');

            .audio-description {
              min-height: 40px;
              padding-left: 60px;

              // Dots after a video intersection.
              &::after {
                bottom: 4px;
              }
            }
          }
        }
      }

      // Alternating timeline-slots get alternating styling (left/right).
      &:nth-of-type(odd):not(.item--left),
      &.item--right {
        .item__image-desktop {
          @include desktop {
            padding-right: 66px;
            padding-left: calc(#{$gutter-width*.5});

            &::after {
              display: none;
            }
          }
        }

        .item__content {
          @include desktop {
            padding-right: calc(#{$gutter-width*.5});
            padding-left: calc(#{$timeline-dt-left-padding} + #{$timeline-dt-right-padding});
            grid-area: right;
          }
        }
      }

      &:nth-of-type(even):not(.item--right),
      &.item--left {
        .item__image-desktop {
          @include desktop {
            padding-right: calc(#{$gutter-width*.5});
            padding-left: 66px;
            grid-area: right;
          }
        }

        .item__content {
          @include desktop {
            padding-right: calc(#{$timeline-dt-left-padding} + #{$timeline-dt-right-padding});
            padding-left: calc(#{$gutter-width*.5});
            text-align: right;

            .timeline-slot-title {
              button {
                justify-content: flex-end;
                margin: 0 0 0 55px;
                padding: 0 55px 0 0;

                // +/- icon
                &::before {
                  right: 0;
                  left: auto;
                  margin: 0 0 0 15px;
                  padding-right: 4px;
                }

                &::after {
                  right: auto;
                  left: 100%;
                }
              }
            }

            &::after {
              display: none;
            }
          }
        }
      }

      &:first-of-type {
        & > dd {
          padding-top: $timeline-dd-space-between-mobile;

          @include desktop {
            padding-top: $timeline-dd-space-between;
          }
        }
      }
    }

    // Last paragraph styling
    &:last-of-type {
      .item > dd {
        padding-bottom: 0;
      }
    }
  }
}
