<h2 class="visually-hidden">Timeline</h2>
<dl class="timeline">
  <div class="timeline-slot">
    <dt>2018</dt>
    <dd>
      <div class="timeline-slot-header">
        <button class="timeline-slot-title" aria-expanded="true" aria-controls="timeline-slot-content"><h3>Title</h3></button>
        <span class="timeline-slot-date">27 august 2017</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>2017</dt>
    <dd>
      <div class="timeline-slot-header">
        <button class="timeline-slot-title" aria-expanded="false" aria-controls="timeline-slot-content"><h3>Title</h3></button>
        <span class="timeline-slot-date">27 august 2017</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
    </dd>
    <dd>
    <button class="timeline-slot-title" aria-expanded="true" aria-controls="timeline-slot-content"><h3>Title</h3></button>
      <span class="timeline-slot-date">7 november 2017</span>
    </dd>
    <dd>
      <button class="timeline-slot-title" aria-expanded="true" aria-controls="timeline-slot-content"><h3>Cupcake ipsum lolly cake marzipan</h3></button>
      <span class="timeline-slot-date">7 november 2017</span>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>Once upon a time</dt>
    <dd>
      <div class="timeline-slot-header">
        <button class="timeline-slot-title" aria-expanded="true" aria-controls="timeline-slot-content"><h3>Title</h3></button>
        <span class="timeline-slot-date">27 august 2011</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>Sometime in 2016</dt>
    <dd class="active">
      <div class="timeline-slot-header">
        <button class="timeline-slot-title" aria-expanded="true" aria-controls="timeline-slot-content"><h3>A fantastic weekend</h3></button>
        <span class="timeline-slot-date">Januari 2016</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://via.placeholder.com/704x440",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
      <div class="timeline-slot-content">
        {% include '@paragraph' with {
          'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
        } %}
        <div class="video-wrapper">
          {% include '@video' with {
            'title': 'Promofilm stad Gent.',
            'src': 'https://www.youtube.com/embed/S0vLmTWUmok',
            'audio_description_src': 'https://www.youtube.com/embed/S0vLmTWUmok'
          } %}
        </div>
      </div>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>1,4 till 1,6 milion years ago</dt>
    <dd>
      <div class="timeline-slot-header">
        <button class="timeline-slot-title" aria-expanded="true" aria-controls="timeline-slot-content"><h3>Title</h3></button>
        <span class="timeline-slot-date">On a thursday</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery' with {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          } %}
        </div>
      </div>
      <div class="timeline-slot-content">
        <div class="video-wrapper">
          {% include '@video' with {
            'title': 'Promofilm stad Gent.',
            'src': 'https://www.youtube.com/embed/S0vLmTWUmok',
          } %}
        </div>
      </div>
    </dd>
    <dd>
      <div class="timeline-slot-header">
        <button class="timeline-slot-title" aria-expanded="true" aria-controls="timeline-slot-content"><h3>Title</h3></button>
        <span class="timeline-slot-date">On a thursday</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery' with {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          } %}
        </div>
        <div class="timeline-slot-content">
          <div class="video-wrapper">
            {% include '@video' with {
              'title': 'Promofilm stad Gent.',
              'src': 'https://www.youtube.com/embed/S0vLmTWUmok',
              'audio_description_src': 'https://www.youtube.com/embed/S0vLmTWUmok'
            } %}
          </div>
        </div>
      </div>
    </dd>
  </div>
</dl>
