<dl class="timeline">
  <div class="timeline-slot">
    <dt>2018</dt>
    <dd>
      <strong>Title</strong>
      <span>27 august 2017</span>
      {% include '@image-gallery--multiple' with {
        "items": [
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          }
        ]
      } %}
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>2017</dt>
    <dd>
      <strong>Title</strong>
      <span>27 august 2017</span>
      {% include '@image-gallery--multiple' with {
        "items": [
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          }
        ]
      } %}
    </dd>
    <dd>
      <strong>Concept study</strong>
      <span>7 november 2017</span>
    </dd>
    <dd>
      <strong>Cupcake ipsum lolly cake marzipan</strong>
      <span>7 november 2017</span>
    </dd>
  </div>
  <dt>Once upon a time</dt>
    <dd>
      <strong>Title</strong>
      <span>27 august 2011</span>
      {% include '@image-gallery--multiple' with {
        "items": [
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://via.placeholder.com/704x440",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          }
        ]
      } %}
    </dd>
</dl>
