<div class="timeline-wrapper">
  <h2 class="visually-hidden">Timeline</h2>
  <dl class="timeline accordion">
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">2017</h3>
      </dt>
      <dd class="show-desktop-only">
        <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--1" aria-hidden="true">
          {% include '@image-gallery--single' with {

            "items": [
              {
                "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </dd>
      <dd>
        <div class="timeline-slot-header">
          <h4 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--1" data-controls-img="timeline-slot-img--1" class="accordion--button">Title</button></h4>
          <span class="timeline-slot-date">21 juli 2017</span>
        </div>
        <div class="timeline-slot-content accordion--content" id="timeline-slot-content--1" aria-hidden="true">
          <div class="content-image hidden-desktop">
            {# This is the same image as above #}
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
          {% include '@paragraph' with {
            'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
          } %}
        </div>
      </dd>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">A long long looooong time ago</h3>
      </dt>
      <dd class="show-desktop-only">
        <div class="timeline-slot-content timeline-slot-content__img accordion--content show-desktop-only" id="timeline-slot-img--2">
          {% include '@image-gallery--single' with {

            "items": [
              {
                "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </dd>
      <dd>
        <div class="timeline-slot-header">
          <h4 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--2" data-controls-img="timeline-slot-img--2" class="accordion--button">Title</button></h4>
          <span class="timeline-slot-date">27 augustus 2019</span>
        </div>
        <div class="timeline-slot-content accordion--content" id="timeline-slot-content--2">
          <div class="content-image hidden-desktop">
            {# This is the same image as above #}
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
          {% include '@paragraph' with {
            'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
          } %}
        </div>
      </dd>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">2017</h3>
      </dt>
      <dd class="show-desktop-only">
        <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--3">
          {% include '@image-gallery--single' with {

            "items": [
              {
                "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </dd>
      <dd>
        <div class="timeline-slot-header">
          <h4 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--3" data-controls-img="timeline-slot-img--3" class="accordion--button">Title</button></h4>
          <span class="timeline-slot-date">21 juli 2017</span>
        </div>
        <div class="timeline-slot-content accordion--content" id="timeline-slot-content--3">
          <div class="content-image hidden-desktop">
            {# This is the same image as above #}
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
          {% include '@paragraph' with {
            'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
          } %}
        </div>
      </dd>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">A long long looooong time ago</h3>
      </dt>
      <dd class="show-desktop-only">
        <div class="timeline-slot-content timeline-slot-content__img accordion--content show-desktop-only" id="timeline-slot-img--4">
          {% include '@image-gallery--single' with {

            "items": [
              {
                "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </dd>
      <dd>
        <div class="timeline-slot-header">
          <h4 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--4" data-controls-img="timeline-slot-img--4" class="accordion--button">Title</button></h4>
          <span class="timeline-slot-date">27 augustus 2019</span>
        </div>
        <div class="timeline-slot-content accordion--content" id="timeline-slot-content--4">
          <div class="content-image hidden-desktop">
            {# This is the same image as above #}
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
          {% include '@paragraph' with {
            'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
          } %}
        </div>
      </dd>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">2017</h3>
      </dt>
      <dd class="show-desktop-only">
        <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--5">
          {% include '@image-gallery--single' with {

            "items": [
              {
                "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </dd>
      <dd>
        <div class="timeline-slot-header">
          <h4 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--5" data-controls-img="timeline-slot-img--5" class="accordion--button">Title</button></h4>
          <span class="timeline-slot-date">21 juli 2017</span>
        </div>
        <div class="timeline-slot-content accordion--content" id="timeline-slot-content--5">
          <div class="content-image hidden-desktop">
            {# This is the same image as above #}
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
          {% include '@paragraph' with {
            'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
          } %}
        </div>
      </dd>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">A long long looooong time ago</h3>
      </dt>
      <dd class="show-desktop-only">
        <div class="timeline-slot-content timeline-slot-content__img accordion--content show-desktop-only" id="timeline-slot-img--6">
          {% include '@image-gallery--single' with {

            "items": [
              {
                "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </dd>
      <dd>
        <div class="timeline-slot-header">
          <h4 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--6" data-controls-img="timeline-slot-img--6" class="accordion--button">Title</button></h4>
          <span class="timeline-slot-date">27 augustus 2019</span>
        </div>
        <div class="timeline-slot-content accordion--content" id="timeline-slot-content--6">
          <div class="content-image hidden-desktop">
            {# This is the same image as above #}
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
          {% include '@paragraph' with {
            'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
          } %}
        </div>
      </dd>
    </div>
  </dl>
</div>
