<div class="timeline-wrapper">
  <h2 class="visually-hidden">Timeline</h2>
  <dl class="timeline accordion">
    {# Timeline paragraph BEGIN #}
    <div class="timeline-slot" role="listitem">
      {# Timeline paragraph title #}
      <dt>
        <h3 class="dt-title">Paragraph title</h3>
      </dt>
      {# Timeline item BEGIN #}
      <div class="item item--right">
        <dd class="item__content">
          <div class="timeline-slot-header">
            {# Timeline item title #}
            <h4 class="timeline-slot-title">
              <button aria-expanded="true" aria-controls="timeline-slot-content--1"
                      data-controls-img="timeline-slot-img--1" class="accordion--button">
                Timeline item title
              </button>
            </h4>
            {# Timeline item subtitle #}
            <h5 class="timeline-slot-date">Timeline item subtitle/date</h5>
          </div>
          <div class="timeline-slot-content accordion--content accordion--expanded" id="timeline-slot-content--1" aria-hidden="false">
            <div class="content-image hidden-desktop">
              {# This is the same image as above #}
              {% include '@image-gallery--single' with {

                "items": [
                  {
                    "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                    "alt": "placeholder image alternative text",
                    "caption": "image caption"
                  }
                ]
              } %}
            </div>
            {# Timeline item text #}
            {% include '@paragraph' with {
              'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
            } %}
            <ol>
              <li>Candy lollipops</li>
              <li>Sugar sweetness</li>
              <li>Toffee sticks</li>
            </ol>
          </div>
        </dd>
        <dd class="item__image-desktop show-desktop-only">
          <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--1"
               aria-hidden="true">
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
        </dd>
      </div>
      {# Timeline item END #}
      <div class="item item--left">
        <dd class="item__content">
          <div class="timeline-slot-header">
            <h4 class="timeline-slot-title">
              <button aria-expanded="true" aria-controls="timeline-slot-content--1b"
                      data-controls-img="timeline-slot-img--1b" class="accordion--button">
                Timeline item title
              </button>
            </h4>
            <h5 class="timeline-slot-date">Timeline item subtitle/date</h5>
          </div>
          <div class="timeline-slot-content accordion--content accordion--expanded" id="timeline-slot-content--1b" aria-hidden="false">
            <div class="content-image hidden-desktop">
              {# This is the same image as above #}
              {% include '@image-gallery--single' with {

                "items": [
                  {
                    "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                    "alt": "placeholder image alternative text",
                    "caption": "image caption"
                  }
                ]
              } %}
            </div>
            {% include '@paragraph' with {
              'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
            } %}
            <ol>
              <li>Candy lollipops</li>
              <li>Sugar sweetness</li>
              <li>Toffee sticks</li>
            </ol>
          </div>
        </dd>
        <dd class="item__image-desktop show-desktop-only">
          <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--1b"
               aria-hidden="false">
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
        </dd>
      </div>
    </div>
    {# Timeline paragraph END #}

    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">Paragraph title</h3>
      </dt>
      <div class="item item--right">
        <dd class="item__content">
          <div class="timeline-slot-header">
            <h4 class="timeline-slot-title">
              <button aria-expanded="false" aria-controls="timeline-slot-content--2"
                      data-controls-img="timeline-slot-img--2" class="accordion--button">
                Timeline item title
              </button>
            </h4>
            <h5 class="timeline-slot-date">Timeline item subtitle/date</h5>
          </div>
          <div class="timeline-slot-content accordion--content" id="timeline-slot-content--2" aria-hidden="true">
            <div class="content-image hidden-desktop">
              {% include '@image-gallery--single' with {

                "items": [
                  {
                    "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                    "alt": "placeholder image alternative text",
                    "caption": "image caption"
                  }
                ]
              } %}
            </div>
            {% include '@paragraph' with {
              'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
            } %}
            <ul>
              <li>Candy lollipops</li>
              <li>Sugar sweetness</li>
              <li>Toffee sticks</li>
            </ul>
          </div>
        </dd>
        <dd class="item__image-desktop show-desktop-only">
          <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--2"
               aria-hidden="true">
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
        </dd>
      </div>
      <div class="item item--left">
        <dd class="item__content">
          <div class="timeline-slot-header">
            <h4 class="timeline-slot-title">
              <button aria-expanded="false" aria-controls="timeline-slot-content--2b"
                      data-controls-img="timeline-slot-img--2b" class="accordion--button">
                Timeline item title
              </button>
            </h4>
            <h5 class="timeline-slot-date">Timeline item subtitle/date</h5>
          </div>
          <div class="timeline-slot-content accordion--content" id="timeline-slot-content--2b" aria-hidden="true">
            <div class="content-image hidden-desktop">
              {% include '@image-gallery--single' with {

                "items": [
                  {
                    "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                    "alt": "placeholder image alternative text",
                    "caption": "image caption"
                  }
                ]
              } %}
            </div>
            {% include '@paragraph' with {
              'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
            } %}
            <ul>
              <li>Candy lollipops</li>
              <li>Sugar sweetness</li>
              <li>Toffee sticks</li>
            </ul>
          </div>
        </dd>
        <dd class="item__image-desktop show-desktop-only">
          <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--2b"
               aria-hidden="true">
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
        </dd>
      </div>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">Paragraph title</h3>
      </dt>
      <div class="item item--right">
        <dd class="item__content">
          <div class="timeline-slot-header">
            <h4 class="timeline-slot-title">
              <button aria-expanded="false" aria-controls="timeline-slot-content--3"
                      data-controls-img="timeline-slot-img--3" class="accordion--button">
                Timeline item title
              </button>
            </h4>
            <h5 class="timeline-slot-date">Timeline item subtitle/date</h5>
          </div>
          <div class="timeline-slot-content accordion--content" id="timeline-slot-content--3" aria-hidden="true">
            <div class="content-image hidden-desktop">
              {% include '@image-gallery--single' with {

                "items": [
                  {
                    "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                    "alt": "placeholder image alternative text",
                    "caption": "image caption"
                  }
                ]
              } %}
            </div>
            {% include '@paragraph' with {
              'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
            } %}
            <ul>
              <li>Candy lollipops</li>
              <li>Sugar sweetness</li>
              <li>Toffee sticks</li>
            </ul>
          </div>
        </dd>
        <dd class="item__image-desktop show-desktop-only">
          <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--3"
               aria-hidden="true">
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
        </dd>
      </div>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">Paragraph title</h3>
      </dt>
      <div class="item item--left">
        <dd class="item__content">
          <div class="timeline-slot-header">
            <h4 class="timeline-slot-title">
              <button aria-expanded="false" aria-controls="timeline-slot-content--4"
                      data-controls-img="timeline-slot-img--4" class="accordion--button">
                Timeline item title
              </button>
            </h4>
            <h5 class="timeline-slot-date">Timeline item subtitle/date</h5>
          </div>
          <div class="timeline-slot-content accordion--content" id="timeline-slot-content--4" aria-hidden="true">
            <div class="content-image hidden-desktop">
              {% include '@image-gallery--single' with {

                "items": [
                  {
                    "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                    "alt": "placeholder image alternative text",
                    "caption": "image caption"
                  }
                ]
              } %}
            </div>
            {% include '@paragraph' with {
              'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
            } %}
            <ul>
              <li>Candy lollipops</li>
              <li>Sugar sweetness</li>
              <li>Toffee sticks</li>
            </ul>
          </div>
        </dd>
        <dd class="item__image-desktop show-desktop-only">
          <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--4"
               aria-hidden="true">
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
        </dd>
      </div>
    </div>
    <div class="timeline-slot" role="listitem">
      <dt>
        <h3 class="dt-title">Paragraph title</h3>
      </dt>
      <div class="item item--right">
        <dd class="item__content">
          <div class="timeline-slot-header">
            <h4 class="timeline-slot-title">
              <button aria-expanded="false" aria-controls="timeline-slot-content--5"
                      data-controls-img="timeline-slot-img--5" class="accordion--button">
                Timeline item title
              </button>
            </h4>
            <h5 class="timeline-slot-date">Timeline item subtitle/date</h5>
          </div>
          <div class="timeline-slot-content accordion--content" id="timeline-slot-content--5" aria-hidden="true">
            <div class="content-image hidden-desktop">
              {% include '@image-gallery--single' with {

                "items": [
                  {
                    "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                    "alt": "placeholder image alternative text",
                    "caption": "image caption"
                  }
                ]
              } %}
            </div>
            {% include '@paragraph' with {
              'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
            } %}
            <ul>
              <li>Candy lollipops</li>
              <li>Sugar sweetness</li>
              <li>Toffee sticks</li>
            </ul>
          </div>
        </dd>
        <dd class="item__image-desktop show-desktop-only">
          <div class="timeline-slot-content timeline-slot-content__img accordion--content" id="timeline-slot-img--5"
               aria-hidden="true">
            {% include '@image-gallery--single' with {

              "items": [
                {
                  "src": "https://via.placeholder.com/800x500&text=8:5+(800x500)",
                  "alt": "placeholder image alternative text",
                  "caption": "image caption"
                }
              ]
            } %}
          </div>
        </dd>
      </div>
    </div>
  </dl>
</div>
