<h2 class="visually-hidden">Timeline</h2>
<dl class="timeline accordion">
  <div class="timeline-slot">
    <dt>2018</dt>
    <dd>
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--1" class="accordion--button">Title</button></h3>
        <span class="timeline-slot-date">27 august 2017</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://loremflickr.com/704/440/ghent?random=1",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=2",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=3",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
      <div class="timeline-slot-content accordion--content" id="timeline-slot-content--1">
        {% include '@paragraph' with {
          'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
        } %}
      </div>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>2017</dt>
    <dd>
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--2" class="accordion--button">Title</button></h3>
        <span class="timeline-slot-date">27 august 2017</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://loremflickr.com/704/440/ghent?random=4",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=5",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=6",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
      <div class="timeline-slot-content accordion--content" id="timeline-slot-content--2">
        {% include '@paragraph' with {
          'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
        } %}
      </div>
    </dd>
    <dd>
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title">Title</h3>
        <span class="timeline-slot-date">7 november 2017</span>
      </div>
    </dd>
    <dd>
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title">Title</h3>
        <span class="timeline-slot-date">7 november 2017</span>
      </div>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>Once upon a time</dt>
    <dd>
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title"><button aria-expanded="false" aria-controls="timeline-slot-content--5" class="accordion--button">Title</button></h3>
        <span class="timeline-slot-date">27 august 2011</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://loremflickr.com/704/440/ghent?random=6",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=7",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=8",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=9",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=10",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=11",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
      <div class="timeline-slot-content accordion--content" id="timeline-slot-content--5">
        {% include '@paragraph' with {
        'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
        } %}
      </div>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>Sometime in 2016</dt>
    <dd class="active">
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title"><button aria-expanded="true" aria-controls="timeline-slot-content--6" class="accordion--button">Title</button></h3>
        <span class="timeline-slot-date">Januari 2016</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery--multiple' with {
            "items": [
              {
                "src": "https://loremflickr.com/704/440/ghent?random=12",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              },
              {
                "src": "https://loremflickr.com/704/440/ghent?random=13",
                "alt": "placeholder image alternative text",
                "caption": "image caption"
              }
            ]
          } %}
        </div>
      </div>
      <div class="timeline-slot-content accordion--content" id="timeline-slot-content--6">
        {% include '@paragraph' with {
          'text': 'This is the base font. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread. Jelly beans toffee macaroon sweet roll.'
        } %}
        <div class="video-wrapper">
          <div class="video-inner-wrapper">
            {% include '@video' with {
              'title': 'Promofilm stad Gent.',
              'src': 'https://www.youtube.com/embed/S0vLmTWUmok',
              'audio_description_src': 'https://www.youtube.com/embed/S0vLmTWUmok'
            } %}
          </div>
        </div>
      </div>
    </dd>
  </div>
  <div class="timeline-slot">
    <dt>1,4 till 1,6 milion years ago</dt>
    <dd>
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title"><button aria-expanded="true" aria-controls="timeline-slot-content--7" class="accordion--button">Title</button></h3>
        <span class="timeline-slot-date">On a thursday</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery' with {
            "src": "https://loremflickr.com/704/440/ghent?random=14",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          } %}
        </div>
      </div>
      <div class="timeline-slot-content accordion--content" id="timeline-slot-content--7">
      <div class="video-wrapper">
        <div class="video-inner-wrapper">
          {% include '@video' with {
            'title': 'Promofilm stad Gent.',
            'src': 'https://www.youtube.com/embed/S0vLmTWUmok',
            'audio_description_src': 'https://www.youtube.com/embed/S0vLmTWUmok'
          } %}
        </div>
      </div>
      </div>
    </dd>
    <dd>
      <div class="timeline-slot-header">
        <h3 class="timeline-slot-title"><button aria-expanded="true" aria-controls="timeline-slot-content--8" class="accordion--button">Title</button></h3>
        <span class="timeline-slot-date">On a thursday</span>
        <div class="image-gallery-wrapper">
          {% include '@image-gallery' with {
            "src": "https://loremflickr.com/704/440/ghent?random=15",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          } %}
        </div>
      </div>
      <div class="timeline-slot-content accordion--content" id="timeline-slot-content--8">
      <div class="video-wrapper">
        <div class="video-inner-wrapper">
          {% include '@video' with {
            'title': 'Promofilm stad Gent.',
            'src': 'https://www.youtube.com/embed/S0vLmTWUmok',
            'audio_description_src': 'https://www.youtube.com/embed/S0vLmTWUmok'
          } %}
        </div>
      </div>
      </div>
    </dd>
  </div>
</dl>
