.field-message {
  @include theme('color', 'color-zero', 'field-messages-color');
  @include theme('background-color', 'color-info--lighten-5', 'field-messages-info-background');
  @include theme('border-color', 'color-info', 'field-messages-info-background');

  $field-message-icon-size: 1.5rem;
  $field-message-icon-margin: 1.5rem;

  display: inline-block;
  position: relative;
  align-items: center;
  max-width: 40rem;
  min-height: 2.5rem;
  margin-top: .2rem;
  padding: 1.7rem 1.2rem .7rem;
  border-bottom: 2px solid;
  font-size: .8rem;

  :nth-last-child(2) {
    margin-bottom: 0;
  }

  &::before {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: .7rem;
    width: $field-message-icon-size;
    height: $field-message-icon-size;
    margin: auto $field-message-icon-margin auto auto;
    border-radius: 100%;
    background-color: color('white');
    font-size: 1.1rem;
    line-height: $field-message-icon-size;
    text-align: center;
  }

  .accolade {
    top: 0;
    transform: rotate(180deg);

    &::before {
      left: -1px;
      width: calc(100% - 1.5rem + 1px);
    }

    &::after {
      right: -1px;
      width: calc(1.5rem + 1px);
    }
  }

  a {
    @include theme('color', 'color-tertiary--lighten-1', 'field-messages-color');
    @include link-background('color-tertiary', 'color-primary--lighten-4', 'field-messages-link-border-color', 'link-background-color');

    &:hover {
      @include theme('color', 'color-tertiary', 'field-messages-link-hover-color');
    }
  }

  &.success {
    @include icon('checkmark');
    @include theme('background-color', 'color-success--lighten-5', 'field-description-background');
    @include theme('border-color', 'color-success', 'field-description-background');

    padding-left: 2.9rem;

    &::before {
      @include theme('color', 'color-success', 'field-description-icon');
    }

    a {
      @include link-background('color-tertiary', 'color-success--lighten-4', 'field-messages-link-border-color', 'field-messages-success-background-color');
    }
  }

  &.error {
    @include icon('cross');
    @include theme('background-color', 'color-error--lighten-5', 'field-description-background');
    @include theme('border-color', 'color-error', 'field-description-background');

    padding-left: 2.9rem;

    &::before {
      @include theme('color', 'color-error', 'field-description-icon');
    }

    a {
      @include link-background('color-tertiary', 'color-error--lighten-4', 'field-messages-link-border-color', 'field-messages-error-background-color');
    }
  }
}
