.field-message {
  @include theme('color', 'color-zero', 'message-text-color');
  @include theme('background-color', 'color-info-light', 'info-message-background');
  @include theme('border-color', 'color-info', 'info-message-icon-color');

  $field-message-icon-size: 1.5rem;
  $field-message-icon-margin: 1.5rem;

  display: inline-block;
  position: relative;
  align-items: center;
  max-width: 40rem;
  min-height: 2.5rem;
  margin-top: .2rem;
  padding: 1.7rem 1.2rem .7rem;
  border-bottom: 3px solid;
  font-size: .7rem;

  :nth-last-child(2) {
    margin-bottom: 0;
  }

  &::before {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: .7rem;
    width: $field-message-icon-size;
    height: $field-message-icon-size;
    margin: auto $field-message-icon-margin auto auto;
    font-size: 1.3rem;
    line-height: $field-message-icon-size;
    text-align: center;
  }

  .accolade {
    top: 0;
    transform: rotate(180deg);

    &::before {
      left: -1px;
      width: calc(100% - 1.5rem + 1px);
    }

    &::after {
      right: -1px;
      width: calc(1.5rem + 1px);
    }
  }

  a {
    @include theme('color', 'color-zero', 'field-messages-color');
    @include link-background('color-zero', 'link-hover-background');
  }

  &.success {
    @include icon('checkmark-circle');
    @include theme('background-color', 'color-success-light', 'success-message-background');
    @include theme('border-color', 'color-success', 'success-message-icon-color');

    padding-left: 2.9rem;

    &::before {
      @include theme('color', 'color-success', 'success-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-success-light--darken-1', 'success-message-link-border-color', 'success-message-link-background');
    }
  }

  &.error {
    @include icon('cross-circle');
    @include theme('background-color', 'color-error-light', 'error-message-background');
    @include theme('border-color', 'color-error', 'error-message-icon-color');

    padding-left: 2.9rem;

    &::before {
      @include theme('color', 'color-error', 'error-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-error-light--darken-1', 'error-message-link-border-color', 'error-message-link-background');
    }
  }
}
