.field-message {
  @include theme('color', 'color-tertiary--lighten-1', 'field-messages-color');
  @include icon('accolade-full', 'after');

  $field-message-icon-size: 2.625rem;
  $field-message-icon-margin: 1.625rem;

  display: grid;
  position: relative;
  align-items: center;
  max-width: 40rem;
  min-height: 4rem;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  padding: .75rem 1.43rem .75rem 6rem;
  border-radius: border-radius('radius-1');
  font-size: .7rem;
  line-height: 1.43;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.43rem;
    width: $field-message-icon-size;
    height: $field-message-icon-size;
    margin: auto;
    margin-right: $field-message-icon-margin;
    border-radius: 100%;
    background-color: color('white');
    font-size: 1.5rem;
    line-height: $field-message-icon-size;
    text-align: center;
  }

  &::after {
    position: absolute;
    top: -1.4rem;
    left: 1.6rem;
    font-size: 1.2rem;
  }

  &.success {
    @include icon('checkmark');

    background-color: color('green', -4);

    &::before {
      color: color('green');
    }

    &::after {
      color: color('green', -4);
    }
  }

  &.error {
    @include icon('cross');

    background-color: color('red', -4);

    &::before {
      color: color('red');
    }

    &::after {
      color: color('red', -4);
    }
  }

  a {
    color: inherit;
  }
}
