.form-item {
  margin-bottom: 30px;

  > * {
    max-width: 410px;
  }

  @include desktop {
    > * {
      max-width: 820px;
    }

    > .field-message,
    > label {
      max-width: 410px;
    }
  }

  &.webform-document-file,
  &.webform-image-file {
    a,
    .file-type {
      display: inline-block;
      margin-bottom: 10px;
      font-size: .7rem;
    }
  }

  .field-prefix,
  .field-suffix {
    display: block;
  }

  .field-message:not(.error):not(.success) {
    margin-bottom: 20px;
  }

  &:not(.stacked) {
    .form-label {
      @include desktop {
        width: 50%;
        max-width: 410px;
      }
    }

    .form-columns {
      margin-bottom: 0;

      @include desktop {
        display: flex;

        .form-item-column {
          width: 50%;

          &:last-child {
            display: flex;
            align-items: flex-start;

            .field-message {
              margin: 0 0 gutter() * .5 6px;
              padding: 14px 24px 14px 78px;

              &::before {
                top: 10px;
                left: 34px;
              }

              .accolade {
                right: auto;
                bottom: 0;
                left: 0;
                width: 20px;
                height: 100%;
                transform: rotate(0deg);

                &::before,
                &::after {
                  width: 20px;
                  border: 0;
                }

                &::before {
                  top: 0;
                  bottom: 24px;
                  height: 24px;
                  border-radius: 0 0 border-radius("radius-4");
                }

                &::after {
                  top: 24px;
                  right: 0;
                  bottom: -1px;
                  height: calc(100% - 20px);
                  border-radius: 0 border-radius("radius-4") 0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &.stacked {
    > * {
      max-width: none;
    }

    .form-columns {
      flex-wrap: wrap;
      margin-top: auto;
    }

    .form-columns .form-item-column {
      width: 100%;
      max-width: 800px;

      .field-message {
        width: 100%;
        margin-top: 4px;
        margin-left: 0;
      }
    }
  }
}
