.form-item {
  margin-bottom: 1rem;

  @include desktop {
    > .field-message {
      max-width: span(6 of 12);
    }
  }

  .field-message:not(.error):not(.success) {
    margin-bottom: .4rem;
  }

  &:not(.stacked) {
    .form-columns {
      margin-bottom: 1.2rem;

      @include desktop {
        display: flex;

        .form-item-column {
          width: span(6 of 12);

          &:last-child {
            display: flex;
            align-items: flex-start;

            .field-message {
              padding: .7rem 1.2rem .7rem 3.9rem;

              &::before {
                top: .5rem;
                left: 1.7rem;
              }

              .accolade {
                right: auto;
                bottom: 0;
                left: 0;
                width: 1rem;
                height: 100%;
                transform: rotate(0deg);

                &::before,
                &::after {
                  width: 1rem;
                  border: 0;
                }

                &::before {
                  top: 0;
                  bottom: 1.2rem;
                  height: 1.2rem;
                  border-radius: 0 0 border-radius("radius-4");
                }

                &::after {
                  top: 1.2rem;
                  right: 0;
                  bottom: -1px;
                  height: auto;
                  border-radius: 0 border-radius("radius-4") 0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &.stacked {
    .form-columns {
      flex-wrap: wrap;
      margin-top: auto;
    }

    .form-columns .form-item-column,
    .field-message {
      width: 100%;
      max-width: 40rem;
    }
  }
}
