{% set describedBy = null %}
{% if field_description %}
  {% set describedBy = id ~ "-description" %}
{% endif %}
{% if field_message %}
  {% set describedBy = id ~ "-message" %}
{% endif %}
<div class="form-item {{ modifier ? ' ' ~ modifier : '' }}{{ stacked ? ' stacked' : '' }}">
  {% render '@label' with {
    "label": label,
    "for": id,
    "label_optional": label_optional
  } %}
  {% render '@field-message' with {
    "field_message": field_description,
    "modifier": null,
    "id": id ~ "-description"
  } %}
  <div class="form-columns">
    <div class="form-item-column">
      {% render '@'~input_component with {
        "id": id,
        "ariaDescribedBy": describedBy,
        "type": type,
        "invalid": modifier == 'error'
      }%}
    </div>
    <div class="form-item-column">
      {% if field_message %}
        {% render '@field-message' with {
          "modifier": modifier,
          "id": id ~ "-message"
        } %}
      {% endif %}
    </div>
  </div>
</div>
