<div class="form-item {{ modifier }}">
  {% include '@label' with {
    "label": label,
    "for": input_component ~ "-" ~ id ~ "-" ~ modifier,
    "label_optional": label_optional
  } %}
  {% include '@field-message' with {
    "field_message": field_description,
    "modifier": null
  } %}
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@'~input_component with {
        "id": input_component ~ "-" ~ id ~ "-" ~ modifier
      }%}
    </div>
    <div class="form-item-column">
      {% if modifier == 'error' %}
        {% include '@field-message' with {
          "modifier": "error"
        } %}
      {% endif %}
      {% if modifier == 'success' %}
        {% include '@field-message' with {
          "modifier": "success"
        } %}
      {% endif %}
    </div>
  </div>
</div>
