<div class="form-item {{ modifier }}">
  {% include '@label' with {
    "label": label,
    "for": for ~ "-" ~ modifier,
    "label_optional": label_optional
  } %}
  {% include '@field-message' with {
    "field_message": field_description,
    "modifier": null
  } %}
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@input-date' with {
        "date_id": date_id ~ "-" ~ modifier,
        "date_name": date_name
      } %}
    </div>
    <div class="form-item-column">
      {% if modifier == 'error' %}
        {% include '@field-message' with {
          "modifier": "error"
        } %}
      {% endif %}
      {% if modifier == 'success' %}
        {% include '@field-message' with {
          "modifier": "success"
        } %}
      {% endif %}
    </div>
  </div>
</div>
