.theme-footer {
  margin: 6rem -1rem;
  padding: 0;

  .contact,
  .newsletter,
  .social,
  .logo {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;

    @include tablet {
      padding-top: 2.4rem;
      padding-bottom: 2.4rem;
    }
  }

  .logo {
    flex-shrink: 0;
    text-align: center;

    @include tablet {
      margin-right: 2rem;
      text-align: left;
    }

    img {
      width: auto;
      height: 10rem;
    }

    + .newsletter,
    + .social,
    + .contact {
      padding-top: 0;

      @include tablet {
        padding-top: 2.4rem;
      }
    }
  }

  .contact {
    @include medium-text;
    margin-right: auto;

    @include desktop {
      padding-right: 2rem;
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    .icon-list {
      margin: 0;

      @include desktop {
        column-gap: gutter();
        column-count: 2;
      }

      li:last-of-type {
        margin-bottom: 0;
      }

      li:not(:first-of-type) {
        i {
          @include theme('color', 'color-primary', 'link-color');
        }
      }
    }

    &:only-child .icon-list {
      @include tablet {
        column-gap: gutter();
        column-count: 2;
      }
    }
  }

  .social {
    @include tablet {
      flex-shrink: 0;
      width: 19.3rem;

      &:only-child {
        width: auto;
      }
    }

    h4 {
      max-width: 100%;
      margin-top: 0;
      margin-bottom: .5rem;
    }

    .social-list {
      ul {
        width: calc(100% + 1rem);

        a {
          &,
          &[download]:not(.button),
          &[href^="http://"]:not(.button),
          &[href^="https://"]:not(.button) {
            @include theme('background-color', 'color-quaternary--lighten-2', 'button-secondary-background');
          }
        }
      }
    }
  }

  .newsletter {
    @include medium-text;
    flex-grow: 1;
    max-width: 768px;
    padding: 1.5rem;

    @include desktop {
      padding: 3rem 3.5rem;
    }

    .subscribe {
      // 5/12 of max content-container width
      max-width: calc(#{$bp-max-content} / 12 * 5);
    }

    a.standalone-link {
      top: .5rem;
    }

    &:not(:last-child) {
      padding-bottom: 5.4rem;

      @include desktop {
        padding-right: 6rem;
        padding-bottom: 3rem;
      }
    }

    + .social {
      @include theme('background-color', 'color-tertiary-pastel', 'theme-footer-social-background');

      max-height: 11.5rem;
      margin: -3rem 1rem 0;
      padding: 1.5rem;

      .social-list {
        ul {
          width: calc(100% + 1rem);
          margin: 0 -.25rem;

          a {
            &,
            &[download]:not(.button),
            &[href^="http://"]:not(.button),
            &[href^="https://"]:not(.button) {
              @include theme('color', 'color-zero');
              @include theme('background-color', 'color-none');
            }
          }
        }
      }

      @include tablet {
        margin: -3rem auto 0;
        padding: 3.35rem;
      }

      @include desktop {
        margin: 3rem 0 0 -3.5rem;
      }
    }
  }

  .content-container {
    padding: 0 1rem;

    @media (min-width: $bp-max-content + 54px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .top,
  .bottom {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  .top {
    & ~ .bottom {
      margin-top: 3.6rem;
    }
  }

  ///
  /// External links other than group Ghent get an indicator.
  ///
  a {
    @extend %a-remove-indicator;
  }
}
