{% set iconlist = [] %}
{% if contact.address %}
  {% set iconlist = iconlist|merge([
  '<i class="icon-marker" aria-hidden="true"></i>' ~ '<strong>' ~ contact.address.name ~  ' — ' ~ '</strong>' ~ contact.address.address
  ]) %}
{% endif %}
{% if contact.phone %}
  {% set iconlist = iconlist|merge([
  '<i class="icon-normalphone" aria-hidden="true"></i><a href="tel:'~ contact.phone.machine ~'">'~ contact.phone.human ~'</a>'
  ]) %}
{% endif %}
{% if contact.email %}
  {% set iconlist = iconlist|merge([
  '<i class="icon-envelope" aria-hidden="true"></i><a href="mailto:' ~ contact.email ~ '">' ~ contact.email ~'</a>'
  ]) %}
{% endif %}
{% if contact.form %}
  {% set iconlist = iconlist|merge([
  '<i class="icon-document" aria-hidden="true"></i><a href="' ~ contact.form.machine ~ '">' ~ contact.form.human ~'</a>'
  ]) %}
{% endif %}

<section class="theme-footer">
  <h2 class="visually-hidden">{{ 'Theme footer' }}</h2>
  <div class="content-container">
    {% if contact and newsletter %}
      <div class="top">
        {% set contactshown = true %}
        <div class="contact">
          {% include '@heading' with {
          'type': 'h3',
          'heading_text': 'Contact'~ ' ' ~ theme
          } %}

          {% include '@list' with {
            'type': 'icon-list',
            'icon_items': iconlist
          } %}
        </div>
      </div>
    {% endif %}
    <div class="bottom">
      {% if contact and contactshown|default(false) == false %}
        <div class="contact">
          {% include '@heading' with {
          'type': 'h3',
          'heading_text': 'Contact'~ ' ' ~ theme
          } %}

          {% include '@list' with {
            'type': 'icon-list',
            'icon_items': iconlist
          } %}
        </div>
      {% endif %}
      {% if newsletter %}
        <div class="newsletter box-left">
          <div class="inner-box">
            {% include '@heading' with {
            'type': 'h3',
            'heading_text': 'Subscribe to the newsletter of'~ ' ' ~ theme
            } %}

            {% include '@paragraph' with {
            'text': 'Receive the most important mobility news in your mailbox.'
            } %}

            {% include '@subscribe' with {
            label: 'Email address',
            text: 'Subscribe',
            id: 'subscribe' ~ newsletter.uid,
            name: 'subscribe'
            } %}

            {% include '@link' with {
              'link': 'javascript:(void);',
              'text': 'View the list and subscribe to one of our newsletters',
              'modifier': 'standalone-link'
            } %}
          </div>
        </div>
      {% endif %}
      {% if social %}
        <div class="social">
          {% include '@heading' with {
          'type': 'h3',
          'heading_text': 'Follow this theme site on social media'
          } %}
          {% include '@social-list' %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
