<h4 class="styleguide-title">Building blocks overview</h4>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">{{ 'Quote' }}</h4>
  {% include '@quote' %}
</div>

{#}
<div class="preview-inner-inner-container">
  <h4 class="styleguide">Header</h4>
  {% include '@header' %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Newsletter block</h4>
  {% include '@newsletter-block' %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Footer</h4>
  {% include '@footer' %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Breadcrumbs</h4>
  {% include '@breadcrumbs' with {
    "items": [
      "<a href='#'>Stad.gent</a>",
      "<a href='#'>Overview</a>",
      "<span>Overview</span>",
      "<span>Overview</span>",
      "<span>Page title</span>"
    ]
  }%}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Pagination</h4>
  {% include '@pagination' %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Search</h4>
  {% include '@search' with {
  "label": "What are you looking for?",
  "for": "",
  "label_optional": "",
  "search_id": "header-search",
  "search_name": "header-search",
  "placeholder": "What are you looking for?",
  "modifier_search": "inline",
  "text": "Search",
  "modifier_submit": "btn--inline"
  } %}
</div>


<div class="preview-inner-inner-container">
  <h4 class="styleguide">CTA link</h4>
  {% include '@cta-link--website' with {
    'title': 'Want more info?',
    'link_text': 'Visit our website',
    'modifier': 'link'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">CTA document</h4>
  {% include '@cta-link--document' with {
    'title': 'Want more info?',
    'link_text': 'Download',
    'modifier': 'clip'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">CTA form fill</h4>
  {% include '@cta-link--form-fill' with {
    'title': 'Fill in the form',
    'link_text': 'Fill in',
    'modifier': 'form-fill'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">CTA email</h4>
  {% include '@cta-link--email' with {
    'title': 'Contact us by email',
    'link_text': 'Mail',
    'modifier': 'email'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">CTA phone</h4>
  {% include '@cta-link--phone' with {
    'title': 'Contact us by phone',
    'link_text': 'Call us',
    'modifier': 'phone'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">CTA location</h4>
  {% include '@cta-link--location' with {
    'title': 'Location',
    'link_text': 'Location',
    'modifier': 'loc'
  }%}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Form steps</h4>
  {% include '@form-steps' with {
    "step1_title": "Step 1 title",
    "step2_title": "Step 2 title",
    "step3_title": "Step 3 title",
    "step4_title": "Step 4 title",
    "step5_title": "Step 5 title",
    "step6_title": "Step 6 title",
    "step7_title": "Step 7 title"
  } %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Page wide image</h4>
  {% include '@page-wide-image' with {
    "src": "https://via.placeholder.com/1600x420",
    "alt_text": "Page wide image",
    "modifier": "no-style",
    "description": "Caption text comes here.",
    "h2_text": "Page wide title"
  } %}
</div>

<div class="preview-inner-inner-container">
  <h4 class="styleguide">Gallery</h4>
  {% include '@gallery' %}
</div>
#}
