$breakpoint-openinghours: '(min-width: 750px)';

// ===
// Day view
// ===
.openinghours-widget {
  &[data-type="day"] {
    display: inline-block;
    border-radius: border-radius('radius-1');
    overflow: hidden;

    > * {
      line-height: 1.4rem;
    }

    .channel-label {
      @include bold-text;

      float: left;
      font-size: 0;

      &::after {
        display: inline-block;
        content: " ";
      }

      &:nth-of-type(n + 2) {
        padding-left: 38px;
        font-size: 16px;

        + .openinghours {
          padding-top: 0;

          &::before {
            display: none;
          }

          .openinghours--date,
          .openinghours--status {
            display: none;
          }

        }
      }
    }

    .openinghours {
      @include theme('background-color', 'color-success-light');

      position: relative;
      margin-top: -.6rem;
      padding: 8px 10px 8px 42px;

      &::before {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.2rem;
        content: '';
      }

      &:first-of-type {
        @include icon(clock);
        margin-top: 0;
      }

      &--day-closed {
        @include theme('background-color', 'color-error-light');
      }

      & + .openinghours--day-closed {
        display: none;
      }

      &--date,
      &--content,
      &--times,
      &--times-between,
      &--time {
        display: inline;
      }

      &--time {
        &:not(.all-day) time:last-of-type {
          &::before {
            content: "-";
          }
        }
      }

      &--date,
      &--status {
        @include bold-text;
      }

      &--special-day {
        > span {
          display: none;
        }

        > span:first-child {
          display: inline;
        }
      }

      &--time-prefix,
      &--time-separator {
        display: none;
      }
    }
  }
}
