//
// Button - small variant.
//
@mixin button-small {
  height: 2.375rem;
  padding: .6rem 1.6rem;
  font-size: .75rem;
}

//
// Button - medium variant.
//
@mixin button-medium {
  height: 2.5rem;
  padding: .6rem 2.25rem .4rem;
  font-size: .875rem;
}

//
// Button - large variant.
//
@mixin button-large {
  height: 3.125rem;
  padding: .93rem 2.8rem;
  font-size: 1rem;
}

//
// Button - disabled variant.
//
@mixin button-disabled {
  border: 0;
  background-color: color('white', 2);
  color: color('white');
  box-shadow: none;

  &:hover {
    background-color: color('white', 2);
    color: color('white');
    box-shadow: none;
    cursor: not-allowed;
  }
}

//
// General button styling.
//
@mixin button() {
  @include button-medium; // Default.

  border: 0;
  border-radius: $radius-1;
  outline: 0;
  font-family: $default-font-family;
  font-weight: 600;
  text-align: center;
}

//
// Makes a button display block instead of inline.
//
@mixin button-block {
  display: block;
  width: 100%;
}

//
// Make a button display: inline-block.
//
@mixin button-inlineblock {
  display: inline-block;
  width: auto;
}

.button,
input[type="button"],
input[type="submit"] {
  @include button;

  border: 2px solid;
  cursor: pointer;

  &.button-block {
    @include button-block;
  }

  &.button-small {
    @include button-small;
  }

  &.button-medium {
    @include button-medium;
  }

  &.button-large {
    @include button-large;
  }

  &:disabled {
    @include button-disabled;
  }

  &.button-icon {
    padding-right: .625rem;
    padding-left: .625rem;

    i {
      margin-left: 2rem;
    }
  }

}

