//
// Button - small variant.
//
@mixin button-small {
  height: 2.375rem;
  padding: .6rem 1.6rem;
  font-size: .75rem;
}

//
// Button - medium variant.
//
@mixin button-medium {
  height: 2.5rem;
  padding: .8rem 2.25rem;
  font-size: .875rem;
}

//
// Button - large variant.
//
@mixin button-large {
  height: 3.125rem;
  padding: .93rem 2.8rem;
  font-size: 1rem;
}

//
// General button styling.
//
@mixin button() {
  @include button-medium; // Default.

  border: 0;
  border-radius: $radius-1;
  outline: 0;
  font-family: $default-font-family;
}

//
// Makes a button block instead of inline.
//
@mixin button-block {
  display: block;
  width: 100%;
}

.button,
input[type="button"],
input[type="submit"] {
  @include button;

  border: 2px solid;
  cursor: pointer;

  &.button-block {
    @include button-block;
  }

  &.button-small {
    @include button-small;
  }

  &.button-medium {
    @include button-medium;
  }

  &.button-large {
    @include button-large;
  }
}

@mixin button-inlineblock {
  display: inline-block;
  width: auto;
}
