@use 'detail-layout/detail-layout';
@use 'filter-layout/filter-layout';
@use 'overview-layout/overview-layout';
@use 'sidebar-right-layout/sidebar-right-layout';

.sidebar-layout,
.detail-layout,
.overview-layout {
  .readspeaker-button {
    display: block;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }
}
