<div class="dropbutton-wrapper dropbutton-multiple">
  <div class="dropbutton-widget">
    <ul class="no-style dropbutton">
      <li class="dropbutton-action">
        <input type="submit" name="op" value="Save and publish" class="button btn">
      </li>
      <li class="dropbutton-toggle">
        <button type="button">
          <span class="dropbutton-arrow"></span>
        </button>
      </li>
      <li class="dropbutton-action secondary-action">
        <input type="submit" name="op" value="Save as unpublished" class="button btn">
      </li>
    </ul>
  </div>
</div>
