.lg {
  .lg-toolbar {
    background-color: transparent;
  }

  .lg-actions {
    .lg-next,
    .lg-prev {
      width: auto;
    }
  }

  .lg-image {
    border-radius: 0;
  }
}

.gallery {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .25rem;
  }

  > .main {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
