<div class="gallery">
  {% include '@link' with {
  'modifier': 'main',
  'link': 'https://via.placeholder.com/800x532',
  'text': '<img src="https://via.placeholder.com/800x532" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://via.placeholder.com/800x532',
  'text': '<img src="https://via.placeholder.com/800x532" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://via.placeholder.com/800x532',
  'text': '<img src="https://via.placeholder.com/800x532" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://via.placeholder.com/800x532',
  'text': '<img src="https://via.placeholder.com/800x532" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://via.placeholder.com/800x532',
  'text': '<img src="https://via.placeholder.com/800x532" alt="warme william" />'
  } %}
</div>
