.site-logo {
  .site-name div p::after {
    @include theme('background', 'color-secondary', 'section-background');
  }

  height: 2rem;
  overflow: hidden;

  > a {
    float: left;
  }

  img {
    width: 5rem;
    height: 2rem;
    border-radius: 0;
  }

  .site-name {
    display: table;
    height: 100%;

    div {
      display: table-cell;
      vertical-align: middle;

      p {
        position: relative;
        margin: 0 0 0 .5rem;
        font-size: .8rem;
        font-weight: bold;
        line-height: 1rem;

        &::after {
          position: absolute;
          top: 1rem;
          right: 0;
          width: 33%;
          height: calc(100% - 2rem);
          padding-left: .3rem;
          content: '...';
          overflow: hidden;
        }
      }
    }
  }
}
