<div class="site-logo">
    <a href="#" title="Home" rel="home">
      {% include '@image' with {
        'src': '/styleguide/img/svg/logo.svg',
        'alt_text': 'Home'
      } %}
    </a>
    <div class="site-name">
        <div>
          {% include '@paragraph' with {
            'text': 'City of Ghent Sitename'
          } %}
        </div>
    </div>
</div>
