<div class="{{ modifier }}">
  <div class="content-container">
    <div class="preview-inner-inner-container">
      {% include '@h1' with { 'h1_text': 'Heading 1' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 1.'} %}
      {% include '@h1' with { 'h1_text': '<a href="#">Heading 1 with a link</a>' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 1.'} %}

      {% include '@h2' with { 'h2_text': 'Heading 2' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 2.'} %}
      {% include '@h2' with { 'h2_text': '<a href="#">Heading 2 with a link</a>' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 2.'} %}

      {% include '@h3' with { 'h3_text': 'Heading 3' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 3.'} %}
      {% include '@h3' with { 'h3_text': '<a href="#">Heading 3 with a link</a>' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 3.'} %}

      {% include '@h4' with { 'h4_text': 'Heading 4' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 4.'} %}
      {% include '@h4' with { 'h4_text': '<a href="#">Heading 4 with a link</a>' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 4.'} %}

      {% include '@h5' with { 'h5_text': 'Heading 5' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 5.'} %}
      {% include '@h5' with { 'h5_text': '<a href="#">Heading 5 with a link</a>' } %}
      {% include '@paragraph' with { 'text': 'Normal text below an heading 5.'} %}

      {% include '@paragraph' with { 'text': 'Paragraphs <a href="#">link</a>'} %}
      <p>{% include '@button-primary--button-small' with { 'text': 'Button'} %}</p>
      <p>{% include '@button-primary--button-medium' with { 'text': 'Button'} %}</p>
      <p>{% include '@button-primary--button-large' with { 'text': 'Button'} %}</p>
    </div>

    <div class="preview-inner-inner-container">
      {% include '@cta-link' with { 'title': 'Graag meer info?', 'link_text': 'Bezoek onze website', 'modifier': 'link' }%}
    </div>

    <div class="preview-inner-inner-container">
      {% include '@forms' %}
    </div>
  </div>
</div>
