<aside class="info-box">
  {% include '@image' with {
  'src': '/styleguide/img/svg/whistle-light.svg'|path,
  'alt_text': '',
  'modifier': 'info-box-icon'
  } %}
  <div class="info-box-content">
    {% include '@heading' with {
      'type': 'h2',
      'heading_text': 'Extra information about this event'
    } %}

    {% include '@list' with {
    'type': 'icon-list',
    'icon_items': [
    '<i class="icon-calendar"></i><span><time datetime="2018-07-13">from the 13th</time> until <time datetime="2018-07-22">the 22th of July</time> with ongoing activities, also at night</time></span>',
    '<i class="icon-marker"></i><span>Inner city</span>',
    ]
    } %}

    {% include 'link' with {
    "link": "https://stad.gent",
    "text": "Register for this event",
    "aria_label": null,
    "aria_labelledby": null,
    "modifier": "standalone-link"
    } %}


  </div>
</aside>
