time[pubdate] {
  @include small-text();
  @include theme('color', 'color-zero', 'default-text-color');
  line-height: 1.71;

  h1 + & {
    display: block;
    margin-top: 30px;
  }

  .dark-background & {
    @include theme('color', 'color-none', 'default-text-color-inverse');
  }
}
