select[multiple] {
  @extend %field-base;

  height: auto;
  padding: .6rem .8rem 1.8rem;
  background-image: none !important;

  optgroup,
  option {
    height: 1.4rem;
    padding: .2rem .3rem;
    border-radius: border-radius('radius-1');
  }

  optgroup {
    margin-bottom: .4rem;
  }
}
