.overview-page {
  position: relative;

  // Center accolade on the header for overview pages.
  header.header nav.breadcrumb .content-container {
    &::after,
    &::before {
      width: calc(50% + #{$gutter-width} +  1px);

      @include desktop {
        width: calc(50% + 1px);
      }
    }
  }
}

.overview-layout {
  @extend %content-container;
  margin-bottom: 80px;

  > .content-header-container {
    margin-right: -20px;
    margin-left: -20px;

    @include tablet {
      width: calc(100% + 135px * 2);
      margin-left: -135px;
      padding-right: 135px;
      padding-left: 135px;
    }

    &:not(.image) {
      // @todo: + .teasers
      & + .summary-box,
      & + .table-of-contents,
      & + .partner-block,
      & + p {
        @include col(12);

        position: relative;
        margin-top: -150px;
        z-index: 1;

        @include tablet {
          margin-top: -120px;
        }
      }

      + .partner-block,
      + p {
        max-width: 100%;
        padding: 20px;
        background-color: color('white');

        @include tablet {
          padding: 60px;
        }
      }
    }
  }

  > .cta-block {
    @include desktop {
      @include col(11);
      @include col-offset(1);
    }

    &.image-left,
    &.image-right {
      @include col(12);
    }
  }

  > .full-width,
  > .gentinfo {
    @include full-width;
  }
}
