{% include '@header' with {
  "site_name": "Stad Gent",
  "search": true,
  "header_search_id": "header-search",
  "header_search_label": "Search",
  "header_search_placeholder": "Search",
  "header_search_text": "Search",
  "breadcrumbs_items": [
    "<a href='#'>Home</a>",
    "<a href='#'>Overview</a>",
    "<a href='#'>Theme</a>",
    "<a href='#'>Subpage</a>",
    "<span>Page title</span>"
  ]
} %}

<main class="news-overview-page">
  <section class="overview-layout">
    {% block news_overview_content %}
      {% include '@content-header' with {
        'modifier': 'primary dark-background overlap',
        'heading_text': 'News and events',
        'speech_button': false,
        'summary': false,
        'summary_text': '',
        'image': false
      } %}

      {% include '@paragraph' with {
        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et facilisis augue. Donec mi mauris, pretium eu nunc at, maximus semper libero. Etiam rhoncus, ante eget pharetra consequat, purus libero varius quam, vel porttitor leo urna in odio. In id tellus ut ligula facilisis efficitur at vel urna. Vivamus iaculis felis non <strong>bold text</strong> tristique malesuada. Quisque venenatis, arcu sed luctus molestie, leo mauris commodo sem, eget <a href='https://stad.gent' alt='Stad Gent'>egestas orci</a> libero eu justo. Curabitur sollicitudin odio non vulputate tincidunt. Etiam vel dolor in massa dapibus bibendum sit amet vel ipsum. Donec sagittis, elit et hendrerit maximus, nulla tortor laoreet quam, id tincidunt massa neque a ex. Fusce suscipit, ipsum interdum elementum sodales, <a href='javascript:(void);' alt='Link'>tellus</a> sapien vehicula nisi, in condimentum neque nisl sit amet elit. Donec sed augue a elit sodales commodo pulvinar vitae nisl. Sed <a href='javascript:(void);' alt='File link' download>pharetra</a> ante non mollis consequat. Pellentesque a est neque. Nullam maximus ornare metus. Quisque porttitor turpis tristique faucibus efficitur."
      } %}

      <h2 class="visually-hidden">Overview</h2>
      <ul class="grid-3">
        {% for key, article in articles %}
          {% if article.event_date %}
            {% include '@teaser--teaser--simple' with {
              "type": 'teaser-article',
              "teaser_uid": article.teaser_uid ~ loop.index,
              "paragraph_text": article.paragraph_text,
              "title": article.title,
              "event_date": {
                "text_1": article.text_1,
                "datetime_1": article.datetime_1,
                "text_2": article.text_2,
                "datetime_2": article.datetime_2
              },
              "teaser_datetime": article.teaser_datetime,
              "link_text": article.link_text,
              "link": article.link,
              "image_src": article.image_src ~ '?random=' ~ key,
              "image_alt_text": article.image_alt_text,
              "image_ratio": article.image_ratio,
              "tags": article.tags,
              "label_text": article.label_text
            } %}
          {% else %}
          {% include '@teaser--teaser--simple' with {
            "type": 'teaser-article',
            "teaser_uid": article.teaser_uid ~ loop.index,
            "paragraph_text": article.paragraph_text,
            "title": article.title,
            "published_date": article.published_date,
            "teaser_datetime": article.teaser_datetime,
            "link_text": article.link_text,
            "link": article.link,
            "image_src": article.image_src ~ '?random=' ~ key,
            "image_alt_text": article.image_alt_text,
            "image_ratio": article.image_ratio,
            "tags": article.tags,
          } %}
          {% endif %}
        {% endfor %}
      </ul>

      {% include '@pagination' with {
        total: 20,
        active: 4
      }%}

    {% endblock %}

    {% include '@gentinfo' %}
  </section>
</main>

<footer>
  {% include '@theme-footer' with {
    contact: true,
    newsletter: true,
    social: true,
    logo: true
  } %}

  {% include '@footer' with footerConfig %}
</footer>
