.radio {
  position: relative;

  // Setup hover states.
  &:hover {
    // Unchecked and hovered.
    label::before {
      @include theme('background-color', 'color-tertiary--lighten-4', 'radio-background-color-hover');
      @include theme('border-color', 'color-tertiary--lighten-1', 'radio-border-color-hover');
    }

    // Checked and hovered.
    input[type="radio"]:checked + label::before {
      @include theme('background-color', 'color-primary--lighten-3', 'radio-background-color-hover-and-checked');
      @include theme('border-color', 'color-primary--darken-3', 'radio-border-color-hover-and-checked');
      @include theme('color', 'color-primary--darken-3', 'radio-color-hover-and-checked');
    }
  }

  input[type="radio"] {
    opacity: 0;

    // Hide checkmark by default.
    + label::after {
      content: none;
    }

    // Checked state.
    &:checked {
      // Show checkmark on checked.
      + label {
        font-weight: 700;
      }

      + label::before {
        @include theme('background-color', 'color-primary--lighten-5', 'radio-background-color-checked');
        @include theme('border-color', 'color-primary', 'radio-border-color-checked');
      }

      + label::after {
        @include theme('color', 'color-primary', 'radio-checkmark-color');
        content: '';
      }
    }

    // Disabled state.
    &:disabled {
      + label {
        font-weight: normal !important; // sass-lint:disable-line no-important
        cursor: not-allowed;

        &::before {
          border-color: color('dark-gray', -4) !important; // sass-lint:disable-line no-important
          background: color('dark-gray', -4) !important; // sass-lint:disable-line no-important
        }

        &::after {
          background-color: color('dark-gray') !important; // sass-lint:disable-line no-important
        }
      }
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1.7rem;
    line-height: 1.1rem;
    overflow: unset;

    &::before,
    &::after {
      position: absolute;
    }

    &::before {
      @include theme('background-color', 'color-tertiary--lighten-6', 'radio-background-color');
      @include theme('border-color', 'color-tertiary--lighten-2', 'radio-border-color');

      display: inline-block;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid;
      border-radius: border-radius('radius-4');
      content: '';
    }

    &::after {
      @include theme('background-color', 'color-primary--lighten-1', 'radio-background-color');
      @include theme('border-color', 'color-primary--lighten-1', 'radio-border-color');

      display: block;
      top: 7px;
      left: 7px;
      width: 10px;
      height: 10px;
      border-radius: border-radius('radius-4');
      content: '';
      z-index: 999;
    }
  }
}
