<div class="form-item {{ modifier }}">
  <div class="form-label">
    {% include '@label' with {
      "label": label,
      "for": for,
      "label_optional": label_optional
    } %}
  </div>
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@field-description' with {
        "field_description": field_description
      } %}
    </div>
    <div class="form-item-column">
      {% include '@input-email' with {
        "email_id": email_id,
        "email_name": email_name
      } %}
      {% if modifier == 'error' %}
        {% include '@field-message' with {
          "modifier": "error"
        } %}
      {% endif %}
      {% if modifier == 'success' %}
        {% include '@field-message' with {
          "modifier": "success"
        } %}
      {% endif %}
    </div>
  </div>
</div>
