.inline-form-elements {
  clear: both;

  > .fieldset-wrapper {
    width: 100%;

    > .form-item {
      @include tablet {
        width: 50%;
      }

      width: 100%;
    }
  }

  .field-description {
    width: 100%;
  }

  .form-item .form-item-column {
    width: 100%;
  }
}
