.filter-placeholder {
  max-width: 40rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-size: .8rem;
  text-align: center;

  .spotimage {
    @include spot-image('lightbulb-light', 7rem);

    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 10px 35px -25px;
  }
}
