input[type="password"] {
  @extend %field-base;

  $fill-color: color('red');
  $svg-lock: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"> <defs> <path fill="#{$fill-color}" id="a" d="M9 8h6V6a3 3 0 0 0-6 0v2zm8 0a4 4 0 0 1 4 4v7a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4v-7a4 4 0 0 1 4-4V6a5 5 0 1 1 10 0v2zM7 10a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2H7zm5 3a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1z"/> </defs> <g fill="none" fill-rule="evenodd"> <mask id="b" fill="#fff"> <use xlink:href="#a"/> </mask> <g fill="#23333A" fill-opacity="1" mask="url(#b)"> <path fill="#{$fill-color}" d="M0 0h24v24H0z"/> </g> </g> </svg>';

  padding-right: $field-icon-padding;
  background-image: svg-url($svg-lock);
  background-repeat: no-repeat;
  background-position: right .75rem center;
}
