input[type="password"] {
  @include field-base;

  [class*="cs--"] & {
    &,
    &:focus {
      padding-right: $field-icon-padding;
      background-image: svg-as-background('lock-closed', color('dark-gray'), 30, 26);
      background-repeat: no-repeat;
      background-position: right .75rem center;

      &:disabled {
        background-image: svg-as-background('lock-closed', color('dark-gray', -2), 30, 26);
      }
    }
  }
}
