input[type="password"] {
  @extend %field-base;

  // This is necessary to override the themify a little bit with a custom icon.
  // Otherwise the specificity isn't enough.
  $fill-color: color('green');
  $svg-lock-closed: svg-icon('lock-closed', $fill-color);

  padding-right: $field-icon-padding;
  background: svg-url($svg-lock-closed) $field-icon-position !important; // sass-lint:disable-line no-important
}
