@mixin table-backgrounds {
  &.success {
    @include theme-content('color-success--lighten-4', 'table-success-background') {
      border-color: $theme-color;
      background-color: $theme-color;
    };
  }

  &.warning {
    @include theme-content('color-warning--lighten-4', 'table-warning-background') {
      border-color: $theme-color;
      background-color: $theme-color;
    };
  }

  &.error {
    @include theme-content('color-error--lighten-4', 'table-error-background') {
      border-color: $theme-color;
      background-color: $theme-color;
    };
  }
}
