@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;

a.skiplink {
  @include reset-link-background;

  position: absolute;
  z-index: z('skiplink');
  bottom: 100%;
  left: 0;
  padding: .5rem 2rem;
  background-color: coloring('white');

  &:focus {
    top: 0;
    bottom: auto;
    background-color: coloring('white');
  }
}
