a.skiplink {
  position: absolute;
  top: -100%;
  left: 0;
  padding: .5rem 2rem;
  background-color: color('white');
  z-index: 999;

  &:focus {
    top: 0;
    background-color: color('white');
  }
}
