.address-component {
  > .fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;

    .form-item {

      .form-columns {
        display: block;
      }

      @include tablet {
        width: span(6);
        margin-right: $gutter-width;
      }

      &.address-street {
        @include tablet {
          width: span(5);
        }
      }

      &.address-number {
        @include tablet {
          width: span(3);
        }
      }

      &.address-box-number {
        @include tablet {
          width: span(4);
        }
      }

      &.address-postal-code {
        @include tablet {
          width: span(3);
        }
      }

      &.address-city {
        @include tablet {
          width: span(9);
        }
      }

      &.address-firstname,
      &.address-box-number,
      &.address-city,
      &.address-nim {
        margin-right: 0;
      }
    }
  }

  .form-columns .form-item-column {
    width: 100% !important; // sass-lint:disable-line no-important
  }
}
