<fieldset class="inline-form-elements address-component">
    <legend>
      Personal information.
    </legend>
    <div class="fieldset-wrapper">
      {% include '@textfield' with {
        "label": "Name",
        "for": "address-name",

        "field_modifier": "address-name",
        "field_description": "",
        "field_error": "Please fill in a correct name",
        "description": "",

        "textfield_id": "address-name",
        "textfield_name": "address-name",
        "modifier": "error"
      }%}

      {% include '@textfield' with {
        "label": "Firstname",
        "for": "address-firstname",

        "field_modifier": "address-firstname",
        "field_description": "",
        "field_error": "Please fill in a correct firstname",
        "description": "",

        "textfield_id": "address-firstname",
        "textfield_name": "address-firstname",
        "modifier": "error"
      }%}

      {% include '@textfield' with {
        "label": "Street",
        "for": "address-street",

        "field_modifier": "address-street",
        "field_description": "",
        "field_error": "Please fill in a valid street name",
        "description": "",

        "textfield_id": "address-street",
        "textfield_name": "address-street",
        "modifier": "error"
      }%}

      {% include '@number'
        with {
          "label": "Number",
          "for": "address-number",
          "label_optional": "",

          "field_modifier": "address-number",
          "field_description": "",
          "field_error": "Please fill in a valid number",
          "description": "",

          "number_id": "address-number",
          "number_name": "address-number",
          "modifier": "error"
        }
      %}

      {% include '@number'
        with {
          "label": "Box number",
          "for": "address-box-number",
          "label_optional": "Optional",

          "field_modifier": "address-box-number",
          "field_description": "",
          "field_error": "",
          "description": "",

          "number_id": "address-box-number",
          "number_name": "address-box-number"
        }
      %}

      {% include '@number'
        with {
          "label": "Postal code",
          "for": "address-postal-code",
          "label_optional": "",

          "field_modifier": "address-postal-code",
          "field_description": "",
          "field_error": "Please fill in a valid postal code",
          "description": "",

          "number_id": "address-postal-code",
          "number_name": "address-postal-code",
          "modifier": "error"
        }
      %}

      {% include '@textfield' with {
        "label": "City",
        "for": "address-city",

        "field_modifier": "address-city",
        "field_description": "",
        "field_error": "Please fill in a valid city",
        "description": "",

        "textfield_id": "address-city",
        "textfield_name": "address-city",
        "modifier": "error"
      }%}

      {% include '@select'
        with {
          "label": "Country",
          "for": "address-country",
          "label_optional": "",

          "field_modifier": "address-country",
          "field_description": "",
          "field_error": "Please select a valid country",
          "description": "",

          "select_id": "address-country",
          "select_name": "address-country",
          "options": [
            {
            "label": "Country 1"
            },
            {
            "label": "Country 2"
            }
          ]
        }
      %}

      {% include '@textfield' with {
        "label": "National Insurance Number",
        "for": "address-nim",

        "field_modifier": "address-nim",
        "field_description": "",
        "field_error": "",
        "description": "",

        "textfield_id": "address-nim",
        "textfield_name": "address-nim"
      }%}

    </div>
</fieldset>
