.table-of-contents {
  margin-bottom: 2rem;

  ul > li {
    margin-right: 0;

    + li::before {
      @include theme('color', 'color-primary--lighten-3', 'filter-nav-longdash-color');

      display: inline-block;
      padding: 0 .2rem;
      content: '—';
    }
  }
}
