.table-of-contents {
  @include theme('background-color', 'color-tertiary--lighten-5', 'table-of-contents-background-color');
  @include medium-text;
  padding: 1.5rem;

  h4 {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    columns: 1;

    @include phablet {
      &.two-column {
        columns: 2;
      }

      &.three-column {
        columns: 3;
      }
    }
  }

  ul > li {
    display: block;
    width: 100%;
  }
}
