.table-of-contents {
  @include theme('background-color', 'color-tertiary-light', 'table-of-contents-background-color');
  @include medium-text;
  padding: 1.5rem;

  h4 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ul {
    // Override general bigger list style.
    @include medium-text();
    margin: 0;
    columns: 1;

    @include phablet {
      &.two-column {
        columns: 2;
      }

      &.three-column {
        columns: 3;
      }
    }
  }

  ul > li {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}
