<nav class="table-of-contents" aria-labelledby="table-of-contents-header">
  <div class="content-container">
    <h4 id="table-of-contents-header">On this page</h4>
    {% include '@list' with {
      'type': 'links',
      'items': list,
      'modifier': type
    } %}
  </div>
</nav>
