{% include '@header' with {
"mijn_gent_block_items": [
"<a href='javascript:(void);'>Mijn profiel</a>",
"<a href='javascript:(void);'>Nieuwsbrieven</a>",
"<a href='javascript:(void);'>Historiek</a>"
],
"mijn_gent_block_auth": "true",
"header_search_id": "header-search",
"header_search_label": "Search",
"header_search_placeholder": "Search",
"header_search_text": "Search",
"breadcrumbs_items": [
"<a href='https://stad.gent'>Stad.gent</a>",
"<a href='#'>Overview</a>",
"<a href='#'>Theme</a>",
"<a href='#'>Subpage</a>",
"<span>Page title</span>"
]
} %}

<main id="main">
  <article class="detail-layout">
    {% include '@heading' with {
      'type': 'h1',
      'heading_text': 'We can\'t find the page you\'re looking for'
    } %}

    {% include 'paragraph' with { 'text': 'Fusce malesuada enim a sagittis ornare. Proin placerat lacinia quam ut pulvinar. Morbi nec leo ante. Donec rhoncus enim velit, eu imperdiet mauris pulvinar eget. Suspendisse vitae gravida ex. Mauris convallis aliquam mi vitae commodo. Aenean at velit ornare, feugiat ligula eget, ultricies erat.' } %}

    {% include '@help-block' %}

    <div class="404-poetry">
      {% include '@heading' with {
        'type': 'h2',
        'heading_text': 'Speurtocht'
      } %}
      {% include 'paragraph' with {
        'text': 'we kamden de stad uit,<br />
                braken tegels los, keerden <br />
                kapelletjes, kerken, begraafplaatsen <br />
                ondersteboven, daalden in waterputten af, <br />
                stonden met huiszoekingsbevelen te zwaaien.<br />
                <br />
                helaas, wat u zocht, heeft zich verstopt<br />
                bij het verdwenen paneel van het Lam Gods. '
      } %}
      {% include 'paragraph' with {
        'text': '<strong>David Troch, Stadsdichter Gent</strong>'
      } %}
    </div>
  </article>
</main>

{% include '@footer' %}
