<main class="detail-layout">
  <div class="content">

    {% include '@h1' with { 'h1_text': 'We can\'t find the page you\'re looking for' } %}

		{% include 'paragraph' with { 'text': 'Fusce malesuada enim a sagittis ornare. Proin placerat lacinia quam ut pulvinar. Morbi nec leo ante. Donec rhoncus enim velit, eu imperdiet mauris pulvinar eget. Suspendisse vitae gravida ex. Mauris convallis aliquam mi vitae commodo. Aenean at velit ornare, feugiat ligula eget, ultricies erat.' } %}

  </div>
</main>

{% include '@footer' %}
