<div class="dg-block-post-address island">
  {% include 'h3'with {
    'h3_text': 'Mailing address'
  } %}
  {% include '@paragraph' with {
    'text':
      '<span>City of Ghent</span><br>
      <span> Botermarkt 1</span><br>
      <span>9000 Ghent</span>'
  } %}
</div>
