<div class="dg-block-post-address">
  {% include 'h2'with {
    'h2_text': 'Address'
  } %}
  {% include '@paragraph' with {
    'text':
      '<span>City of Ghent</span><br>
      <span> Botermarkt 1</span><br>
      <span>9000 Ghent</span>'
  } %}
</div>
