.teaser-topic-collection {
  ul {
    @extend %list-no-style;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
      margin-bottom: $gutter-width;

      @include tablet {
        width: span(6 of 12);
      }

      @include desktop {
        width: span(4 of 12);
      }
    }
  }
}
