<div class="collection teaser-topic-collection">
  <h2>{{ 'Topics' }}</h2>
  <ul>
    {% for i in 0..6 %}
      {% include '@teaser-topic' with {
        "teaser_paragraph_text": teaser_paragraph_text,
        "teaser_h3_title": teaser_h3_title,
        "teaser_uid":  teaser_uid ~ i,
        "teaser_link_text": teaser_link_text,
        "teaser_link_link": teaser_link_link
      } %}
    {% endfor %}
  </ul>
</div>
