img {
  max-width: 100%;
  height: auto;
}

.image-wrapper {
  position: relative;
  padding-bottom: calc(100% / 8 * 5); // Default ratio 8:5
  background: no-repeat center center color('dark-gray', -5) url('#{$styleguide-dir}/img/stock/placeholder.svg');
  background-size: 5rem;

  &[data-ratio='1:1'] {
    padding-bottom: 100%;
  }

  &[data-ratio='4:1'] {
    padding-bottom: calc(100% / 4 * 1);
  }

  img {
    position: absolute;
    width: 100%;
  }
}
