{% if ratio %}
  <div class="image-wrapper" data-ratio="{{ ratio }}">
{% endif %}
<img
  src="{{ src }}"
  alt="{{ alt_text }}"
  {% if modifier %}
    class="{{ modifier }}"
  {% endif %}
/>
{% if ratio %}
  </div>
{% endif %}

