%messages,
.messages {
  @include theme('color', 'color-zero', 'status-message-color');
  @include theme('background-color', 'color-info-light', 'info-message-background');
  @include theme('border-color', 'color-info', 'info-message-icon-color');

  $status-message-icon-size: 40px;

  //display: flex;
  position: relative;
  flex-direction: column;
  max-width: 970px;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 40px;
  border-bottom: 3px solid;
  font-size: .9rem;

  @include phablet {
    flex-direction: row;
    padding: 60px;
  }

  &.messages--status {
    @include theme('background-color', 'color-success-light', 'success-message-background');
    @include theme('border-color', 'color-success', 'success-message-icon-color');

    i {
      @include theme('color', 'color-success', 'success-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-success-light--darken-1');
    }
  }

  &.messages--error {
    @include theme('background-color', 'color-error-light', 'error-message-background');
    @include theme('border-color', 'color-error', 'error-message-icon-color');

    i {
      @include theme('color', 'color-error', 'error-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-error-light--darken-1');
    }
  }

  &.messages--warning {
    @include theme('background-color', 'color-warning-light', 'warning-message-background');
    @include theme('border-color', 'color-warning', 'warning-message-icon-color');

    i {
      @include theme('color', 'color-warning', 'warning-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-warning-light--darken-1');
    }
  }

  i,
  p {
    @include phablet {
      display: inline-block;
      vertical-align: top;
    }
  }

  i {
    @include theme('color', 'color-info', 'info-message-icon-color');

    width: calc($status-message-icon-size + 20px);
    margin-right: 0;
    padding-bottom: 20px;
    font-size: $status-message-icon-size;
    line-height: $status-message-icon-size;
    text-align: center;

    &::before {
      font-size: $status-message-icon-size;
    }

    @include phablet {
      padding-right: 20px;
    }
  }

  > p {
    &:last-child {
      margin: 0;
    }

    @include phablet {
      width: calc(100% - ($status-message-icon-size + 25px));
    }
  }

  a {
    @include link-background('color-zero', 'color-info-light--darken-1');
    @include theme('border-color', 'color-zero');
    @include theme('color', 'color-zero');

    &:hover {
      @include theme('color', 'color-zero');
    }
  }
}
