%messages,
.messages {
  @include theme('background-color', 'color-info-light', 'info-message-background');
  @include theme('border-color', 'color-info', 'info-message-icon-color');

  $status-message-icon-size: 2.1rem;

  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 40rem;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
  padding: 2rem;
  border-bottom: 3px solid;
  font-size: .9rem;

  i {
    @include theme('color', 'color-info', 'info-message-icon-color');

    display: block;
    flex: 0 0 $status-message-icon-size;
    width: $status-message-icon-size;
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: $status-message-icon-size;
    text-align: center;

    @include phablet {
      align-self: flex-start;
    }
  }

  @include phablet {
    flex-direction: row;
    padding: 3rem;

    i {
      margin-right: 1.2rem;
      margin-bottom: 0;
    }
  }

  &.messages--status {
    @include theme('background-color', 'color-success-light', 'success-message-background');
    @include theme('border-color', 'color-success', 'success-message-icon-color');

    i {
      @include theme('color', 'color-success', 'success-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-success-light--darken-1');
    }
  }

  &.messages--error {
    @include theme('background-color', 'color-error-light', 'error-message-background');
    @include theme('border-color', 'color-error', 'error-message-icon-color');

    i {
      @include theme('color', 'color-error', 'error-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-error-light--darken-1');
    }
  }

  &.messages--warning {
    @include theme('background-color', 'color-warning-light', 'warning-message-background');
    @include theme('border-color', 'color-warning', 'warning-message-icon-color');

    i {
      @include theme('color', 'color-warning', 'warning-message-icon-color');
    }

    a {
      @include link-background('color-zero', 'color-warning-light--darken-1');
    }
  }

  p {
    margin: 0;
  }

  a {
    @include link-background('color-zero', 'color-info-light--darken-1');
    @include theme('border-color', 'color-zero');
    @include theme('color', 'color-zero');

    &:hover {
      @include theme('color', 'color-zero');
    }
  }
}
