.messages {
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid tint('blue', 10);
  border-radius: $radius-2;
  background-color: color('white');
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  &::before {
    @extend %icon-base-css;
    @extend %icon-info-circle;
    display: block;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  &.messages--status {
    border-left: 1rem solid shade('green', 25);
    color: shade('green', 25);

    &::before {
      @extend %icon-info-circle;
    }
  }

  &.messages--error {
    border-left: 1rem solid shade('red', 25);
    color: shade('red', 25);

    &::before {
      @extend %icon-error;
    }
  }

  &.messages--warning {
    border-left: 1rem solid shade('orange', 25);
    color: shade('orange', 25);

    &::before {
      @extend %icon-alert;
    }
  }

  a {
    color: inherit;
  }
}
