<div class="messages {{ modifier }}" role="alert" aria-atomic="true">
  {% if modifier == 'messages--status' %}
    <h2 class="visually-hidden">{{ 'Status' }}</h2>
  {% endif %}
  <i class="{{ icon }}" aria-hidden="true"></i>
  <p>{{ text }}</p>
</div>
