.accordion {

  padding-left: 3rem;

  .accordion--button {
    @include icon(chevron-down);

    width: 100%;
    margin-left: -3rem;
    padding-left: 3rem;
    color: inherit;


    &::before{
      position: absolute;
      left: 0;
      font-size: 1.6em;
      line-height: .9;
      transition: transform .2s ease-in-out;
    }

    &[aria-expanded=true] {
      &::before {
        transform: scaleY(-1);
      }
    }
  }



  .accordion--content {
    transition: max-height .5s ease-in-out;
    overflow: hidden;
  }

}

ul.accordion {
  margin: 0;

  li {
    list-style: none;
  }
}

dl.accordion {
  dd {
    padding: 0;
  }
}

ul.accordion,
dl.accordion {

  .accordion--button {
    &[aria-expanded=true] {
      @include icon(minus);

      &::before {
        transform: none;
      }
    }

    &[aria-expanded=false] {
      @include icon(plus);
    }
  }

}
