@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;
@use '../../11-base/fonts/icons' as *;

.accordion {
  position: relative;
  z-index: 1;

  .accordion--button {
    @include semi-bold-text;
    @include extra-large-text;
    @include icon(chevron-down);

    & {
      position: relative;
      padding-right: 32px;
      color: inherit;
      line-height: 26px;
      text-align: left;
    }

    &::before {
      position: absolute;
      right: 0;
      transition: transform .2s ease-in-out;
      font-size: 1.4rem;
      line-height: 1.2;
    }

    &[aria-expanded=true] {
      &::before {
        transform: scaleY(-1);
      }
    }
  }

  .accordion--content {
    max-height: 0;
    transition: max-height .75s ease-out;
    overflow: hidden;

    &.accordion--expanded {
      max-height: 9999px;
    }

    &:focus,
    &:focus-within {
      overflow: unset; // The overflow is needed for the accordion animation only
    }

    p {
      line-height: 1.75;
    }
  }

  .accordion {
    z-index: 2;
  }
}

ul.accordion,
dl.accordion {
  &:not(.timeline) {
    & > li {
      @include theme('border-color', 'color-primary-light', 'accordion-border-color');

      & {
        border-bottom: 2px solid;
      }
    }
  }

  li {
    h3 {
      margin: 20px 0;
    }

    &:first-child {
      h3 {
        margin-top: 0;
      }
    }
  }

  .accordion--button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    overflow: visible;

    &::before {
      @include theme('background-color', 'color-tertiary-pastel', 'button-secondary-background');

      & {
        position: relative;
        right: auto;
        left: 0;
        min-width: 36px;
        min-height: 36px;
        margin: 0 15px 0 0;
        padding: 2.5px 5px;
        transition: transform .2s ease-out-in-out;
        font-size: 1.2rem;
        text-align: left;
      }
    }

    &[aria-expanded=true] {
      @include icon(minus);

      &::before {
        transform: none;
        line-height: 1.2;
      }
    }

    &[aria-expanded=false] {
      @include icon(plus);

      &::before {
        line-height: 1.2;
      }
    }
  }
}

ul.accordion {
  margin: 0;

  > li {
    list-style: none;
  }
}

dl.accordion {
  dd {
    padding: 0;
  }
}

.accordion--link {
  position: relative;
  z-index: 1;

  .accordion--link--button {
    @include semi-bold-text;
    @include remove-button;
    @include theme('color', 'color-tertiary', 'link-color');
    @include link-background('color-primary', 'color-primary', 'link-underline-color', 'link-hover-background');

    & {
      width: auto;
      margin-bottom: 20px;
      line-height: 120%;
      vertical-align: middle;
    }

    &::before {
      display: none;
    }

    i {
      display: inline-block;
      margin-left: 5px;
      transform: rotate(0deg);
      transform-origin: center center;
      transition: .3s;
      vertical-align: middle;
    }

    &[aria-expanded=true] {
      i {
        transform: rotate(180deg);
      }
    }
  }

  .accordion--link--content {
    max-height: 0;
    transition: max-height .75s ease-out;
    overflow: hidden;

    &.accordion--expanded {
      max-height: 9999px;
    }

    &:focus,
    &:focus-within {
      overflow: unset; // The overflow is needed for the accordion animation only
    }

    p {
      line-height: 1.75;
    }
  }

  .accordion {
    z-index: 2;
  }
}
