<div class="accordion dropdown">
  <{{ headingLevel|default('h3') }}>
    <button aria-controls="accordion--single--content--1" aria-expanded="false" class="accordion--button">{{ buttonText }}</button>
  </{{ headingLevel|default('h3') }}>
  <div id="accordion--single--content--1" class="accordion--content">
    {{ content }}
  </div>
</div>
