<ul class="accordion">
  <li>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_1"
              class="accordion-button">open
      </button>
    </h3>
    <div class="accordion--content accordion--expanded" id="accordion_1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
        adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
        quisquam quos tenetur veritatis voluptas?</p>
      <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
        inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
        voluptate voluptates? Fuga non praesentium sapiente?</p>
      <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
        dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
        perferendis quae, sequi sint. Ab ad deleniti odio!</p>
      <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
        doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
        dolorem ducimus hic laborum molestias necessitatibus non praesentium
        repellendus.</p>
      <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
        perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore
        eius
        impedit ipsam nam odio quas voluptas!</p>
    </div>
  </li>
  <li>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_2"
              class="accordion-button">open
      </button>
    </h3>
    <div class="accordion--content accordion--expanded" id="accordion_2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
        adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
        quisquam quos tenetur veritatis voluptas?</p>
      <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
        inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
        voluptate voluptates? Fuga non praesentium sapiente?</p>
      <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
        dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
        perferendis quae, sequi sint. Ab ad deleniti odio!</p>
      <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
        doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
        dolorem ducimus hic laborum molestias necessitatibus non praesentium
        repellendus.</p>
      <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
        perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore
        eius
        impedit ipsam nam odio quas voluptas!</p>
    </div>
  </li>
  <li>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_3"
              class="accordion-button">open
      </button>
    </h3>
    <div class="accordion--content accordion--expanded" id="accordion_3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
        adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
        quisquam quos tenetur veritatis voluptas?</p>
      <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
        inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
        voluptate voluptates? Fuga non praesentium sapiente?</p>
      <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
        dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
        perferendis quae, sequi sint. Ab ad deleniti odio!</p>
      <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
        doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
        dolorem ducimus hic laborum molestias necessitatibus non praesentium
        repellendus.</p>
      <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
        perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore
        eius
        impedit ipsam nam odio quas voluptas!</p>
    </div>
  </li>
</ul>

<dl class="accordion">
  <dt>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_dd_1"
              class="accordion-button">open
      </button>
    </h3>
  </dt>
  <dd class="accordion--content accordion--expanded" id="accordion_dd_1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
      adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
      quisquam quos tenetur veritatis voluptas?</p>
    <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
      inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
      voluptate voluptates? Fuga non praesentium sapiente?</p>
    <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
      dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
      perferendis quae, sequi sint. Ab ad deleniti odio!</p>
    <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
      doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
      dolorem ducimus hic laborum molestias necessitatibus non praesentium
      repellendus.</p>
    <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
      perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore eius
      impedit ipsam nam odio quas voluptas!</p>
  </dd>
  <dt>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_dd_2"
              class="accordion-button">open
      </button>
    </h3>
  </dt>
  <dd class="accordion--content accordion--expanded" id="accordion_dd_2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
      adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
      quisquam quos tenetur veritatis voluptas?</p>
    <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
      inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
      voluptate voluptates? Fuga non praesentium sapiente?</p>
    <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
      dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
      perferendis quae, sequi sint. Ab ad deleniti odio!</p>
    <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
      doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
      dolorem ducimus hic laborum molestias necessitatibus non praesentium
      repellendus.</p>
    <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
      perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore eius
      impedit ipsam nam odio quas voluptas!</p>
  </dd>
  <dt>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_dd_3"
              class="accordion-button">open
      </button>
    </h3>
  </dt>
  <dd class="accordion--content accordion--expanded" id="accordion_dd_3">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
      adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
      quisquam quos tenetur veritatis voluptas?</p>
    <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
      inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
      voluptate voluptates? Fuga non praesentium sapiente?</p>
    <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
      dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
      perferendis quae, sequi sint. Ab ad deleniti odio!</p>
    <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
      doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
      dolorem ducimus hic laborum molestias necessitatibus non praesentium
      repellendus.</p>
    <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
      perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore eius
      impedit ipsam nam odio quas voluptas!</p>
  </dd>
</dl>

<div class="accordion">
    <h3>
      <button aria-expanded="true" aria-controls="accordion_dd_1"
              class="accordion-button">open
      </button>
    </h3>
  <div class="accordion--content accordion--expanded" id="accordion_dd_1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
      adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
      quisquam quos tenetur veritatis voluptas?</p>
    <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
      inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
      voluptate voluptates? Fuga non praesentium sapiente?</p>
    <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
      dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
      perferendis quae, sequi sint. Ab ad deleniti odio!</p>
    <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
      doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
      dolorem ducimus hic laborum molestias necessitatibus non praesentium
      repellendus.</p>
    <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
      perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore eius
      impedit ipsam nam odio quas voluptas!</p>
  </div>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_dd_2"
              class="accordion-button">open
      </button>
    </h3>
  <div class="accordion--content accordion--expanded" id="accordion_dd_2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
      adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
      quisquam quos tenetur veritatis voluptas?</p>
    <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
      inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
      voluptate voluptates? Fuga non praesentium sapiente?</p>
    <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
      dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
      perferendis quae, sequi sint. Ab ad deleniti odio!</p>
    <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
      doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
      dolorem ducimus hic laborum molestias necessitatibus non praesentium
      repellendus.</p>
    <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
      perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore eius
      impedit ipsam nam odio quas voluptas!</p>
  </div>
    <h3>
      <button aria-expanded="true" aria-controls="accordion_dd_3"
              class="accordion-button">open
      </button>
    </h3>
  <div class="accordion--content accordion--expanded" id="accordion_dd_3">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
      adipisci, aliquam cumque eius maiores optio porro provident quaerat quas
      quisquam quos tenetur veritatis voluptas?</p>
    <p>Alias animi commodi consectetur debitis distinctio eligendi harum id
      inventore magni nobis rerum saepe, tempora temporibus tenetur totam vero
      voluptate voluptates? Fuga non praesentium sapiente?</p>
    <p>Aliquid aperiam architecto, asperiores consequatur deserunt distinctio
      dolor eaque, eum facere illo incidunt ipsum iste molestiae odio
      perferendis quae, sequi sint. Ab ad deleniti odio!</p>
    <p>Aliquam asperiores reiciendis repellendus reprehenderit sapiente? Culpa
      doloremque eius enim similique ullam? A adipisci aperiam consequuntur,
      dolorem ducimus hic laborum molestias necessitatibus non praesentium
      repellendus.</p>
    <p>A, adipisci aperiam cum cumque distinctio laborum nam nisi nostrum
      perspiciatis sequi? Fugiat perspiciatis quia repudiandae sunt? Dolore eius
      impedit ipsam nam odio quas voluptas!</p>
  </div>
</div>