.detail-layout {
  @extend %content-container;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.2rem;
  font-size: .9rem;
  line-height: 1.8;

  > .content {
    width: span(8 of 12);
    max-width: 36rem;
    padding-right: span(1 of 12);

    .image-gallery,
    .video,
    .quote,
    .feedback-form {
      @extend %wider;
    }

    // Stub.
    .image-gallery,
    .video {
      margin-bottom: $default-paragraph-margin;
    }
  }

  .summary-text {
    font-weight: 600;
  }
}

