.detail-layout {
  @extend %content-container;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.2rem;
  font-size: .9rem;
  line-height: 1.8;

  .summary-text {
    font-weight: 600;
  }

  > * {
    @include tablet {
      width: span(7 of 12);
    }
  }

  > .help-block,
  > .search-block,
  > .video,
  > .gallery-link,
  > .image-gallery {
    margin-bottom: $default-paragraph-margin;

    @include tablet {
      width: span(9 of 12);
    }
  }

  .search-block {
    @extend %wider;

    margin-bottom: 4rem;
  }
}

