.info-page-layout {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  font-size: .9rem;
  line-height: 1.8;

  > .content {
    width: span(8 of 12);
    max-width: 36rem;
    padding-right: span(1 of 12);

    > .wider {
      margin-right: -16.66%;
      margin-left: -16.66%;
    }
  }
}
