.partner-block {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @include desktop {
    padding: 0 135px;
  }

  &.partner__multiple {
    @include desktop {
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }

    .partner-content {
      display: flex;
      align-items: center;
      min-height: 100%;
    }

    .intro {
      @include desktop {
        min-width: min-content;
        max-width: 350px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .partners {
      @include theme('border-color', 'color-primary-light', 'partner-intro-border');

      margin: 45px 0 0 ;
      padding: 45px 0 0;
      border-top-width: 2px;
      border-top-style: solid;

      @include desktop {
        margin: 0 0 0 60px;
        padding: 0 0 0 60px;
        border-top: 0;
        border-left-width: 2px;
        border-left-style: solid;
      }
    }
  }

  &.partner__single {
    text-align: center;

    .intro {
      p:last-child {
        margin-bottom: 30px;
      }
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  ul {
    align-items: center;
    justify-content: space-between;
    gap: 30px 60px;

    @include tablet {
      justify-content: flex-start;
    }

    li {
      width: auto;
      height: 100px;
      margin: 0;
    }
  }

  a {
    display: block;
    width: auto;
    height: 100%;
    border: 0;

    &[href^="http://"]:not([href*="gent.be"]),
    &[href^="https://"]:not([href*="gent.be"]) {
      &:not(.no-icon):not(.tag) {
        margin-right: 0;
      }
    }
  }

  figure,
  img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
}
