<div class="partner-block {{ single_partner ? 'partner__single' : 'partner__multiple' }}">
  <div class="partner-content intro">
    <div class="intro__content">
      {% if title %}
        {% include '@heading' with {
          'heading': 'h2',
          'heading_text': title
        } %}
      {% endif %}

      {% if description %}
        {% include '@paragraph' with {
          'text': description
        } %}
      {% endif %}
    </div>
  </div>

  <div class="partner-content partners">
    {% if single_partner %}
      <a href="#" title="Link to the OCMW Ghent website. ">
        {% include '@image' with {
          src: '/styleguide/img/stock/ocmw-logo.svg' | path,
          alt_text: 'OCMW Gent',
          ratio: null
        } %}
      </a>
    {% else %}
      <ul class="inline">
        {% for item in items %}
          <li>
            <a href="#" title="{{ link_text }}">
              {% include '@image' with {
                src: item.link| path,
                alt_text: item.alt_text,
                ratio: null
              } %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
