<fieldset class="form-item {{ modifier }}">
  <legend>
    {{ label }}
    {% if label_optional %}
      <span class="label-optional">({{ label_optional }})</span>
    {% endif %}
  </legend>

  {% render '@field-message' with {
    "field_message": field_description,
    "modifier": null
  } %}

  <div class="form-columns">
    <div class="form-item-column">
      {% for option in options %}
        {% render '@input' with {
          "id": input_component ~ "-" ~ id ~ "-" ~ modifier ~ "-" ~ option.id,
          "type": 'checkbox',
          "name": option.name,
          "label": option.label
        } %}
      {% endfor %}
    </div>
    <div class="form-item-column">
      {% if modifier == 'error' %}
        {% render '@field-message' with {
          "modifier": "error"
        } %}
      {% endif %}

      {% if modifier == 'success' %}
        {% render '@field-message' with {
          "modifier": "success"
        } %}
      {% endif %}
    </div>
  </div>
</fieldset>
