.teaser.teaser-topic {
  .teaser-content {
    @include theme('border-color', 'color-primary--lighten-4', 'teaser-contact-border');
    height: 100%;
    padding-bottom: .7rem;
    border-bottom: 2px solid;

    p {
      font-size: .8rem;
    }
  }

  .teaser-topic-links a {
    font-weight: normal;
  }
}
