<li class="teaser teaser-topic">
  <article class="teaser-content">
    <div class="content__bottom">
      <h3 id="{{ teaser_uid }}">{{ teaser_title }}</h3>

      {% include '@paragraph' with {
        'text': teaser_paragraph_text
      } %}

      <ul class="links teaser-topic-links">
        {% for link in teaser_topic_links %}
          <li>
            {% include '@link' with {
              'text': link.text,
              'link': link.link
            } %}
          </li>
        {% endfor %}
      </ul>

      {% if teaser_link_text is not empty %}
        {% include '@link' with {
          'text': teaser_link_text,
          'aria_labelledby': teaser_uid,
          'link': teaser_link_link,
          'modifier': 'read-more standalone-link'
        } %}
      {% endif %}
    </div>

    {% if teaser_image_src is not empty %}
      <div class="content__top">
        {% include '@figure' with {
          "figure_image_src": teaser_image_src,
          "figure_ratio": '8:5'
        } %}
      </div>
    {% endif %}
  </article>
  <a href="{{ teaser_link_link }}" class="teaser-overlay-link" tabindex="-1"
     aria-hidden="true">{{ teaser_title }}</a>
</li>

