.search-block {
  @include theme('background-color', 'color-primary--lighten-5', 'search-block-background');

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3.1rem;
  padding: 0 calc(#{$gutter-width} / 2) 1.6rem;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 0;
    padding: 2rem 3.7rem 1.6rem ($gutter-width*2);
  }

  &::before {
    @include spot-image('lightbulb-light', 6.2rem);
    margin: -3.1rem 0 1rem;

    @include tablet {
      align-self: center;
      width: 8rem;
      height: 8rem;
      margin: 0 2.5rem 0 0;
      justify-self: flex-start;
    }
  }

  &-content {
    width: 100%;
    max-width: $six-of-bp-container;
    margin-right: auto;
  }
}
