.search-block {
  @include theme('background-color', 'color-primary--lighten-4', 'search-block-background');

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3.1rem;
  padding: 0 .8rem 2rem;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 0;
    padding: 2rem 3.7rem 2rem ($gutter-width*2);
  }

  h2 {
    @extend %h4;
  }

  h3 {
    @extend %h5;
  }

  a {
    @include theme('color', 'color-primary--darken-1', 'search-block-link-color');
  }

  &-icon {
    width: 6.2rem;
    height: 6.2rem;
    margin: -3.1rem 0 1rem;

    @include tablet {
      align-self: center;
      width: 8rem;
      height: 8rem;
      margin: 0 2.5rem 0 0;
      justify-self: flex-start;
    }
  }

  &-content {
    width: 100%;
  }
}
