<div class="search-block">
  {% include '@image' with {
    'src': '/styleguide/img/svg/whistle-light.svg'|path,
    'alt_text': '',
    'modifier': 'search-block-icon'
  } %}
  <div class="search-block-content">
    {% include '@heading' with {
      'type': 'h2',
      'heading_text': 'From here you can...'
    } %}

    {% include '@list' with {
      'type': 'icon-list',
      'icon_items': [
        '<i class="icon-home"></i><span>Return to the <a href="javascript:(void);" alt="Homepage">homepage</a></span>',
        '<i class="icon-fancyback"></i><span>Use the back button of your browser</span>',
        '<i class="icon-document"></i><span>Or notify us of the page through the <a href="javascript:(void);" alt="Contact form">contact form</a></span>',
      ]
    } %}

    {% include '@heading' with {
      'type': 'h3',
      'heading_text': 'Are you looking for another page?'
    } %}

    {% include '@search' with {
      'label': '',
      'text': 'Search!',
      'for': 'search_field_403',
      'search_id': 'search_field_403'
    } %}
  </div>
</div>
