<div class="search-block">
  {% include '@image' with {
    'src': '/styleguide/img/svg/whistle-light.svg',
    'alt_text': 'Gentinfo icon',
    'modifier': 'search-block-icon'
  } %}
  <div class="search-block-content">
    {% include '@h2' with {'h2_text': 'From here you can...'} %}

    {% include '@list' with {
      'type': 'unordered',
      'items': [
        '<i class="icon-home"></i> Return to the <a href="javascript:(void);" alt="Homepage">homepage</a>',
        '<i class="icon-fancyback"></i>Use the back button of your browser',
        '<i class="icon-document"></i>Or notify us of the page through the <a href="javascript:(void);" alt="Contact form">contact form</a>',
      ]
    } %}

    {% include '@h3' with {'h3_text': 'Are you looking for another page?'} %}
  </div>
</div>
