.mijn-gent-block {
  display: inline-block;
  position: relative;

  .login-link {
    @include theme('color', 'color-tertiary', 'mijn-gent-toggle-link-color');

    display: flex;
    align-items: center;
    text-decoration: none;

    i {
      display: none;
    }
  }

  > .toggle {
    display: flex;
    position: relative;
    height: 2.3rem;
    overflow: hidden;
  }

  .label {
    display: none;

    a {
      @include theme('color', 'color-tertiary', 'mijn-gent-toggle-link-color');
      @include icon(chevron-down, after);

      display: flex;
      align-items: center;
      text-decoration: none;

      &::after {
        margin-left: .4rem;
        font-size: 1.2rem;
      }

      &:hover {
        background: none;
      }
    }

    @include tablet {
      display: inline;
      align-self: center;
    }
  }

  .picture {
    width: 2.3rem;
    margin-right: .9rem;

    img {
      width: 100%;
      border-radius: 100%;
    }
  }

  .content {
    display: none;
  }

  &:hover .content {
    display: inline-block;

    position: absolute;
    top: 2.2rem;
    right: 0;
    min-width: 16rem;
    margin-top: 10px;
    padding: .6rem 1.2rem;
    border-radius: border-radius('radius-1');
    background: color('white');
    box-shadow: 0 2px 12px 0 rgba(35, 51, 58, .25);
    z-index: 9999;

    > h2 {
      @extend %h5;
    }
  }

  .profile {
    @include theme('border-color', 'color-primary--lighten-4', 'mijn-gent-dropdown-border');

    display: flex;
    margin-bottom: 1.1rem;
    padding-bottom: 1.1rem;
    border-bottom: 2px solid;

    &-picture img {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1.3rem;
      border-radius: 100%;
    }

    &-info {
      span {
        display: block;
        margin-bottom: 0;
        font-size: .7rem;
      }
    }
  }

  .mijn-gent-component {
    margin-bottom: 1.1rem;

    footer {
      padding: 0 .625rem;
      border-bottom-left-radius: border-radius('radius-1');
      border-bottom-right-radius: border-radius('radius-1');
      text-align: right;
    }

    h3 {
      margin-bottom: 5px;
      font-size: .8rem;
    }

    ul {
      margin: 0;
    }

    li {
      line-height: 1.6rem;
    }

    a {
      @include theme('color', 'color-tertiary', 'mijn-gent-link-color');

      font-size: .8rem;
      text-decoration: none;
    }
  }
}
