.mijn-gent-block {
  display: inline-block;
  position: relative;

  &:hover .content {
    display: inline-block;
  }

  .login-link {
    display: inline-block;
    position: relative;
    height: 2rem;

    @include tablet {
      padding-right: 2rem;
    }

    i {
      display: none;

      @include tablet {
        display: inline;
        position: absolute;
        margin-top: -.2rem;
        margin-left: .625rem;
      }
    }
  }

  .toggle {
    display: inline-block;
    position: relative;
    height: 2rem;
    overflow: hidden;
  }

  .label,
  .picture {
    height: 2rem;
    float: left;
  }

  .label {
    display: none;

    @include tablet {
      display: inline;
      margin-right: .5rem;
    }
  }

  .picture {
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    margin: auto;

    img {
      width: 100%;
      border-radius: $radius-1;
    }
  }

  .content {
    display: none;
    position: absolute;
    top: calc(2.4rem - 10px);
    right: 0;
    min-width: 200px;
    margin-top: 10px;
    border-radius: $radius-1;
    background: color('color-white');
    box-shadow: 2px 2px 2px 0 rgba(44, 63, 72, .2), -2px 2px 2px 0 rgba(44, 63, 72, .2);
    z-index: 9999;

    &::before {
      @include triangle(top, 10px, 10px, color('color-white'));
      position: absolute;
      top: -10px;
      right: 10px;
    }

    h3 {
      margin-bottom: 5px;
      color: color('color-dark-gray');
      font-size: .8rem;
    }

    li {
      line-height: 1.6rem;
    }

    a {
      color: color('color-blue');
      font-size: .8rem;
      text-decoration: none;
    }

    header,
    section {
      padding-right: .625rem;
      padding-left: .625rem;
    }

    header {
      padding-top: .9rem;
    }

    section {
      padding-left: 1.25rem;
    }

    footer {
      padding: 0 .625rem;
      border-bottom-left-radius: $radius-1;
      border-bottom-right-radius: $radius-1;
      background: ligher('color-blue', 75);
      text-align: right;
    }
  }

  .mijn-gent-component {
    border-bottom: 1px solid tint('color-blue', 50);
  }
}
