<div class="mijn-gent-block">

  {% if auth == 'false' %}

    {% include '@link' with {
      'modifier': 'login-link',
      'link': 'javascript:(void);',
      'text': 'Aanmelden<i class="icon-user"></i>'
    } %}

  {% else %}

    <div class="toggle">
      <div class="picture">
        {% include '@image' with { 'src': 'https://via.placeholder.com/64x64', 'alt_text': 'Username' } %}
      </div>
      <div class="label">
        {% include '@link' with {
          'link': 'javascript:(void);',
          'modifier': 'toggle',
          'text': 'Username'
        } %}
      </div>
    </div>

    <div class="content">
      {% include '@h2' with { 'h2_text': 'Mijn Gent' } %}

      <div class="profile">
        <div class="profile-picture">
          {% include '@image' with { 'src': 'https://via.placeholder.com/64x64', 'alt_text': 'Username' } %}
        </div>
        <div class="profile-info">
          <span>{{ 'John Doe' }}</span>
          {% include 'link' with {
            'link': 'https://stad.gent',
            'text': 'Show profile',
            'modifier': 'button button-primary button-small'
          }%}
        </div>
      </div>

      <div class="mijn-gent-component">
        <section>
          {% include '@list' with {
            'type': 'unordered',
            'modifier': 'links',
            'items': [
              "<a href='javascript:(void);'>Overzicht</a>",
              "<a href='javascript:(void);'>Leestips</a>",
              "<a href='javascript:(void);'>Mijn profiel</a>"
            ]
          } %}
        </section>
      </div>

      <div class="mijn-gent-component">
        <header>
          {% include '@h3' with { 'h3_text': 'Mijn Gent' } %}
        </header>

        <section>
          {% include '@list' with {
            'type': 'unordered',
            'modifier': 'links',
            'items': [
              "<a href='javascript:(void);'>Mijn profiel</a>",
              "<a href='javascript:(void);'>Nieuwsbrieven</a>",
              "<a href='javascript:(void);'>Historiek</a>"
            ]
          } %}
        </section>
      </div>
      <footer>
        {% include '@link' with {
          'link': 'javascript:(void);',
          'modifier': 'button button-small button-secondary',
          'type': 'unordered',
          'text': 'Afmelden'
        } %}
      </footer>
    </div>

  {% endif %}

</div>
