.detail-layout {
  @extend %content-container;

  margin-top: 1.2rem;
  font-size: .9rem;
  line-height: 1.8;

  // Give each direct child a specific width.
  // This is a fallback width given to all children of the detail layout.
  > * {
    margin-bottom: 2rem;

    @include desktop {
      @include set-layout('width-7', 'offset-2');
    }
  }

  // All direct children of a detail layout should get default margins.
  // Except heading tags and paragraphs.
  > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(p) {
    margin-top: 2rem;
  }

  // Paragraphs are an exception to the above rule.
  > p {
    strong {
      font-size: inherit;
    }
  }

  > .quote,
  > .image-gallery--wrapper,
  > .help-block,
  > .search-block {
    @include desktop {
      @include set-layout('width-9', 'offset-1');
    }
  }

  > .summary-box,
  > .cta-block {
    @include desktop {
      @include set-layout('width-10', 'offset-1');
    }
  }

  > ul.accordion {
    @include desktop {
      @include set-layout('width-7', 'offset-2');
    }

    .accordion--content p {
      line-height: 1.75;
    }
  }

  > .help-block {
    @include desktop {
      padding-left: span(1 wide of 12);
    }
  }

  > .quote {
    // Spot image escapes the container by 2.5rem.
    margin-top: 5.5rem;

    @include desktop {
      margin-top: 2rem;
    }
  }

  > .help-block,
  > .search-block {
    @include wide;
  }

  > .timeline {
    @include set-layout();
    @include extra-wide;
  }

  .readspeaker-button {
    display: block;
    width: auto;
    margin-top: -.4rem;
    margin-bottom: .4rem;
  }

  .summary-text {
    font-weight: 600;
  }
}

$bulb-image-width: 6rem;

aside.top,
aside.bottom {
  @extend %content-container;

  > * {
    @include desktop {
      @include set-layout();
      width: 100%;
      margin-left: 0;
      padding-right: span(2 wide of 12);
      padding-left: span(2 wide of 12);
    }
  }
}

aside.top {
  position: relative;
  margin: 5rem auto 0;

  > div:first-child {
    &::before {
      @include spot-image('lightbulb', $bulb-image-width);

      display: block;
      position: relative;
      margin: (-$bulb-image-width) auto 1rem;
      z-index: 1;

      @include tablet {
        position: absolute;
        top: -($bulb-image-width/2);
        right: span(1 of 12);
        margin: 0;
      }
    }
  }
}

aside.bottom {
  .feedback-form {
    @include wide;

    margin-bottom: 2rem;

    @include desktop {
      @include set-layout('width-9', 'offset-1');

      padding-left: span(1 wide of 12);
    }
  }
}
