.gentinfo-block {
  @include theme('background-color', 'color-primary--lighten-4', 'gentinfo-block-background');

  display: flex;
  padding: 2rem 2.5rem;
  font-size: .8rem;
  line-height: 1.75;

  .gentinfo-icon {
    display: block;
    margin-right: 2.4rem;
    align-self: start;
  }

  .gentinfo-block-content {
    width: span(4 of 6);
    max-width: 15rem;

    h2 {
      font-weight: 800;
    }

    ul {
      margin: 0;
      list-style: none;

      a {
        font-size: .8rem;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
