.gentinfo-block {
  @include theme('background-color', 'color-secondary', 'gentinfo-block-background');

  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 6rem 1.2rem 2.5rem;
  font-size: .8rem;
  line-height: 1.75;
  text-align: center;
  box-shadow: 0 8px 12px 0 rgba(0, 125, 179, .06);

  @include tablet {
    flex-wrap: nowrap;
    margin: 0;
    padding: 2.5rem;
    text-align: left;
  }

  .gentinfo-icon {
    display: block;
    width: 7.8rem;
    margin: -6rem auto 0;
    padding: 1rem 0;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: block;
      align-self: center;
      margin: 0 2.4rem 0 0;
    }
  }

  .gentinfo-block-content {
    width: 100%;
    text-align: left;

    @include tablet {
      width: span(5 of 7);
      max-width: 15rem;
    }

    h2,
    p {
      text-align: center;

      @include tablet {
        text-align: left;
      }
    }

    h2 {
      font-weight: 800;
    }

    ul {
      margin: 0;
      list-style: none;

      a {
        @include theme('color', 'color-primary--darken-2', 'gentinfo-block-link-color');

        margin-left: -.3rem;
        font-size: .8rem;
        font-weight: 600;
        text-decoration: none;

        &.button-call {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;

          &::after {
            display: none;
          }

          @include tablet {
            display: inline;
            margin: 0 0 0 -.3rem;
            padding: .3em;
            border: 0;
            box-shadow: none;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  .gentinfo-chat-button {
    position: absolute;
    right: 1.2rem;
    bottom: -1rem;
    left: 1.2rem;
    width: calc(100% - 2.2rem);
    margin: auto;

    @include tablet {
      right: 1.5rem;
      left: auto;
      width: auto;
    }
  }
}
