<div class="section--accent island dg-default-block">
  {% include '@h3'with { 'h3_text': 'Gentinfo' } %}
  {% include '@list'with {
    'h3_text': 'Gentinfo',
    'modifier': 'no-style',
    'items': [
      '<a class="phone" href="tel:+3288888888">08 888 88 88 - mo - sat from 8-19u</a>',
      '<a class="email" href="mailto:gentinfo@stad.gent">gentinfo@stad.gent</a>',
      '<a class="link" href="">Contact form</a>',
      '<a class="btn textballoon">Online Chat</a>'
    ]
  } %}
</div>
