<div class="gentinfo-block">
  <div aria-hidden="true" class="gentinfo-icon"></div>
  <div class="gentinfo-block-content">
    {% include '@h2'
      with {
        'h2_text': 'Gentinfo'
      }
    %}
    {% include '@paragraph'
      with {
        'text': 'Gentinfo is bereikbaar van maandag t.e.m. zaterdag van 08:00 tot 19:00'
      }
    %}
    {% include '@list'
      with {
        'type': 'unordered',
        'items': [
          '09 210 10 10',
          '<a href="mailto:gentinfo@stad.gent" alt="Gentinfo mail link">Gentinfo@stad.gent</a>'
        ]
      }
    %}
  </div>
</div>
