<div class="gentinfo-block">
  {% include '@image' with {
    'src': '/styleguide/img/svg/gentinfo.svg',
    'alt_text': 'Gentinfo icon',
    'modifier': 'gentinfo-icon'
  } %}
  <div class="gentinfo-block-content">
    {% include '@h2'
      with {
        'h2_text': 'Gentinfo'
      }
    %}
    {% include '@paragraph'
      with {
        'text': 'Gentinfo is available from Monday till Saturday from 08:00 till 19:00'
      }
    %}
    {% include '@list'
      with {
        'type': 'unordered',
        'items': [
          '<a href="tel:09 210 10 10" alt="Gentinfo tel link">T: 09 210 10 10</a>',
          '<a href="mailto:gentinfo@stad.gent" alt="Gentinfo mail link">Gentinfo@stad.gent</a>',
          '<a href="javascript:(void);" class="external-link" alt="Contact form">Contactformulier<i aria-hidden="true" class="icon-arrow-right"></i></a>'
        ]
      }
    %}
  </div>
  {% include '@button-primary' with { 'text': 'Chat with Gentinfo', 'modifier': 'gentinfo-chat-button button-medium', 'icon': 'icon-chat-round' } %}
</div>
