.teaser {
  position: relative;

  &__overlay-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }

  &__content {
    margin: 0;

    h3 {
      margin-top: 0;
    }

    a,
    button {
      position: relative;
      z-index: 2;
    }

    &--section {
      @extend %island;
      @extend %section--default;
    }
  }

  &__image {
    width: 100%;
  }
}
