<div class="teaser">
  <a href="{{ teaser_link_link }}" class="teaser__overlay-link" tabindex="-1"
     aria-hidden="true">{{ teaser_h3_title }}</a>
  {% include '@image' with {
  "src": teaser_image_src,
  "alt_text": teaser_image_alt_text,
  "modifier": "teaser__image"
  } %}
  <div class="teaser__content teaser__content--section">
    <h3 id="{{ teaser_uid }}">{{ teaser_h3_title }}</h3>

    {% include '@paragraph' with {
      'text': teaser_paragraph_text
    } %}

    {% include '@link' with {
      'text': teaser_link_text,
      'aria_labelledby': teaser_uid,
      'link': teaser_link_link
    } %}
  </div>
</div>
