.related-box {
  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > h2 {
      flex-basis: 100%;
    }

    &-column {
      width: span(12 of 12);
      margin-bottom: 1.6rem;
      padding-right: 2rem;

      @include tablet {
        width: span(4 of 8);
      }

      @include desktop {
        margin-bottom: 0;
      }

      > h3 {
        margin-bottom: .8rem;

        &:first-of-type {
          margin-top: 0;
        }
      }

      ul.related-box-tags {
        @extend %list-no-style;

        display: flex;
        flex-wrap: wrap;
      }

      .tag {
        margin: 0 .8rem .8rem 0;
      }
    }
  }
}
