<div class="related-box">
  {% include '@image' with {
    'src': '/styleguide/img/svg/lightbulb.svg',
    'alt_text': '',
    'modifier': 'related-box-image'
  } %}
  <div class="related-box-content">
    {% include '@h2' with {
      'h2_text': 'Also interesting'
    } %}

    <div class="related-box-content-column">
      {% include '@h3' with {
        'h3_text': 'Similar articles'
      } %}

      {% include '@list'
        with {
          'type': 'unordered',
          "items": [
            '<a href="javascript:(void);">Council meeting dates</a>',
            '<a href="javascript:(void);">Neighborhood</a>',
            '<a href="javascript:(void);">Service policy participation</a>',
            '<a href="javascript:(void);">Re-listen the city council and the dec...<Paste></a>'
          ]
        }
      %}
    </div>
    <div class="related-box-content-column">
      {% include '@h3' with {
        'h3_text': 'More info about'
      } %}

      {% if tags.length > 1 %}
        <ul class="related-box-tags">
          {% for tag in tags %}
            <li>
              {% include '@tag' with {
                'tag_text': tag,
                type: 'tag'
              } %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {% include '@tag' with {
          'tag_text': tags.0
        } %}
      {% endif %}

      {% include '@h3' with {
        'h3_text': 'Related Linked Open Data'
      } %}

      {% include '@link' with {
        'link': 'https://stad.gent',
        'text': 'Lorem ipsum dolor set'
      } %}
    </div>
  </div>
</div>
