<div class="related-box">
  <div class="related-box-content">
    {% render '@heading' with {
      'type': 'h2',
      'heading_text': 'Also interesting'
    } %}

  {% if similar_articles %}
    <div class="related-box-content-column">
        {% render '@heading' with {
          'type': 'h3',
          'heading_text': 'Similar articles'
        } %}

        {% render '@list'
          with {
            'type': 'unordered',
            "items": [
              '<a href="javascript:(void);">Council meeting dates</a>',
              '<a href="javascript:(void);">Neighborhood</a>',
              '<a href="javascript:(void);">Service policy participation</a>',
              '<a href="javascript:(void);">Re-listen the city council and the dec...<Paste></a>'
            ]
          }
        %}
      </div>
    {% endif %}
    <div class="related-box-content-column">
      {% render '@heading' with {
        'type': 'h3',
        'heading_text': 'More info about'
      } %}

      {% if tags.length > 1 %}
        <ul class="related-box-tags">
          {% for tag in tags %}
            <li>
              {% render '@tag' with {
                'tag_text': tag,
                type: 'tag'
              } %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {% render '@tag' with {
          'tag_text': tags.0
        } %}
      {% endif %}

      {% render '@heading' with {
        'type': 'h3',
        'heading_text': 'Related Linked Open Data'
      } %}

      {% render '@link' with {
        'link': 'https://stad.gent',
        'text': 'Lorem ipsum dolor set'
      } %}
    </div>
  </div>
</div>
