<div class="related-box">
  {% include '@image' with {
    'src': '/styleguide/img/svg/lightbulb.svg'|path,
    'alt_text': '',
    'modifier': 'related-box-image'
  } %}
  <div class="related-box-content">
    {% include '@heading' with {
      'type': 'h2',
      'heading_text': 'Also interesting'
    } %}

  {% if similar_articles %}
    <div class="related-box-content-column">
        {% include '@heading' with {
          'type': 'h3',
          'heading_text': 'Similar articles'
        } %}

        {% include '@list'
          with {
            'type': 'unordered',
            "items": [
              '<a href="javascript:(void);">Council meeting dates</a>',
              '<a href="javascript:(void);">Neighborhood</a>',
              '<a href="javascript:(void);">Service policy participation</a>',
              '<a href="javascript:(void);">Re-listen the city council and the dec...<Paste></a>'
            ]
          }
        %}
      </div>
    {% endif %}
    <div class="related-box-content-column">
      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'More info about'
      } %}

      {% if tags.length > 1 %}
        <ul class="related-box-tags">
          {% for tag in tags %}
            <li>
              {% include '@tag' with {
                'tag_text': tag,
                type: 'tag'
              } %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {% include '@tag' with {
          'tag_text': tags.0
        } %}
      {% endif %}

      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'Related Linked Open Data'
      } %}

      {% include '@link' with {
        'link': 'https://stad.gent',
        'text': 'Lorem ipsum dolor set'
      } %}
    </div>
  </div>
</div>
