.cta-block {

  .highlight__inner {

    li {
      margin-top: .8rem;

      &:first-of-type a {
        @extend %button-primary;
        @include button;
        @include button-icon;
      }

      &:not(:last-of-type) {
        @include theme('border-color', 'color-primary--lighten-4', 'more-info-block-border-color');

        padding-bottom: .8rem;
        border-bottom: 2px solid;
      }
    }
  }

  &--multiple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -1rem;
    margin-left: -1rem;

    > .cta-block {
      flex: 1 0 20rem;
      max-width: calc(100% - 2rem);
      margin-right: 1rem;
      margin-left: 1rem;

      .highlight__inner {
        height: 100%;

        @include tablet {
          padding: 5rem 2rem 2rem;

          &::before {
            top: 0;
            right: 0;
            left: 0;
          }
        }
      }
    }
  }
}
