.cta-block {
  display: flex;
  position: relative;
  flex-flow: column;
  max-width: $bp-max-content;
  margin: 60px 0;

  @include phablet {
    flex-flow: row;
  }

  &.image-none {
    max-width: 48.5rem;
    z-index: 1;

    .cta-block__content {
      @include theme-content('color-info-pastel', 'cta-shadow-color') {
        @include abstract-shadow('bottom', 'left', $theme-color, null, 260px, 260px);

        margin-left: 0; // Overwrite only the h-margin.
      }
    }
  }

  &.image-left,
  &.image-right {
    @include phablet {
      margin-bottom: 130px;
    }
  }

  .cta-block__image {
    @include phablet {
      flex-shrink: .3;
    }

    @include desktop {
      min-width: 470px;
      min-height: 470px;
    }
  }

  .cta-block__content {
    position: relative;
    width: 100%;
    z-index: 1;

    @include phablet {
      margin-top: auto;
    }

    li {
      margin-top: 16px;

      &:first-of-type a {
        @extend %button-secondary;
        @include button;
        @include button-icon;
      }
    }
  }

  &.image-left {
    .cta-block__image {
      margin-right: 20px;

      @include phablet {
        margin-right: inherit;
      }
    }

    .cta-block__content {
      top: -20px;
      left: 20px;

      @include phablet {
        top: auto;
        bottom: -90px;
        left: -60px;

        .feature-block {
          width: calc(100% + 60px);
        }
      }
    }
  }

  &.image-right {
    @include phablet {
      flex-direction: row-reverse;
    }

    .cta-block__image {
      margin-left: 20px;

      @include phablet {
        margin-left: inherit;
      }
    }

    .cta-block__content {
      top: -20px;
      margin-right: 20px;

      @include phablet {
        top: auto;
        bottom: -90px;
      }

      .feature-block {
        margin-right: 20px;

        @include phablet {
          width: calc(100% + 60px);
          margin-right: inherit;
        }
      }
    }
  }

  &--multiple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -20px;
    margin-left: -20px;

    > .cta-block {
      flex: 1 0 400px;
      max-width: calc(100% - 40px);
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
