<div class="cta-block box-left {{ type }}">
  <div class="inner-box">
    {% if title %}
      {% include '@heading' with {
      'type': 'h2',
      'heading_text': title
      } %}
    {% endif %}

    {% if description %}
      {% include '@paragraph' with {
      'text': description
      } %}
    {% endif %}

    {% if links|length > 1 %}
      <ul class="links">
        <li>
          {% include '@link' with {
          'link': links[0].url,
          'text': links[0].text,
          'modifier':  'button button-primary',
          'download': links[0].document|length
          } %}
          {% if links[0].document|length %}
            <span class="file-type">
              PDF
              {% if links[0].size|length %}
                <span class="file-size">
                  (753.77 KB)
                </span>
              {% endif %}
            </span>
          {% endif %}
        </li>
        <li>
          {% include '@link' with {
          'link': links[1].url,
          'text': links[1].text,
          'modifier': 'standalone-link',
          'download': links[1].document|length
          } %}
          {% if links[1].document|length %}
            <span class="file-type">
            PDF
              {% if links[1].size|length %}
                <span class="file-size">
                (753.77 KB)
              </span>
              {% endif %}
          </span>
          {% endif %}
        </li>
      </ul>
    {% else %}
      {% for link in links %}
        {% include '@link' with {
        'link': links[0].url,
        'text': links[0].text,
        'modifier': 'button button-primary',
        'download': links[0].document|length
        } %}
        {% if links[0].document|length %}
          <span class="file-type">
              PDF
            {% if links[0].size|length %}
              <span class="file-size">
                  (753.77 KB)
                </span>
            {% endif %}
            </span>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
