.dg-blocks-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    flex-wrap: nowrap;
  }

  span {
    width: 100%;
    margin-bottom: 1.2rem;
    line-height: 1rem;
    text-align: center;

    @include tablet {
      margin: 0;
      text-align: right;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 0 0 1.4rem;
    list-style: none;

    @include tablet {
      justify-content: space-between;
    }

    a {
      @include theme('background-color', 'color-primary--lighten-5', 'social-media-icon-background');

      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      text-decoration: none;
    }

    i {
      font-size: 1.6rem;
    }
  }
}
