.dg-blocks-social {
  display: grid;
  grid-template-columns: 1fr 1fr;

  span {
    text-align: right;
    line-height: 2rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;

    a {
      @include theme('background-color', 'color-primary--lighten-5', 'social-media-icon-background');

      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      line-height: 2rem;
      text-align: center;
      text-decoration: none;
    }

    i {
      font-size: 1.6rem;
    }
  }
}
