.dg-blocks-social {
  h3 {
    margin: 0;
    line-height: 1.5em;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  a {
    color: color('dark-gray');
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;

    &:visited {
      color: color('dark-gray');
    }

    &:hover {
      color: tint('dark-gray', -2);
    }

    &::before {
      padding-right: .5rem;
    }
  }

  // .facebook {
  //   &::before {
  //     @extend %icon-facebook;
  //   }
  // }

  // .twitter {
  //   &::before {
  //     @extend %icon-twitter;
  //   }
  // }

  // .linkedin {
  //   &::before {
  //     @extend %icon-linkedin;
  //   }
  // }

  // .youtube {
  //   &::before {
  //     @extend %icon-youtube;
  //   }
  // }

  // .instagram {
  //   &::before {
  //     @extend %icon-instagram;
  //   }
  // }
}
