<div class="dg-blocks-social">
  <span>{{ 'Volg Stad Gent op sociale media'  }}</span>
  {% include "@list" with
    {
      "type": "unordered",
      "items": [
        '<a href="https://www.facebook.com/stadsbestuurgent"><i aria-hidden="true" class="icon-facebook"></i></a>',
        '<a href="https://www.twitter.com/stadgent"><i aria-hidden="true" class="icon-twitter"></i></a>',
        '<a href="https://www.linkedin.com/company/stad-gent"><i aria-hidden="true" class="icon-linkedin"></i></a>',
        '<a href="https://www.youtube.com/channel/UCmJLf8SFG0D0GTd6LSSTQLw"><i aria-hidden="true" class="icon-youtube"></i></a>',
        '<a href="https://www.instagram.com/stadgent/"><i aria-hidden="true" class="icon-instagram"></i></a>'
      ]
    }
  %}
</div>
