<div class="dg-blocks-social island">
  {% include '@h3'with { 'h3_text': 'Volg Stad Gent op' } %}
  {% include "@list" with
    {
      "modifier": "no-style",
      "items": [
        '<a href="https://www.facebook.com/stadsbestuurgent" class="facebook">stadsbestuurgent</a>',
        '<a href="https://twitter.com/stadgent" class="twitter">@Stadgent</a>',
        '<a href="https://www.linkedin.com/company/stad-gent" class="linkedin">Stad Gent</a>',
        '<a href="https://www.youtube.com/channel/UCmJLf8SFG0D0GTd6LSSTQLw" class="youtube">YouTube Stad Gent</a>',
        '<a href="https://www.instagram.com/stadgent/" class="instagram">@stadgent</a>'
      ]
    }
  %}
</div>
