div.newsletter-block {
  .content-container {
    @include desktop {
      display: flex;
    }
  }

  padding-top: 2rem;
  padding-bottom: 2rem;

  h2,
  h3 {
    margin-top: 0;
  }

  .island {
    margin: 0;
    border: 0;
  }

  &__image {
    display: flex;
    width: 100%;

    @include desktop {
      flex: 1;
      flex-direction: column;
      flex-flow: column nowrap;
      width: 25%;
    }

    .image-wrapper {
      @include tablet {
        display: block;
        flex: 0 0 50%;
        order: 2;
      }

      @include desktop {
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
        order: 0;
        width: 100%;
        height: 50%;
        border-radius: $radius-3;
        overflow: hidden;
      }

      display: none;

      img {
        @include desktop {
          flex-basis: 20rem;
          align-self: center;
          max-width: 20rem;
        }
      }
    }

    .island {
      @include tablet {
        flex: 1 0 auto;
        order: 1;
        width: 50%;
      }

      @include desktop {
        order: 0;
        width: 100%;
      }

      width: 100%;
    }
  }

  &__content {
    @include tablet {
      background-image: url('#{$styleguide-dir}/img/svg/vignet-top.svg'), url('#{$styleguide-dir}/img/svg/vignet-right.svg'), url('#{$styleguide-dir}/img/svg/vignet-bottom.svg'), url('#{$styleguide-dir}/img/svg/vignet-left.svg');
      background-repeat: no-repeat;
      background-position: center top, center right, center bottom, center left;
    }

    @include desktop {
      flex: 2;
    }

    &::before {
      display: none;
    }

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 18rem;
  }

  &__form {
    display: flex;
    align-self: flex-end;
    width: 100%;
    margin-bottom: 1.5rem;

    input[type="email"] {
      flex: 5;
    }

    input[type="submit"] {
      flex: 2;
    }
  }

  &__social-media {
    @include no-link-style;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 25%;
    }


    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      display: flex;
      margin-right: .3rem;
      margin-bottom: .3rem;
      text-align: center;

      a {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: $radius-1;
        background-color: $color-blue;

        &:hover {
          background-color: lighten($color-blue, 5%);
        }
      }
    }
  }
}
