<div class="dg-block-post-address">
  {% render '@heading' with {
    'type': 'h2',
    'heading_text': 'Address'
  } %}
  <address>
    City of Ghent<br />
    Botermarkt 1<br />
    9000 Ghent
  </address>
</div>
