.mijn-gent-block {
  display: flex;
  position: relative;
  justify-content: flex-end;

  img {
    border-radius: 50%;
  }

  .accordion--button {

    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    cursor: pointer;

    * {
      vertical-align: middle;
    }

    img {
      max-width: 2.3rem;
    }

    span {
      display: none;
      padding: 0 .5em;
      font-weight: 600;

      @include tablet {
        display: inline-block;
      }
    }
  }

  .accordion--content {
    position: absolute;
    top: 100%;
    right: 0;
    width: calc(100vw - 2 * #{$gutter-width});
    max-width: $bp-mobile;
    margin-top: .5rem;
    border-radius: border-radius('radius-1');
    background: color('white');
    box-shadow: 0 2px 12px 0 rgba(35, 51, 58, .25);
    z-index: 9999;
  }

  .login-link {
    @include theme('color', 'color-tertiary', 'mijn-gent-toggle-link-color');
    @include icon(chevron-right, after);

    display: flex;
    align-items: center;
    text-decoration: none;

    &::after {
      margin-left: .4rem;
      font-size: 1.1rem;
    }
  }

  .content {
    padding: 1.2rem;

    h2 {
      @extend %h5;
    }

    section {
      @include theme('border-color', 'color-primary--lighten-4', 'mijn_gent-border-color');

      padding: .6rem 0;
      border-top: 2px solid;

      ul {
        margin: 0;
      }
    }

    .profile {
      display: flex;
      padding-bottom: 1rem;
      border-top: 0;

      &-info {
        span {
          display: block;
        }
      }

      img {
        align-self: flex-start;
        max-width: 3.4rem;
        margin-right: $gutter-width;
      }
    }
  }
}
