<div class="mijn-gent-block accordion">

  {% if auth == 'false' %}

  {% render '@link' with {
  'modifier': 'login-link',
  'link': 'javascript:(void);',
  'text': 'Aanmelden'
  } %}

  {% else %}

  <button aria-expanded="false"
          aria-controls="mijn_gent_content"
          class="toggle accordion--button">
    {% render '@image' with {
      'src': '/styleguide/img/stock/user_avatar.jpg',
      'alt_text': 'Username',
      'ratio': null
    } %}
    <span>James M.</span>
  </button>

  <div id="mijn_gent_content" class="accordion--content" aria-hidden="true" hidden>
    <article class="content">
      {% render '@heading' with {
        'type': 'h2',
        'heading_text': 'Mijn gent'
      } %}
      <section class="profile">
        {% render '@image' with {
          'src': '/styleguide/img/stock/user_avatar.jpg',
          'alt_text': 'Username',
          'ratio': null
        } %}
        <div class="profile-info">
          <span>{{ 'John Doe' }}</span>
          {% render '@link' with {
          'link': '#',
          'text': 'Show profile',
          'modifier': 'button button-primary button-small'
          } %}
        </div>
      </section>
      <section>
        {% render '@list' with {
        'type': 'unordered',
        'modifier': 'links',
        'items': [
        "<a href='javascript:(void);'>Overzicht</a>",
        "<a href='javascript:(void);'>Leestips</a>",
        "<a href='javascript:(void);'>Mijn profiel</a>"
        ]
        } %}
      </section>
      <section>
        {% render '@heading' with {
          'type': 'h2',
          'heading_text': 'Mijn gent'
        } %}

        {% render '@list' with {
        'type': 'unordered',
        'modifier': 'links',
        'items': [
        "<a href='javascript:(void);'>Mijn profiel</a>",
        "<a href='javascript:(void);'>Nieuwsbrieven</a>",
        "<a href='javascript:(void);'>Historiek</a>"
        ]
        } %}
      </section>
      <footer>
        {% render '@link' with {
        'link': 'javascript:(void);',
        'modifier': 'button button-small button-secondary',
        'type': 'unordered',
        'text': 'Afmelden'
        } %}
      </footer>
    </article>
  </div>
  {% endif %}
</div>

