<div class="mijn-gent-block accordion">
  
  {% if auth == 'false' %}
  
  {% include '@link' with {
  'modifier': 'login-link',
  'link': 'javascript:(void);',
  'text': 'Aanmelden'
  } %}
  
  {% else %}
  
  <button aria-expanded="false"
          aria-controls="mijn_gent_content"
          class="toggle accordion--button">
    {% include '@image' with { 'src': '/styleguide/img/stock/user_avatar.jpg'|path, 'alt_text': 'Username' } %}
    <span>James M.</span>
  </button>
  
  <div id="mijn_gent_content" class="accordion--content" aria-hidden="true" hidden>
    <article class="content">
      {% include '@h2' with { 'h2_text': 'Mijn Gent' } %}
      <section class="profile">
        {% include '@image' with { 'src': '/styleguide/img/stock/user_avatar.jpg'|path, 'alt_text': 'Username' } %}
        <div class="profile-info">
          <span>{{ 'John Doe' }}</span>
          {% include 'link' with {
          'link': '#',
          'text': 'Show profile',
          'modifier': 'button button-primary button-small'
          } %}
        </div>
      </section>
      <section>
        {% include '@list' with {
        'type': 'unordered',
        'modifier': 'links',
        'items': [
        "<a href='javascript:(void);'>Overzicht</a>",
        "<a href='javascript:(void);'>Leestips</a>",
        "<a href='javascript:(void);'>Mijn profiel</a>"
        ]
        } %}
      </section>
      <section>
        {% include '@h2' with { 'h2_text': 'Mijn Gent' } %}
        
        {% include '@list' with {
        'type': 'unordered',
        'modifier': 'links',
        'items': [
        "<a href='javascript:(void);'>Mijn profiel</a>",
        "<a href='javascript:(void);'>Nieuwsbrieven</a>",
        "<a href='javascript:(void);'>Historiek</a>"
        ]
        } %}
      </section>
      <footer>
        {% include '@link' with {
        'link': 'javascript:(void);',
        'modifier': 'button button-small button-secondary',
        'type': 'unordered',
        'text': 'Afmelden'
        } %}
      </footer>
    </article>
  </div>
  {% endif %}
</div>

