.programme {
  .programme__inner {
    @include theme('background-color', 'color-tertiary-light');

    padding: 24px;

    @include desktop {
      padding: 120px 135px;
    }
  }

  .read-more {
    font-size: .8rem;
    line-height: normal;
  }

  ///
  /// Programme slot.
  ///
  &-slot {
    width: 100%;
    max-width: $bp-max-content;
    margin: 0 auto;

    &-title {
      text-align: center;

      h2,
      h3 {
        max-width: none;
        margin-bottom: 0;
        padding-bottom: 45px;
      }
    }

    > dd {
      max-width: none;
      padding: 0;
    }

    & + & {
      margin-top: 45px;
    }
  }

  ///
  /// Programme detail
  ///
  &-detail {
    ul {
      font-size: .8rem;
      list-style: disc;
    }

    .image-gallery--wrapper {
      margin: 1rem 0;

      .show-more__content {
        text-align: center;
      }

      @include desktop-and-below {
        .image-gallery,
        .gallery-link {
          max-width: none;
        }

        .gallery-link {
          width: 100%;
          margin: 0;
        }
      }
    }

    .video {
      margin-top: 1.6rem;

      > .responsive-video {
        width: calc(100% + 2rem);
        margin-left: -1rem;

        @include tablet {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
