<div class="programme-wrapper">
  <div class="programme">
    <dl class="programme__inner">

      {% for slotKey, slot in slots %}
        <div class="programme-slot clearfix">
          <dt class="programme-slot-title"><h2>{{ slot.title }}</h2></dt>
          <dd>
            {% for itemKey, item in slot.items %}
              {% set key = slotKey ~ itemKey %}
              {% set modalContent %}
              <h3>{{ slot.title }}</h3>

              {% if item.subtitle %}
                <p>{{ item.subtitle }}</p>
              {% endif %}

              {% if item.images|length > 1 %}
                {% include '@image-gallery--multiple' with {
                  type: 'secondary',
                  items: item.images
                } %}
                {% elseif item.images|length > 0  %}
                  {% include '@image-gallery' with {
                    type: 'secondary',
                    src: item.images|first.src,
                    alt: item.images|first.alt,
                    caption: item.images|first.caption
                  } %}
                {% endif %}

                {% if item.description %}
                  {% include '@paragraph' with {
                    'text': item.description
                  } %}
                {% endif %}

                {% if item.video %}
                  {% include '@video' with item.video %}
                {% endif %}
              {% endset %}

              <!-- Modal -->
              {% include "@modal" with {
                id: key,
                title: item.title,
                content: modalContent,
                classes: 'programme-detail'
              } %}
            {% endfor %}
            <!-- /Modal -->
            <ul class="grid-3">
            {% for itemKey, item in slot.items %}
              {% set key = slotKey ~ itemKey %}
{#                <div class="col-xs-12 col-sm-6 col-md-4">#}
                    <!-- Teaser -->
                    {% include '@teaser' with {
                      modifier: 'teaser teaser--background',
                      teaser_uid: 'uid_' ~ key,
                      paragraph_text: item.subtitle,
                      title: item.title,
                      link_text: 'More information',
                      link: '#' ~ key,
                      image_src: item.images|first.src,
                      image_alt_text: item.images|first.alt,
                      image_ratio: '8:5',
                      image_placeholders: true,
                      published_date: null
                    } %}
                    <!-- /Teaser -->
{#                </div>#}
                {% endfor %}
            </ul>
          </dd>
        </div>
      {% endfor %}

    </dl>
  </div>
</div>
