<div class="programme-wrapper">
  <h2 class="visually-hidden">Programme</h2>
  <div class="programme box-top">
    <dl class="inner-box">

      {% for slotKey, slot in slots %}
        <div class="programme-slot">
          <dt class="programme-slot-title">{{ slot.title }}</dt>
          <dd>
            {% for itemKey, item in slot.items %}
              {% set key = slotKey ~ itemKey %}
              {% set modalContent %}
              <h4>{{ slot.title }}</h4>

              {% if item.subtitle %}
                <p>{{ item.subtitle }}</p>
              {% endif %}

              {% if item.images|length > 1 %}
                {% render '@image-gallery--multiple' with {
                  type: 'secondary',
                  items: item.images
                } %}
                {% elseif item.images|length > 0  %}
                  {% render '@image-gallery' with {
                    type: 'secondary',
                    src: item.images|first.src,
                    alt: item.images|first.alt,
                    caption: item.images|first.caption
                  } %}
                {% endif %}

                {% if item.description %}
                  {% render '@paragraph' with {
                    'text': item.description
                  } %}
                {% endif %}

                {% if item.video %}
                  {% render '@video' with item.video %}
                {% endif %}
              {% endset %}

              <!-- Modal -->
              {% render "@modal" with {
                id: key,
                title: item.title,
                content: modalContent,
                classes: 'programme-detail'
              } %}
            {% endfor %}
            <!-- /Modal -->
            <ul class="grid-3">
            {% for itemKey, item in slot.items %}
              {% set key = slotKey ~ itemKey %}

                <!-- Teaser -->
                {% render '@teaser--teaser--simple' with {
                  type: 'teaser-programme',
                  modifier: 'teaser--inverted',
                  teaser_uid: 'uid_' ~ key,
                  paragraph_text: item.subtitle,
                  title: item.title,
                  link_text: 'More information',
                  link: '#' ~ key,
                  image_src: item.images|first.src,
                  image_alt_text: item.images|first.alt,
                  image_ratio: '8:5',
                  image_placeholders: true,
                  published_date: null
                } %}
                <!-- /Teaser -->
            {% endfor %}

          </ul>
          </dd>
        </div>
      {% endfor %}

    </dl>
  </div>
</div>
