.homepage-layout {
  .info-container {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $gutter-width;
    }

    .info-block {
      @supports (display: grid) {
        display: grid;
      }

      > * {
        margin-right: 0;
        margin-left: 0;
      }

      .gent-info-block {
        @include no-link-style;
      }
    }
  }

  .news-container,
  .topics-container {
    padding: gutter() * 2 0;
  }
}
