$bulb-image-width: 6rem;

.extra-info-box {
  @extend %content-container;

  @include theme('border-color', 'color-primary--lighten-4', 'more-info-block-border-color');

  position: relative;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-top: 2px solid;

  @include tablet {
    padding-top: 2rem;
  }

  &-image {
    display: block;
    width: $bulb-image-width;
    margin: -$bulb-image-width auto 1rem;

    @include tablet {
      position: absolute;
      top: $bulb-image-width/2;
      right: span(1 of 12);
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      margin-right: span(1 of 12);
      margin-left: span(2 of 12);
    }

    > h2 {
      @extend %h3;

      flex-basis: 100%;
    }

    &-column {
      width: span(12 of 12);
      margin-bottom: 1.6rem;
      padding-right: 2rem;

      @include tablet {
        width: span(4 of 8);
      }

      > h3 {
        @extend %h5;

        margin-top: 1.6rem;
        margin-bottom: .8rem;

        &:first-of-type {
          margin-top: 0;
        }
      }

      .tag {
        margin-right: .8rem;
      }
    }
  }
}
