.extra-info-box {
  @include theme('border-color', 'color-primary--lighten-4', 'more-info-block-border-color');

  display: flex;
  flex-wrap: wrap;
  width: span(12 of 12);
  margin-top: 2.4rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-top: 2px solid;
  justify-self: center;

  ul a {
    @include theme('color', 'color-tertiary', 'extra-info-box-link-color');
  }

  &-image {
    display: none;

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      width: span(4 of 12);
    }

    img {
      width: 13rem;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    width: span(12 of 12);

    @include desktop {
      width: span(8 of 12);
    }

    > h2 {
      @extend %h3;

      flex-basis: 100%;
    }

    &-column {
      width: span(12 of 12);
      margin-bottom: 1.6rem;
      padding-right: 2rem;

      @include tablet {
        width: span(6 of 12);
      }

      > h3 {
        @extend %h5;

        margin-top: 1.6rem;
        margin-bottom: .8rem;

        &:first-of-type {
          margin-top: 0;
        }
      }

      .tag {
        margin-right: .8rem;
      }
    }
  }
}
