<ul class="image-wall js-lightbox">
  {% for item in items %}
    <li>
      <a href="{{ item.src }}" class="gallery-link"
          {% if item.caption %}
            aria-label="{{ item.caption }}"
          {% endif %}
         aria-describedby="image-gallery__open-gallery">
        {% include '@figure' with {
          "figure_figcaption": item.caption,
          "figure_image_src": item.src,
          "figure_image_alt_text": item.alt
        } %}
      </a>
    </li>
  {% endfor %}
</ul>

<!-- Add this to the bottom of your page template, above scripts -->
<!-- <span hidden id="image-gallery__open-gallery">open gallery</span> -->
