.dg-blocks-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 2rem;
  margin-bottom: 1rem;

  @include tablet {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  > span,
  > div {
    width: 100%;
    margin-bottom: 1.2rem;
    font-size: .7rem;
    line-height: 1rem;
    text-align: center;

    @include phablet {
      margin-bottom: 0;
    }

    @include tablet {
      margin: 0 1.4rem 0 0;
      text-align: right;
    }
  }

  > span {
    @include phablet {
      width: span(5 of 12);
      text-align: right;
    }
  }

  > div {
    @include phablet {
      width: span(7 of 12);
    }
  }
}
