.pager {

  ul {
    list-style: none;

    li {
      @include theme('color', 'color-primary', 'link-color');

      display: inline-block;
    }
  }

  a {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
  }

  .active {
    @include theme('color', 'color-tertiary', 'pagination-active-color');

    position: relative;

    &::after {
      @include theme('background-color', 'color-primary', 'link-color');

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 1.2rem;
      height: 2px;
      margin: auto;
      content: '';
    }
  }

  .previous,
  .next {
    display: inline-flex;
    align-items: center;
    margin-left: 0;
    font-size: .9rem;
    text-decoration: none;

    &:hover,
    &:focus {
      background: transparent;
    }


  }

  .next {
    @extend %a-bounce-animation;

    @include icon(arrow-right, after);

    &::after {
      margin-right: -.2rem;
      padding-right: .2rem;
    }
  }

  .previous {
    @extend %a-bounce-animation--left;

    @include icon(arrow-left, after);

    flex-direction: row-reverse;

    &::after {
      margin-left: -.2rem;
      padding-right: .2rem;
      padding-left: .4rem;
    }
  }
}
