.pager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    justify-content: flex-end;
  }

  ul {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;

    @include tablet {
      flex-basis: auto;
      justify-content: flex-start;
    }

    li {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      min-width: 32px;
      padding-right: 7px;
      padding-left: 7px;
      text-align: center;
      line-height: 177.778%;

      &.spacing {
        padding: 0 10px 10px;
        line-height: 1;
      }

      &.active {
        @include theme('border-color', 'color-zero', 'pagination-active-color');
        @include bold-text;

        padding-right: 10px;
        padding-left: 10px;
        border: 2px solid;
      }
    }

    a {
      @include theme('color', 'color-zero', 'default-text-color');
      @include theme('border-color', 'color-none');
      @include bold-text;

      display: block;
      padding-right: 10px;
      padding-left: 10px;
      background-image: linear-gradient(to bottom,
        color('yellow') 0,
        color('yellow') 100%);
      font-size: .9rem;
      line-height: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        border-bottom: 2px solid;
      }

      &.standalone-link {
        &:hover,
        &:focus {
          @include theme('color', 'color-zero', 'pagination-active-color');
          @include theme('border-color', 'color-none');
        }
      }
    }


    .previous,
    .next {
      display: none;

      @include tablet {
        display: flex;
      }

      a {
        padding-right: 0;
      }
    }

    .previous {
      a {
        margin-right: 0;
      }
    }

    .next {
      margin: 0 0 10px;

      a {
        margin-left: 0;
      }
    }
  }

  .button {
    margin: 20px 0;
  }
}
