<nav class="pager">
    <ul class="pager__items">
        <li class="pager__item pager__item--first">
            <a href="#" title="Go to the first page" rel="first">« first</a>
        </li>
        <li class="pager__item pager__item--prev">
            <a href="#" title="Go to the previous page">‹ previous</a>
        </li>
        <li class="pager__item pager__item--ellipsis" role="presentation">
            …
        </li>
        <li class="pager__item">
            <a href="#" title="Current page">5</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 6">6</a>
        </li>
        <li class="pager__item is-active">
            <a href="#" title="Go to page 7">7</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 8">8</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 9">9</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 10">10</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 11">11</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 12">12</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 13">13</a>
        </li>
    </ul>
</nav>

