<nav class="pager">
    <ul class="pager__items">
        <li class="pager__item">
            <a href="#" title="Current page">1</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 2">2</a>
        </li>
        <li class="pager__item is-active">
            <a href="#" title="Go to page 3">3</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 4">4</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 5">5</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 6">6</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 7">7</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 8">8</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Go to page 9">9</a>
        </li>
        <li class="pager__item pager__item--ellipsis" role="presentation">
          …
        </li>
        <li class="pager__item pager__item--next">
            <a href="#" title="Go to the next page" rel="next">next ›</a>
        </li>
        <li class="pager__item pager__item--last">
            <a href="#" title="Go to the last page">last »</a>
        </li>
    </ul>
</nav>
