{% include '@header' with {
  "site_name": "Stad Gent",
  "mijn_gent_block_items": [
    "<a href='javascript:(void);'>Mijn profiel</a>",
    "<a href='javascript:(void);'>Nieuwsbrieven</a>",
    "<a href='javascript:(void);'>Historiek</a>"
  ],
  "auth": true,
  "search": true,
  "mijn_gent_block_auth": true,
  "header_search_id": "header-search",
  "header_search_label": "Search",
  "header_search_placeholder": "Search",
  "header_search_text": "Search",
  "breadcrumbs_items": [
    "<a href='#'>Home</a>",
    "<a href='#'>Overview</a>",
    "<a href='#'>Theme</a>",
    "<a href='#'>Subpage</a>",
    "<span>Page title</span>"
  ]
} %}

<main class="info-page">
  <article class="detail-layout">
    {% block info_page_article_content %}
      {% include '@content-header' with {
        'modifier': 'primary dark-background',
        'speech_button': true,
        'summary': true,
        'summary_text': 'Donec lacinia pellentesque eros id dignissim. Donec justo neque, consectetur ac rhoncus a, dictum non neque. Donec semper tempor nisl, eu blandit sapien consequat rhoncus. Nunc urna magna, consequat nec hendrerit.',
        'image': true
      } %}

      {% include '@summary' %}

      {% include '@table-of-contents' with {
        'list': [
          '<a href="#" class="active">Anchor link 1</a>',
          '<a href="#">Anchor link 2</a>',
          '<a href="#">Anchor link 3</a>',
          '<a href="#">Anchor link 4</a>',
          '<a href="#">Anchor link 5</a>',
          '<a href="#">Anchor link 6</a>'
        ],
        'type': 'three-column'
      } %}

      {% include '@paragraph' with {
        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et facilisis augue. Donec mi mauris, pretium eu nunc at, maximus semper libero. Etiam rhoncus, ante eget pharetra consequat, purus libero varius quam, vel porttitor leo urna in odio. In id tellus ut ligula facilisis efficitur at vel urna. Vivamus iaculis felis non <strong>bold text</strong> tristique malesuada. Quisque venenatis, arcu sed luctus molestie, leo mauris commodo sem, eget <a href='https://stad.gent' alt='Stad Gent'>egestas orci</a> libero eu justo. Curabitur sollicitudin odio non vulputate tincidunt. Etiam vel dolor in massa dapibus bibendum sit amet vel ipsum. Donec sagittis, elit et hendrerit maximus, nulla tortor laoreet quam, id tincidunt massa neque a ex. Fusce suscipit, ipsum interdum elementum sodales, <a href='javascript:(void);' alt='Link'>tellus</a> sapien vehicula nisi, in condimentum neque nisl sit amet elit. Donec sed augue a elit sodales commodo pulvinar vitae nisl. Sed <a href='javascript:(void);' alt='File link' download>pharetra</a> ante non mollis consequat. Pellentesque a est neque. Nullam maximus ornare metus. Quisque porttitor turpis tristique faucibus efficitur."
      } %}

      {% include '@paragraph' with {
      'text': 'Donec lacinia pellentesque eros id dignissim. Donec justo neque, consectetur ac rhoncus a, dictum non neque. Donec semper tempor nisl, eu blandit sapien consequat rhoncus. Nunc urna magna, consequat nec hendrerit a, blandit in arcu. Pellentesque tellus odio, volutpat a vehicula vitae, rhoncus quis arcu. Praesent ut sodales sem. Donec semper pharetra dui, ac ultrices nunc dignissim eget. Nunc hendrerit massa ligula, in condimentum enim mattis quis. Aenean ut felis turpis. Aliquam vitae cursus metus.',
      'modifier': 'summary-text'
      } %}

      {% include '@highlight' with {
        'title': '<h3>Highlight</h3>',
        'content': '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet vestibulum ex, id tincidunt nulla porttitor nec.</p>'
      } %}

      {% include '@heading' with {
        'type': 'h2',
        'heading_text': 'This is an H2 paragraph title'
      } %}

      {% include '@paragraph' with {
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et facilisis augue. Donec mi mauris, pretium eu nunc at, maximus semper libero. Etiam rhoncus, ante eget pharetra consequat, purus libero varius quam, vel porttitor leo urna in odio. In id tellus ut ligula facilisis efficitur at vel urna. Vivamus iaculis felis non <strong>bold text</strong> tristique malesuada. Quisque venenatis, arcu sed luctus molestie, leo mauris commodo sem, eget <a href='https://stad.gent' alt='Stad Gent'>egestas orci</a> libero eu justo. Curabitur sollicitudin odio non vulputate tincidunt. Etiam vel dolor in massa dapibus bibendum sit amet vel ipsum. Donec sagittis, elit et hendrerit maximus, nulla tortor laoreet quam, id tincidunt massa neque a ex. Fusce suscipit, ipsum interdum elementum sodales, <a href='javascript:(void);' alt='Link'>tellus</a> sapien vehicula nisi, in condimentum neque nisl sit amet elit. Donec sed augue a elit sodales commodo pulvinar vitae nisl. Sed <a href='javascript:(void);' alt='File link' download>pharetra</a> ante non mollis consequat. Pellentesque a est neque. Nullam maximus ornare metus. Quisque porttitor turpis tristique faucibus efficitur."
      } %}

      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'This is an H3 paragraph title'
      } %}

      {% render "@table" %}

      {% include '@paragraph' with {
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et facilisis augue. Donec mi mauris, pretium eu nunc at, maximus semper libero. Etiam rhoncus, ante eget pharetra consequat, purus libero varius quam, vel porttitor leo urna in odio."
      } %}

      {% include '@cta-block' with {
        'description': 'Nulla nec eros lorem. Morbi at augue eu purus congue auctor. Sed id volutpat odio. Nunc congue diam vel diam venenatis, ut consequat urna dapibus. Vivamus at lobortis odio. Sed felis mauris, mattis eget purus at, pharetra ullamcorper risus.',
        'links': [
          {
            'text': 'In the summertime',
            'url': '#',
            'modifier': 'standalone-link'
          },
          {
            'text': 'When the weather is hot',
            'url': '#',
            'modifier': 'standalone-link'
          }
        ]
      } %}

      {% include '@cta-block' with {
        'layout': 'image-left',
        'src': 'https://via.placeholder.com/570x570&text=1:1+(570x570)',
        'alt_text': 'Image alt text',
        'description': 'Nulla nec eros lorem. Morbi at augue eu purus congue auctor. Sed id volutpat odio. Nunc congue diam vel diam venenatis, ut consequat urna dapibus. Vivamus at lobortis odio. Sed felis mauris, mattis eget purus at, pharetra ullamcorper risus.',
        'links': [
          {
            'text': 'In the summertime',
            'url': '#',
            'modifier': 'standalone-link'
          },
          {
            'text': 'When the weather is hot',
            'url': '#',
            'modifier': 'standalone-link'
          }
        ]
      } %}

      {% include '@heading' with {
        'type': 'h4',
        'heading_text': 'This is an H4 paragraph title'
      } %}

      {% include '@paragraph' with {
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et facilisis augue. Donec mi mauris, pretium eu nunc at, maximus semper libero. Etiam rhoncus, ante eget pharetra consequat, purus libero varius quam, vel porttitor leo urna in odio."
      } %}

      {% include '@image-gallery--multiple' with {
        "items": [
          {
            "src": "https://loremflickr.com/735/459/ghent?random=1",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://loremflickr.com/735/459/ghent?random=2",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://loremflickr.com/735/459/ghent?random=3",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://loremflickr.com/735/459/ghent?random=4",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://loremflickr.com/735/459/ghent?random=5",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://loremflickr.com/735/459/ghent?random=6",
            "alt": "placeholder image alternative text",
            "caption": "image caption"
          },
          {
            "src": "https://loremflickr.com/735/459/ghent?random=7",
            "alt": "placeholder image alternative text"
          }
        ]
      } %}

      {% include '@paragraph' with {
      "text": "Donec lacinia pellentesque eros id dignissim. Donec justo neque, consectetur ac rhoncus a, dictum non neque. Donec semper tempor nisl, eu blandit sapien consequat rhoncus. Nunc urna magna, consequat nec hendrerit a, blandit in arcu. Pellentesque tellus odio, volutpat a vehicula vitae, rhoncus quis arcu. Praesent ut sodales sem. Donec semper pharetra dui, ac ultrices nunc dignissim eget. Nunc hendrerit massa ligula, in condimentum enim mattis quis. Aenean ut felis turpis. Aliquam vitae cursus metus."
      } %}

      {% include '@image-gallery' with {
        "src": "https://loremflickr.com/735/459/ghent",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      } %}

      {% include '@paragraph' with {
      "text": "Quisque sollicitudin leo at erat sagittis aliquet. Nullam ipsum erat, aliquet vel scelerisque posuere, interdum vitae dolor. Morbi finibus nisi efficitur, laoreet risus id, mollis mauris. Donec eu interdum velit, at mattis leo. Suspendisse eget finibus diam. Aliquam condimentum nec elit a aliquam. Donec efficitur et enim et tempor. Vestibulum quis tempor purus. Cras id magna ante. Morbi nec purus vehicula, auctor erat eget, aliquet mi. Nam at ligula convallis, vestibulum ligula a, pretium tellus. Sed pretium vulputate iaculis."
      } %}

      {% include '@quote' %}

      {% include '@paragraph' with {
      "text": "Nam lorem ex, posuere non lectus tempus, ornare scelerisque mauris. Integer vitae tortor orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas enim lectus, malesuada in hendrerit in, vulputate ut enim. Integer pretium elit purus, ac pulvinar augue scelerisque quis. In velit elit, luctus vitae nunc quis, hendrerit congue felis. Nulla tincidunt tincidunt cursus. Mauris pretium eu ex id aliquet. Aenean massa metus, posuere ac dui sit amet, volutpat interdum libero."
      } %}

      {% include '@contact-details' %}

      {% include '@list' with {
        'type': 'unordered',
        "items": [
          'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
          'Aliquam tincidunt mauris eu risus.',
          'Vestibulum auctor dapibus neque.',
          'Nunc dignissim risus id metus.',
          'Cras ornare tristique elit.',
          'Vivamus vestibulum ntulla nec ante.',
          'Praesent placerat risus quis eros.',
          'Fusce pellentesque suscipit nibh.',
          'Integer vitae libero ac risus egestas placerat.',
          'Vestibulum commodo felis quis tortor.',
          'Ut aliquam sollicitudin leo.'
        ]
      }
      %}

      {% include '@accordion--multiple' with {
        items: [
          {
            'buttonText': 'First item',
            'content': '<p>Multiple item accordions are contained in a list element.</p>' ~
            '<p>They are indicated with a \'plus\' or \'minus\' icon</p>' ~
            '<p>Below is some nonsens text.</p>' ~
            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
            'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
            'temporibus voluptatem!</p>'
          },
          {
            'buttonText': 'Second item',
            'content': '<p>Single item accordions are indicated by a chevron.</p>' ~
            '<p>Below is some nonsens text.</p>' ~
            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
            'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
            'temporibus voluptatem!</p>'
          },
          {
            'buttonText': 'Third item',
            'content': '<p>Single item accordions are indicated by a chevron.</p>' ~
            '<p>Below is some nonsens text.</p>' ~
            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
            'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
            'temporibus voluptatem!</p>'
          },
          {
            'buttonText': 'Fourth item',
            'content': '<p>Single item accordions are indicated by a chevron.</p>' ~
            '<p>Below is some nonsens text.</p>' ~
            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ' ~
            'Animi culpa dolorum enim molestiae molestias nemo nulla quas sed, ' ~
            'temporibus voluptatem!</p>'
          }
        ]
      } %}

      {% include '@video' with {
      "title": "Promofilm stad Gent.",
      "src": "https://www.youtube.com/embed/S0vLmTWUmok",
      "audio_description_src": "https://www.youtube.com/embed/S0vLmTWUmok"
      } %}

      {% include '@timeline' %}
    {% endblock %}
  </article>

  <aside class="top">
    {% include '@documents' with {
        unique_id: '1',
        documents: [
          {
            'text': 'In the summertime',
            'type': 'PDF',
            'size': '102kb'
          },
          {
            'text': 'When the weather is hot',
            'type': 'PDF',
            'size': '102kb'
          }
        ],
        other_documents: [
          {
            'text': 'And another one',
            'type': 'PDF',
            'size': '102kb'
          },
          {
            'text': 'And another one',
            'type': 'PDF',
            'size': '102kb'
          },
          {
            'text': 'And another one bites the dust',
            'type': 'PDF',
            'size': '102kb'
          }
        ]
      }
    %}
  </aside>
</main>

<footer>
  {% include '@theme-footer' %}
  {% include '@footer' with footerConfig %}
</footer>
