{% include '@header--with-banner' with {
  "section": "section--wrapper",
  "hamburger_menu_items": [
    "<a href='javascript:void(0);'>Menu item 1</a>",
    "<a href='javascript:void(0);' class='active'>Menu item 2</a>",
    "<a href='javascript:void(0);'>Menu item 3</a>",
    "<a href='javascript:void(0);'>Menu item 4</a>"
  ],
  "mijn_gent_block_items": [
    "<a href='javascript:(void);'>Mijn profiel</a>",
    "<a href='javascript:(void);'>Nieuwsbrieven</a>",
    "<a href='javascript:(void);'>Historiek</a>"
  ],
  "header_search_mobile_id": "header-search-mobile",
  "header_search_mobile_name": "header-search-mobile",
  "header_search_mobile_placeholder": "What are you looking for?",
  "header_search_mobile_modifier_search": "inline",
  "header_search_mobile_text": "Search",
  "header_search_mobile_modifier_submit": "btn--inline",
  "header_search_id": "header-search",
  "header_search_name": "header-search",
  "header_search_placeholder": "What are you looking for?",
  "header_search_modifier_search": "inline",
  "header_search_text": "Search",
  "header_search_modifier_submit": "btn--inline",
  "main_menu_modifier": "no-style",
  "main_menu_items": [
    "<a href='javascript:void(0);'>Menu item 1</a>",
    "<a href='javascript:void(0);' class='active'>Menu item 2</a>",
    "<a href='javascript:void(0);'>Menu item 3</a>",
    "<a href='javascript:void(0);'>Menu item 4</a>"
  ],
  "breadcrumbs_section": "section--default",
  "breadcrumbs_items": [
    "<a href='#'>Stad.gent</a>",
    "<a href='#'>Overview</a>",
    "<span>Overview</span>",
    "<span>Overview</span>",
    "<span>Page title</span>"
  ]
} %}

<section class="page-container section--default">
  <div class="content-container">
    <div class="row">
      <div class="col-desktop-7">
        {% include '@h1' with { 'h1_text': 'Make a reservation for Balkonzaal - CityRoom'} %}
      </div>
    </div>

    <div class="row">
      <div class="col-desktop-3">
        {% include '@form-steps' with {
          'step1_title': 'Describe your activity',
          'step2_title': 'Plan your activity',
          'step3_title': 'Fill in your personal information',
          'step4_title': 'Enter your billing information',
          'step5_title': 'Questions or remarks'
        } %}
      </div>
      <div class="col-desktop-9">
        <form action="">
          {% include '@paragraph' with {
            'text' : 'Fill in all fields unless otherwise stated',
            'modifier': 'required-fields-indicator'
          } %}
          <fieldset class="form-item">
            <legend>
              1. Describe your activity
            </legend>

            <div class="fieldset-wrapper">
              {% include '@textfield'
                with {
                  'label': 'Activity name',
                  'description': 'Enter a name for your activity.',
                  "field_error": 'Please enter a valid name for your activity.',
                  "field_description": 'We can identify you better through the name of your activity.'
                }
              %}

              {% include '@textarea'
                with {
                  'label': 'Describe your activity and it\'s purpose',
                  'description': 'Describe your activity and it\'s purpose.',
                  "field_error": 'Please shortly describe your activity.',
                  "field_description": 'A short and simplified description of your activity.'
                }
              %}

            <fieldset class="form-item">
              <legend>
                2. Is this a profit-oriented activity?
              </legend>

              <div class="fieldset-wrapper">
                {% include '@field-description'
                  with {
                    "field_description": 'For profit purposes = the applicant of the room strives to make a profit, i.e. the proceeds of the activity exceed the costs associated with it.'
                  }
                %}

                {% include '@radio' with {
                  "label": "",
                  "label_optional": "",

                  "field_description": "",
                  "field_error": "",
                  "description": "",

                  "label_radio1": "I reserve this room as a private or de facto association",
                  "radio1_name": "radiogroup",
                  "radio1_id": "radio-1",

                  "radio1_label": "I reserve this room as a private or de facto association",
                  "radio1_label_for": "radio-1",
                  "radio1_label_optional": "",

                  "label_radio2": "I reserve this room as a private or de facto association",
                  "radio2_name": "radiogroup",
                  "radio2_id": "radio-2",

                  "radio2_label": "I reserve this room as a company or an association with legal personality",
                  "radio2_label_for": "radio-2",
                  "radio2_label_optional": ""
                } %}

                {% include '@address' %}

              </div>
            </fieldset>

            </div>
          </fieldset>

        {% include '@form-actions--default' %}

      </div>
    </div>
  </div>
</section>

{% include '@newsletter-block' with {
  "newsletter_image_src": "https://loremflickr.com/500/250/ghent",
  "newsletter_image_alt_text": "Newsletter image",
  "newsletter_image_title": "Don't miss the latest news of Ghent.",
  "newsletter_content_title": "Subscribe to the newsletter of the City of Ghent.",
  "newsletter_content_list_items": [
    "Receive weekly updates of the City of Ghent.",
    "Be the first to discover new events.",
    "Already more then 12.0000 subscribers."
  ],
  "newsletter_form_name": "newsletter-email",
  "newsletter_form_id": "newsletter-email",
  "newsletter_form_submit_value": "Subscribe",
  "newsletter_social_title": "Volg ons op:",
  "newsletter_social_modifier": "no-style",
  "newsletter_social_items": [
    "<a href='https://www.facebook.com/stadsbestuurgent' title='Facebook'><i class='icon-facebook'></i><span class='element-invisible'>Facebook</span></a>",
    "<a href='https://twitter.com/stadgent' title='Twitter'><i class='icon-twitter'></i><span class='element-invisible'>Twitter</span></a>",
    "<a href='https://www.linkedin.com/company/stad-gent' title='LinkedIn'><i class='icon-linkedin'></i><span class='element-invisible'>LinkedIn</span></a>",
    "<a href='https://www.youtube.com/channel/UCmJLf8SFG0D0GTd6LSSTQLw' title='Youtube'><i class='icon-youtube'></i><span class='element-invisible'>Youtube</span></a>",
    "<a href='https://www.instagram.com/stadgent/' title='Instagram'><i class='icon-instagram'></i><span class='element-invisible'>Instagram</span></a>"
  ]
} %}

{% include '@footer' %}
