nav.menu {
  margin: 0;

  @include tablet {
    flex-basis: 100%;
    flex-grow: 1;
    order: 9999;
  }

  .drawer {
    position: fixed;
    top: 0;
    left: calc(-100% - 16px);
    width: 100%;
    max-width: 100%;
    height: 100%;
    transition: left 500ms cubic-bezier(0, 1, .5, 1);
    background-color: color('white');
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .5);
    overflow: auto;
    z-index: 99;

    @media screen and (min-width: 425px) {
      left: calc(-66% - 16px);
      width: 66%;
    }

    &.js-opened {
      left: 0;
    }

    @include tablet {
      display: block !important; // sass-lint:disable-line no-important
      position: relative;
      left: 0;
      width: auto;
      height: auto;
      padding-top: 0;
      transition: none;
      background: transparent !important; // sass-lint:disable-line no-important
      box-shadow: none;
    }

    .header {
      position: relative;
      margin: .6rem $gutter-width 1.6rem;

      @include tablet {
        display: none;
      }

      &::before,
      &::after {
        @include theme('border-color', 'color-primary--lighten-4', 'header-border-bottom');

        position: absolute;
        top: 100%;
        width: 100%;
        height: 1rem;
        margin-top: .6rem;
        border-top: 2px solid;
        content: '';
      }

      &::before {
        left: -$gutter-width;
        width: 3rem + $gutter-width;
        border-right: 2px solid;
        border-top-right-radius: border-radius('radius-4');
      }

      &::after {
        right: -$gutter-width;
        // viewport - ::before + border-width + gutter-width
        width: calc(100% - 3rem + 2px + #{$gutter-width});
        border-left: 2px solid;
        border-top-left-radius: border-radius('radius-4');
      }

      button {
        position: absolute;
        right: 0;
        margin-top: .25rem;
      }
    }
  }

  .overlay.js-opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 2555, .8);
    z-index: 98;

    @include tablet {
      display: none;
    }
  }

  button {
    @include button-icon;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: .8rem;

    @include tablet {
      display: none;
    }

    &::before {
      order: 0;
      margin-right: .5rem;
      margin-left: 0;
    }

    &.toggle {
      @include icon(hamburger);
    }

    &.close {
      @include icon(cross);
    }
  }

  ul {
    @extend %list-no-style;
    margin: 0;

    li {
      @include tablet {
        display: inline-block;
        margin-right: 1rem;
      }

      a,
      a[href^="mailto:"],
      a[download],
      a[href^="http://"],
      a[href^="https://"] {
        @include theme('color', 'color-tertiary', 'default-text-color');
        display: inline-block;
        margin-bottom: 1rem;
        padding: 1rem;
        font-weight: 400;
        text-decoration: none;

        @include tablet {
          margin-bottom: 0;
          padding: .5rem 0;
        }

        &::after {
          @include theme('color', 'color-primary', 'menu-hover-color');
          display: block;
          position: static;
          width: 0;
          margin: 0 auto;
          transition: width 100ms;
          border-bottom: 2px solid;
          content: '';
          overflow: visible;
        }

        &.active,
        &:hover,
        &:focus {
          outline: 0;
          background: transparent;
          font-weight: 600;

          &::after {
            width: 70%;
          }
        }
      }
    }
  }
}
