<nav class="menu">
  <button class="toggle">{{ 'Menu' }}</button>
  <div class="overlay"></div>
  <div class="drawer" tabindex="-1">
    <div class="header">
      {% render '@logo' %}
      <button class="close">{{ 'Close menu' }}</button>
    </div>
    {% render '@list' with {
      type: 'links',
      items: items
    } %}
  </div>
</nav>
