.teaser.teaser-search,
.teaser.teaser-search-wide {
  @include theme('border-color', 'color-primary--lighten-4', 'view-heading-2-border-color');
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  border-bottom: 2px solid;

  &:first-of-type {
    @include theme('border-color', 'color-primary--lighten-4', 'view-heading-2-border-color');
    margin-top: $gutter-width;
    border-top: 2px solid;
  }

  dl dd {
    margin: 0;
    padding-left: .5rem;
  }

  @include tablet {
    dt,
    dd {
      display: inline;
    }
  }
}

.teaser.teaser-search {
  .tag {
    margin-bottom: .4rem;
  }
}

.teaser.teaser-search-wide {
  .teaser-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      flex-wrap: nowrap;
    }
  }

  .accolade-inverse.bottom-left {
    display:  block;

    @include tablet {
      display: none;
    }
  }

  .accolade-inverse.right-top {
    display:  none;

    @include tablet {
      display: block;
    }
  }

  .content__left,
  .content__right {
    flex-basis: 100%;
  }

  .content__left {
    order: 1;
    margin-bottom: gutter();

    @include tablet {
      flex-basis: span(2 of 9);
      margin-right: gutter();
      margin-bottom: 0;
    }
  }

  .content__right {
    order: 2;

    @include tablet {
      flex-basis: span(7 of 9);
    }

    .location {
      font-weight: 700;

      i {
        margin-right: .3rem;
        font-size: 1.5em;
        vertical-align: middle;
      }
    }

    .links {
      margin-bottom: .4rem;

      li {
        margin-right: 0;

        &::after {
          margin-right: .4rem;
          margin-left: .4rem;
          content: '—';
        }

        &:last-of-type::after {
          content: '';
        }
      }
    }
  }
}
