.teaser.teaser-search {
  @include theme('border-color', 'color-primary--lighten-4', 'view-heading-2-border-color');
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  border-bottom: 2px solid;

  &:first-of-type {
    @include theme('border-color', 'color-primary--lighten-4', 'view-heading-2-border-color');
    margin-top: $gutter-width;
    border-top: 2px solid;
  }
}
