.checkbox-filter-dynamic {
  .checkbox-accordion {

    .checkbox:last-child {
      margin-bottom: .5rem;
    }

    .accordion--content {
      transition: max-height .5s ease-in-out;
      overflow: hidden;
    }

    .accordion--button {
      &[aria-expanded=false] {
        @include icon(chevron-down);
      }

      &[aria-expanded=true] {
        @include icon(chevron-up);
      }
    }
  }
}

.checkbox-filter__modal {
  .tag-list {
    .tag {
      margin: 0;
    }

    li:last-of-type {
      margin-bottom: 1.2rem;
    }
  }
}
