.checkbox-filter-dynamic {

  .modal-preview,
  .accordion-preview,
  .checkbox-accordion {
    .checkbox:last-child {
      margin-bottom: .5rem;
    }
  }

  .checkbox-accordion {
    .accordion--content {
      // Adjust for checkbox focus outline.
      margin: -4px -4px 0;
      padding: 4px 4px 0;

      transition: max-height .5s ease-in-out;
      overflow: hidden;
    }

    .accordion--button {
      &[aria-expanded=false] {
        @include icon(chevron-down);
      }

      &[aria-expanded=true] {
        @include icon(chevron-up);
      }
    }
  }
}

.checkbox-filter__modal {
  .tag-list-wrapper {
    min-height: 2.2rem;
    margin-bottom: 1.2rem;
  }

  .tag-list {
    .tag {
      margin: 0;
    }
  }
}
