<button
  type="button"
  class="button button-primary {{ modifier }} {% if icon %}button-icon{% endif %}"
  {% if disabled %}
    disabled
  {% endif %}
>
  {{ text }}
  {% if icon %}
    <i class="{{ icon }}" aria-hidden="true"></i>
  {% endif %}
</button>
