<div class="teaser teaser-programme">
  <article class="teaser-content">
    <div class="content__bottom">
      <h3 id="{{ teaser_uid }}">{{ teaser_title }}</h3>

      {% include '@paragraph' with {
        'text': teaser_paragraph_text
      } %}

      {% include '@link' with {
        'text': teaser_link_text,
        'aria_labelledby': teaser_uid,
        'link': teaser_link_link,
        'modifier': 'read-more standalone-link'
      } %}
    </div>

    {% if teaser_image_src is not empty %}
      <div class="content__top">
        {% include '@figure' with {
          "figure_image_src": teaser_image_src,
          "figure_ratio": '8:5'
        } %}
        <div class="accolade-inverse bottom-left"></div>
      </div>
    {% endif %}
  </article>
  <a href="{{ teaser_link_link }}" class="teaser-overlay-link" tabindex="-1"
     aria-hidden="true">{{ teaser_title }}</a>
</div>

