<h4 class="styleguide-title">{{ 'Tags' }}</h4>
<div class="preview-inner-container">
  <h3 class="styleguide">{{ 'Tag without link' }}</h3>
  <p>{% include '@tag' with {
    'text': 'Tag text'
  } %}</p>
</div>
