<h3 id="styleguide-tags" class="styleguide-title">{{ 'Tags (inline)' }}</h3>
<div class="preview-inner-container">
  {% include '@tag' with {
    'tag_text': 'Inner city'
  } %}
  {% include '@tag' with {
    'tag_text': 'Another tag'
  } %}
  {% include '@tag' with {
    'tag_text': 'A very long tag with lots of text in it'
  } %}
</div>
