<h2 class="styleguide-title">{{ 'Tags' }}</h2>
<div class="preview-inner-container">
  <h3 class="styleguide">{{ 'Tag without link' }}</h3>
    {% include '@tag' with {
      'tag_text': 'Tag text'
    } %}
</div>
