ul,
ol {
  &.breadcrumb {
    display: none;
    margin-top: .5rem;
    list-style: none;

    @media (min-width: $bp-tablet) {
      display: block;
    }

    li {
      display: inline;
      margin-left: -.7rem;
      padding: 0 .7rem;
      font-size: .7rem;

      > * {
        padding: 0 .7rem;
      }

      a {
        border-radius: $radius-1;
        text-decoration: none;

        &:hover {
          background-color: $bg-hover-breadcrumb;
        }
      }

      &::after {
        @extend %icon-base-css;
        @extend %icon-caret;
        position: absolute;
        margin: .4rem .1rem;
        font-size: .8rem;
        font-weight: 700;
      }

      &:first-of-type a {
        padding-left: 0;
      }

      &:last-of-type {
        display: inline-block;
        font-weight: bold;

        &::after {
          display: none;
        }
      }
    }
  }

  &.nav--mobile-breadcrumb {
    display: block;

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }
}
