<nav class="breadcrumb section--default" aria-labelledby="system-breadcrumb">
  <div class="content-container">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb' }}</h2>
    <ol class="breadcrumb no-style">
      {% for item in items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ol>
  </div>
</nav>
