////
/// Default markup for the most common HTML elements, based on the settings file.
////

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background: $bg-outside-container;
  font: $default-font-weight $default-font-size $default-font-family;
  line-height: $default-line-height;
  box-sizing: border-box;

  @include breakpoint($bp-desktop-xl-fonts) {
    font-size: $default-font-size + 4;
  }
}

body {
  @include theme('color', 'color-tertiary', 'default-text-color');
  position: relative;
}

body,
body * {
  font-size: .8rem;
}

::selection {
  @include theme('background-color', 'color-primary--darken-1', 'text-selection-background');
  @include theme('color', 'color-secondary', 'text-selection-color');
}

th > * {
  margin: 0;
}

hr {
  margin: 0 0 $default-line-height;
  clear: both;
  border: 1px 0 0 solid color('dark-gray', -2);
}

//
// Fix a > img problem
//
img {
  border: 0;
  vertical-align: top;
}

p,
ol,
ul,
dl,
table,
address,
pre {
  margin-bottom: .5em;
  font-size: inherit;
  line-height: inherit;
}
