////
/// This file defines helper classes.
////


///
/// Prevent text wrapping.
///
.nowrap {
  white-space: nowrap;
}

///
/// Visually hidden
///
%visually-hidden,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

///
/// Force a link to have no link styling.
///
%no-link-style,
.no-link-style {
  @include no-link-style;
}
