.teaser {
  position: relative;
  list-style: none;

  figure {
    figcaption {
      display: none;
    }
  }

  .teaser-content {
    display: flex;
    flex-direction: column;

    .content__top {
      order: 1;
      overflow: hidden;
    }

    .content__bottom {
      order: 2;
    }

    .figure-wrapper {
      position: relative;
    }

    h3 {
      margin-bottom: .4rem;
    }

    a {
      position: relative;
      z-index: 2;
    }

    span.teaser-label {
      display: flex;
      position: absolute;
      top: .8rem;
      left: .8rem;
      align-items: center;
      padding: 0 .5em;
      line-height: 2;
      z-index: 1;

      &::before,
      &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: border-radius('radius-1');
        background-color: color('white');
        content: '';
        z-index: -1;
      }

      &::before {
        @include theme('background-color', 'color-primary--lighten-5', 'teaser-label-background-color');
      }

      i {
        @include theme('color', 'color-primary', 'teaser-label-icon-color');

        margin-right: .2em;
        font-size: 1.1rem;
      }
    }

    p {
      margin-bottom: .4rem;
      line-height: 1.7;
    }
  }

  .content__top {
    > * {
      margin-bottom: .8rem;
    }
  }

  a.teaser-overlay-link {
    @include element-states(transparent, transparent, background-color)

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
  }
}

