.quote {
  @include theme('border-color', 'color-primary--lighten-4', 'quote-border-color');

  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 2px solid;

  @include desktop {
    flex-direction: row;
    padding-top: 1.6rem;
  }

  img {
    display: block;
    flex: 1;
    align-self: start;
    max-width: 7rem;
    margin: -5rem auto 0;
    margin-top: -7rem;
    border: 1rem solid color('white');
    background-color: color('white');
    box-sizing: content-box;

    @include desktop {
      margin: 0 2rem 0 0;
    }
  }

  blockquote {
    flex: 1;

    @include desktop {
      align-items: center;
    }

    p {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      min-height: 7rem;
      font-size: .8rem;
      font-weight: 600;
      line-height: 1.9;
      text-align: center;

      @include desktop {
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: left;
      }
    }

    footer {
      @include theme('border-color', 'color-primary--lighten-4', 'quote-border-color');

      position: relative;
      margin-top: 1.6rem;
      padding-top: 1.6rem;
      border-top: 2px solid;
      font-size: .8rem;
      font-style: italic;
      font-weight: 500;
      line-height: 1.6;
      text-align: center;

      @include desktop {
        font-size: .9rem;
        line-height: 1.4;
      }

      &::before {
        @include theme('background-image', 'color-primary-accolade-stroke', 'quote-accolade-stroke');

        display: block;
        position: absolute;
        top: -.1rem;
        right: 0;
        left: 0;
        width: 2rem;
        height: 1rem;
        margin: auto;
        transform: rotate(180deg);
        background-color: color('white');
        background-repeat: no-repeat;
        background-position: center bottom;
        content: '';
      }
    }
  }
}
