.quote {
  @include theme('border-color', 'color-primary--lighten-4', 'quote-border-color');

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    'a a a a a a a a a a a a'
    'b b b b b b b b b b b b'
    'd d d d d d d d d d d d';
  }

  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 2px solid;

  @include tablet {
    @supports (display: grid) {
      grid-template-areas:
      'a a a b b b b b b b b b'
      'c c c d d d d d d d d d';
    }

    padding-top: 1.6rem;
  }

  &-image {
    @supports (display: grid) {
      grid-area: a;
    }

    display: block;
    width: 5rem;
    margin: -5rem auto 0;

    @include tablet {
      @supports (display: grid) {
        align-self: center;
        justify-self: start;
      }

      width: auto;
      margin: 0 2rem 0 0;
      float: left;
    }
  }

  &-content {
    @supports (display: grid) {
      grid-area: b;
    }

    margin-top: 1rem;

    @include tablet {
      display: flex;
      align-items: center;
      margin-top: 0;
    }

    &-body {
      font-size: .8rem;
      font-weight: 600;
      line-height: 1.88;
      text-align: center;

      @include tablet {
        font-size: 1.2rem;
        line-height: 1.58;
        text-align: left;
      }
    }

    &-author {
      @include theme('border-color', 'color-primary--lighten-4', 'quote-border-color');

      @supports (display: grid) {
        grid-area: d;
      }

      position: relative;
      margin-top: 1.6rem;
      padding-top: 1.6rem;
      border-top: 2px solid;
      font-size: .8rem;
      font-style: italic;
      font-weight: 500;
      line-height: 1.63;
      text-align: center;

      @include tablet {
        font-size: .9rem;
        line-height: 1.44;
      }

      &::before {
        @include theme('background-image', 'color-primary-accolade-stroke', 'quote-accolade-stroke');

        display: block;
        position: absolute;
        top: -.15rem;
        right: 0;
        left: 0;
        width: 2rem;
        height: 1rem;
        margin: auto;
        transform: rotate(180deg);
        background-color: color('white');
        background-repeat: no-repeat;
        background-position: center bottom;
        content: '';
      }
    }
  }
}
