<div class="quote">
  {% include '@image' with {
    'src': '/styleguide/img/svg/quote.svg',
    'modifier': 'quote-image',
    'alt_text': 'Quote',
    'aria_hidden': true
  } %}
  <div class="quote-content">
    <div class="quote-content-body">
      {{ '“This is a huge quote on lots of lines. Dessert cookie cotton candy. Gummies jelly beans cupcake liquorice carrot cake chocolate bar jelly-o gummies gingerbread.Bonbon marshmallow dragée danish lollipop cheesecake gingerbread. Danish jelly halvah. Dessert ice cream wafer. Sugar plum pastry liquorice ice cream dessert lollipop macaroon biscuit toffee. Marzipan sweet sweet chocolate cake brownie. Biscuit cheesecake cotton candy fruitcake toffee macaroon cookie sugar plum. Dessert pastry icing cheesecake.”' }}
    </div>
  </div>
  <div class="quote-content-author">
    {{ 'Daniel Termont, Mayor Ghent' }}
  </div>
</div>
