.field-description {
  @include theme('background-color', 'color-primary--lighten-4', 'field-description-background');
  @include theme('color', 'color-tertiary--lighten-1', 'field-description-color');

  position: relative;
  max-width: 40rem;
  padding: .7rem 1.1rem .7rem 2.1rem;
  border-radius: border-radius('radius-1');
  font-size: .7rem;
  line-height: 1.4;
}
