.field-description {
  @include theme('background-color', 'color-primary--lighten-4', 'field-description-background');
  @include theme('color', 'color-tertiary--lighten-1', 'field-description-color');

  $field-message-icon-size: 1.5rem;
  $field-message-icon-margin: 1.5rem;

  display: grid;
  position: relative;
  align-items: center;
  max-width: 40rem;
  min-height: 4rem;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  padding: 1rem 1.2rem 1rem 4.4rem;
  border-radius: border-radius('radius-1');
  font-size: .7rem;
  line-height: 1.43;

  a {
    color: inherit;
  }
}
