.field-description {
  @include theme('background-color', 'color-primary--lighten-4', 'field-description-background');
  @include theme('color', 'color-tertiary--lighten-1', 'field-description-color');
  @include icon('accolade-full', 'after');

  position: relative;
  padding: .7rem 1.1rem;
  border-radius: border-radius('radius-1');
  font-size: .7rem;
  line-height: 1.4;

  &::after {
    @include theme('color', 'color-primary--lighten-4', 'field-description-color');

    position: absolute;
    top: 1.5rem;
    left: -1.7rem;
    transform: rotate(-90deg);
    font-size: 1.2rem;
  }
}
