{% if field_description %}
  <div class="field-description">
    {{ field_description|default(field_description) }}

    {% include '@accolade' with {
      'position': 'top-left'
    } %}
  </div>
{% endif %}
