{% if field_description %}
  <div class="field-description">
    <h3 class="visually-hidden">{{ 'Field description' }}</h3>
    {{ field_description|default(field_description) }}
  </div>
{% endif %}
