.quote-wrapper {
  overflow: auto;
}

.quote {
  margin: 2rem 0;
}

blockquote {
  @include bold-text;

  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 3.5rem;
  font-size: 1.2rem;

  @include desktop {
    padding-top: 3.5rem;
    font-size: 1.5rem;
  }

  &::before {
    @include spot-image('quote', 2rem);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    @include desktop {
      @include spot-image('quote', 2.75rem);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    @include desktop {
      min-height: 7.8rem;
    }
  }

  footer {
    @include accolade("top", "left");
    @include large-text;
  }
}
