
<div class="quote-wrapper">
  <div class="quote">
    <blockquote>
      <div class="content">
        <p>
          {{ 'This is a huge quote on lots of lines. Dessert cookie cotton candy. Gummies jelly beans cupcake liquorice carrot cake chocolate bar jelly-o gummies gingerbread.Bonbon marshmallow dragée danish lollipop cheesecake gingerbread.' }}
        </p>
      </div>
      <footer>
        {{ 'Daniel Termont, Mayor Ghent' }}
      </footer>
    </blockquote>
  </div>
</div>
