<h4 class="styleguide-title">Buttons</h4>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Primary buttons</h5>
  <p>
    {% include '@button-primary' %}
  </p>
  <p>
    {% include '@button-primary' with { 'modifier': 'button-block' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Secondary buttons</h5>
  <p>
    {% include '@button-secondary' %}
  </p>
  <p>
    {% include '@button-secondary' with { 'modifier': 'button-block' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Dark buttons</h5>
  <p>
    {% include '@button-dark' %}
  </p>
  <p>
    {% include '@button-dark' with { 'modifier': 'button-block' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Alert buttons</h5>
  <p>
    {% include '@button-alert' %}
  </p>
  <p>
    {% include '@button-alert' with { 'modifier': 'button-block' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Success buttons</h5>
  <p>
    {% include '@button-success' %}
  </p>
  <p>
    {% include '@button-success' with { 'modifier': 'button-block' } %}
  </p>
</div>
