<h4 class="styleguide-title">Buttons</h4>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Primary buttons</h5>
  <p>
    {% include '@button-primary' %}
  </p>
  <p>
    {% include '@button-primary' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    {% include '@button-primary' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-primary' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-primary' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon / disabled:
  </p>
  <p>
    {% include '@button-primary' with { 'icon': 'icon-marker' } %}
  </p>
  <p>
    {% include '@button-primary' with { 'disabled': 'button-disabled' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Secondary buttons</h5>
  <p>
    {% include '@button-secondary' %}
  </p>
  <p>
    {% include '@button-secondary' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
  {% include '@button-secondary' with { 'text': 'Small', 'modifier': 'button-small' } %}
  {% include '@button-secondary' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
  {% include '@button-secondary' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon / disabled:
  </p>
  <p>
    {% include '@button-secondary' with { 'icon': 'icon-marker' } %}
  </p>
  <p>
    {% include '@button-secondary' with { 'disabled': 'button-disabled' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Dark buttons</h5>
  <p>
    {% include '@button-dark' %}
  </p>
  <p>
    {% include '@button-dark' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
  {% include '@button-dark' with { 'text': 'Small', 'modifier': 'button-small' } %}
  {% include '@button-dark' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
  {% include '@button-dark' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon / disabled:
  </p>
  <p>
    {% include '@button-dark' with { 'icon': 'icon-marker' } %}
  </p>
  <p>
    {% include '@button-dark' with { 'disabled': 'button-disabled' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Alert buttons</h5>
  <p>
    {% include '@button-alert' %}
  </p>
  <p>
    {% include '@button-alert' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
  {% include '@button-alert' with { 'text': 'Small', 'modifier': 'button-small' } %}
  {% include '@button-alert' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
  {% include '@button-alert' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon / disabled:
  </p>
  <p>
    {% include '@button-alert' with { 'icon': 'icon-marker' } %}
  </p>
  <p>
    {% include '@button-alert' with { 'disabled': 'button-disabled' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Success buttons</h5>
  <p>
    {% include '@button-success' %}
  </p>
  <p>
    {% include '@button-success' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
  {% include '@button-success' with { 'text': 'Small', 'modifier': 'button-small' } %}
  {% include '@button-success' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
  {% include '@button-success' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon / disabled:
  </p>
  <p>
    {% include '@button-success' with { 'icon': 'icon-marker' } %}
  </p>
  <p>
    {% include '@button-success' with { 'disabled': 'button-disabled' } %}
  </p>
</div>
