<h2 class="styleguide-title">Buttons</h2>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Primary buttons</h3>
  <p>
    {% include '@button-primary' %}
  </p>
  <p>
    {% include '@button-primary' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-primary' with { 'modifier': 'button-block icon-digipolis' } %}
  </p>
  <p>
    {% include '@button-primary' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-primary' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-primary' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-primary' with { 'modifier': 'button-small icon-digipolis' } %}
    {% include '@button-primary' with { 'modifier': 'button-medium icon-digipolis' } %}
    {% include '@button-primary' with { 'modifier': 'button-large icon-digipolis' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-primary' with { 'disabled': 'button-disabled', 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-primary' with { 'disabled': 'button-disabled', 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-primary' with { 'disabled': 'button-disabled', 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-primary'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Secondary buttons</h3>
  <p>
    {% include '@button-secondary' %}
  </p>
  <p>
    {% include '@button-secondary' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-secondary' with { 'modifier': 'button-block icon-digipolis' } %}
  </p>
  <p>
    {% include '@button-secondary' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-secondary' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-secondary' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-secondary' with { 'text': 'Small', 'modifier': 'button-small icon-digipolis' } %}
    {% include '@button-secondary' with { 'text': 'Medium', 'modifier': 'button-medium icon-digipolis' } %}
    {% include '@button-secondary' with { 'text': 'Large', 'modifier': 'button-large icon-digipolis' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-secondary' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled' } %}
    {% include '@button-secondary' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled' } %}
    {% include '@button-secondary' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-secondary'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Dark buttons</h3>
  <p>
    {% include '@button-dark' %}
  </p>
  <p>
    {% include '@button-dark' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-dark' with { 'modifier': 'button-block icon-digipolis' } %}
  </p>
  <p>
    {% include '@button-dark' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-dark' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-dark' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-dark' with { 'text': 'Small', 'modifier': 'button-small icon-digipolis' } %}
    {% include '@button-dark' with { 'text': 'Medium', 'modifier': 'button-medium icon-digipolis' } %}
    {% include '@button-dark' with { 'text': 'Large', 'modifier': 'button-large icon-digipolis' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-dark' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled' } %}
    {% include '@button-dark' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled' } %}
    {% include '@button-dark' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-dark'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Alert buttons</h3>
  <p>
    {% include '@button-alert' with { 'modifier': 'icon-lightning' } %}
  </p>
  <p>
    {% include '@button-alert' with { 'modifier': 'button-block icon-lightning' } %}
  </p>
  <p>
  {% include '@button-alert' with { 'text': 'Small', 'modifier': 'button-small icon-lightning' } %}
  {% include '@button-alert' with { 'text': 'Medium', 'modifier': 'button-medium icon-lightning' } %}
  {% include '@button-alert' with { 'text': 'Large', 'modifier': 'button-large icon-lightning' } %}
  </p>
  <p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-alert' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled icon-digipolis' } %}
    {% include '@button-alert' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled icon-digipolis' } %}
    {% include '@button-alert' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled icon-digipolis' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-alert'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Success buttons</h3>
  <p>
    {% include '@button-success' %}
  </p>
  <p>
    {% include '@button-success' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-success' with { 'modifier': 'button-block icon-checkmark' } %}
  </p>
  <p>
    {% include '@button-success' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-success' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-success' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-success' with { 'text': 'Small', 'modifier': 'button-small icon-checkmark' } %}
    {% include '@button-success' with { 'text': 'Medium', 'modifier': 'button-medium icon-checkmark' } %}
    {% include '@button-success' with { 'text': 'Large', 'modifier': 'button-large icon-checkmark' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-success' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled' } %}
    {% include '@button-success' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled' } %}
    {% include '@button-success' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-success'
    } %}
  </p>
</div>
