<h2 class="styleguide-title">Buttons</h2>
<div class="preview-inner-container">
  <h3 class="styleguide">Small buttons</h3>
  {% include '@button-sm' %}
  <h3 class="styleguide">Inline: Small buttons</h3>
  {% include '@button-sm' with { 'modifier': 'inline' } %}

  <h3 class="styleguide">Medium buttons</h3>
  {% include '@button-md' %}
  <h3 class="styleguide">Inline: Medium buttons</h3>
  {% include '@button-md' with { 'modifier': 'inline' } %}

  <h3 class="styleguide">Large buttons</h3>
  {% include '@button-lg' %}
  <h3 class="styleguide">Inline: Large buttons</h3>
  {% include '@button-lg' with { 'modifier': 'inline' } %}
</div>
