<h2 class="styleguide-title">Buttons</h2>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Primary buttons</h3>
  <p>
    {% include '@button-primary' %}
  </p>
  <p>
    {% include '@button-primary' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-primary' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-primary' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-primary' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-primary' with { 'icon': 'icon-lightning', 'modifier': 'button-small' } %}
    {% include '@button-primary' with { 'icon': 'icon-lightning', 'modifier': 'button-medium' } %}
    {% include '@button-primary' with { 'icon': 'icon-lightning', 'modifier': 'button-large' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-primary' with { 'disabled': 'button-disabled', 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-primary' with { 'disabled': 'button-disabled', 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-primary' with { 'disabled': 'button-disabled', 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-primary',
      'icon': 'icon-arrow-right'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Secondary buttons</h3>
  <p>
    {% include '@button-secondary' %}
  </p>
  <p>
    {% include '@button-secondary' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-secondary' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-secondary' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-secondary' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-secondary' with { 'text': 'Small', 'modifier': 'button-small', 'icon': 'icon-lightning' } %}
    {% include '@button-secondary' with { 'text': 'Medium', 'modifier': 'button-medium', 'icon': 'icon-lightning' } %}
    {% include '@button-secondary' with { 'text': 'Large', 'modifier': 'button-large', 'icon': 'icon-lightning' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-secondary' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled' } %}
    {% include '@button-secondary' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled' } %}
    {% include '@button-secondary' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-secondary',
      'icon': 'icon-arrow-right'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Secondary buttons</h3>
  <p>
    {% include '@button-dark' %}
  </p>
  <p>
    {% include '@button-dark' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-dark' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-dark' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-dark' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-dark' with { 'text': 'Small', 'modifier': 'button-small', 'icon': 'icon-lightning' } %}
    {% include '@button-dark' with { 'text': 'Medium', 'modifier': 'button-medium', 'icon': 'icon-lightning' } %}
    {% include '@button-dark' with { 'text': 'Large', 'modifier': 'button-large', 'icon': 'icon-lightning' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-dark' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled' } %}
    {% include '@button-dark' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled' } %}
    {% include '@button-dark' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-dark',
      'icon': 'icon-arrow-right'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Secondary buttons</h3>
  <p>
    {% include '@button-alert' %}
  </p>
  <p>
    {% include '@button-alert' with { 'modifier': 'button-block' } %}
  </p>
  <p>
  {% include '@button-alert' with { 'text': 'Small', 'modifier': 'button-small', 'icon': 'icon-lightning' } %}
  {% include '@button-alert' with { 'text': 'Medium', 'modifier': 'button-medium', 'icon': 'icon-lightning' } %}
  {% include '@button-alert' with { 'text': 'Large', 'modifier': 'button-large', 'icon': 'icon-lightning' } %}
  </p>
  <p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-alert' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled', 'icon': 'icon-lightning' } %}
    {% include '@button-alert' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled', 'icon': 'icon-lightning' } %}
    {% include '@button-alert' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled', 'icon': 'icon-lightning' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-alert',
      'icon': 'icon-arrow-right'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h3 class="styleguide">Secondary buttons</h3>
  <p>
    {% include '@button-success' %}
  </p>
  <p>
    {% include '@button-success' with { 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button-success' with { 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button-success' with { 'text': 'Medium', 'modifier': 'button-medium' } %}
    {% include '@button-success' with { 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button-success' with { 'text': 'Small', 'modifier': 'button-small', 'icon': 'icon-lightning' } %}
    {% include '@button-success' with { 'text': 'Medium', 'modifier': 'button-medium', 'icon': 'icon-lightning' } %}
    {% include '@button-success' with { 'text': 'Large', 'modifier': 'button-large', 'icon': 'icon-lightning' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button-success' with { 'text': 'Small', 'modifier': 'button-small', 'disabled': 'button-disabled' } %}
    {% include '@button-success' with { 'text': 'Medium', 'modifier': 'button-medium', 'disabled': 'button-disabled' } %}
    {% include '@button-success' with { 'text': 'Large', 'modifier': 'button-large', 'disabled': 'button-disabled' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'modifier': 'button button-success',
      'icon': 'icon-arrow-right'
    } %}
  </p>
</div>
