<h4 class="styleguide-title">Buttons</h4>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Primary buttons</h5>
  <p>
    {% include '@button-primary' %}
  </p>
  <p>
    {% include '@button-primary' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    Small:
    {% include '@button-primary' with { 'modifier': 'button-small' } %}
    Medium:
    {% include '@button-primary' with { 'modifier': 'button-medium' } %}
    Large:
    {% include '@button-primary' with { 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon:
    {% include '@button-primary' with { 'icon': 'icon-marker' } %}
    Disabled:
    {% include '@button-primary' with { 'disabled': 'button-disabled' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Secondary buttons</h5>
  <p>
    {% include '@button-secondary' %}
  </p>
  <p>
    {% include '@button-secondary' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    Small:
    {% include '@button-secondary' with { 'modifier': 'button-small' } %}
    Medium:
    {% include '@button-secondary' with { 'modifier': 'button-medium' } %}
    Large:
    {% include '@button-secondary' with { 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon:
    {% include '@button-primary' with { 'icon': 'icon-marker' } %}
    Disabled:
    {% include '@button-primary' with { 'disabled': 'button-disabled' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Dark buttons</h5>
  <p>
    {% include '@button-dark' %}
  </p>
  <p>
    {% include '@button-dark' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    Small:
    {% include '@button-dark' with { 'modifier': 'button-small' } %}
    Medium:
    {% include '@button-dark' with { 'modifier': 'button-medium' } %}
    Large:
    {% include '@button-dark' with { 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon:
    {% include '@button-dark' with { 'icon': 'icon-marker' } %}
    Disabled:
    {% include '@button-dark' with { 'disabled': 'button-disabled' } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Alert buttons</h5>
  <p>
    {% include '@button-alert' with {
      'icon': 'icon-lightning'
    } %}
  </p>
  <p>
    {% include '@button-alert' with {
      'modifier': 'button-block',
      'icon': 'icon-lightning'
    } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    Small:
    {% include '@button-alert' with {
      'modifier': 'button-small',
      'icon': 'icon-lightning'
    } %}
    Medium:
    {% include '@button-alert' with {
      'modifier': 'button-medium',
      'icon': 'icon-lightning'
    } %}
    Large:
    {% include '@button-alert' with {
      'modifier': 'button-large',
      'icon': 'icon-lightning'
    } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon:
    {% include '@button-alert' with {
      'icon': 'icon-lightning'
    } %}
    Disabled:
    {% include '@button-alert' with {
      'disabled': 'button-disabled',
      'icon': 'icon-lightning'
    } %}
  </p>
</div>

<div class="preview-inner-inner-container">
  <h5 class="styleguide">Success buttons</h5>
  <p>
    {% include '@button-success' %}
  </p>
  <p>
    {% include '@button-success' with { 'modifier': 'button-block' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    Small:
    {% include '@button-success' with { 'modifier': 'button-small' } %}
    Medium:
    {% include '@button-success' with { 'modifier': 'button-medium' } %}
    Large:
    {% include '@button-success' with { 'modifier': 'button-large' } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <p>
    With icon:
    {% include '@button-success' with { 'icon': 'icon-marker' } %}
    Disabled:
    {% include '@button-success' with { 'disabled': 'button-disabled' } %}
  </p>
</div>
