.teaser-contact {
  @include theme('border-color', 'color-primary--lighten-3', 'teaser-contact-border');
  padding-bottom: .7rem;
  border-bottom: 2px solid;

  & + & {
    margin-top: 1.2rem;
  }

  .ol-popup & {
    padding-bottom: 0;
    border-bottom: 0; 
  }

  .content__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &-info {
    @extend %list-no-style;
    margin-top: -$link-padding;
    margin-bottom: .4rem;

    li > .no-icon {
      font-weight: normal;
    }
  }

  .teaser-title-link {
    font-size: .8rem;
  }

  .read-more {
    margin-top: auto;
  }

  .grid-3 & {
    &,
    .content__bottom {
      height: 100%;
    }
  }
}
