// sass-lint:disable no-important

//
// Responsive: Utility classes
// --------------------------------------------------


// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#support-ie10-width
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

// Visibility utilities

@include responsive-invisibility('.visible-mobile');
@include responsive-invisibility('.visible-tablet');
@include responsive-invisibility('.visible-desktop');

.visible-mobile-block,
.visible-mobile-inline,
.visible-mobile-inline-block,
.visible-tablet-block,
.visible-tablet-inline,
.visible-tablet-inline-block,
.visible-desktop-block,
.visible-desktop-inline,
.visible-desktop-inline-block {
  display: none !important;
}

@media (max-width: $bp-tablet - 1) {
  @include responsive-visibility('.visible-mobile');
}

.visible-mobile-block {
  @media (max-width: $bp-tablet - 1) {
    display: block !important;
  }
}

.visible-mobile-inline {
  @media (max-width: $bp-tablet - 1) {
    display: inline !important;
  }
}

.visible-mobile-inline-block {
  @media (max-width: $bp-tablet - 1) {
    display: inline-block !important;
  }
}

@media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
  @include responsive-visibility('.visible-tablet');
}

.visible-tablet-block {
  @media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
    display: block !important;
  }
}

.visible-tablet-inline {
  @media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
    display: inline !important;
  }
}

.visible-tablet-inline-block {
  @media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
    display: inline-block !important;
  }
}

@media (min-width: $bp-desktop) {
  @include responsive-visibility('.visible-desktop');
}

.visible-desktop-block {
  @media (min-width: $bp-desktop) {
    display: block !important;
  }
}

.visible-desktop-inline {
  @media (min-width: $bp-desktop) {
    display: inline !important;
  }
}

.visible-desktop-inline-block {
  @media (min-width: $bp-desktop) {
    display: inline-block !important;
  }
}

@media (max-width: $bp-tablet - 1) {
  @include responsive-invisibility('.hidden-mobile');
}

@media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
  @include responsive-invisibility('.hidden-tablet');
}

@media (min-width: $bp-desktop) {
  @include responsive-invisibility('.hidden-desktop');
}
