@use '../../00-settings/settings' as *;
@use '../../00-mixins/mixins' as *;
@use '../../21-atoms/button/button-styling' as *;

.subscribe {
  @include medium-text();

  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;

  h2,
  h3 {
    @include theme('color', 'color-zero', 'newsletter-title-color');

    margin-bottom: 30px;
  }

  ul {
    li {
      @include medium-text();
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  label {
    width: 100%;
    max-width: 100%;
    color: coloring('gray');
  }

  input {
    border: 0;
  }

  input[type="email"] {
    flex: 1 1 $bp-mobile;
    margin-right: 8px;
  }

  input[type="submit"] {
    @include button-medium;
  }
}
