<form class="form subscribe">

  {% include '@label' with {
  "label": label,
  "for": id,
  } %}

  {% include '@input-email' with {
  'id': id,
  'name': id,
  'required': true
  } %}
  {% include '@input-submit' with {
  'value': text,
  } %}
</form>
