<form class="form subscribe">
  {% render '@label' with {
  "label": label,
  "for": id,
  } %}
  {% render '@input' with {
    'id': id,
    'type': 'email',
    'name': id,
    'required': true
  } %}
  {% render '@input-submit' with {
  'value': text,
  } %}
</form>
