$gent-info-icon-size: 7rem;

.gent-info {
  @include theme('background-color', 'color-primary--lighten-5', 'gent-info-background');
  padding: 2rem 1rem;

  .gent-info-content {
    @include theme('background-color', 'color-secondary', 'gent-info-content-background');
    @include theme('box-shadow', 'color-primary--lighten-5', 'gent-info-content-shadow', '0 8px 12px 0');
    position: relative;
    max-width: $bp-max-content;
    min-height: $gent-info-icon-size + 2rem;
    padding: 1.2rem;

    &::before {
      @include spot-image('gentinfo', $gent-info-icon-size);
      margin: 0 auto 1.5rem;
    }

    @include tablet {
      padding: 2.3rem 2.3rem 2.3rem 20rem;

      &::before {
        position: absolute;
        top: 50%;
        left: 10rem;
        margin-top: $gent-info-icon-size / -2;
        margin-bottom: 0;
        margin-left: $gent-info-icon-size / -2;
      }
    }
  }

  .gent-info-logo {
    margin-bottom: 1.2rem;
  }

  .icon-list.inline {
    > li {
      margin-bottom: .5rem;

      [class*='icon-'] {
        @include theme('color', 'color-primary', 'link-color');
      }
    }
  }
}
