{% include '@header' with {
"mijn_gent_block_items": [
"<a href='javascript:(void);'>Mijn profiel</a>",
"<a href='javascript:(void);'>Nieuwsbrieven</a>",
"<a href='javascript:(void);'>Historiek</a>"
],
"mijn_gent_block_auth": "true",
"header_search_id": "header-search",
"header_search_label": "Search",
"header_search_placeholder": "Search",
"header_search_text": "Search",
"breadcrumbs_items": [
"<a href='https://stad.gent'>Stad.gent</a>",
"<a href='#'>Overview</a>",
"<a href='#'>Theme</a>",
"<a href='#'>Subpage</a>",
"<span>Page title</span>"
]
} %}

<main class="person-overview-page">
  <section class="sidebar-layout">
    <aside class="sidebar">
      {% include '@heading' with {
        "type": "h2",
        "heading_text": "Filter the results"
      } %}

      {% include '@heading' with {
        "type": "h3",
        "heading_text": "First filter title"
      } %}
    </aside>
    <section class="content">
      {% block person_overview_content %}
        {% include '@heading' with {
          "type": "overview-title",
          "heading_text": "People overview"
        } %}

        {% include '@readspeaker-button' %}
        <h2 class="visually-hidden">Overview</h2>
        <ul class="grid-3">
          {% for key, person in people %}
            {% include '@teaser' with {
              "teaser_uid": person.teaser_uid ~ loop.index,
              "type": 'teaser-person',
              "paragraph_text": person.paragraph_text,
              "title": person.title,
              "link_text": person.link_text,
              "link": person.link,
              "image_src": person.image_src,
              "image_alt_text": person.image_alt_text,
              "teaser_tag": person.teaser_tag
            } %}
          {% endfor %}
        </ul>

        {% include '@pagination' with {
          total: 20,
          active: 4
        }%}

      {% endblock %}
    </section>
  </section>
</main>

<footer>
  {% include '@footer' %}
</footer>
