////
/// This file defines general form input fields styling.
///
/// @group forms
/// @author Gert-Jan Meire
///
////

$field-icon-position: no-repeat right .75rem top .4rem;
$field-icon-padding: 2.5rem;

///
/// The general field atom styling.
///
/// @since 3.0.0
/// @group theming
/// @access public
/// @author Gert-Jan Meire
/// @require color
/// @require svg-icon
/// @require svg-url
///
@mixin field-base {
  @include theme("border-color", "color-zero--lighten-2", "fields-border-color");
  @include theme("background", "color-none", "fields-background");
  @include theme("color", "color-zero", "fields-color");

  &:focus {
    @include theme("border-color", "color-zero", "fields-border-focus-color");
    @include theme("background", "color-none", "fields-focus-background");

    border: 1px solid;
  }

  &:disabled {
    padding-right: $field-icon-padding;
    border: 0;
    background: color("gray", -5) $field-icon-position;
    background-image: svg-as-background(
      "lock-closed",
      color("gray", -2),
      24,
      24
    );
    cursor: not-allowed;
  }

  &.success {
    padding-right: $field-icon-padding;
    border: 1px solid color("green");
    background: color("green-pastel", -4) $field-icon-position;
    background-image: svg-as-background(
      "checkmark-circle",
      color("green"),
      26,
      26
    );

    &:focus {
      border-color: color("green");
      background: color("green-pastel", -4) $field-icon-position;
      background-image: svg-as-background(
        "checkmark-circle",
        color("green"),
        26,
        26
      );
    }
  }

  &.error {
    padding-right: $field-icon-padding;
    border: 1px solid color("red");
    background: color("red", -6) $field-icon-position;
    background-image: svg-as-background(
      "exclamation-circle",
      color("red"),
      26,
      26
    );

    &:focus {
      border-color: color("red");
      background: color("red", -6) $field-icon-position;
      background-image: svg-as-background(
        "exclamation-circle",
        color("red"),
        26,
        26
      );
    }
  }

  &::-webkit-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @include theme(
      "color",
      "color-zero--lighten-2",
      "fields-placeholder-color"
    );
    font-style: italic;
    font-weight: normal;
  }

  &:-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @include theme(
      "color",
      "color-zero--lighten-2",
      "fields-placeholder-color"
    );
    font-style: italic;
    font-weight: normal;
  }

  &::-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @include theme(
      "color",
      "color-zero--lighten-2",
      "fields-placeholder-color"
    );
    font-style: italic;
    font-weight: normal;
  }

  &:-ms-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
    @include theme(
      "color",
      "color-zero--lighten-2",
      "fields-placeholder-color"
    );
    font-style: italic;
    font-weight: normal;
  }

  &::placeholder {
    @include theme("color", "color-zero--lighten-2", "fields-placeholder-color");
    font-style: italic;
    font-weight: normal;
  }

  display: block;
  width: 100%;
  height: 2.2rem;
  padding: 0 .8rem;
  border: 1px solid;
  font-family: $default-font-family;
  font-size: .8rem;
  font-weight: normal;
  appearance: none;
}

///
/// The base styling for choice fields.
///   - Radio buttons.
///   - Checkboxes.
///
/// @since 3.0.0
/// @group theming
/// @access public
/// @author Gert-Jan Meire
///
@mixin choices-field-base($type) {
  position: relative;
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1.4rem;
    font-weight: normal;
    line-height: 1.4rem;
    overflow: unset;

    &::before,
    &::after {
      position: absolute;
      top: .15rem;
      content: "";
    }

    &::before {
      display: inline-block;
      left: 0;
      width: 1rem;
      height: 1rem;
      border: 2px solid;
    }

    &::after {
      display: block;
    }
  }

  @if $type == "checkbox" {
    label {
      &::before {
        @include theme(
          "background-color",
          "color-none",
          "checkbox-background-color"
        );
        @include theme(
          "border-color",
          "color-zero--lighten-2",
          "checkbox-border-color"
        );
      }

      &::after {
        top: 3px;
        left: -2px;
        width: 20px;
        height: 20px;
      }
    }
  }

  @if $type == "radio" {
    label {
      &::before {
        @include theme(
          "background-color",
          "color-none",
          "radio-background-color"
        );
        @include theme(
          "border-color",
          "color-zero--lighten-2",
          "radio-border-color"
        );

        border-radius: border-radius("radius-4");
      }

      &::after {
        top: 9px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: border-radius("radius-4");
      }
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    //
    // Styling of the label.
    //
    + label {
      @include theme("color", "color-zero", "label-color");

      position: relative;

      // Hide checkmark by default.
      &::after {
        content: none;
      }
    }

    //
    // Checkbox specific success state.
    // Checkbox specific error state.
    //
    [class*="cs--"] & {
      &.success + label::before {
        border-color: color("green");
      }

      &.error + label::before {
        border-color: color("red");
      }
    }

    //
    // Disabled state.
    //
    &:disabled {
      + label {
        color: color('gray', -3);
        font-weight: normal !important; // sass-lint:disable-line no-important
        cursor: not-allowed;

        &::before {
          border-color: color(
            "gray",
            -5
          ) !important; // sass-lint:disable-line no-important
          background: color(
            "gray",
            -5
          ) !important; // sass-lint:disable-line no-important
        }

        &::after {
          color: color(
            "gray",
            -2
          ) !important; // sass-lint:disable-line no-important

        }
      }
    }

    //
    // Checkbox specific styling.
    //
    @if $type == "checkbox" {
      // Checked state.
      &:checked {
        // Show checkmark on checked.
        + label {
          @include icon("checkmark-checkbox", "after");

          &::after {
            padding-left: .05rem;
            font-size: 1.1rem;
            line-height: 1;
          }
        }

        + label::before {
          @include theme(
            "background-color",
            "color-none",
            "checkbox-background-color-checked"
          );
          @include theme(
            "border-color",
            "color-primary",
            "checkbox-border-color-checked"
          );
        }

        + label::after {
          @include theme("color", "color-primary", "checkbox-checkmark-color");
        }
      }
    }

    //
    // Radio specific styling.
    //
    @if $type == "radio" {
      // Checked state.
      &:checked {
        + label::before {
          @include theme(
            "background-color",
            "color-none",
            "radio-background-color-checked"
          );
          @include theme(
            "border-color",
            "color-primary",
            "radio-border-color-checked"
          );
        }

        + label::after {
          @include theme("background-color", "color-primary", "radio-checkmark-color");
          content: "";
        }

        &:disabled {
          + label {
            &::after {
              background-color: color(
                "gray",
                -2
              ) !important; // sass-lint:disable-line no-important
            }
          }
        }
      }
    }
  }
}

.form-disclaimer {
  @include theme('color', 'color-tertiary--lighten-1', 'form-disclaimer-color');

  margin: 1.2rem 0;
  font-size: .6rem;
}
