<ul class="teasers">
  {% for i in ..6 %}
    <li>
      {% include '@teaser' with {
        "teaser_image_src": teaser_image_src ~ i,
        "teaser_image_alt_text": teaser_image_alt_text,
        "teaser_paragraph_text": teaser_paragraph_text,
        "teaser_h3_title":  teaser_h3_title,
        "teaser_uid":  teaser_uid ~ i,
        "teaser_link_text": teaser_link_text,
        "teaser_link_link": teaser_link_link
      } %}
    </li>
  {% endfor %}
</ul>
