.gentinfo-block {
  @include accolade('bottom', 'left', 5rem, 1.8rem, 'color-none', 'color-primary');
  @include theme('background-color', 'color-primary', 'gentinfo-block-background');

  position: relative;
  padding: 1.5rem;
  font-size: .8rem;
  line-height: 1.75;

  @include desktop {
    margin: -8.4rem 0 0;
    padding: 2.25rem;
    text-align: left;
  }

  @include tablet {
    width: 100%;
  }

  &::before {
    left: calc(50% - 2.5rem);

    @include desktop {
      left: 0;
    }
  }

  .gentinfo-block-content {
    width: 100%;
    text-align: left;

    h3 {
      margin: 0 0 1rem;
    }

    ul {
      margin: 0;
      list-style: none;

      li {
        width: 100%;
        margin-bottom: .5rem;

        @include phablet {
          width: auto;
        }
      }

      a {
        @include normal-text;
      }
    }

    .icon-clock {
      position: relative;
      top: .3rem;
      margin: 0 .2rem 0 0;
    }
  }

  .gentinfo-chat-button {
    @include semi-bold-text();
    width: auto;
    margin-top: 1rem;

    &::before {
      position: relative;
      top: .1rem;
      font-size: 1.2rem;
    }
  }

  .gentinfo-logo {
    display: block;
    width: 8.25rem;
    margin: 0 auto 1.5rem;

    @include phablet {
      margin: 0 0 1.5rem;
    }
  }
}
