.box-left,
.box-top,
.box-no-icon {
  border-radius: border-radius('radius-2');
  font-size: .9rem;

  .inner-box {
    input[type="checkbox"]:not([disabled]) + label::before,
    input[type="radio"]:not([disabled]) + label::before,
    input:not([disabled]):not([type="submit"]),
    select:not([disabled]),
    textarea:not([disabled]) {
      @include theme('background-color', 'color-secondary', 'box-input-background-color');
    }
  }
}

.box-top,
.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;

  .inner-box {
    @include theme('background-color', 'color-primary--lighten-5', 'info-box-background');

    position: relative;
    width: 100%;
    margin: 0;
    padding: 5rem 1rem 1.6rem;
    border-radius: border-radius('radius-2');

    @include tablet {
      padding: 2rem;
    }

    &::before {
      @include spot-image('lightbulb-light', 7rem);
      @include theme('color', 'color-primary', 'info-box-spot-shadow');

      position:  absolute;
      top: -3.5rem;
      right: 0;
      left: 0;
      margin: auto;
      border-radius: 50%;
      box-shadow: 0 10px 35px -25px;
      z-index: 10;
    }
  }
}

.box-left {
  @include tablet {
    padding-top: 0;
  }

  .inner-box {
    @include tablet {
      padding-left: 11rem;

      &::before {
        top: calc(50% - 4rem);
        right: auto;
        bottom: auto;
        left: 2rem;
      }
    }
  }
}

.box-top {
  .inner-box {
    margin-bottom: 1.5rem;

    @include tablet {
      &::before {
        top: -3.5rem;
        right: 2rem;
        left: auto;
      }
    }

    .accolade {
      bottom: -1rem;
      background-color: inherit;

      &[class^='top'],
      &[class*=' top'] {
        top: -1rem;
        bottom: auto;
      }

      &[class^='right'],
      &[class*=' right'] {
        top: 0;
        right: -1rem;
        bottom: auto;
      }

      &[class^='left'],
      &[class*=' left'] {
        top: 0;
        bottom: auto;
        left: -1rem;
      }
    }
  }
}

.box-no-icon {
  @include theme('background-color', 'color-primary--lighten-5', 'feedback-form-background');

  position: relative;
  padding: 2rem 1rem 1.6rem;
  border-radius: border-radius('radius-1');

  .inner-box {
    @include desktop {
      @include set-layout('width-10', 'offset-1');
    }
  }
}
