///
///  Placeholder to give a collection of data a certain context / styling.
///
/// @since 3.0.0
/// @group tools
/// @access public
/// @author Gert-Jan Meire
///
%collection,
.collection {
  h2 {
    @include theme('border-color', 'color-primary--lighten-4', 'collection-heading-2-border-color');

    display: block;
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 1.2rem;
    border-bottom: 2px solid;

    span {
      display: inline-block;
      position: relative;
      min-width: 5rem;
      margin-bottom: -2.2rem;
      padding: inherit;
      padding-bottom: 2.2rem;
      background-color: color('white');
      font-size: inherit;

      &::before,
      &::after {
        @include theme('border-color', 'color-primary', 'collection-accolade-color');
        display: block;
        position: absolute;
        bottom: -2px;
        height: 1rem;
        border-width: 2px;
        content: '';
      }

      &::before {
        left: 0;
        width: 2.5rem;
        border-top-style: solid;
        border-right-style: solid;
        border-top-right-radius: border-radius(radius-3);
      }

      &::after {
        right: 0;
        width: calc(100% - 2.5rem + 2px);
        border-top-style: solid;
        border-left-style: solid;
        border-top-left-radius: border-radius(radius-3);
      }
    }
  }
}
