.collection {
  h2 {
    @include theme('border-color', 'color-primary--lighten-4', 'collection-heading-2-border-color');

    display: block;
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 1.2rem;
    border-bottom: 2px solid;

    &::before {
      @include theme('background-image', 'color-primary-accolade-stroke2', 'collection-heading-2-accolade');

      @include mobile {
        right: auto;
        left: 4rem;
      }

      display: block;
      position: absolute;
      right: 0;
      bottom: -1rem;
      left: 0;
      width: 2rem;
      height: 1rem;
      margin: auto;
      transform: rotate(180deg);
      background-color: color('white');
      background-repeat: no-repeat;
      background-position: center bottom;
      content: '';
      z-index: 2;

    }

    &::after {
      @include theme('border-color', 'color-primary--darken-1', 'collection-heading-2-accolade-border-color');

      @include mobile {
        width: 10rem;
      }

      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      margin: auto;
      border-bottom: 2px solid;
      content: '';
      z-index: 0;

    }
  }
}
