<div class="preview-inner-inner-container">
  <h4 id="styleguide-image-gallery" class="styleguide-title">Galleries</h4>
  <h5>Gallery: double</h5>
  {% include '@image-gallery--multiple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}

  <h5>Gallery: triple</h5>
  {% include '@image-gallery--multiple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}

  <h5>Gallery: quadruple</h5>
  {% include '@image-gallery--multiple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}

  <h5>Gallery: quintuple</h5>
  {% include '@image-gallery--multiple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      }
    ]
  } %}


  <h5>Gallery: quintuple et plus</h5>
  {% include '@image-gallery--multiple' with {
    "items": [
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text",
        "caption": "image caption"
      },
      {
        "src": "https://via.placeholder.com/704x440",
        "alt": "placeholder image alternative text"
      }
    ]
  } %}
</div>

<div class="preview-inner-inner-container">
  <h3 id="styleguide-footer" class="styleguide-title">Footer</h3>
  {% include '@footer' %}
</div>
