<header>
  {% include '@figure' with {
    "figure_image_src": "https://via.placeholder.com/1600x350",
    "figure_image_alt_text": "Page wide image",
    "modifier": 'page-wide-image',
    "figure_figcaption": "Caption text comes here."
  } %}
</header>

<main class="content-container">
  {% include '@h1' with {
    "h1_text": "Topic page"
  } %}

  <section class="page-container section--default">
    <div class="content-container">
      {% include '@teaser-topic-collection' with {
        "teaser_image_src": "https://stad.gent/sites/default/files/styles/headerbanner_medium/public/thema/header/Schapen%20in%20Gent.jpg",
        "teaser_image_alt_text": "alt text",
        "teaser_paragraph_text": "Teaser text, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, suscipit.",
        "teaser_h3_title": "Title text ",
        "teaser_uid": "uid",
        "teaser_link_text": "read more",
        "teaser_link_link" : "#"
      } %}
    </div>
  </section>
</main>

{% include '@footer' %}
