ul.grid-2,
ul.grid-3,
ul.grid-4 {
  @extend %list-no-style;

  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{gutter()});
  margin: 0 -#{gutter()/2};

  > li {
    margin-bottom: 1.2rem;
  }

  + .show-more {
    margin-bottom: 1.2rem;
    text-align: center;
  }
}

ul.grid-4 {
  li {
    flex-basis: 100%;
    flex-shrink: 1;
    padding: 0 gutter()/2;

    @include phablet {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include tablet {
      flex-basis: calc(100% / 3);
      max-width: calc(100% / 3);
    }

    @include desktop {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}

ul.grid-3 {
  &::after {
    flex: auto;
    margin-left: span(4 of 12);
    content: '';
  }

  > li {
    @include phablet {
      width: span(6 of 12);
      margin: 0 $gutter-width 1.2rem 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include desktop {
      width: span(4 of 12);

      &:nth-child(2n) {
        margin-right: $gutter-width;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

ul.grid-2 {
  &::after {
    flex: auto;
    margin-left: span(6 of 12);
    content: '';
  }

  > li {
    @include phablet {
      width: span(6 of 12);
      margin: 0 $gutter-width 1.2rem 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
