{% include '@collection--grid-4' %}

<div class="grid__show-more">
  {% include '@link' with {
    'link': null,
    'text': 'Show all news articles',
    'modifier': 'standalone-link',
    'title': null
  } %}
</div>
