{% include 'collection--grid-4.twig' %}
<div class="show-more">
  {% include '@link' with {
    'link': null,
    'text': 'Show all news articles',
    'modifier': 'standalone-link',
    'title': null
  } %}
</div>
